<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-add-trend">
        <h:form>
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="pointLocationId" value="#{userManageBean.getResourceBundleString('label_point_location')}:" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="pointLocationId" value="#{addTrendBean.selectedPointLocation}" styleClass="min-width-one" converter="uuidConverter">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true"/>
                            <f:selectItems value="#{addTrendBean.pointLocationList}"/>
                            <p:ajax listener="#{addTrendBean.onPointLocationChange()}" update="@form"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="pointId" value="#{userManageBean.getResourceBundleString('label_point')}:" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="pointId" value="#{addTrendBean.selectedPoint}" styleClass="min-width-one" converter="uuidConverter" disabled="#{addTrendBean.selectedPointLocation eq null}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true"/>
                            <f:selectItems value="#{addTrendBean.pointList}"/>
                            <p:ajax listener="#{addTrendBean.onPointChange()}" update="@form"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>  
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="paramId" value="#{userManageBean.getResourceBundleString('label_param')}:" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="paramId" value="#{addTrendBean.selectedParam}" styleClass="min-width-one" disabled="#{addTrendBean.selectedPoint eq null}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true"/>
                            <f:selectItems value="#{addTrendBean.paramList}"/>
                            <p:ajax update="@form"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>  
            </p:panelGrid>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" value="#{userManageBean.getResourceBundleString('label_add_trend')}" action="#{addTrendBean.addTrend()}" disabled="#{addTrendBean.selectedPointLocation eq null or addTrendBean.selectedPoint eq null or addTrendBean.selectedParam eq null}"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultSecondDlg').hide()"/>
            </div>
        </h:form>
    </div>
</ui:composition>
