<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-asset-preset-point-location">
        <h:form id="createAssetPresetPointLocationFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column>
                        <p:outputLabel for="ptLoName" value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding right-padding">   
                        <p:selectOneMenu id="ptLoName"  value="#{addPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_location_name_required')}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{addPresetsPointLocationBean.pointLocationNameList}"/>
                            <p:ajax listener="#{addPresetsPointLocationBean.onDeviceTemplateChange()}" update="@form"/>                            
                        </p:selectOneMenu>
                        <p:message for="ptLoName"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:outputLabel for="tachName" value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding">
                        <p:selectOneMenu id="tachName" value="#{addPresetsPointLocationBean.assetPresetPointLocationVO.tachId}" required="true" converter="uuidConverter" disabled="#{addPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or addPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{addPresetsPointLocationBean.tachometersList}" var="tachomList"  itemValue="#{tachomList.value}" itemLabel="#{tachomList.label}"/>
                            <p:ajax listener="#{addPresetsPointLocationBean.onTachChange()}" update="@form" />
                        </p:selectOneMenu>
                        <p:message for="tachName" />
                    </p:column>
                </p:row>

                <p:row rendered="#{addPresetsPointLocationBean.assetPresetPointLocationVO.tachId ne null and addPresetsPointLocationBean.assetPresetPointLocationVO.tachReferenceUnits ne null and addPresetsPointLocationBean.assetPresetPointLocationVO.tachReferenceUnits eq 'FPM'}">
                    <p:column>
                        <p:outputLabel for="roll_diameter" value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding right-padding">   
                        <p:inputNumber id="roll_diameter" decimalPlaces="4" value="#{addPresetsPointLocationBean.assetPresetPointLocationVO.rollDiameter}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" styleClass="min-width-one">
                             <f:validateDoubleRange minimum="0.0001" />
                            <p:ajax listener="#{addPresetsPointLocationBean.updateBean()}" update="@this" />  
                        </p:inputNumber>
                        <p:message id="roll_diameterMessage" for="roll_diameter" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:outputLabel for="roll_diameter_units" value="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding">    
                        <p:selectOneMenu id="roll_diameter_units" value="#{addPresetsPointLocationBean.assetPresetPointLocationVO.rollDiameterUnits}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_roll_diameter_units_required')}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{addPresetsPointLocationBean.rollDiameterUnitsList}" var="rollDiamUnitList"  itemValue="#{rollDiamUnitList.value}" itemLabel="#{rollDiamUnitList.label}"/>
                            <p:ajax listener="#{addPresetsPointLocationBean.updateBean()}" update="@this" />
                        </p:selectOneMenu>
                        <p:message for="roll_diameter_units"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>

                <p:row rendered="#{addPresetsPointLocationBean.assetPresetPointLocationVO.tachId ne null and addPresetsPointLocationBean.assetPresetPointLocationVO.tachReferenceUnits ne null and addPresetsPointLocationBean.assetPresetPointLocationVO.tachReferenceUnits eq 'RPM'}">
                    <p:column>
                        <p:outputLabel for="speed_ratio" value="#{userManageBean.getResourceBundleString('label_speedRatio')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding right-padding">    
                        <p:inputNumber id="speed_ratio" decimalPlaces="4" value="#{addPresetsPointLocationBean.assetPresetPointLocationVO.speedRatio}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_speedRatio_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_speed_ratio_minimum')}" styleClass="min-width-one">
                             <f:validateDoubleRange minimum="0.0001" />
                            <p:ajax listener="#{addPresetsPointLocationBean.updateBean()}" update="@this" />  
                        </p:inputNumber>
                        <p:message id="speed_ratioMessage" for="speed_ratio" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                    <p:column styleClass="left-padding"/>
                    <p:column styleClass="left-padding"/>
                </p:row>

                <p:row>
                    <p:column>
                        <p:outputLabel for="ffsetnames" value="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding right-padding">
                        <p:selectCheckboxMenu id="ffsetnames" value="#{addPresetsPointLocationBean.assetPresetPointLocationVO.ffSetName}" label="#{userManageBean.getResourceBundleString('application_select_sets')}" disabled="#{addPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or addPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}" styleClass="min-width-one" filter="true" filterMatchMode="contains"  multiple="true">
                            <f:selectItems value="#{addPresetsPointLocationBean.faultFrequenciesList}" var="ffList"  itemValue="#{ffList.value}" itemLabel="#{ffList.label}"/>
                            <p:ajax listener="#{addPresetsPointLocationBean.updateBean()}"/>
                        </p:selectCheckboxMenu>
                    </p:column>
                   <p:column styleClass="left-padding"/>
                    <p:column styleClass="left-padding"/>
                </p:row>
                
                <p:row>
                     <p:column >
                        <p:outputLabel for="deviceType" value="#{userManageBean.getResourceBundleString('label_device_type')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding right-padding">
                        <p:selectOneMenu id="deviceType" value="#{addPresetsPointLocationBean.selectedDeviceType}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}" disabled="#{addPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or addPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{addPresetsPointLocationBean.deviceTypeList}"/>
                            <p:ajax listener="#{addPresetsPointLocationBean.onDeviceTypeChange()}" update="@this createAssetPresetPointLocationFormId:deviceTypeTemplate createAssetPresetPointLocationFormId:createPointLocationSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="deviceType"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:outputLabel for="deviceTypeTemplate" value="#{userManageBean.getResourceBundleString('label_device_template')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding right-padding">
                        <p:selectOneMenu id="deviceTypeTemplate" value="#{addPresetsPointLocationBean.selectedDevicePresetId}" converter="uuidConverter"   styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}" disabled="#{addPresetsPointLocationBean.selectedDeviceType eq '' or addPresetsPointLocationBean.selectedDeviceType eq null}" >
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{addPresetsPointLocationBean.deviceTypesList}"  var="dtList"  itemValue="#{dtList.value}" itemLabel="#{dtList.label}"/>                           
                            <p:ajax listener="#{addPresetsPointLocationBean.onDeviceTemplateChange()}" update="@this createAssetPresetPointLocationFormId:deviceTamplatetableId createAssetPresetPointLocationFormId:createPointLocationSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="deviceTypeTemplate"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
            </p:panelGrid>
            
            <p:scrollPanel mode="native">
                <p:dataTable id="deviceTamplatetableId" var="deviceTamplateList"  value="#{addPresetsPointLocationBean.distinctDevicePresetList}" paginatorPosition="top"  styleClass="datatable-layout-two" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" styleClass="text-align-center  table-column-title-left-column-border-right-border">
                        <p:outputLabel value="#{deviceTamplateList.pointName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{deviceTamplateList.sensorType}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{deviceTamplateList.apSetName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_al_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{deviceTamplateList.alSetName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                        <p:outputLabel value="#{deviceTamplateList.alarmEnabledValue}"/>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>   

            <div class="center-btn-div" >
                <p:commandButton ajax="true" styleClass="left-btn" id="createPointLocationSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{addPresetsPointLocationBean.submit()}"
                                 update="createAssetPresetPointLocationFormId nonAutoGrowlId" onstart="readPageSize('deviceTamplatetableId')" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultSecondDlg').hide(); updateTreeNodes(); setPageSize('pointLocationDataTableId_rppDD',25)" 
                                 disabled="#{addPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null or addPresetsPointLocationBean.assetPresetPointLocationVO.tachId eq null or addPresetsPointLocationBean.selectedDeviceType eq null or addPresetsPointLocationBean.selectedDevicePresetId eq null}"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{addPresetsPointLocationBean.resetPage()}" onclick="PF('defaultSecondDlg').hide()"/>
            </div>
            <p:blockUI block="createAssetPresetPointLocationFormId" trigger="createPointLocationSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
