<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-add-channel">
        <h:form id="createChannelFormId">
            <p:panel header="#{userManageBean.getResourceBundleString('label_sensor_details')}" styleClass="panel-layout-one">
                <p:panelGrid styleClass="panelgrid-layout-one">
                    <p:row >
                        <p:column styleClass="right-padding width-176-5">
                            <p:outputLabel for="pointType" value="#{userManageBean.getResourceBundleString('label_data_type')}:"/>
                        </p:column>
                        <p:column styleClass="width-321">
                            <p:selectOneButton id="pointType" value="#{addChannelBean.channelVO.pointType}" required="true"  styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_waveform')}" itemValue="AC"/>
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_single_measurement')}" itemValue="DC"/>
                                <p:ajax listener="#{addChannelBean.onPointTypeChange()}" update="@form"/>
                            </p:selectOneButton>
                        </p:column>
                        <p:column styleClass="right-padding left-padding width-176-5">
                            <p:outputLabel for="sensorChannelNumACId" value="#{userManageBean.getResourceBundleString('label_ts1_channel_num')}:" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" />
                            <p:outputLabel for="sensorChannelNumDCId" value="#{userManageBean.getResourceBundleString('label_ts1_channel_num')}:" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" />
                        </p:column>
                        <p:column styleClass="width-321">
                            <p:selectOneMenu id="sensorChannelNumACId" value="#{addChannelBean.channelVO.sensorChannelNum}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensor_channel_required')}" styleClass="min-width-one" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                                <f:selectItems value="#{addChannelBean.acChannelNums}"/>
                                <p:ajax update="@form"/>
                            </p:selectOneMenu>
                            <p:tooltip value="#{userManageBean.getResourceBundleString('ts1_channel_header_tool_tip')}" for="sensorChannelNumACId" position="bottom" showDelay="500" styleClass="max-width-300"/>
                            <p:selectOneMenu id="sensorChannelNumDCId" value="#{addChannelBean.channelVO.sensorChannelNum}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensor_channel_required')}" styleClass="min-width-one" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                                <f:selectItems value="#{addChannelBean.dcChannelNums}"/>
                                <p:ajax update="@form"/>
                            </p:selectOneMenu>
                            <p:tooltip value="#{userManageBean.getResourceBundleString('ts1_channel_header_tool_tip')}" for="sensorChannelNumDCId" position="bottom" showDelay="500" styleClass="max-width-300"/>
                            <p:message for="sensorChannelNumACId" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" ><p:autoUpdate/></p:message>
                            <p:message for="sensorChannelNumDCId" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" ><p:autoUpdate/></p:message>
                        </p:column>
                    </p:row>

                    <p:row >
                        <p:column styleClass="right-padding" >
                            <p:outputLabel for="sensorTypeACId" value="#{userManageBean.getResourceBundleString('label_sensorType')}:" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" />
                            <p:outputLabel for="sensorTypeDCId" value="#{userManageBean.getResourceBundleString('label_sensorType')}:" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="sensorTypeACId" value="#{addChannelBean.channelVO.sensorType}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensor_type_required')}" styleClass="min-width-one" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                                <f:selectItems value="#{addChannelBean.getAcSensorTypeList()}"/>
                                <p:ajax update="@form" listener="#{addChannelBean.onSensorSelect()}"/>
                            </p:selectOneMenu>
                            <p:selectOneMenu id="sensorTypeDCId" value="#{addChannelBean.channelVO.sensorType}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensor_type_required')}" styleClass="min-width-one" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                                <f:selectItems value="#{addChannelBean.getDcSensorTypeList()}"/>
                                <p:ajax update="@form" listener="#{addChannelBean.onSensorSelect()}" />
                            </p:selectOneMenu>
                            <p:message for="sensorTypeACId" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" ><p:autoUpdate/></p:message>
                            <p:message for="sensorTypeDCId" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" ><p:autoUpdate/></p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding" >
                            <p:outputLabel for="sensorSensitivity" value="#{userManageBean.getResourceBundleString('label_sensitivity')}:"/>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="sensorSensitivity" decimalPlaces="3" value="#{addChannelBean.channelVO.sensorSensitivity}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_area_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sensor_sensitivity_minimum')}" styleClass="min-width-one" >
                                <f:validateDoubleRange minimum="0.001" />
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this createChannelSubmitBtnId"/>
                            </p:inputNumber>
                            <p:message for="sensorSensitivity" ><p:autoUpdate/></p:message>
                        </p:column>
                    </p:row>

                    <p:row >
                        <p:column styleClass="right-padding" >
                            <p:outputLabel for="acsensorTypeSUnitId" value="#{userManageBean.getResourceBundleString('label_sensitivity_units')}:" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" />
                            <p:outputLabel for="dcsensorTypeSUnitId" value="#{userManageBean.getResourceBundleString('label_sensitivity_units')}:" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="acsensorTypeSUnitId" value="#{addChannelBean.channelVO.sensorUnits}" styleClass="min-width-one" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensitivity_units_required')}" disabled="#{addChannelBean.channelVO.sensorType eq null or addChannelBean.channelVO.sensorType eq ''}" >
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true"/>
                                <f:selectItems value="#{addChannelBean.getACParamUnitList()}"/>
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this createChannelSubmitBtnId"/>
                            </p:selectOneMenu> 
                            <p:selectOneMenu id="dcsensorTypeSUnitId" value="#{addChannelBean.channelVO.sensorUnits}" styleClass="min-width-one" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensitivity_units_required')}" disabled="#{addChannelBean.channelVO.sensorType eq null or addChannelBean.channelVO.sensorType eq ''}" >
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{addChannelBean.getDCParamUnitList()}"/>
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this createChannelSubmitBtnId"/>
                            </p:selectOneMenu>
                            <p:message for="acsensorTypeSUnitId" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" ><p:autoUpdate/></p:message>
                            <p:message for="dcsensorTypeSUnitId" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" ><p:autoUpdate/></p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding" >
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorOffset')}:" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" />
                        </p:column>
                        <p:column>
                            <p:inputNumber id="sensorOffset" decimalPlaces="3" value="#{addChannelBean.channelVO.sensorOffset}" rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" styleClass="min-width-one" >
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this"/>
                            </p:inputNumber>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>

            <p:panel id="configDetailPanelId" header="#{userManageBean.getResourceBundleString('label_config_details')}" styleClass="panel-layout-one">
                <p:panelGrid styleClass="panelgrid-layout-one" >
                    <p:row >
                        <p:column styleClass="right-padding width-176-5">
                            <p:outputLabel for="site" value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                        </p:column> 
                        <p:column styleClass="width-321">
                            <p:inputText id="site" value="#{addChannelBean.channelVO.siteName}" disabled="true" styleClass="min-width-one" />
                        </p:column>
                        <p:column styleClass="right-padding left-padding width-176-5">
                            <p:outputLabel for="area" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                        </p:column> 
                        <p:column styleClass="width-321">
                            <p:selectOneMenu id="area" value="#{addChannelBean.channelVO.areaId}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_area_required')}" disabled="#{addChannelBean.areaList eq null or addChannelBean.areaList.size() eq 0}" converter="uuidConverter" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true"/>
                                <f:selectItems value="#{addChannelBean.areaList}"/>
                                <p:ajax listener="#{addChannelBean.onAreaChange()}" update="@this createChannelSubmitBtnId assetName"/>
                            </p:selectOneMenu>
                            <p:message for="area"><p:autoUpdate/></p:message>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="assetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                        </p:column> 
                        <p:column>
                            <p:selectOneMenu id="assetName" value="#{addChannelBean.channelVO.assetId}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_required')}" disabled="#{addChannelBean.channelVO.areaId eq null}" converter="uuidConverter" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true"/>
                                <f:selectItems value="#{addChannelBean.assetList}"/>
                                <p:ajax listener="#{addChannelBean.onAssetChange()}" update="@this createChannelSubmitBtnId"/>
                            </p:selectOneMenu>
                            <p:message for="assetName"><p:autoUpdate/></p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding">
                            <p:outputLabel for="ptLoName" value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:"/>
                        </p:column> 
                        <p:column>   
                            <p:selectOneMenu id="ptLoName" value="#{addChannelBean.channelVO.pointLocationName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_location_name_required')}" editable="true" styleClass="min-width-one">
                                <f:selectItems value="#{addChannelBean.pointLocationNameList}"/>
                                <p:ajax listener="#{addChannelBean.onPointLocationChange()}" update="@this createChannelSubmitBtnId cpPointNameId"/>
                            </p:selectOneMenu>
                            <p:tooltip value="#{userManageBean.getResourceBundleString('ts1_point_location_tool_tip')}" for="ptLoName" position="left" showDelay="500"/>
                            <p:message for="ptLoName"><p:autoUpdate/></p:message>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="cpPointNameId" value="#{userManageBean.getResourceBundleString('label_pointName')}:"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="cpPointNameId" value="#{addChannelBean.channelVO.pointName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_name_required')}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" disabled="#{addChannelBean.channelVO.pointLocationName eq null or addChannelBean.channelVO.pointLocationName eq ''}" styleClass="min-width-one" >
                                <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this createChannelSubmitBtnId"/>
                            </p:inputText>
                            <p:message for="cpPointNameId"><p:autoUpdate/></p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding" >
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}"/>
                        </p:column>
                        <p:column>
                            <p:inputSwitch value="#{addChannelBean.channelVO.alarmEnabled}" onLabel="yes" offLabel="no" >
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this" />  
                            </p:inputSwitch>
                        </p:column>
                    </p:row>

                    <p:row rendered="#{addChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" >
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="ffsetnames" value="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}:"/>
                        </p:column> 
                        <p:column>
                            <p:selectCheckboxMenu id="ffsetnames" value="#{addChannelBean.channelVO.ffSetName}" label="#{userManageBean.getResourceBundleString('application_select_sets')}" styleClass="min-width-one" filter="true" filterMatchMode="contains"  multiple="true">
                                <f:selectItems value="#{addChannelBean.faultFrequenciesList}" var="ffList"  itemValue="#{ffList.value}" itemLabel="#{ffList.label}"/>
                                <p:ajax listener="#{addChannelBean.updateBean()}"  />
                            </p:selectCheckboxMenu>
                        </p:column>
                        <p:column styleClass="right-padding left-padding">
                            <p:outputLabel for="tachName" value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                        </p:column> 
                        <p:column>
                            <p:selectOneMenu id="tachName" value="#{addChannelBean.channelVO.tachId}" converter="uuidConverter" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue="Select One" noSelectionOption="false"  itemDisabled="false" />
                                <f:selectItems value="#{addChannelBean.tachometersList}" var="tachomList"  itemValue="#{tachomList.value}" itemLabel="#{tachomList.label}"/>
                                <p:ajax listener="#{addChannelBean.onTachChange()}" update="@this configDetailPanelId createChannelSubmitBtnId" />
                            </p:selectOneMenu>
                            <p:message for="tachName" />
                        </p:column>
                    </p:row>

                    <p:row rendered="#{addChannelBean.channelVO.tachId ne null and addChannelBean.channelVO.tachReferenceUnits ne null and addChannelBean.channelVO.tachReferenceUnits eq 'FPM'}">
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="roll_diameter" value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:"/>
                        </p:column> 
                        <p:column>    
                            <p:inputNumber id="roll_diameter" value="#{addChannelBean.channelVO.rollDiameter}" required="true" decimalPlaces="4" requiredMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" styleClass="min-width-one">
                                 <f:validateDoubleRange minimum="0.0001" />
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this createChannelSubmitBtnId" />  
                            </p:inputNumber>
                            <p:message id="roll_diameterMessage" for="roll_diameter" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding">
                            <p:outputLabel for="roll_diameter_units" value="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}:"/>
                        </p:column> 
                        <p:column>    
                            <p:selectOneMenu id="roll_diameter_units" value="#{addChannelBean.channelVO.rollDiameterUnits}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_roll_diameter_units_required')}" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{addChannelBean.rollDiameterUnitsList}" var="rollDiamUnitList"  itemValue="#{rollDiamUnitList.value}" itemLabel="#{rollDiamUnitList.label}"/>
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this createChannelSubmitBtnId" />
                            </p:selectOneMenu>
                            <p:message for="roll_diameter_units"><p:autoUpdate/></p:message>
                        </p:column>
                    </p:row>

                    <p:row rendered="#{addChannelBean.channelVO.tachId ne null and addChannelBean.channelVO.tachReferenceUnits ne null and addChannelBean.channelVO.tachReferenceUnits eq 'RPM'}">
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="speed_ratio" value="#{userManageBean.getResourceBundleString('label_speedRatio')}:"/>
                        </p:column> 
                        <p:column>    
                            <p:inputNumber id="speed_ratio" value="#{addChannelBean.channelVO.speedRatio}" required="true" decimalPlaces="4" requiredMessage="#{userManageBean.getResourceBundleString('label_speedRatio_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_speed_ratio_minimum')}" styleClass="min-width-one">
                                 <f:validateDoubleRange minimum="0.0001" />
                                <p:ajax listener="#{addChannelBean.updateBean()}" update="@this createChannelSubmitBtnId" />  
                            </p:inputNumber>
                            <p:message id="speed_ratioMessage" for="speed_ratio" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding"/>
                        <p:column/>
                    </p:row>

                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="cpApSetId" value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="cpApSetId" value="#{addChannelBean.channelVO.apSetId}" converter="uuidConverter" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_ap_set_name_required')}" disabled="#{addChannelBean.channelVO.sensorType eq null or addChannelBean.channelVO.sensorType eq ''}" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{addChannelBean.customerApSetVOList}" var="apSet"  itemValue="#{apSet.value}" itemLabel="#{apSet.label}"/> 
                                <p:ajax event="itemSelect" listener="#{addChannelBean.onApSetNameSelect()}" update="@this configDetailPanelId createChannelSubmitBtnId"/>
                            </p:selectOneMenu>
                            <p:message for="cpApSetId"><p:autoUpdate/></p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding">
                            <p:outputLabel for="alSetGt1" value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="alSetGt1" value="#{addChannelBean.channelVO.alSetId}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_al_set_name_required')}" converter="uuidConverter" disabled="#{addChannelBean.channelVO.apSetId eq null}" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{addChannelBean.alSetVOList}" var="alSet" itemValue="#{alSet.value}" itemLabel="#{alSet.label}"/>
                                <p:ajax listener="#{addChannelBean.onAlSetNameSelect()}" update="@this configDetailPanelId"/>
                            </p:selectOneMenu>
                            <p:message for="alSetGt1"><p:autoUpdate/></p:message>
                        </p:column>  
                    </p:row>

                    <p:row rendered="#{addChannelBean.tachValidationFailed}">                       
                        <p:column colspan="4">
                            <p:outputLabel id="disclaimerId" value="#{userManageBean.getResourceBundleString('label_tach_validation_message')}" styleClass="disclaimer-test-color"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>

            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="createChannelSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_add_Sensor')}" action="#{addChannelBean.submit()}" process="@form"
                                 disabled="#{addChannelBean.tachValidationFailed}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultSecondDlg').hide()"  update="@form nonAutoGrowlId" />
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultSecondDlg').hide()"/>
            </div>
            <p:blockUI block="createChannelFormId" trigger="createChannelSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
