<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-add-subscriptions">
        <h:form id="addsubscriptionForm" >
            <p:panelGrid styleClass="panelgrid-layout-one">
                <!--                <p:row >
                                    <p:column styleClass="right-padding">
                                        <p:outputLabel for="siteName" value="#{userManageBean.getResourceBundleString('label_siteName')}:" styleClass="block-label"/>
                                    </p:column> 
                                    <p:column>
                                        <p:selectOneMenu id="siteName" tabindex="1" value="#{subscriptionBean.subscriptionsVO.siteId}" styleClass="min-width-one" >
                                            <f:selectItems value="#{subscriptionBean.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteId}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>-->
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="subscriptionType" value="#{userManageBean.getResourceBundleString('label_subscription_type')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu   id="subscriptionType" tabindex="2" value="#{subscriptionBean.subscriptionsVO.subscriptionType}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_subscription_type_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{subscriptionBean.subscriptionsTypes}"/>
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="webhookUrl" value="#{userManageBean.getResourceBundleString('label_webhook_url')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>

                        <p:inputText id="webhookUrl" tabindex="3" value="#{subscriptionBean.subscriptionsVO.webhookUrl}" title="#{subscriptionBean.subscriptionsVO.webhookUrl}" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:inputText>
                        <p:message for="webhookUrl"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="internal" value="#{userManageBean.getResourceBundleString('label_internal')}"/>
                    </p:column>
                    <p:column>
                        <p:inputSwitch id="internal" tabindex="4" value="#{subscriptionBean.subscriptionsVO.internal}" required="false" onLabel="yes" offLabel="no">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:inputSwitch>
                    </p:column>
                </p:row>
                <p:row rendered="#{!subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="internalReq" value="#{userManageBean.getResourceBundleString('label_internal')}"/>
                    </p:column>
                    <p:column>
                        <p:inputSwitch id="internalReq" tabindex="4" value="#{subscriptionBean.subscriptionsVO.internal}" required="true" onLabel="yes" offLabel="no">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:inputSwitch>
                    </p:column>
                </p:row>
                <p:row rendered="#{subscriptionBean.uptimeHostedSelected or subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mqProtocol" value="#{userManageBean.getResourceBundleString('label_mq_protocol')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>

                        <p:selectOneMenu id="mqProtocol" tabindex="3" value="#{subscriptionBean.subscriptionsVO.mqProtocol}" styleClass="min-width-one" required="false" disabled="#{subscriptionBean.uptimeHostedSelected and !subscriptionBean.wavehookUrlData}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{subscriptionBean.mqProtocol}"/>
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:selectOneMenu>
                        <p:message for="mqProtocol" > <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{!subscriptionBean.uptimeHostedSelected and !subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mqProtocolReq" value="#{userManageBean.getResourceBundleString('label_mq_protocol')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>

                        <p:selectOneMenu id="mqProtocolReq" tabindex="3" value="#{subscriptionBean.subscriptionsVO.mqProtocol}" styleClass="min-width-one" required="true" disabled="#{subscriptionBean.uptimeHostedSelected and !subscriptionBean.wavehookUrlData}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{subscriptionBean.mqProtocol}"/>
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:selectOneMenu>
                        <p:message for="mqProtocol" > <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{subscriptionBean.uptimeHostedSelected or subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mq_connect" value="#{userManageBean.getResourceBundleString('label_mq_connect_string')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mq_connect" tabindex="4" value="#{subscriptionBean.subscriptionsVO.mqConnectString}" title="#{subscriptionBean.subscriptionsVO.mqConnectString}" required="false" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:inputText>
                        <p:message for="mq_connect"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{!subscriptionBean.uptimeHostedSelected and !subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mq_connectReq" value="#{userManageBean.getResourceBundleString('label_mq_connect_string')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mq_connectReq" tabindex="4" value="#{subscriptionBean.subscriptionsVO.mqConnectString}" title="#{subscriptionBean.subscriptionsVO.mqConnectString}" required="true" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:inputText>
                        <p:message for="mq_connect"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{subscriptionBean.uptimeHostedSelected or subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mq_user" value="#{userManageBean.getResourceBundleString('label_mq_user')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mq_user" tabindex="5" value="#{subscriptionBean.subscriptionsVO.mqUser}" title="#{subscriptionBean.subscriptionsVO.mqUser}"  required="false" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form" />
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row rendered="#{!subscriptionBean.uptimeHostedSelected and !subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mq_userReq" value="#{userManageBean.getResourceBundleString('label_mq_user')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mq_userReq" tabindex="5" value="#{subscriptionBean.subscriptionsVO.mqUser}" title="#{subscriptionBean.subscriptionsVO.mqUser}"  required="true" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form" />
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row rendered="#{subscriptionBean.uptimeHostedSelected or subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mqPwd" value="#{userManageBean.getResourceBundleString('label_mq_pwd')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mqPwd" tabindex="6" value="#{subscriptionBean.subscriptionsVO.mqPwd}" title="#{subscriptionBean.subscriptionsVO.mqPwd}"  required="false" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form" />
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row rendered="#{!subscriptionBean.uptimeHostedSelected and !subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mqPwdReq" value="#{userManageBean.getResourceBundleString('label_mq_pwd')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mqPwdReq" tabindex="6" value="#{subscriptionBean.subscriptionsVO.mqPwd}" title="#{subscriptionBean.subscriptionsVO.mqPwd}"  required="true" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form" />
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row rendered="#{subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mqQueueName" value="#{userManageBean.getResourceBundleString('label_mq_queue_name')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mqQueueName" widgetVar="mqQueueNameWidget" tabindex="7" value="#{subscriptionBean.subscriptionsVO.mqQueueName}" title="#{subscriptionBean.subscriptionsVO.mqQueueName}" styleClass="min-width-one" required="false">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:inputText>
                        <p:message for="webhookUrl"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{!subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mqQueueNameReq" value="#{userManageBean.getResourceBundleString('label_mq_queue_name')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mqQueueNameReq" widgetVar="mqQueueNameWidget" tabindex="7" value="#{subscriptionBean.subscriptionsVO.mqQueueName}" title="#{subscriptionBean.subscriptionsVO.mqQueueName}" styleClass="min-width-one" required="true">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form"/>
                        </p:inputText>
                        <p:message for="webhookUrl"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{subscriptionBean.uptimeHostedSelected or subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mqClientId" value="#{userManageBean.getResourceBundleString('label_mq_client_id')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mqClientId" tabindex="8" value="#{subscriptionBean.subscriptionsVO.mqClientId}" title="#{subscriptionBean.subscriptionsVO.mqClientId}"  required="false" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form" />
                        </p:inputText>
                    </p:column>
                </p:row>
                <!-- Req Filed -->
                <p:row rendered="#{!subscriptionBean.uptimeHostedSelected and !subscriptionBean.wavehookUrlData}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="mqClientIdReq" value="#{userManageBean.getResourceBundleString('label_mq_client_id')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="mqClientIdReq" tabindex="8" value="#{subscriptionBean.subscriptionsVO.mqClientId}" title="#{subscriptionBean.subscriptionsVO.mqClientId}"  required="true" styleClass="min-width-one">
                            <p:ajax listener="#{subscriptionBean.updateBean()}" update="@form" />
                        </p:inputText>
                    </p:column>
                </p:row>

            </p:panelGrid>

            <div class="center-btn-div">                
                <p:commandButton styleClass="left-btn" id="createSubscription" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{subscriptionBean.createSubscription()}" process="@form"
                                 onstart="readPageSize('subscription_rppDD')" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide(); setPageSize('subscription_rppDD',25)"  update="@form nonAutoGrowlId subscriptions:dt-subscription"  disabled="#{!subscriptionBean.subscriptionTypeSelected}"/>

                <p:commandButton tabindex="11" type="button" id="canclesubscriptionBtn" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="addsubscriptionForm" trigger="createSubscription"/>
        </h:form>
    </div>
</ui:composition>
