<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-add-al-set">
        <h:form id="addAlSetFormId">
            <p:panelGrid id="acPanelGridId" styleClass="panelgrid-layout-one" rendered="#{addAlSetBean.acSensor ne null and addAlSetBean.acSensor}">
                <p:row>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="acApSetNameId"  value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="acApSetNameId" value="#{addAlSetBean.apAlSetVO.apSetName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="acSensorTypeId" value="#{userManageBean.getResourceBundleString('label_sensorType')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="acSensorTypeId" value="#{addAlSetBean.apAlSetVO.sensorType}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="fmaxId" value="#{userManageBean.getResourceBundleString('label_fmax')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="fmaxId" value="#{addAlSetBean.apAlSetVO.fmax}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="resolutionId"  value="#{userManageBean.getResourceBundleString('label_resolution')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="resolutionId" value="#{addAlSetBean.apAlSetVO.resolution}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="periodId" value="#{userManageBean.getResourceBundleString('label_period')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="periodId" value="#{addAlSetBean.apAlSetVO.period}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="sampleRateId" value="#{userManageBean.getResourceBundleString('label_sampleRate')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="sampleRateId" value="#{addAlSetBean.apAlSetVO.sampleRate}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="acAlSetNameId"  value="#{userManageBean.getResourceBundleString('label_alSetName')}: *"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="acAlSetNameId" value="#{addAlSetBean.apAlSetVO.alSetName}" styleClass="min-width-one">
                            <p:ajax update="@this createAlSetSaveId"/>
                        </p:inputText>
                    </p:column>
                    <p:column styleClass="right-padding" />
                    <p:column styleClass="right-padding" />
                    <p:column styleClass="right-padding" />
                    <p:column />
                </p:row>
            </p:panelGrid>
            
            <p:panelGrid id="dcPanelGridId" styleClass="panelgrid-layout-one" rendered="#{addAlSetBean.acSensor ne null and !addAlSetBean.acSensor}">
                <p:row>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="dcApSetNameId"  value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="dcApSetNameId" value="#{addAlSetBean.apAlSetVO.apSetName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="dcSensorTypeId" value="#{userManageBean.getResourceBundleString('label_sensorType')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="dcSensorTypeId" value="#{addAlSetBean.apAlSetVO.sensorType}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="unitsId" value="#{userManageBean.getResourceBundleString('label_units')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="unitsId" value="#{addAlSetBean.apAlSetVO.paramUnits}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="dcAlSetNameId"  value="#{userManageBean.getResourceBundleString('label_alSetName')}: *"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="dcAlSetNameId" value="#{addAlSetBean.apAlSetVO.alSetName}" styleClass="min-width-one">
                            <p:ajax update="@this createAlSetSaveId"/>
                        </p:inputText>
                    </p:column>
                    <p:column styleClass="right-padding" />
                    <p:column styleClass="right-padding" />
                    <p:column styleClass="right-padding" />
                    <p:column />
                </p:row>
            </p:panelGrid>
            
            <p:scrollPanel mode="native">
                <p:dataTable  id="alSetDataTableId" var="al" value="#{addAlSetBean.alSetList}" styleClass="datatable-layout-one" rendered="#{addAlSetBean.alSetList.size() gt 0}">
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_param_name')}" style="width: 19%" styleClass="table-column-title-left-column-border-right-border"/>
                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_units')}" style="width: 6%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_amp_factor')}" style="width: 8%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_dwell')}" style="width: 11%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowFault')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowAlert')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highAlert')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highFault')}" style="width: 14%" styleClass="table-column-title-right-just-top-right-border"/>
                        </p:row>
                        <p:row>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-right-just-bottom-right-border"/>
                        </p:row>
                    </p:columnGroup>

                    <p:column>
                        <p:inputText id="paramNameId" value="#{al.paramName}" disabled="true" styleClass="min-width-one" />
                    </p:column>  
                    <p:column>
                        <p:inputText id="paramUnitsId" value="#{al.paramUnits}" disabled="true" styleClass="min-width-one" />
                    </p:column>  
                    <p:column>
                        <p:inputText id="paramAmpFactorId" value="#{al.paramAmpFactor}" disabled="true" styleClass="min-width-one" />
                    </p:column>                  
                    <p:column>   
                        <p:selectOneMenu id="dwellId" value="#{al.dwell}" styleClass="min-width-one" style="width: 100% !important">
                            <f:selectItems value="#{addAlSetBean.getDwellList()}"/>
                            <p:ajax update="@this" oncomplete="hideTooltips()"/>
                        </p:selectOneMenu>
                    </p:column>                  
                    <p:column>
                        <p:inputSwitch id="lowFaultActiveId" value="#{al.lowFaultActive}" onLabel="yes" offLabel="no">
                            <p:ajax listener="#{addAlSetBean.alarmLimitValidation(al)}" update="@form" oncomplete="hideTooltips()"/>
                        </p:inputSwitch>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="lowFaultId" value="#{al.lowFault}" styleClass="#{(al.lowFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!al.lowFaultActive}" minValue="-0" maxValue="99996.999">
                            <p:ajax listener="#{addAlSetBean.alarmLimitValidation(al)}" update="@form" oncomplete="hideTooltips()"/>
                        </p:inputNumber>
                    </p:column>
                    <p:column>
                        <p:inputSwitch id="lowAlertActiveId" value="#{al.lowAlertActive}" onLabel="yes" offLabel="no">
                            <p:ajax listener="#{addAlSetBean.alarmLimitValidation(al)}" update="@form" oncomplete="hideTooltips()"/>
                        </p:inputSwitch>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="lowAlertId" value="#{al.lowAlert}" styleClass="#{(al.lowAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!al.lowAlertActive}" minValue="0" maxValue="99997.999">
                            <p:ajax listener="#{addAlSetBean.alarmLimitValidation(al)}" update="@form" oncomplete="hideTooltips()"/>
                        </p:inputNumber>
                    </p:column>
                    <p:column>
                        <p:inputSwitch id="highAlertActiveId" value="#{al.highAlertActive}" onLabel="yes" offLabel="no">
                            <p:ajax listener="#{addAlSetBean.alarmLimitValidation(al)}" update="@form" oncomplete="hideTooltips()"/>
                        </p:inputSwitch>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="highAlertId" value="#{al.highAlert}" styleClass="#{(al.highAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!al.highAlertActive}" minValue="0" maxValue="99998.999">
                            <p:ajax listener="#{addAlSetBean.alarmLimitValidation(al)}" update="@form" oncomplete="hideTooltips()"/>
                        </p:inputNumber>
                    </p:column>
                    <p:column>
                        <p:inputSwitch id="highFaultActiveId" value="#{al.highFaultActive}" onLabel="yes" offLabel="no">
                            <p:ajax listener="#{addAlSetBean.alarmLimitValidation(al)}" update="@form" oncomplete="hideTooltips()"/>
                        </p:inputSwitch>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="highFaultId" value="#{al.highFault}" styleClass="#{(al.highFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!al.highFaultActive}" minValue="0" maxValue="99999.999">
                            <p:ajax listener="#{addAlSetBean.alarmLimitValidation(al)}" update="@form" oncomplete="hideTooltips()"/>
                        </p:inputNumber>
                    </p:column>      
                </p:dataTable>
            </p:scrollPanel>
            
            <p:panel id="msgPanel" >
                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_limits_info')}" rendered="#{(addAlSetBean.renderAlertMsg)}" styleClass="error-outputlabel"/>
            </p:panel>
            
            <div class="center-btn-div" >
                <p:commandButton type="submit" ajax="true" styleClass="left-btn" id="createAlSetSaveId" update="@form nonAutoGrowlId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{addAlSetBean.submit()}" disabled="#{(addAlSetBean.renderAlertMsg or addAlSetBean.apAlSetVO.alSetName eq null or addAlSetBean.apAlSetVO.alSetName.length() eq 0 or addAlSetBean.alSetList.size() eq 0)}" oncomplete="hideTooltips()"/>
                <p:commandButton action="#{addAlSetBean.resetPage()}" process="@this" update="@form" value="#{userManageBean.getResourceBundleString('btn_cancel')}" resetValues="true" oncomplete="PF('defaultDlg').hide(); hideTooltips()"/>
            </div>
        </h:form>
    </div>
</ui:composition>
