<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-alarm-history">
        <h:form id="alarmHistoryFormId">
            <p:timeline id="timeline" value="#{alarmsBean.model}"
                        height="250px" width="100%" selectable="#{alarmsBean.selectable}"
                        zoomable="#{alarmsBean.zoomable}"
                        moveable="#{alarmsBean.moveable}"
                        stackEvents="#{alarmsBean.stackEvents}"
                        eventStyle="#{alarmsBean.eventStyle}"
                        showCurrentTime="#{alarmsBean.showCurrentTime}"/>
        </h:form>
    </div>
</ui:composition>
