<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">
    
    <div class="card layout-alarm-details">
        <h:form id="alarmSummaryFormId">
            <p:panel header="#{userManageBean.getResourceBundleString('label_current_settings')}" styleClass="panel-layout-one">
                <p:panelGrid styleClass="panelgrid-layout-one">
                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_area_name')}:" for="areaNameId"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel id="areaNameId" value="#{alarmsBean.pointVO.areaName}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_asset_name')}:" for="assetNameId"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel id="assetNameId" value="#{alarmsBean.pointVO.assetName}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:" for="pointLocationNameId"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel id="pointLocationNameId" value="#{alarmsBean.pointVO.pointLocationName}" />
                        </p:column>
                    </p:row>                                    
                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_pointName')}:" for="pointNameId"/>
                        </p:column>
                        <p:column>
                            <p:commandLink id="pointNameId" value="#{alarmsBean.pointVO.pointName}" action="#{alarmsBean.onPointNameClik()}"  ajax="false"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_apSetName')}:" for="apSetNameId"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel id="apSetNameId" value="#{alarmsBean.pointVO.apSetName}" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </div>
</ui:composition>
