<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-closed-work-order">

        <h:form id="closedWorkOrderFormId">
            <div class="yearDivId">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_closed_work_order')}: "/>
                        </p:column>
                        <p:column>
                            <p:commandButton id="decrementBtnId" styleClass="left-button" icon="pi pi-caret-left" update="@form" action="#{closedWorkOrderBean.decrementSelectedYear()}" disabled="#{closedWorkOrderBean.selectedYear eq closedWorkOrderBean.minSelectedYear}" onclick="PF('closedWorkOrderTable').clearFilters()"/>
                        </p:column>
                        <p:column>
                            <p:inputText value="#{closedWorkOrderBean.selectedYear}" readonly="true"/>
                        </p:column>
                        <p:column>
                            <p:commandButton id="incrementBtnId" styleClass="right-button" icon="pi pi-caret-right" update="@form" action="#{closedWorkOrderBean.incrementSelectedYear()}" disabled="#{closedWorkOrderBean.selectedYear eq closedWorkOrderBean.maxSelectedYear}" onclick="PF('closedWorkOrderTable').clearFilters()"/>
                        </p:column>
                    </p:row>
                </p:panelGrid> 
            </div>

            <p:scrollPanel mode="native">
                <p:dataTable id="closedWorkOrderTableId" widgetVar="closedWorkOrderTable" var="closedWorkOrder" value="#{closedWorkOrderBean.closedWorkOrderList}"
                             paginator="true" resizableColumns="true" rows="10" paginatorPosition="top" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             filteredValue="#{closedWorkOrderBean.filteredClosedWorkOrderList}" filterBy="#{closedWorkOrderBean.filterBy}"  emptyMessage="#{userManageBean.getResourceBundleString('label_no_closed_work_orders_found_with_given_criteria')}"
                             styleClass="datatable-layout-three datatable-layout-header-filters">

                    <f:facet name="header">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_closed_workorders')}"/>
                    </f:facet>

                    <p:column style="width: 30px;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                        <p:rowToggler/>
                    </p:column>

                    <p:column field="areaName" headerText="#{userManageBean.getResourceBundleString('label_area')}" sortable="false" filterMatchMode="contains" style="width: 14%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                    <p:column field="assetName" headerText="#{userManageBean.getResourceBundleString('label_asset')}" sortable="false" filterMatchMode="contains" style="width: 14%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                    <p:column field="priority" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_priority')}" filterMatchMode="exact" style="width: 8%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('closedWorkOrderTable').filter()">
                                <f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItems value="#{closedWorkOrderBean.priorityList}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{closedWorkOrderBean.getPriorityLabelByValue(closedWorkOrder.priority)}" />
                    </p:column>

                    <p:column field="issue" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_issue')}" filterMatchMode="exact" style="width: 13%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('closedWorkOrderTable').filter()">
                                <f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItems value="#{closedWorkOrderBean.issueList}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{closedWorkOrderBean.getIssueLabelByValue(closedWorkOrder.issue)}" />
                    </p:column>

                    <p:column field="action" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_action')}" filterMatchMode="exact" style="width: 13%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('closedWorkOrderTable').filter()">
                                <f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItems value="#{closedWorkOrderBean.actionList}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{closedWorkOrderBean.getActionLabelByValue(closedWorkOrder.action)}" />
                    </p:column>

                    <p:column field="user" headerText="#{userManageBean.getResourceBundleString('label_created_by')}" sortable="false" filterMatchMode="contains" style="width: 12%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                    <p:column field="formattedCreatedDateString" headerText="#{userManageBean.getResourceBundleString('label_date_created')}" sortable="false" filterMatchMode="contains" style="width: 13%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                    <p:column field="formattedCloseDateString" headerText="#{userManageBean.getResourceBundleString('label_date_closed')}" sortable="false" filterMatchMode="contains" sortOrder="descending" style="width: 13%" styleClass="text-align-center table-column-title-right-column-border-left-border"/>

                    <p:rowExpansion>
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="width-100">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                                </p:column>
                                <p:column>
                                    <p:inputTextarea rows="3" readonly="true" disabled="true" value="#{closedWorkOrder.description}"/>
                                </p:column>
                                <p:column styleClass="width-100">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_notes')}:"/>
                                </p:column>
                                <p:column>
                                    <p:inputTextarea rows="3" readonly="true" disabled="true" value="#{closedWorkOrder.notes}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:rowExpansion>
                </p:dataTable>
            </p:scrollPanel>

            <p:blockUI block="closedWorkOrderFormId" trigger="closedWorkOrderFormId:decrementBtnId" widgetVar="decrementBtnBlock"/>
            <p:blockUI block="closedWorkOrderFormId" trigger="closedWorkOrderFormId:incrementBtnId" widgetVar="incrementBtnBlock"/>
        </h:form>
    </div>

</ui:composition>
