<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-copy-edit-presets-device">
        <h:form id="copyEditPresetsDeviceFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_siteName')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="deviceSiteName" value="#{userManageBean.getCurrentSite().siteName}" styleClass="min-width-one" disabled="#{true}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_device_name')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="deviceName" value="#{copyEditPresetsDeviceBean.setName}" styleClass="min-width-one"  disabled="#{copyEditPresetsDeviceBean.operationType eq 1}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <p:ajax event="blur" listener="#{copyEditPresetsDeviceBean.updateBean()}" update="copyEditPresetsDeviceFormId:deviceName copyEditPresetsDeviceFormId:deviceDatatableId copyEditPresetsDeviceFormId:devicePresetSaveId"/>
                        </p:inputText>
                        <p:message for="deviceName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_device_type')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:selectOneMenu id="deviceType" value="#{copyEditPresetsDeviceBean.selectedDeviceType}" disabled="#{true}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsDeviceBean.deviceTypeList}"/>
                            <p:ajax listener="#{copyEditPresetsDeviceBean.onDeviceTypeChange()}" update="copyEditPresetsDeviceFormId:deviceDatatableId copyEditPresetsDeviceFormId:devicePresetSaveId"/>
                        </p:selectOneMenu>
                        <p:message for="deviceType"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{false}">
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_disable')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputSwitch value="#{copyEditPresetsDeviceBean.disable}" onLabel="yes" offLabel="no" />
                    </p:column>
                </p:row>
            </p:panelGrid>             

            <p:scrollPanel mode="native">
                <p:dataTable id="deviceDatatableId" var="devicePresetsVO" value="#{copyEditPresetsDeviceBean.devicePresetsVOList}" styleClass="datatable-layout-one" >
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_data_type')}" style="width:20%"  rendered="#{copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        <p:inputText id="restrictions" value="#{devicePresetsVO.restrictions}" styleClass="min-width-one" disabled="true" >
                        </p:inputText>
                    </p:column>
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_channel_num')}" style="width:15%"  rendered="#{copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        <p:inputText id="setChannelNumber" value="#{devicePresetsVO.channelNumber}" styleClass="min-width-one" disabled="true" >
                        </p:inputText>
                    </p:column>
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" style="width:15%"  rendered="#{!copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        <p:inputText id="sensorType" value="#{devicePresetsVO.sensorType}" styleClass="min-width-one" disabled="true" >
                        </p:inputText>
                    </p:column>
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" style="width:15%"  rendered="#{copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        <p:selectOneMenu id="sensorTypeACId" value="#{devicePresetsVO.sensorType}"   styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" rendered="#{devicePresetsVO.channelType.equalsIgnoreCase('AC')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                            <f:selectItems value="#{copyEditPresetsDeviceBean.getAcSensorTypeList()}"/>
                            <p:ajax update="@(.#{devicePresetsVO.channelNumberLabel})" listener="#{copyEditPresetsDeviceBean.sensorTypeChange(devicePresetsVO)}"/>
                        </p:selectOneMenu>
                        <p:selectOneMenu id="sensorTypeDCId" value="#{devicePresetsVO.sensorType}"   styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" rendered="#{devicePresetsVO.channelType.equalsIgnoreCase('DC')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue="" />
                            <f:selectItems value="#{copyEditPresetsDeviceBean.getDcSensorTypeList()}"/>
                            <p:ajax update="@(.#{devicePresetsVO.channelNumberLabel})" listener="#{copyEditPresetsDeviceBean.sensorTypeChange(devicePresetsVO)}" />
                        </p:selectOneMenu>
                    </p:column>                       
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensitivity')}" style="width:11%">    
                        <p:inputNumber id="sensorSensitivity" decimalPlaces="3"  value="#{devicePresetsVO.sensorSensitivity}"  styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important"  disabled="#{!copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        </p:inputNumber>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensitivity_units')}" style="width:11%" rendered="#{!copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X') and !devicePresetsVO.sensorType.equalsIgnoreCase('Temperature RTD')}">    
                        <p:inputText id="sensorUnits" value="#{devicePresetsVO.sensorUnits}"  styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important"  disabled="#{!copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}" >
                        </p:inputText>
                    </p:column>
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_sensitivity_units')}" style="width:15%"  rendered="#{copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X') or devicePresetsVO.sensorType.equalsIgnoreCase('Temperature RTD')}">
                        <p:selectOneMenu id="acsensorTypeSUId" value="#{devicePresetsVO.sensorUnits}" styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" rendered="#{devicePresetsVO.channelType.equalsIgnoreCase('AC')}" disabled="#{devicePresetsVO.sensorType  eq null or devicePresetsVO.sensorType eq ''}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsDeviceBean.getACParamUnitList(devicePresetsVO)}"/>
                            <p:ajax update="@this"/>
                        </p:selectOneMenu>   
                       
                        <p:selectOneMenu id="dcsensorTypeSUId" value="#{devicePresetsVO.sensorUnits}" styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" rendered="#{devicePresetsVO.channelType.equalsIgnoreCase('DC')}" disabled="#{devicePresetsVO.sensorType  eq null or devicePresetsVO.sensorType eq ''}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsDeviceBean.getDCParamUnitList(devicePresetsVO)}"/>
                            <p:ajax update="@this"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_offset')}" style="width:11%">    
                        <p:inputNumber id="sensorOffset" value="#{devicePresetsVO.sensorOffset}" styleClass="min-width-one" disabled="#{devicePresetsVO.channelType.equalsIgnoreCase('AC')  or !copyEditPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        </p:inputNumber>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}*" style="width:15%">
                        <p:selectOneMenu id="apSetId" value="#{devicePresetsVO.apSetId}" converter="uuidConverter"                                         
                                         disabled="#{devicePresetsVO.sensorType  eq null or devicePresetsVO.sensorType eq ''}"
                                          styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important"
                                         required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{devicePresetsVO.apAlSetSelectItemList}" var="apSet"  itemValue="#{apSet.apSetId}" itemLabel="#{apSet.apSetName}"/> 
                            <p:ajax event="itemSelect" listener="#{copyEditPresetsDeviceBean.onApSetNameSelect(devicePresetsVO)}" update="@(.#{devicePresetsVO.channelNumberLabel})"/>
                        </p:selectOneMenu>
                        <p:message for="apSetId"><p:autoUpdate/></p:message>
                    </p:column> 
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_al_set')}*" style="width:15%">
                        <p:selectOneMenu id="alSetId" value="#{devicePresetsVO.alSetId}"  converter="uuidConverter"
                                         disabled="#{devicePresetsVO.sensorType  eq null or devicePresetsVO.sensorType eq ''}"
                                          styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important"
                                         required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{devicePresetsVO.alSetVOList}" var="alset" itemValue="#{alset.alSetId}" itemLabel="#{alset.alSetName}"/>
                            <p:ajax update="@this copyEditPresetsDeviceFormId:devicePresetSaveId"/>
                        </p:selectOneMenu>
                        <p:message for="alSetId"><p:autoUpdate/></p:message>
                    </p:column> 
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" style="width:11%">   
                        <p:inputSwitch id="alarmEnabled" value="#{devicePresetsVO.alarmEnabled}" onLabel="yes" offLabel="no" /> 
                    </p:column>                           
                </p:dataTable>
            </p:scrollPanel>

            <div class="center-btn-div">
                <p:commandButton  styleClass="left-btn" value="#{userManageBean.getResourceBundleString('btn_save')}" id="devicePresetSaveId" action="#{copyEditPresetsDeviceBean.submit()}" onstart="readPageSize('dt-devicePresetsId_rppDD')" oncomplete="setPageSize('dt-devicePresetsId_rppDD',10)" update="@form nonAutoGrowlId" disabled="#{copyEditPresetsDeviceBean.devicePresetsVOList.size() eq 0 or copyEditPresetsDeviceBean.setName eq null or copyEditPresetsDeviceBean.setName.trim() eq ''}"/> 
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="copyEditPresetsDeviceFormId" trigger="devicePresetSaveId"/>
        </h:form>
    </div>    
</ui:composition>
