<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-copy-edit-fault-frequencies">
        <h:form id="copyEditFaultFrequenciesFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_siteName')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="ffSiteName" value="#{userManageBean.getCurrentSite().siteName}" styleClass="min-width-one" disabled="#{true}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_ff_set_name')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="ffSetName" value="#{copyEditFaultFrequenciesBean.setName}" styleClass="min-width-one" disabled="#{copyEditFaultFrequenciesBean.operationType eq 1}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <p:ajax event="blur" listener="#{copyEditFaultFrequenciesBean.updateBean()}" update="@form"/>
                        </p:inputText>
                        <p:message for="ffSetName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding"> 
                        <p:inputText id="description" value="#{copyEditFaultFrequenciesBean.description}" styleClass="min-width-one">
                            <p:ajax update="@form" listener="#{copyEditFaultFrequenciesBean.updateBean()}"/> 
                        </p:inputText>
                    </p:column>  
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_ff_units')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding"> 
                        <p:selectOneMenu id="ffUnit" value="#{copyEditFaultFrequenciesBean.ffUnits}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createFaultFrequenciesBean.frequencyUnitsList}"/>
                            <p:ajax update="@form" listener="#{copyEditFaultFrequenciesBean.updateBean()}"/> 
                        </p:selectOneMenu>
                        <p:message for="ffUnit"><p:autoUpdate/></p:message>
                    </p:column>  
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_add_to_preferred')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding"> 
                        <p:inputSwitch id="addtoPreferredId" value="#{copyEditFaultFrequenciesBean.addToPreferred}" onLabel="yes" offLabel="no" >
                            <p:ajax update="@form" listener="#{copyEditFaultFrequenciesBean.updateBean()}"/> 
                        </p:inputSwitch>
                    </p:column>  
                </p:row>
            </p:panelGrid>   

            <div class="center-btn-div bottom-margin no-top-margin">
                <p:commandButton value="#{userManageBean.getResourceBundleString('btn_add_fault_frequency')}" action="#{copyEditFaultFrequenciesBean.addFaultFrequencies()}" update="@form"/>
            </div>

            <p:scrollPanel mode="native">
                <p:dataTable id="ffEditDatatableId" var="frequenciesVO" value="#{copyEditFaultFrequenciesBean.frequenciesVOList}" styleClass="datatable-layout-one" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ff_name')}*" style="width:40%">
                        <p:inputText id="ffName" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}" value="#{frequenciesVO.ffName}" styleClass="min-width-one"  disabled="#{frequenciesVO.ffType ne null and copyEditFaultFrequenciesBean.operationType eq 1}">
                            <p:ajax update="@form" listener="#{copyEditFaultFrequenciesBean.updateBean()}"/> 
                        </p:inputText>
                        <p:message for="ffName"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ff_value')}" style="width:30%">    
                        <p:inputNumber id="ffValue" decimalPlaces="3" value="#{frequenciesVO.ffValue}" styleClass="min-width-one"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_positive_value')}"  validatorMessage="#{userManageBean.getResourceBundleString('message_positive_value')}">
                            <f:validateDoubleRange minimum="0.001" />
                            <p:ajax update="@form" listener="#{copyEditFaultFrequenciesBean.updateBean()}"/> 
                        </p:inputNumber>                       
                        <p:message for="ffValue"><p:autoUpdate/></p:message>
                    </p:column>                    
                    <p:column style="width:25px">
                        <p:commandLink action="#{copyEditFaultFrequenciesBean.deleteApAlRow(frequenciesVO)}" update="@form">
                            <i class="pi pi-trash"/>
                            <p:ajax listener="#{copyEditFaultFrequenciesBean.updateBean()}"/> 
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" value="#{userManageBean.getResourceBundleString('btn_save')}" id="faultFrequenciesSaveId" action="#{copyEditFaultFrequenciesBean.submit()}" onstart="readPageSize('dt-setNameFaultFrequenciesId_rppDD')" oncomplete="setPageSize('dt-setNameFaultFrequenciesId_rppDD',10)" update="@form nonAutoGrowlId" disabled="#{!copyEditFaultFrequenciesBean.enabled}" /> 
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultSecondDlg').hide()"/>
            </div>
            <p:blockUI block="copyEditFaultFrequenciesFormId" trigger="faultFrequenciesSaveId"/>
        </h:form>
    </div>    
</ui:composition>
