<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class="card layout-copy-edit-point-location-name">
        <h:form id="copyEditPointLocationNameFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_siteName')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="siteName" value="#{userManageBean.getCurrentSite().siteName}" styleClass="min-width-one" disabled="#{true}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_point_location_name')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="pointLocationName" value="#{copyEditPointLocationNameBean.pointLocationNamesVO.pointLocationName}" disabled="#{copyEditPointLocationNameBean.operationType eq 1}" styleClass="min-width-one"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <p:ajax event="blur" listener="#{copyEditPointLocationNameBean.onPointLocationNameChange()}" update="pointLocationNameSaveId copyEditPointLocationNameFormId:pointLocationName nonAutoGrowlId"/>
                        </p:inputText>
                        <p:message for="pointLocationName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding"> 
                        <p:inputText id="description" value="#{copyEditPointLocationNameBean.pointLocationNamesVO.description}" styleClass="min-width-one"/>
                    </p:column>  
                </p:row>
            </p:panelGrid>   

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" value="#{userManageBean.getResourceBundleString('btn_save')}" id="pointLocationNameSaveId" action="#{copyEditPointLocationNameBean.submit()}" onstart="readPageSize('pointLocationNamesDatatableId_rppDD')" oncomplete="setPageSize('pointLocationNamesDatatableId_rppDD',10)" update="@form nonAutoGrowlId" disabled="#{copyEditPointLocationNameBean.pointLocationNamesVO.pointLocationName eq null or copyEditPointLocationNameBean.pointLocationNamesVO.pointLocationName eq ''}"/> 
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="copyEditPointLocationNameFormId" trigger="pointLocationNameSaveId"/>
        </h:form>
    </div>    
</ui:composition>