<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-copy-edit-presets-asset">
        <h:form id="copyEditPresetsAssetFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="deviceSiteName" value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputText id="deviceSiteName" value="#{copyEditPresetsAssetBean.siteOrGlobal}" required="true" styleClass="min-width-one" disabled="#{true}" />
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="assetTemplateName" value="#{userManageBean.getResourceBundleString('label_asset_template_name')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="assetTemplateName" value="#{copyEditPresetsAssetBean.assetPresetVO.assetPresetName}" required="true" 
                                     validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" 
                                     requiredMessage="#{userManageBean.getResourceBundleString('message_asset_template_required')}" 
                                     styleClass="min-width-one">                            
                            <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                            <p:ajax listener="#{copyEditPresetsAssetBean.updateBean()}" update="@this copyEditPresetsAssetFormId:assetPresetSaveId copyEditPresetsAssetFormId:addpointLocationBtnId"/>
                        </p:inputText>
                        <p:message for="assetTemplateName" styleClass="min-width-one"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="assetType" value="#{userManageBean.getResourceBundleString('label_asset_type')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="assetType" value="#{copyEditPresetsAssetBean.assetPresetVO.assetTypeName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_type_required')}"  styleClass="min-width-one" disabled="#{copyEditPresetsAssetBean.operationType eq 1}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsAssetBean.assetTypeList}"/>                           
                            <p:ajax listener="#{copyEditPresetsAssetBean.updateBean()}" update="@this"/>
                        </p:selectOneMenu>
                        <p:message for="assetType" styleClass="min-width-one"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="sampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputNumber id="sampleInterval" minValue="0" value="#{copyEditPresetsAssetBean.assetPresetVO.sampleInterval}" converterMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" required="true"  requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}"  styleClass="min-width-one">
                            <f:validateLongRange minimum="1" />
                            <p:ajax update="sampleIntervalMessage @this copyEditPresetsAssetFormId:assetPresetSaveId"/>
                        </p:inputNumber>
                        <p:message id="sampleIntervalMessage" for="sampleInterval" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="description" value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputTextarea id="description" value="#{copyEditPresetsAssetBean.assetPresetVO.description}" styleClass="min-width-one" >
                            <p:ajax listener="#{copyEditPresetsAssetBean.updateBean()}" update="@this" />    
                        </p:inputTextarea>
                    </p:column>
                    <p:column styleClass="right-padding"/>
                    <p:column />
                </p:row>
            </p:panelGrid> 

            <div class="center-btn-div no-top-margin">
                <p:commandButton id="addpointLocationBtnId" value="#{userManageBean.getResourceBundleString('btn_add_point_location')}" action="#{copyEditPresetsAssetBean.openPointLocationOverlay()}" process="@this" update="copyEditPresetsAssetFormId:assetPresetSaveId" oncomplete="PF('defaultSecondDlg').show()" disabled="#{copyEditPresetsAssetBean.assetPresetVO.assetPresetName eq null or copyEditPresetsAssetBean.assetPresetVO.assetPresetName.trim() eq '' or copyEditPresetsAssetBean.assetPresetVO.assetTypeName eq null or copyEditPresetsAssetBean.assetPresetVO.sampleInterval le 0}"/>
            </div>

            <p:scrollPanel mode="native">
                <p:dataTable id="pointLocationDatatableId" var="pointLocation" value="#{copyEditPresetsAssetBean.assetPresetVO.assetPresetPointLocationVOList}" paginatorPosition="top"  styleClass="datatable-layout-two" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" style="width:12.5%;" styleClass="text-align-center  table-column-title-left-column-border-right-border">
                        <p:outputLabel value="#{pointLocation.pointLocationName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_tachName')}" style="width:12.5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{pointLocation.tachName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_speedRatio')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{copyEditPresetsAssetBean.convertNullToNA(pointLocation.speedRatioText)}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_rollDiameter')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{copyEditPresetsAssetBean.convertNullToNA(pointLocation.rollDiameterText)}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}" style="width:10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{copyEditPresetsAssetBean.convertNullToNA(pointLocation.rollDiameterUnits)}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}" style="width:28.5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{pointLocation.ffSetNames}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_device_type')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{pointLocation.deviceType}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_device_template')}" style="width:12.5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{pointLocation.deviceName}" id="deviceTemplate"/>
                        <p:outputLabel id="deviceTemplateTooltip">
                            <i class="pi pi-info-circle" />
                        </p:outputLabel>
                        <p:tooltip id="tooltipdeviceTemplateTooltip" for="deviceTemplateTooltip" styleClass="max-width-900" position="left">
                            <p:dataTable id="deviceTamplatetableId"  var="deviceTamplateList"  value="#{pointLocation.distinctDevicePresetList}" paginatorPosition="top" styleClass="datatable-layout-two" >
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                    <p:outputLabel value="#{deviceTamplateList.pointName}"/>
                                </p:column>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                    <p:outputLabel value="#{deviceTamplateList.sensorType}"/>
                                </p:column>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                    <p:outputLabel value="#{deviceTamplateList.apSetName}"/>
                                </p:column>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                    <p:outputLabel value="#{deviceTamplateList.alSetName}"/>
                                </p:column>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                    <p:outputLabel value="#{deviceTamplateList.alarmEnabledValue}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tooltip>
                    </p:column>

                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px;" rendered="#{admin or superAdmins}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                        <p:commandLink id ="cmdCopy" action="#{copyEditPresetsAssetBean.setAssetPointLocationDialog(pointLocation, 2)}" process="@this" onstart="" oncomplete="PF('defaultSecondDlg').show()" >
                            <i class="pi pi-copy" />
                        </p:commandLink>  
                        <p:commandLink id="cmdEdit" action="#{copyEditPresetsAssetBean.setAssetPointLocationDialog(pointLocation, 1)}" process="@this" oncomplete="PF('defaultSecondDlg').show()" >
                            <i class="fa fa-pencil-square-o" />
                        </p:commandLink>
                        <p:commandLink id ="cmdTrash" action="#{copyEditPresetsAssetBean.delete(pointLocation, 'pointLocationNames')}" process="@this" update="nonAutoGrowlId" >
                            <i class="pi pi-trash" />
                        </p:commandLink>
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>   

            <div class="center-btn-div">
                <p:commandButton type="submit" styleClass="left-btn" action="#{copyEditPresetsAssetBean.submit()}" value="#{userManageBean.getResourceBundleString('btn_save')}" id="assetPresetSaveId" update="@form nonAutoGrowlId" disabled="#{copyEditPresetsAssetBean.assetPresetVO.assetPresetPointLocationVOList.size() le 0 }"/> 
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="copyEditPresetsAssetFormId" trigger="assetPresetSaveId"/>
        </h:form>
    </div>    
</ui:composition>
