<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-copy-edit-preset-point-location">
        <h:form id="copyEditAssetPresetPointLocationFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column>
                        <p:outputLabel for="ptLoName" value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding right-padding">   
                        <p:selectOneMenu id="ptLoName"  value="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_location_name_required')}" styleClass="min-width-one" disabled="#{copyEditPresetsPointLocationBean.operationType eq 1}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsPointLocationBean.pointLocationNameList}"/>
                            <p:ajax listener="#{copyEditPresetsPointLocationBean.onDeviceTemplateChange()}" update="@form"/>
                        </p:selectOneMenu>
                        <p:message for="ptLoName"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:outputLabel for="tachName" value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding">
                        <p:selectOneMenu id="tachName" value="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.tachId}" converter="uuidConverter" disabled="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsPointLocationBean.tachometersList}" var="tachomList"  itemValue="#{tachomList.value}" itemLabel="#{tachomList.label}"/>
                            <p:ajax listener="#{copyEditPresetsPointLocationBean.onTachChange(true)}" update="@form" />
                        </p:selectOneMenu>
                        <p:message for="tachName" />
                    </p:column>
                </p:row>

                <p:row rendered="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.tachId ne null and copyEditPresetsPointLocationBean.assetPresetPointLocationVO.tachReferenceUnits ne null and copyEditPresetsPointLocationBean.assetPresetPointLocationVO.tachReferenceUnits eq 'FPM'}">
                    <p:column>
                        <p:outputLabel for="roll_diameter" value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding right-padding">    
                        <p:inputNumber id="roll_diameter" decimalPlaces="4" value="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.rollDiameter}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" disabled="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}" styleClass="min-width-one">
                            <f:validateDoubleRange minimum="0.0001" />
                            <p:ajax listener="#{copyEditPresetsPointLocationBean.updateBean()}" update="@this" />  
                        </p:inputNumber>
                        <p:message id="roll_diameterMessage" for="roll_diameter" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:outputLabel for="roll_diameter_units" value="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding">    
                        <p:selectOneMenu id="roll_diameter_units" value="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.rollDiameterUnits}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_roll_diameter_units_required')}" disabled="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsPointLocationBean.rollDiameterUnitsList}" var="rollDiamUnitList"  itemValue="#{rollDiamUnitList.value}" itemLabel="#{rollDiamUnitList.label}"/>
                            <p:ajax listener="#{copyEditPresetsPointLocationBean.updateBean()}" update="@this" />
                        </p:selectOneMenu>
                        <p:message for="roll_diameter_units"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>

                <p:row rendered="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.tachId ne null and copyEditPresetsPointLocationBean.assetPresetPointLocationVO.tachReferenceUnits ne null and copyEditPresetsPointLocationBean.assetPresetPointLocationVO.tachReferenceUnits eq 'RPM'}">
                    <p:column>
                        <p:outputLabel for="speed_ratio" value="#{userManageBean.getResourceBundleString('label_speedRatio')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding right-padding">    
                        <p:inputNumber id="speed_ratio" value="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.speedRatio}" required="true" decimalPlaces="4" requiredMessage="#{userManageBean.getResourceBundleString('label_speedRatio_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_speed_ratio_minimum')}" disabled="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}" styleClass="min-width-one">
                           <f:validateDoubleRange minimum="0.0001" />
                            <p:ajax listener="#{copyEditPresetsPointLocationBean.updateBean()}" update="@this" />  
                        </p:inputNumber>
                        <p:message id="speed_ratioMessage" for="speed_ratio" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                    <p:column styleClass="left-padding"/>
                    <p:column styleClass="left-padding"/>
                </p:row>

                <p:row>
                    <p:column>
                        <p:outputLabel for="ffsetnames" value="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}:"/>
                    </p:column> 
                    <p:column styleClass="left-padding right-padding">
                        <p:selectCheckboxMenu id="ffsetnames" value="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.ffSetName}" label="#{userManageBean.getResourceBundleString('application_select_sets')}" disabled="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}" styleClass="min-width-one" filter="true" filterMatchMode="contains"  multiple="true">
                            <f:selectItems value="#{copyEditPresetsPointLocationBean.faultFrequenciesList}" var="ffList"  itemValue="#{ffList.value}" itemLabel="#{ffList.label}"/>
                            <p:ajax listener="#{copyEditPresetsPointLocationBean.updateBean()}"/>
                        </p:selectCheckboxMenu>
                    </p:column>
                    <p:column styleClass="left-padding"/>
                    <p:column styleClass="left-padding"/>
                </p:row>
                
                <p:row>
                    <p:column >
                        <p:outputLabel for="deviceType" value="#{userManageBean.getResourceBundleString('label_device_type')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding right-padding">
                        <p:selectOneMenu id="deviceType" value="#{copyEditPresetsPointLocationBean.selectedDeviceType}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}" disabled="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsPointLocationBean.deviceTypeList}"/>
                            <p:ajax listener="#{copyEditPresetsPointLocationBean.onDeviceTypeChange()}" update="@this copyEditAssetPresetPointLocationFormId:deviceTypeTemplate copyEditAssetPresetPointLocationFormId:copyEditPointLocationSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="deviceType"><p:autoUpdate/></p:message>
                    </p:column> 
                    <p:column styleClass="left-padding">
                        <p:outputLabel for="deviceTypeTemplate" value="#{userManageBean.getResourceBundleString('label_device_template')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding right-padding">
                        <p:selectOneMenu id="deviceTypeTemplate" value="#{copyEditPresetsPointLocationBean.selectedDevicePresetId}" converter="uuidConverter"   styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}" disabled="#{copyEditPresetsPointLocationBean.selectedDeviceType eq '' or copyEditPresetsPointLocationBean.selectedDeviceType eq null or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq '' or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null}" >
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{copyEditPresetsPointLocationBean.deviceTypesList}"  var="dtList"  itemValue="#{dtList.value}" itemLabel="#{dtList.label}"/>                           
                            <p:ajax listener="#{copyEditPresetsPointLocationBean.onDeviceTemplateChange()}" update="@this copyEditAssetPresetPointLocationFormId:deviceTamplatetableId copyEditAssetPresetPointLocationFormId:copyEditPointLocationSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="deviceTypeTemplate"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
            </p:panelGrid>
            
            <p:scrollPanel mode="native">
                <p:dataTable id="deviceTamplatetableId" var="deviceTamplateList"  value="#{copyEditPresetsPointLocationBean.distinctDevicePresetList}" paginatorPosition="top"  styleClass="datatable-layout-two" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" styleClass="text-align-center  table-column-title-left-column-border-right-border">
                        <p:outputLabel value="#{deviceTamplateList.pointName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{deviceTamplateList.sensorType}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{deviceTamplateList.apSetName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{deviceTamplateList.alSetName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                        <p:outputLabel value="#{deviceTamplateList.alarmEnabledValue}"/>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>   

            <div class="center-btn-div" >
                <p:commandButton ajax="true" styleClass="left-btn" id="copyEditPointLocationSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{copyEditPresetsPointLocationBean.submit()}"
                                 update="copyEditAssetPresetPointLocationFormId nonAutoGrowlId" onstart="readPageSize('deviceTamplatetableId')" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultSecondDlg').hide(); updateTreeNodes(); setPageSize('pointLocationDataTableId_rppDD',25)"
                                 disabled="#{copyEditPresetsPointLocationBean.assetPresetPointLocationVO.pointLocationName eq null or copyEditPresetsPointLocationBean.assetPresetPointLocationVO.tachId eq null or copyEditPresetsPointLocationBean.selectedDeviceType eq null or copyEditPresetsPointLocationBean.selectedDevicePresetId eq null}"/>
              
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{copyEditPresetsPointLocationBean.resetPage()}" onclick="PF('defaultSecondDlg').hide()"/>
            </div>
            <p:blockUI block="copyEditAssetPresetPointLocationFormId" trigger="copyEditPointLocationSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
