<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-copy-edit-tachometers">
        <h:form id="copyEditTachometersFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_siteName')}:" for="copyEditTachometersSiteNameId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="copyEditTachometersSiteNameId" value="#{userManageBean.getCurrentSite().siteName}" styleClass="min-width-one" disabled="#{true}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_type')}:" for="copyEditTachometersTypeId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu value="#{copyEditTachometersBean.tachometerVO.tachType}" id="copyEditTachometersTypeId" styleClass="min-width-one" disabled="true">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_tachType_constantSpeed')}" itemValue="Constant Speed"/>
                            <p:ajax listener="#{copyEditTachometersBean.onTachTypeChange()}" update="copyEditTachometersFormId"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_tachName')}:" for="copyEditTachometersTachNameId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="copyEditTachometersTachNameId" value="#{copyEditTachometersBean.tachometerVO.tachName}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}"> 
                            <p:ajax update="@form"/>
                        </p:inputText>
                        <p:message for="copyEditTachometersTachNameId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>                
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_reference_speed')}:" for="copyEditTachometersReferenceSpeedId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="copyEditTachometersReferenceSpeedId" value="#{copyEditTachometersBean.tachometerVO.tachReferenceSpeed}" modifyValueOnWheel="false" minValue="0" styleClass="min-width-one">
                            <p:ajax update="@form"/>
                        </p:inputNumber>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_speed_unit')}:" for="tachSpeedUnitId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu value="#{copyEditTachometersBean.tachometerVO.tachReferenceUnits}" id="tachSpeedUnitId" required="true" styleClass="min-width-one" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />                               
                            <f:selectItems value="#{copyEditTachometersBean.tachReferenceUnitList}"/>
                            <p:ajax update="@form"/>
                        </p:selectOneMenu>
                        <p:message for="tachSpeedUnitId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="copyEditTachometersSaveId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{copyEditTachometersBean.submit()}" 
                                 onstart="readPageSize('siteTachometersTableId_rppDD')" oncomplete="setPageSize('siteTachometersTableId_rppDD',10)"
                                 update="@form nonAutoGrowlId" disabled="#{copyEditTachometersBean.tachometerVO.tachType eq null or copyEditTachometersBean.tachometerVO.tachType.length() eq 0
                                                                           or copyEditTachometersBean.tachometerVO.tachReferenceUnits eq '' or copyEditTachometersBean.tachometerVO.tachReferenceUnits eq null}"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="copyEditTachometersFormId" trigger="copyEditTachometersSaveId"/>
        </h:form>

        <p:dialog header="Calculator" widgetVar="calc">
            <h:form id="updateReferenceRPMFormId">
                <p:panelGrid styleClass="panelgrid-layout-one">
                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_fpm')}:" for="fpmId" styleClass="block-label"/>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="fpmId" value="#{copyEditTachometersBean.tachometerVO.fpm}" styleClass="min-width-one" required="true"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:" for="rollDiameterId" styleClass="block-label"/>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="rollDiameterId" value="#{copyEditTachometersBean.tachometerVO.rollDiameter}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}"/>                                       
                            <p:message for="rollDiameterId"><p:autoUpdate/></p:message>
                        </p:column>
                    </p:row>   
                </p:panelGrid>

                <div class="center-btn-div">
                    <p:commandButton styleClass="left-btn" id="updateId" value="#{userManageBean.getResourceBundleString('btn_calculate')}" action="#{copyEditTachometersBean.calculateReferenceRPM()}" onstart="readPageSize('siteTachometersTableId_rppDD')" oncomplete="setPageSize('siteTachometersTableId_rppDD',10)" />
                    <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('calc').hide()"/>
                </div>
            </h:form>
        </p:dialog>
    </div>
</ui:composition>
