<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class="card layout-create-point-location-name">
        <h:form id="createPointLocationNameFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_siteName')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:selectOneMenu id="siteName" value="#{createPointLocationNameBean.siteOrGlobal}" styleClass="min-width-one" required="true">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_global')}" itemValue="global"/>
                            <f:selectItem itemLabel="#{userManageBean.currentSite.siteName}" itemValue="site"/>
                            <p:ajax  event="change" listener="#{createPointLocationNameBean.onSiteChange()}" update="createPointLocationNameFormId:pointLocationNameSaveId createPointLocationNameFormId:pointLocationNameSaveId1 createPointLocationNameFormId:pointLocationNameSaveId2 createPointLocationNameFormId:pointLocationName nonAutoGrowlId"/>
                        </p:selectOneMenu>                        
                        <p:message for="siteName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_point_location_name')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="pointLocationName" value="#{createPointLocationNameBean.pointLocationNamesVO.pointLocationName}" styleClass="min-width-one"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <p:ajax event="blur" listener="#{createPointLocationNameBean.onPointLocationNameChange()}" update="createPointLocationNameFormId:pointLocationNameSaveId createPointLocationNameFormId:pointLocationNameSaveId1 createPointLocationNameFormId:pointLocationNameSaveId2 createPointLocationNameFormId:pointLocationName nonAutoGrowlId"/>
                        </p:inputText>
                        <p:message for="pointLocationName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding"> 
                        <p:inputText id="description" value="#{createPointLocationNameBean.pointLocationNamesVO.description}" styleClass="min-width-one"/>
                    </p:column>  
                </p:row>
            </p:panelGrid>   

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn " value="#{userManageBean.getResourceBundleString('btn_save')}" id="pointLocationNameSaveId2" onclick="saveBtn()" disabled="#{createPointLocationNameBean.siteOrGlobal eq null or createPointLocationNameBean.siteOrGlobal eq '' or createPointLocationNameBean.pointLocationNamesVO.pointLocationName eq null or createPointLocationNameBean.pointLocationNamesVO.pointLocationName eq ''}" 
                                 update="@form nonAutoGrowlId"/> 
                <p:commandButton styleClass="left-btn hide-component" value="#{userManageBean.getResourceBundleString('btn_save')}" id="pointLocationNameSaveId" action="#{createPointLocationNameBean.submit()}" disabled="#{createPointLocationNameBean.siteOrGlobal eq null or createPointLocationNameBean.siteOrGlobal eq '' or createPointLocationNameBean.pointLocationNamesVO.pointLocationName eq null or createPointLocationNameBean.pointLocationNamesVO.pointLocationName eq ''}" 
                                 onstart="readPageSize('pointLocationNamesDatatableId_rppDD')" oncomplete="setPageSize('pointLocationNamesDatatableId_rppDD',10)"
                                 update="@form nonAutoGrowlId"/> 
                <p:commandButton styleClass="left-btn hide-component" value="#{userManageBean.getResourceBundleString('btn_save')}" id="pointLocationNameSaveId1" action="#{createPointLocationNameBean.submit()}" disabled="#{createPointLocationNameBean.siteOrGlobal eq null or createPointLocationNameBean.siteOrGlobal eq '' or createPointLocationNameBean.pointLocationNamesVO.pointLocationName eq null or createPointLocationNameBean.pointLocationNamesVO.pointLocationName eq ''}" 
                                 onstart="readPageSize('pointLocationNamesDatatableId_rppDD')" oncomplete="setPageSize('pointLocationNamesDatatableId_rppDD',10)"
                                 update="@form nonAutoGrowlId">
                    <p:confirm header="Confirmation" message="#{userManageBean.getResourceBundleString('confirm_create_pl_name')}" icon="pi pi-exclamation-triangle"/>
                </p:commandButton>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="createPointLocationNameFormId" trigger="pointLocationNameSaveId"/>
            <p:blockUI block="createPointLocationNameFormId" trigger="pointLocationNameSaveId1"/>
        </h:form>
    </div>  
        
    <script type="text/javascript">
            function saveBtn() {
                if($('#createPointLocationNameFormId\\:siteName_input').val()==='global') {
                    $('#createPointLocationNameFormId\\:pointLocationNameSaveId1').click();
                } else {
                    $('#createPointLocationNameFormId\\:pointLocationNameSaveId').click();
                }
            }
        </script>
</ui:composition>