<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-tachometer">
        <h:form id="createTachometersFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_siteName')}: *"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="siteNameId" value="#{createTachometerBean.siteOrGlobal}" styleClass="min-width-one" >
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_global')}" itemValue="global"/>
                            <f:selectItem itemLabel="#{userManageBean.currentSite.siteName}" itemValue="site"/>
                            <p:ajax update="@form"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_type')}:" for="tachTypeId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu value="#{createTachometerBean.tachometerVO.tachType}" id="tachTypeId" styleClass="min-width-one" disabled="true">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />                               
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_tachType_constantSpeed')}" itemValue="Constant Speed"/>
                            <p:ajax update="@form"/>
                        </p:selectOneMenu>

                    </p:column>
                </p:row> 
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_tachName')}:" for="createTachometersTachNameId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="createTachometersTachNameId" value="#{createTachometerBean.tachometerVO.tachName}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <p:ajax update="@form"/>
                        </p:inputText>
                        <p:message for="createTachometersTachNameId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>                               
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_reference_speed')}:" for="tachReferenceSpeedId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="tachReferenceSpeedId" value="#{createTachometerBean.tachometerVO.tachReferenceSpeed}" minValue="0" styleClass="min-width-one">
                            <p:ajax update="@form"/>
                        </p:inputNumber>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_speed_unit')}:" for="tachSpeedUnitId" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu value="#{createTachometerBean.tachometerVO.tachReferenceUnits}" id="tachSpeedUnitId" required="true" styleClass="min-width-one" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />                               
                            <f:selectItems value="#{createTachometerBean.tachReferenceUnitList}"/>
                            <p:ajax update="@form"/>
                        </p:selectOneMenu>
                        <p:message for="tachSpeedUnitId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="createTachometersSaveId2" value="#{userManageBean.getResourceBundleString('btn_save')}" onclick="saveBtn();"
                                 update="@form nonAutoGrowlId" disabled="#{createTachometerBean.siteOrGlobal eq null or createTachometerBean.siteOrGlobal eq '' 
                                                                                             or createTachometerBean.tachometerVO.tachName eq null or createTachometerBean.tachometerVO.tachName eq '' 
                                                                                             or createTachometerBean.tachometerVO.tachReferenceUnits eq '' or createTachometerBean.tachometerVO.tachReferenceUnits eq null}"/>
                <p:commandButton styleClass="hide-component left-btn" id="createTachometersSaveId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createTachometerBean.submit()}" 
                                 onstart="readPageSize('siteTachometersTableId_rppDD')" oncomplete="setPageSize('siteTachometersTableId_rppDD',10)"
                                 update="@form nonAutoGrowlId" disabled="#{createTachometerBean.siteOrGlobal eq null or createTachometerBean.siteOrGlobal eq '' 
                                                                                             or createTachometerBean.tachometerVO.tachName eq null or createTachometerBean.tachometerVO.tachName eq '' 
                                                                                             or createTachometerBean.tachometerVO.tachReferenceUnits eq '' or createTachometerBean.tachometerVO.tachReferenceUnits eq null}"/>
                <p:commandButton styleClass="hide-component left-btn" id="createTachometersSaveId1" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createTachometerBean.submit()}" 
                                 onstart="readPageSize('siteTachometersTableId_rppDD')" oncomplete="setPageSize('siteTachometersTableId_rppDD',10)"
                                 update="@form nonAutoGrowlId" disabled="#{createTachometerBean.siteOrGlobal eq null or createTachometerBean.siteOrGlobal eq '' 
                                                                                             or createTachometerBean.tachometerVO.tachName eq null or createTachometerBean.tachometerVO.tachName eq '' 
                                                                                             or createTachometerBean.tachometerVO.tachReferenceUnits eq '' or createTachometerBean.tachometerVO.tachReferenceUnits eq null}">
                    <p:confirm header="Confirmation" message="#{userManageBean.getResourceBundleString('confirm_create_tachometer')}" icon="pi pi-exclamation-triangle"/>
                </p:commandButton>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="createTachometersFormId" trigger="createTachometersSaveId"/>
            <p:blockUI block="createTachometersFormId" trigger="createTachometersSaveId1"/>
        </h:form>
    </div>
    <script type="text/javascript">
        function saveBtn() {
            if($('#createTachometersFormId\\:siteNameId_input').val()==='global') {
                $('#createTachometersFormId\\:createTachometersSaveId1').click();
            } else {
                $('#createTachometersFormId\\:createTachometersSaveId').click();
            }
        }
    </script>

</ui:composition>
