<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-presets-asset">
        <h:form id="createAssetsFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="assetSiteName" value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:selectOneMenu id="assetSiteName" value="#{createPresetsAssetBean.siteOrGlobal}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_global')}" itemValue="global"/>
                            <f:selectItem itemLabel="#{userManageBean.currentSite.siteName}" itemValue="site"/>
                            <p:ajax listener="#{createPresetsAssetBean.onSiteChange()}" update="createAssetsFormId:assetPresetSaveId2 createAssetsFormId:addpointLocationBtnId createAssetsFormId:pointLocationDatatableId"/>
                        </p:selectOneMenu>
                        <p:message for="assetSiteName"><p:autoUpdate/></p:message>
                    </p:column>      
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="assetTemplateName" value="#{userManageBean.getResourceBundleString('label_asset_template_name')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="assetTemplateName" value="#{createPresetsAssetBean.assetPresetVO.assetPresetName}" required="true" 
                                     validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" 
                                     requiredMessage="#{userManageBean.getResourceBundleString('message_asset_template_required')}" 
                                     styleClass="min-width-one">
                            <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                            <p:ajax listener="#{createPresetsAssetBean.updateBean()}" update="@this createAssetsFormId:addpointLocationBtnId"/>
                        </p:inputText>
                        <p:message for="assetTemplateName" styleClass="min-width-one"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="assetType" value="#{userManageBean.getResourceBundleString('label_asset_type')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="assetType" value="#{createPresetsAssetBean.assetPresetVO.assetTypeName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_type_required')}"  styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createPresetsAssetBean.assetTypeList}"/>                           
                            <p:ajax listener="#{createPresetsAssetBean.updateBean()}" update="@this createAssetsFormId:addpointLocationBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="assetType" styleClass="min-width-one"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="sampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputNumber id="sampleInterval" minValue="0" value="#{createPresetsAssetBean.assetPresetVO.sampleInterval}" converterMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" required="true"  requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}"  styleClass="min-width-one">
                            <f:validateLongRange minimum="1" />
                            <p:ajax update="sampleIntervalMessage @this createAssetsFormId:addpointLocationBtnId"/>
                        </p:inputNumber>
                        <p:message id="sampleIntervalMessage" for="sampleInterval" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="description" value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputTextarea id="description" value="#{createPresetsAssetBean.assetPresetVO.description}" styleClass="min-width-one" >
                            <p:ajax listener="#{createPresetsAssetBean.updateBean()}" update="@this" />    
                        </p:inputTextarea>
                    </p:column>
                    <p:column styleClass="right-padding"/>
                    <p:column />
                </p:row>
            </p:panelGrid> 

            <div class="center-btn-div no-top-margin">
                <p:commandButton id="addpointLocationBtnId" value="#{userManageBean.getResourceBundleString('btn_add_point_location')}" action="#{createPresetsAssetBean.openPointLocationOverlay()}" process="@this" update="createAssetsFormId:assetPresetSaveId" oncomplete="PF('defaultSecondDlg').show()" disabled="#{createPresetsAssetBean.siteOrGlobal eq null or createPresetsAssetBean.assetPresetVO.assetPresetName eq null or createPresetsAssetBean.assetPresetVO.assetPresetName.trim() eq '' or createPresetsAssetBean.assetPresetVO.assetTypeName eq null or createPresetsAssetBean.assetPresetVO.sampleInterval le 0}"/>
            </div>

            <p:scrollPanel mode="native">
                <p:dataTable id="pointLocationDatatableId" var="pointLocation" value="#{createPresetsAssetBean.assetPresetVO.assetPresetPointLocationVOList}" paginatorPosition="top"  styleClass="datatable-layout-two" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" style="width:12.5%;" styleClass="text-align-center  table-column-title-left-column-border-right-border">
                        <p:outputLabel value="#{pointLocation.pointLocationName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_tachName')}" style="width:12.5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{pointLocation.tachName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_speedRatio')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{createPresetsAssetBean.convertNullToNA(pointLocation.speedRatioText)}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_rollDiameter')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{createPresetsAssetBean.convertNullToNA(pointLocation.rollDiameterText)}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}" style="width:10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{createPresetsAssetBean.convertNullToNA(pointLocation.rollDiameterUnits)}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}" style="width:28.5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{pointLocation.ffSetNames}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_device_type')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{pointLocation.deviceType}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_device_template')}" style="width:12.5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{pointLocation.deviceName}"  id="deviceTemplate" />
                        <p:outputLabel id="deviceTemplateTooltip">
                            <i class="pi pi-info-circle" />
                        </p:outputLabel>
                        <p:tooltip id="tooltipdeviceTemplateTooltip" for="deviceTemplateTooltip" styleClass="max-width-900" position="left">
                            <p:dataTable id="deviceTamplatetableId"  var="deviceTamplateList"  value="#{pointLocation.distinctDevicePresetList}" paginatorPosition="top"  styleClass="datatable-layout-two" >
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_pointName')}" styleClass="text-align-center  table-column-title-left-column-border-right-border">
                                    <p:outputLabel value="#{deviceTamplateList.pointName}"/>
                                </p:column>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                    <p:outputLabel value="#{deviceTamplateList.sensorType}"/>
                                </p:column>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                    <p:outputLabel value="#{deviceTamplateList.apSetName}"/>
                                </p:column>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_al_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                    <p:outputLabel value="#{deviceTamplateList.alSetName}"/>
                                </p:column>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                    <p:outputLabel value="#{deviceTamplateList.alarmEnabledValue}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tooltip>
                    </p:column>

                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px;" rendered="#{admin or superAdmins}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                        <p:commandLink id ="cmdCopy" action="#{createPresetsAssetBean.setPointLocationDialog(pointLocation, 2)}" process="@this" onstart="" oncomplete="PF('defaultSecondDlg').show()" disabled="#{createPresetsAssetBean.siteOrGlobal eq null or createPresetsAssetBean.assetPresetVO.assetPresetName eq null or createPresetsAssetBean.assetPresetVO.assetPresetName.trim() eq '' or createPresetsAssetBean.assetPresetVO.assetTypeName eq null or createPresetsAssetBean.assetPresetVO.sampleInterval le 0}">
                            <i class="pi pi-copy" />
                        </p:commandLink>  
                        <p:commandLink id="cmdEdit" action="#{createPresetsAssetBean.setPointLocationDialog(pointLocation, 1)}" process="@this" oncomplete="PF('defaultSecondDlg').show()" disabled="#{createPresetsAssetBean.siteOrGlobal eq null or createPresetsAssetBean.assetPresetVO.assetPresetName eq null or createPresetsAssetBean.assetPresetVO.assetPresetName.trim() eq '' or createPresetsAssetBean.assetPresetVO.assetTypeName eq null or createPresetsAssetBean.assetPresetVO.sampleInterval le 0}">
                            <i class="fa fa-pencil-square-o" />
                        </p:commandLink>
                        <p:commandLink id ="cmdTrash" action="#{createPresetsAssetBean.delete(pointLocation, 'pointLocationNames')}" process="@this" update="nonAutoGrowlId" disabled="#{createPresetsAssetBean.siteOrGlobal eq null or createPresetsAssetBean.assetPresetVO.assetPresetName eq null or createPresetsAssetBean.assetPresetVO.assetPresetName.trim() eq '' or createPresetsAssetBean.assetPresetVO.assetTypeName eq null or createPresetsAssetBean.assetPresetVO.sampleInterval le 0}">
                            <i class="pi pi-trash" />
                        </p:commandLink>
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>   

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" value="#{userManageBean.getResourceBundleString('btn_save')}" id="assetPresetSaveId2" onclick="saveBtn()" disabled="#{createPresetsAssetBean.assetPresetVO.assetPresetPointLocationVOList.size() le 0 }" 
                                 update="@form nonAutoGrowlId"/> 
                <p:commandButton type="submit" styleClass="left-btn hide-component" action="#{createPresetsAssetBean.submit()}" value="#{userManageBean.getResourceBundleString('btn_save')}" id="assetPresetSaveId" update="@form nonAutoGrowlId" disabled="#{createPresetsAssetBean.assetPresetVO.assetPresetPointLocationVOList.size() le 0 }"/> 
                <p:commandButton type="submit" styleClass="left-btn hide-component" action="#{createPresetsAssetBean.submit()}" value="#{userManageBean.getResourceBundleString('btn_save')}" id="assetPresetSaveId1" update="@form nonAutoGrowlId" disabled="#{createPresetsAssetBean.assetPresetVO.assetPresetPointLocationVOList.size() le 0 }">
                    <p:confirm header="Confirmation" message="#{userManageBean.getResourceBundleString('confirm_create_asset_name')}" icon="pi pi-exclamation-triangle"/>
                </p:commandButton>    
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="createAssetsFormId" trigger="assetPresetSaveId"/>
            <p:blockUI block="createAssetsFormId" trigger="assetPresetSaveId1"/>
        </h:form>        
    </div>    
    <script type="text/javascript">
        function saveBtn() {
            if ($('#createAssetsFormId\\:assetSiteName_input').val() === 'global') {
                $('#createAssetsFormId\\:assetPresetSaveId1').click();
            } else {
                $('#createAssetsFormId\\:assetPresetSaveId').click();
            }
        }
    </script>
</ui:composition>
