<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-bearing-catalog">
        <h:form id="createBearingCatalogFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">               
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_vendor')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:selectOneMenu id="vendor" filter="true"  value="#{createBearingCatalogBean.selectedVendor}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createBearingCatalogBean.vendorList}"/>
                            <p:ajax listener="#{createBearingCatalogBean.onVendorChange()}" update="createBearingCatalogFormId:dt-bearing-catalog createBearingCatalogFormId:bearingCatalogSavePanelId"/>
                        </p:selectOneMenu>
                        <p:message for="vendor"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
            </p:panelGrid> 

            <p:scrollPanel mode="native">
                <p:dataTable id="dt-bearing-catalog" var="catalog" 
                             widgetVar="dtCatalog" 
                             value="#{createBearingCatalogBean.bearingCatalogVOs}" 
                             rowIndexVar="rowId" rowKey="#{catalog.bearingId}" 
                             emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}"
                             paginator="true" rows="#{createBearingCatalogBean.rowsPerPage}" resizableColumns="true"
                             selection="#{createBearingCatalogBean.selectedBearingCatalogs}" selectionPageOnly="false"
                             rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" rowSelectMode="checkbox"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             sortMode="single" styleClass="datatable-layout-three datatable-layout-header-filters" paginatorPosition="top">

                    <p:ajax event="rowSelect" listener="#{createBearingCatalogBean.onRowSelect}" update="createBearingCatalogFormId:bearingCatalogSavePanelId"/>
                    <p:ajax event="rowUnselect" listener="#{createBearingCatalogBean.onRowUnselect}" update="createBearingCatalogFormId:bearingCatalogSavePanelId"/>
                    <p:ajax event="rowSelectCheckbox" listener="#{createBearingCatalogBean.onRowSelect}" update="createBearingCatalogFormId:bearingCatalogSavePanelId"/>
                    <p:ajax event="rowUnselectCheckbox" listener="#{createBearingCatalogBean.onRowUnselect}" update="createBearingCatalogFormId:bearingCatalogSavePanelId"/>
                    <p:ajax event="toggleSelect" listener="#{createBearingCatalogBean.dataTableSelectAllRows}" update="createBearingCatalogFormId:bearingCatalogSavePanelId"/>
                    
                    <f:facet name="header">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_bearing_catalog')}"/>
                    </f:facet>

                    <p:column selectionMode="multiple" headerText="#{userManageBean.getResourceBundleString('label_preferred')}" styleClass="rowCheck#{rowId} table-column-title-left-column-border-right-border" style="width: 100px" exportable="false" rendered="#{admin or user or user_plus or superAdmins or analysts}"/>

                    <p:column headerText="#{userManageBean.getResourceBundleString('label_bearing_id')}" sortBy="#{catalog.bearingId}" filterBy="#{catalog.bearingId}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <h:outputText value="#{catalog.bearingId}"/>
                    </p:column>

                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ball_count')}" sortBy="#{catalog.bc}" filterBy="#{catalog.bc}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <h:outputText value="#{catalog.bc}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_bpfi')}" sortBy="#{catalog.bpfi}" filterBy="#{catalog.bpfi}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <h:outputText value="#{catalog.bpfi}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_bpfo')}" sortBy="#{catalog.bpfo}" filterBy="#{catalog.bpfo}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <h:outputText value="#{catalog.bpfo}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_bsf')}" sortBy="#{catalog.bsf}" filterBy="#{catalog.bsf}"  filterMatchMode="contains" style="width: 16%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <h:outputText value="#{catalog.bsf}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ftf')}" sortBy="#{catalog.ftf}" filterBy="#{catalog.ftf}"  filterMatchMode="contains" style="width: 16%" styleClass="text-align-center table-column-title-right-column-border-left-border">
                        <h:outputText value="#{catalog.ftf}"/>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>  
            
            <p:panel id="bearingCatalogSavePanelId">
                <p:commandButton styleClass="top-margin" type="submit" value="#{createBearingCatalogBean.bearingCatalogButtonMessage()}" id="bearingCatalogSaveId" action="#{createBearingCatalogBean.submit()}" update="@form nonAutoGrowlId" rendered="#{createBearingCatalogBean.edited}"
                                 onstart="readPageSize('dt-sitePreferences_rppDD')" oncomplete="setPageSize('dt-sitePreferences_rppDD',10)"/> 
            </p:panel>
            
            <p:blockUI block="createBearingCatalogFormId" trigger="bearingCatalogSaveId"/>
        </h:form>        
    </div>    
</ui:composition>
