<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-work-order">
        <h:form id="createWorkOrderFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding width-179">
                        <p:outputLabel for="siteId"  value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                    </p:column> 
                    <p:column styleClass="width-321">
                        <p:inputText id="siteId" value="#{createWorkOrderBean.workOrderVO.siteName}" disabled="true" styleClass="min-width-one" />
                    </p:column>
                    <p:column styleClass="right-padding left-padding width-179">
                        <p:outputLabel for="areaId" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                    </p:column> 
                    <p:column styleClass="width-321">
                        <p:inputText id="areaId" value="#{createWorkOrderBean.workOrderVO.areaName}" disabled="true" styleClass="min-width-one" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="#{createWorkOrderBean.assetPreset ? 'assetPresetId' : 'assetId'}" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="assetPresetId" value="#{createWorkOrderBean.workOrderVO.assetName}" disabled="true" styleClass="min-width-one" rendered="#{createWorkOrderBean.assetPreset}"/>
                        <p:selectOneMenu id="assetId" value="#{createWorkOrderBean.workOrderVO.assetId}" rendered="#{!createWorkOrderBean.assetPreset}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_required')}" styleClass="min-width-one" converter="uuidConverter">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true"/>
                            <f:selectItems value="#{createWorkOrderBean.assetList}"/>
                            <p:ajax listener="#{createWorkOrderBean.onAssetChange()}" update="@form"/>
                        </p:selectOneMenu>
                        <p:message for="assetId" rendered="#{!createWorkOrderBean.assetPreset}"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="right-padding left-padding">
                        <p:outputLabel for="assetComponentId" value="#{userManageBean.getResourceBundleString('label_asset_component')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:inputText id="assetComponentId" value="#{createWorkOrderBean.workOrderVO.assetComponent}" styleClass="min-width-one">
                            <p:ajax listener="#{createWorkOrderBean.updateBean()}" update="@this"/>
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="issueId" value="#{userManageBean.getResourceBundleString('label_issue')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_issue_required')}" id="issueId" value="#{createWorkOrderBean.workOrderVO.issue}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" /> 
                            <f:selectItems value="#{createWorkOrderBean.getIssueList()}"/>
                            <p:ajax listener="#{createWorkOrderBean.updateBean()}" update="@this createWorkOrderSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="issueId"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="right-padding left-padding">
                        <p:outputLabel for="actionId" value="#{userManageBean.getResourceBundleString('label_action')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_action_required')}" id="actionId" value="#{createWorkOrderBean.workOrderVO.action}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" /> 
                            <f:selectItems value="#{createWorkOrderBean.getActionList()}"/>
                            <p:ajax listener="#{createWorkOrderBean.updateBean()}" update="@this createWorkOrderSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="actionId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="prioritiesId"  value="#{userManageBean.getResourceBundleString('label_priority')}:"/>
                    </p:column> 
                    <p:column>   
                        <p:selectOneMenu required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_priority_required')}" id="prioritiesId" value="#{createWorkOrderBean.workOrderVO.priority}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" itemValue="0"/> 
                            <f:selectItems value="#{createWorkOrderBean.getPriorities()}"/>
                            <p:ajax listener="#{createWorkOrderBean.updateBean()}" update="@this createWorkOrderSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="prioritiesId"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="right-padding left-padding">
                        <p:outputLabel for="descriptionId" value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="descriptionId"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_description_required')}" value="#{createWorkOrderBean.workOrderVO.description}" styleClass="min-width-one" >
                            <p:ajax listener="#{createWorkOrderBean.updateBean()}" update="@this createWorkOrderSubmitBtnId"/>
                        </p:inputText>
                        <p:message for="descriptionId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding"/>
                    <p:column/>
                    <p:column styleClass="right-padding left-padding">
                        <p:outputLabel for="noteId" value="#{userManageBean.getResourceBundleString('label_notes')}:"/>
                    </p:column> 
                    <p:column>  
                        <p:inputTextarea id="noteId" value="#{createWorkOrderBean.workOrderVO.notes}" styleClass="min-width-one" autoResize="false" rows="3">
                            <p:ajax listener="#{createWorkOrderBean.updateBean()}" update="@this"/>
                        </p:inputTextarea> 
                    </p:column>
                </p:row>
            </p:panelGrid>
            
            <div class="center-btn-div">
                <p:commandButton id="addTrendBtnId" value="#{userManageBean.getResourceBundleString('label_add_trend')}" action="#{createWorkOrderBean.openAddTrendOverlay()}" process="@this" styleClass="bottom-margin" disabled="#{createWorkOrderBean.workOrderVO eq null or createWorkOrderBean.workOrderVO.assetId eq null}" oncomplete="PF('defaultSecondDlg').show()"/>
            </div>
            
            <p:scrollPanel mode="native">
                <p:dataTable id="trendDatatableId" var="trend" value="#{createWorkOrderBean.workOrderVO.trendDetails}" paginatorPosition="top" rendered="#{createWorkOrderBean.workOrderVO ne null and createWorkOrderBean.workOrderVO.trendDetails ne null and createWorkOrderBean.workOrderVO.trendDetails.size() gt 0}" styleClass="datatable-layout-two" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" styleClass="text-align-center  table-column-title-left-column-border-right-border">
                        <p:outputLabel value="#{trend.pointLocationName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{trend.pointName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_param')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{trend.paramName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" styleClass="table-column-title-right-column-border-left-border" style="width:51px; text-align:center">
                        <p:commandLink id ="cmdViewTrendGraph" action="#{createWorkOrderBean.viewTrendGraph(trend)}" process="@this">
                            <i class="pi pi-chart-line" />
                        </p:commandLink>
                        <p:commandLink process="@this"  id="cmdTrash" action="#{createWorkOrderBean.removeTrend(trend)}" update="@form">
                            <i class="pi pi-trash" />
                        </p:commandLink>
                         <p:tooltip for="cmdViewTrendGraph" value="#{userManageBean.getResourceBundleString('label_view_trend')}" position="left" showDelay="500"/>
                         <p:tooltip  for="cmdTrash" value="#{userManageBean.getResourceBundleString('label_delete')}" position="left" showDelay="500"/>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>
            
            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="createWorkOrderSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createWorkOrderBean.submit()}" process="@form" disabled="#{createWorkOrderBean.workOrderVO eq null or createWorkOrderBean.workOrderVO.priority eq null or createWorkOrderBean.workOrderVO.priority le 0 or createWorkOrderBean.workOrderVO.issue eq null or createWorkOrderBean.workOrderVO.action eq null or createWorkOrderBean.workOrderVO.description eq null or createWorkOrderBean.workOrderVO.description.trim() eq '' or readOnlyAlRole}" 
                                 onstart="readPageSize('workOrderResultTableId_rppDD')" oncomplete="setPageSize('workOrderResultTableId_rppDD',25)"
                                 update="@form nonAutoGrowlId"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()" update="@form"/>
            </div>
            <p:blockUI block="createWorkOrderFormId" trigger="createWorkOrderSubmitBtnId"/>
        </h:form>
    </div>

</ui:composition>
