<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-ap-al-set">
        <h:form id="createApAlSetFormId">
            <p:scrollPanel id="apAlSetScrollPanelId" mode="native">
                <p:panelGrid styleClass="panelgrid-layout-one include-margins">
                    <p:row >
                        <p:column styleClass="width-170">
                            <p:outputLabel for="siteNameId"  value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                        </p:column>
                        <p:column styleClass="width-321-5">
                            <p:selectOneMenu id="siteNameId" value="#{createApAlSetBean.siteOrGlobal}" required="true">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_global')}" itemValue="global"/>
                                <f:selectItem itemLabel="#{userManageBean.currentSite.siteName}" itemValue="site"/>
                                <p:ajax update="@form"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column styleClass="width-170"/>
                        <p:column styleClass="width-321-5"/>
                        <p:column styleClass="width-170"/>
                        <p:column styleClass="width-321-5"/>
                    </p:row>
                </p:panelGrid>
                
                <p:panel id="apSetPanelId" header="#{userManageBean.getResourceBundleString('label_ap_set')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="apSetNameId" value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                            </p:column> 
                            <p:column styleClass="width-321-5">
                                <p:inputText id="apSetNameId" value="#{createApAlSetBean.apAlSetVO.apSetName}" disabled="#{createApAlSetBean.siteOrGlobal eq null}" required="true">
                                    <p:ajax update="@form"/>
                                </p:inputText>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="apSetTypeId"  value="#{userManageBean.getResourceBundleString('label_ap_set_type')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectOneButton value="#{createApAlSetBean.acSensor}" id="apSetTypeId" unselectable="false" disabled="#{createApAlSetBean.siteOrGlobal eq null}">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_waveform')}" itemValue="#{true}"/>
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_single_measurement')}" itemValue="#{false}"/>
                                    <p:ajax event="change" update="@form" listener="#{createApAlSetBean.onApSetTypeChange()}"/>
                                </p:selectOneButton>
                            </p:column>
                            <p:column styleClass="width-170"/>
                            <p:column styleClass="width-321-5"/>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="#{createApAlSetBean.acSensor ? 'sensorTypeACId' : 'sensorTypeDCId'}" value="#{userManageBean.getResourceBundleString('label_sensorType')}:"/>
                            </p:column> 
                            <p:column>
                                <p:selectOneMenu id="sensorTypeACId" value="#{createApAlSetBean.apAlSetVO.sensorType}" rendered="#{createApAlSetBean.acSensor}" disabled="#{createApAlSetBean.siteOrGlobal eq null}" required="true">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                    <f:selectItems value="#{createApAlSetBean.getAcSensorTypeList()}"/>
                                    <p:ajax update="@form" listener="#{createApAlSetBean.onSensorTypeChange()}"/>
                                </p:selectOneMenu>
                                <p:selectOneMenu id="sensorTypeDCId" value="#{createApAlSetBean.apAlSetVO.sensorType}" rendered="#{!createApAlSetBean.acSensor}" disabled="#{createApAlSetBean.siteOrGlobal eq null}" required="true">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                    <f:selectItems value="#{createApAlSetBean.getDcSensorTypeList()}"/>
                                    <p:ajax update="@form" listener="#{createApAlSetBean.onSensorTypeChange()}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="fmaxId" value="#{userManageBean.getResourceBundleString('label_fmax')}:" rendered="#{createApAlSetBean.acSensor}"/>
                                <p:outputLabel for="dcUnitsId" value="#{userManageBean.getResourceBundleString('label_units')}:" rendered="#{!createApAlSetBean.acSensor}"/>
                            </p:column> 
                            <p:column>
                                <p:selectOneMenu id="fmaxId" value="#{createApAlSetBean.apAlSetVO.fmax}" rendered="#{createApAlSetBean.acSensor}" required="true">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue="#{0}"  itemDisabled="true" />
                                    <f:selectItems value="#{createApAlSetBean.getFmaxList()}"/>
                                    <p:ajax update="@form" listener="#{createApAlSetBean.onFmaxChange()}"/>
                                </p:selectOneMenu>
                                <p:selectOneMenu id="dcUnitsId" value="#{createApAlSetBean.apAlSetVO.paramUnits}" rendered="#{!createApAlSetBean.acSensor}" required="true">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                    <f:selectItems value="#{createApAlSetBean.getDCParamUnitList()}"/>
                                    <p:ajax update="createApAlSetSaveId createApAlSetSaveId1"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="resolutionId"  value="#{userManageBean.getResourceBundleString('label_resolution')}:" rendered="#{createApAlSetBean.acSensor}"/>
                            </p:column> 
                            <p:column>
                                <p:selectOneMenu id="resolutionId" value="#{createApAlSetBean.apAlSetVO.resolution}" rendered="#{createApAlSetBean.acSensor}" required="true">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue="#{0}"  itemDisabled="true" />
                                    <f:selectItems value="#{createApAlSetBean.getResolutionList()}"/>
                                    <p:ajax update="@form" listener="#{createApAlSetBean.onResolutionChange()}"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>
                        <p:row rendered="#{createApAlSetBean.apAlSetVO.resolution eq '12800' or createApAlSetBean.apAlSetVO.resolution eq '25600' or createApAlSetBean.apAlSetVO.resolution eq '51200'}">
                            <p:column colspan="6">
                                    <p:outputLabel id="resolutionDisclaimerId" style="float: right" value="#{userManageBean.getResourceBundleString('label_high_resolution_disclaimer')}" styleClass="disclaimer-test-color"/>
                            </p:column> 
                        </p:row>
                        <p:row rendered="#{!createApAlSetBean.acSensor and createApAlSetBean.apAlSetVO.sensorType ne null and createApAlSetBean.apAlSetVO.sensorType eq 'Temperature RTD'}">
                            <p:column colspan="6">
                                <p:outputLabel id="disclaimerId" value="#{userManageBean.getResourceBundleString('label_temperatureRTD_disclaimer')}" styleClass="disclaimer-test-color"/>
                            </p:column> 
                        </p:row>
                        <p:row rendered="#{createApAlSetBean.acSensor}">
                            <p:column>
                                <p:outputLabel for="periodId" value="#{userManageBean.getResourceBundleString('label_period')}:"/>
                            </p:column> 
                            <p:column>
                                <p:inputNumber id="periodId" value="#{createApAlSetBean.apAlSetVO.period}" disabled="true" decimalPlaces="4"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="sampleRateId"  value="#{userManageBean.getResourceBundleString('label_sampleRate')}:"/>
                            </p:column> 
                            <p:column>
                                <p:inputNumber id="sampleRateId" value="#{createApAlSetBean.apAlSetVO.sampleRate}" disabled="true" symbolPosition="s" symbol="Hz"/>
                            </p:column>
                            <p:column>
                                <!--This is Being Disabled for V1.0-->
                                <p:outputLabel for="demodId" value="#{userManageBean.getResourceBundleString('label_demod')}:" rendered="#{false}"/>
                            </p:column> 
                            <p:column>
                                <!--This is Being Disabled for V1.0-->
                                <p:inputSwitch id="demodId" value="#{createApAlSetBean.apAlSetVO.demod}" onLabel="yes" offLabel="no" rendered="#{false}">
                                    <p:ajax listener="#{createApAlSetBean.onDemodChange()}" update="@this demodHighPassId demodLowPassId"/>
                                </p:inputSwitch>
                            </p:column>
                        </p:row>
                        <!--This row is Being Disabled for V1.0-->
                        <p:row id="demondPassRowId" rendered="#{false and createApAlSetBean.acSensor}">
                            <p:column>
                                <p:outputLabel for="demodHighPassId"  value="#{userManageBean.getResourceBundleString('label_demodHighPass')}:"/>
                            </p:column> 
                            <p:column>
                                <p:selectOneMenu id="demodHighPassId" value="#{createApAlSetBean.apAlSetVO.demodHighPass}" disabled="#{!createApAlSetBean.apAlSetVO.demod}">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_none')}" itemValue="#{0}"/>
                                    <f:selectItems value="#{createApAlSetBean.getDemodHighPassList()}"/>
                                    <p:ajax update="@form" listener="#{createApAlSetBean.apAlSetVO.setDemodLowPass(0)}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="demodLowPassId"  value="#{userManageBean.getResourceBundleString('label_demodLowPass')}:"/>
                            </p:column> 
                            <p:column>
                                <p:selectOneMenu id="demodLowPassId" value="#{createApAlSetBean.apAlSetVO.demodLowPass}" disabled="#{!createApAlSetBean.apAlSetVO.demod or createApAlSetBean.apAlSetVO.demodHighPass eq 7500}">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_none')}" itemValue="#{0}"/>
                                    <f:selectItems value="#{createApAlSetBean.getDemodLowPassList()}"/>
                                    <p:ajax update="@this"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column/>
                            <p:column/>
                        </p:row>
                    </p:panelGrid>
                    <div class="center-btn-div">
                        <p:commandButton id="addApAlBtnId" value="#{userManageBean.getResourceBundleString('btn_add_analysis_parameter')}" action="#{createApAlSetBean.addParamRow()}" process="@this" update="@form" styleClass="bottom-margin" rendered="#{createApAlSetBean.acSensor}"/>
                    </div>
                    <p:dataTable id="apDatatableId" var="ap" value="#{createApAlSetBean.paramList}" paginatorPosition="top" rendered="#{createApAlSetBean.paramList.size() gt 0 and createApAlSetBean.acSensor}" styleClass="datatable-layout-two" rowIndexVar="rowId" >
                        <f:facet name="header">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_analysisParameters')}"/>
                        </f:facet>
                        
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_name')}" styleClass="table-column-title-left-column-border-right-border">
                            <p:inputText id="paramNameId" value="#{ap.paramName}" disabled="#{createApAlSetBean.apAlSetVO.sensorType eq null or createApAlSetBean.apAlSetVO.sensorType.length() eq 0}" required="true">
                                <p:ajax update="@form" listener="#{createApAlSetBean.paramNameValidation(ap)}"/>
                            </p:inputText>
                        </p:column>
                        
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_type')}" styleClass="table-column-title-center-column-border-horizontal-border">
                            <p:selectOneMenu id="paramTypeId" value="#{ap.paramType}" disabled="#{createApAlSetBean.apAlSetVO.sensorType eq null or createApAlSetBean.apAlSetVO.sensorType.length() eq 0}" required="true">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createApAlSetBean.getParamTypeList()}"/>
                                <p:ajax update="@form" listener="#{createApAlSetBean.onParamTypeChange(ap)}"/>
                            </p:selectOneMenu>
                        </p:column>
                        
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_units')}" styleClass="table-column-title-center-column-border-horizontal-border">
                            <p:selectOneMenu id="paramUnitsId" value="#{ap.paramUnits}" disabled="#{createApAlSetBean.disableParamUnits(ap)}" required="true">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createApAlSetBean.getACParamUnitList(ap)}"/>
                                <p:ajax update="@form"/>
                            </p:selectOneMenu>
                        </p:column>
                        
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_amp_factor')}" styleClass="table-column-title-center-column-border-horizontal-border">
                            <p:selectOneMenu id="paramAmpFactorId" value="#{ap.paramAmpFactor}" disabled="#{createApAlSetBean.disableParamAmpFactor(ap)}" required="true">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createApAlSetBean.getParamAmpFactorList(ap)}"/>
                                <p:ajax update="@form"/>
                            </p:selectOneMenu>
                        </p:column>
                        
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_frequency_units')}" styleClass="table-column-title-center-column-border-horizontal-border">
                            <p:selectOneMenu id="frequencyUnitsId" value="#{ap.frequencyUnits}" disabled="#{createApAlSetBean.disableFrequency(ap)}" required="true">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createApAlSetBean.frequencyUnitsList}"/>
                                <p:ajax update="@form"/>
                            </p:selectOneMenu>
                        </p:column>  
                        
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_minimum_frequency')}" styleClass="table-column-title-center-column-border-horizontal-border">
                            <p:inputNumber id="minimumFrequencyId" value="#{ap.minFrequency}" modifyValueOnWheel="false" decimalPlaces="2" minValue="0" disabled="#{createApAlSetBean.disableFrequency(ap)}"  maxValue="99999.98">
                                <p:ajax update="@form" listener="#{createApAlSetBean.onMinOrMaxFrequencyChange(ap)}"/>
                            </p:inputNumber>
                        </p:column>
                        
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_maximum_frequency')}" styleClass="table-column-title-center-column-border-horizontal-border">
                            <p:inputNumber id="maximumFrequencyId" value="#{ap.maxFrequency}" modifyValueOnWheel="false" decimalPlaces="2" disabled="#{createApAlSetBean.disableFrequency(ap)}"  maxValue="99999.99">
                                <p:ajax update="@this" listener="#{createApAlSetBean.onMinOrMaxFrequencyChange(ap)}"/>
                            </p:inputNumber>
                        </p:column>
                        
                        <p:column style="width:20px" styleClass="table-column-title-right-column-border-left-border">
                            <p:commandLink process="@this" action="#{createApAlSetBean.deleteParamRow(ap, rowId)}" update="@form">
                                <i class="pi pi-trash" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                    
                    <div class="center-btn-div" >
                        <p:commandButton id="addAlSetBtnId" value="#{userManageBean.getResourceBundleString('btn_add_alarm_limit_set')}" action="#{createApAlSetBean.addAlSet()}" process="@this" update="@form" styleClass="bottom-margin"/>
                    </div>
                    <p:dataScroller id="alSetDataScrollerId" value="#{createApAlSetBean.tmpAlSetVOList}" var="alSet" chunkSize="10"  rendered="#{createApAlSetBean.tmpAlSetVOList.size() gt 0}">
                        <f:facet name="header">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_set')}"/>
                        </f:facet>
                        <p:panelGrid styleClass="panelgrid-layout-one inner-one">
                            <p:row>
                                <p:column styleClass="width-168">
                                    <p:outputLabel for="alSetNameId" value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                                </p:column> 
                                <p:column styleClass="width-318">
                                    <p:inputText id="alSetNameId" value="#{alSet.alSetName}" required="true">
                                        <p:ajax update="@form" listener="#{createApAlSetBean.alSetNameValidation(alSet)}"/>
                                    </p:inputText>
                                </p:column>
                                <p:column styleClass="width-168"/>
                                <p:column styleClass="width-318"/>
                                <p:column styleClass="width-168"/>
                                <p:column styleClass="width-318">
                                    <p:commandLink process="@this" action="#{createApAlSetBean.deleteAlSet(alSet)}" update="@form">
                                        <i class="pi pi-trash" />
                                    </p:commandLink>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        
                        <p:dataTable id="alDatatableId" var="al" value="#{alSet.alSetList}" rowIndexVar="rowId" paginatorPosition="top" rendered="#{alSet.alSetList.size() gt 0}" styleClass="datatable-layout-two" >
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_param_name')}" style="width: 14%;" styleClass="table-column-title-left-column-border-right-border">
                                <p:inputText id="alParamNameId" value="#{al.paramName}" disabled="true" />
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_dwell')}" style="width: 10%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:selectOneMenu  id="dwellId" value="#{al.dwell}">
                                    <f:selectItems value="#{createApAlSetBean.getDwellList()}"/>
                                    <p:ajax listener="#{createApAlSetBean.onDwellChange(alSet, al)}" update="@this"/>
                                </p:selectOneMenu>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_lowFaultActive')}" style="width: 10%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:inputSwitch id="lowFaultActiveId" value="#{al.lowFaultActive}" onLabel="yes" offLabel="no" >
                                    <p:ajax listener="#{createApAlSetBean.alarmLimitValidation(alSet, al, rowId)}" update="createApAlSetFormId:alSetDataScrollerId createApAlSetFormId:msgPanel createApAlSetFormId:createApAlSetSaveId createApAlSetFormId:createApAlSetSaveId1"/>
                                </p:inputSwitch>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_lowFault')}" style="width: 9%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:inputNumber id="lowFaultId" value="#{al.lowFault}" modifyValueOnWheel="false" decimalPlaces="3" minValue="0" maxValue="99996.999" disabled="#{!al.lowFaultActive}" styleClass="#{(al.lowFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}"  >
                                    <p:ajax listener="#{createApAlSetBean.alarmLimitValidation(alSet, al, rowId)}" update="createApAlSetFormId:alSetDataScrollerId createApAlSetFormId:msgPanel createApAlSetFormId:createApAlSetSaveId createApAlSetFormId:createApAlSetSaveId1"/>
                                </p:inputNumber>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_lowAlertActive')}" style="width: 10%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:inputSwitch id="lowAlertActiveId" value="#{al.lowAlertActive}" onLabel="yes" offLabel="no" >
                                    <p:ajax listener="#{createApAlSetBean.alarmLimitValidation(alSet, al, rowId)}" update="createApAlSetFormId:alSetDataScrollerId createApAlSetFormId:msgPanel createApAlSetFormId:createApAlSetSaveId createApAlSetFormId:createApAlSetSaveId1"/>
                                </p:inputSwitch>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_lowAlert')}" style="width: 9%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:inputNumber id="lowAlertId" value="#{al.lowAlert}" modifyValueOnWheel="false" decimalPlaces="3" minValue="0" maxValue="99997.999" disabled="#{!al.lowAlertActive}" styleClass="#{(al.lowAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" >
                                    <p:ajax listener="#{createApAlSetBean.alarmLimitValidation(alSet, al, rowId)}" update="createApAlSetFormId:alSetDataScrollerId createApAlSetFormId:msgPanel createApAlSetFormId:createApAlSetSaveId createApAlSetFormId:createApAlSetSaveId1"/>
                                </p:inputNumber>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_highAlertActive')}" style="width: 10%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:inputSwitch id="highAlertActiveId" value="#{al.highAlertActive}" onLabel="yes" offLabel="no" >
                                    <p:ajax listener="#{createApAlSetBean.alarmLimitValidation(alSet, al, rowId)}" update="createApAlSetFormId:alSetDataScrollerId createApAlSetFormId:msgPanel createApAlSetFormId:createApAlSetSaveId createApAlSetFormId:createApAlSetSaveId1"/>
                                </p:inputSwitch>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_highAlert')}" style="width: 9%;" styleClass="table-column-title-center-column-border-horizontal-border">
                                <p:inputNumber id="highAlertId" value="#{al.highAlert}" modifyValueOnWheel="false" decimalPlaces="3" minValue="0" maxValue="99998.999"  disabled="#{!al.highAlertActive }" styleClass="#{(al.highAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" >
                                    <p:ajax listener="#{createApAlSetBean.alarmLimitValidation(alSet, al, rowId)}" update="createApAlSetFormId:alSetDataScrollerId createApAlSetFormId:msgPanel createApAlSetFormId:createApAlSetSaveId createApAlSetFormId:createApAlSetSaveId1"/>
                                </p:inputNumber>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_highFaultActive')}" style="width: 10%;" styleClass="table-column-title-center-column-border-horizontal-border">                                
                                <p:inputSwitch id="highFaultActiveId" value="#{al.highFaultActive}" onLabel="yes" offLabel="no"  >
                                    <p:ajax listener="#{createApAlSetBean.alarmLimitValidation(alSet, al, rowId)}" update="createApAlSetFormId:alSetDataScrollerId createApAlSetFormId:msgPanel createApAlSetFormId:createApAlSetSaveId createApAlSetFormId:createApAlSetSaveId1"/>
                                </p:inputSwitch>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_highFault')}" style="width: 9%;" styleClass="table-column-title-right-column-border-left-border">
                                <p:inputNumber id="highFaultId" value="#{al.highFault}" modifyValueOnWheel="false" decimalPlaces="3" minValue="0" maxValue="99999.999"  disabled="#{!al.highFaultActive }" styleClass="#{( al.highFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" >
                                    <p:ajax listener="#{createApAlSetBean.alarmLimitValidation(alSet, al, rowId)}" update="createApAlSetFormId:alSetDataScrollerId createApAlSetFormId:msgPanel createApAlSetFormId:createApAlSetSaveId createApAlSetFormId:createApAlSetSaveId1"/>
                                </p:inputNumber>
                            </p:column>
                        </p:dataTable>
                    </p:dataScroller>
                    <p:panel id="msgPanel" >
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_limits_info')}" rendered="#{(createApAlSetBean.renderAlertMsg )}" styleClass="error-outputlabel"/>
                    </p:panel>
                </p:panel>
                <div class="center-btn-div" >
                    <p:commandButton type="submit" ajax="true" styleClass="left-btn #{(createApAlSetBean.siteOrGlobal eq 'global') ? 'hide-component' : ''}" id="createApAlSetSaveId" update="createApAlSetFormId nonAutoGrowlId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createApAlSetBean.submit()}" disabled="#{(createApAlSetBean.renderAlertMsg)}"/>
                    <p:commandButton type="submit" ajax="true" styleClass="left-btn #{(createApAlSetBean.siteOrGlobal ne 'global') ? 'hide-component' : ''}" id="createApAlSetSaveId1" update="createApAlSetFormId nonAutoGrowlId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createApAlSetBean.submit()}" disabled="#{(createApAlSetBean.renderAlertMsg)}">
                        <p:confirm header="Confirmation" message="#{userManageBean.getResourceBundleString('confirm_create_al_param')}" icon="pi pi-exclamation-triangle"/>
                    </p:commandButton>
                    <p:commandButton action="#{createApAlSetBean.resetPage()}" process="@this" update="@form" value="#{userManageBean.getResourceBundleString('btn_cancel')}" resetValues="true" oncomplete="PF('defaultDlg').hide()"/>
                </div>
            </p:scrollPanel>
            <p:blockUI block="createApAlSetFormId" trigger="createApAlSetSaveId"/>
            <p:blockUI block="createApAlSetFormId" trigger="createApAlSetSaveId1"/>
        </h:form>
    </div>
</ui:composition>
