<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-custom-fault-frequency-sets">
        <h:form id="customFaultFrequencieySetsFormId">

            <p:panel styleClass="panel-layout-one">
                <p:commandLink value="#{userManageBean.getResourceBundleString('btn_add_fault_frequency_set')}" action="#{createCustomFaultFrequecySetsBean.setFaultFrequenciesDialog(null, 0)}"  rendered="#{admin or user or user_plus or superAdmins or analysts}" styleClass="left-margin"/>
                <p:fileUpload listener="#{createCustomFaultFrequecySetsBean.faultFrequencieUpload}" mode="advanced" dragDropSupport="false" auto="true" sizeLimit="100000" fileLimit="1" allowTypes="/(\.|\/)(csv)$/"  accept=".csv" label="#{userManageBean.getResourceBundleString('btn_upload')}" rendered="#{false and (admin or user or user_plus or superAdmins or analysts)}"/>  
            </p:panel>

            <p:scrollPanel mode="native">
                <p:dataTable id="dt-setNameFaultFrequenciesId" var="faultFrequencies" 
                             widgetVar="dt-setNameFaultFrequencies" 
                             value="#{createCustomFaultFrequecySetsBean.distinctFaultFrequencies}" 
                             rowIndexVar="rowId" rowKey="#{faultFrequencies.ffSetId}" 
                             selectionPageOnly="false" rowSelectMode="checkbox"
                             selection="#{createCustomFaultFrequecySetsBean.selectedFaultFrequencyList}"
                             rendered="#{createCustomFaultFrequecySetsBean.faultFrequencyList ne null and createCustomFaultFrequecySetsBean.faultFrequencyList.size() gt 0}"
                             paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two top-margin" paginatorPosition="top">
                    
                    <p:ajax event="rowSelect" listener="#{createCustomFaultFrequecySetsBean.onRowSelect}" update="customFaultFrequencieySetsFormId:customFaultFrequenciesSavePanelId"/>
                    <p:ajax event="rowUnselect" listener="#{createCustomFaultFrequecySetsBean.onRowUnselect}" update="customFaultFrequencieySetsFormId:customFaultFrequenciesSavePanelId"/>
                    <p:ajax event="rowSelectCheckbox" listener="#{createCustomFaultFrequecySetsBean.onRowSelect}" update="customFaultFrequencieySetsFormId:customFaultFrequenciesSavePanelId"/>
                    <p:ajax event="rowUnselectCheckbox" listener="#{createCustomFaultFrequecySetsBean.onRowUnselect}" update="customFaultFrequencieySetsFormId:customFaultFrequenciesSavePanelId"/>
                    <p:ajax event="toggleSelect" listener="#{createCustomFaultFrequecySetsBean.dataTableSelectAllRows}" update="customFaultFrequencieySetsFormId:customFaultFrequenciesSavePanelId"/>
                    <p:ajax event="rowToggle" listener="#{createCustomFaultFrequecySetsBean.getFaultFrequenciesByRowToggle(faultFrequencies)}"/>
                    
                    <f:facet name="header">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_custom_fault_frequency_sets')}"/>
                    </f:facet>

                    <p:column selectionMode="multiple" headerText="#{userManageBean.getResourceBundleString('label_preferred')}" styleClass="rowCheck#{rowId} table-column-title-left-column-border-right-border" exportable="false" style="width: 100px" rendered="#{admin or user or user_plus or superAdmins or analysts}"/>

                    <p:column style="width: 31px;" styleClass="table-column-title-center-column-border-horizontal-border">
                        <p:rowToggler/>
                    </p:column>

                     <p:column rendered="#{faultFrequencies.siteId ne null}" headerText="#{userManageBean.getResourceBundleString('label_ff_set_name')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <h:outputText value="#{faultFrequencies.ffSetName}" />
                    </p:column> 
                    
                    <p:column rendered="#{faultFrequencies.siteId eq null}" headerText="#{userManageBean.getResourceBundleString('label_ff_set_name')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <i class="right-padding fa fa-globe"/>
                        <h:outputText value="#{faultFrequencies.ffSetName}" />
                    </p:column>

                    <p:column headerText="#{userManageBean.getResourceBundleString('label_description')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <h:outputText value="#{faultFrequencies.ffSetDesc}" />
                    </p:column>

                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{admin or user or user_plus or superAdmins or analysts}" styleClass="table-column-title-right-column-border-left-border">
                        <p:commandLink id ="cmdCopy" action="#{createCustomFaultFrequecySetsBean.setFaultFrequenciesDialog(faultFrequencies, 2)}"  update="nonAutoGrowlId">
                            <i class="pi pi-copy" />
                        </p:commandLink> 

                        <!-- Not Rendered for V1.0 -->
                        <p:commandLink id ="cmdEdit" action="#{createCustomFaultFrequecySetsBean.setFaultFrequenciesDialog(faultFrequencies, 1)}" oncomplete="PF('topbarAddMenuOverlay').hide(); PF('defaultDlg').show()" update="nonAutoGrowlId" rendered="#{false and faultFrequencies.ffType ne null and faultFrequencies.ffType.toString().equalsIgnoreCase('site')}">
                            <i class="fa fa-pencil-square-o"/>
                        </p:commandLink>

                        <!-- Not Rendered for V1.0 -->
                        <p:commandLink id ="cmdTrash" action="#{createCustomFaultFrequecySetsBean.delete(faultFrequencies)}" rendered="#{false and faultFrequencies.ffType ne null and faultFrequencies.ffType.toString().equalsIgnoreCase('site')}" update="nonAutoGrowlId">
                            <i class="pi pi-trash" />
                        </p:commandLink> 

                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                    </p:column>
                    <p:rowExpansion>    
                        <p:dataTable id="dt-siteFaultFrequenciesId" var="siteFaultFrequencies" value="#{createCustomFaultFrequecySetsBean.filteredFaultFrequencyList}" rendered="#{createCustomFaultFrequecySetsBean.faultFrequencyList ne null and createCustomFaultFrequecySetsBean.faultFrequencyList.size() gt 0}" sortMode="single" styleClass="datatable-layout-two top-margin bottom-margin">

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_ff_name')}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <p:outputLabel value="#{siteFaultFrequencies.ffName}" />
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_ff_value')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{siteFaultFrequencies.ffValue}" />
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_units')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                <p:outputLabel value="#{createCustomFaultFrequecySetsBean.getParamUnitLabelByValue(siteFaultFrequencies.ffUnit)}" />
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </p:scrollPanel>
            
            <p:panel id="customFaultFrequenciesSavePanelId">
                <p:commandButton styleClass="top-margin" type="submit" value="#{createCustomFaultFrequecySetsBean.customFaultFrequenciesButtonMessage()}" id="customFaultFrequenciesSaveId" action="#{createCustomFaultFrequecySetsBean.submit()}" onstart="readPageSize('dt-sitePreferences_rppDD')" oncomplete="setPageSize('dt-sitePreferences_rppDD',10)" update="@form nonAutoGrowlId" rendered="#{createCustomFaultFrequecySetsBean.edited}" />
            </p:panel>
        </h:form>     
    </div>    
</ui:composition>
