<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-create-asset-to-point">
        <h:form id="createAssetForm">
            <p:scrollPanel id="pointLocPnl" mode="native">
                <p:accordionPanel styleClass="accordion-layout-one">
                    <p:tab title="#{userManageBean.getResourceBundleString('label_asset')}" >
                        <p:panelGrid styleClass="panelgrid-layout-one top-panelgrid">
                            <p:row >
                                <p:column>
                                    <p:outputLabel for="site"  value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                                </p:column> 
                                <p:column styleClass="right-padding">
                                    <p:selectOneMenu id="site" value="#{createAssetBean.assetVO.siteId}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" styleClass="min-width-one" converter="uuidConverter">
                                        <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                        <f:selectItems value="#{createAssetBean.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteId}"/>
                                        <p:ajax listener="#{createAssetBean.onSiteSelect()}" update="@form"/>
                                    </p:selectOneMenu>
                                    <p:message for="site" id="siteMsgId" styleClass="min-width-one"/>
                                </p:column>
                                <p:column styleClass="left-padding"/>
                                <p:column/>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="area" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                                </p:column> 
                                <p:column styleClass="right-padding">
                                    <p:selectOneMenu id="area" value="#{createAssetBean.assetVO.areaId}" converter="uuidConverter" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_area_required')}" styleClass="min-width-one">
                                        <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                        <f:selectItems value="#{createAssetBean.areaList}" var="area"  itemValue="#{area.areaId}" itemLabel="#{area.areaName}"/>
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this areaMsgId assetName assetType"/>
                                    </p:selectOneMenu>
                                    <p:message for="area" id="areaMsgId" styleClass="min-width-one"/>
                                </p:column>
                                <p:column styleClass="left-padding">
                                    <p:outputLabel for="assetType" value="#{userManageBean.getResourceBundleString('label_asset_type')}:"/>
                                </p:column> 
                                <p:column>
                                    <p:selectOneMenu id="assetType" value="#{createAssetBean.assetVO.assetType}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_type_required')}" disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaId eq null or createAssetBean.assetVO.areaId eq ''}" styleClass="min-width-one">
                                        <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                        <f:selectItems value="#{createAssetBean.assetTypeList}"/>
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this createAssetForm:createAssetSubmitBtnId"/>
                                    </p:selectOneMenu>
                                    <p:message for="assetType" styleClass="min-width-one"><p:autoUpdate/></p:message>
                                </p:column>
                            </p:row>
                            <p:row>       
                                <p:column>
                                    <p:outputLabel for="assetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                                </p:column> 
                                <p:column styleClass="right-padding">
                                    <p:inputText id="assetName" value="#{createAssetBean.assetVO.assetName}" required="true" 
                                                 validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" 
                                                 requiredMessage="#{userManageBean.getResourceBundleString('message_asset_required')}" 
                                                 disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaId eq null or createAssetBean.assetVO.areaId eq ''}" styleClass="min-width-one">
                                        <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this createAssetForm:createAssetSubmitBtnId description sampleInterval addPointLocId"/>
                                    </p:inputText>
                                    <p:message for="assetName" styleClass="min-width-one"><p:autoUpdate/></p:message>
                                </p:column>
                                <p:column styleClass="left-padding">
                                    <p:outputLabel for="description" value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                                </p:column> 
                                <p:column>
                                    <p:inputText id="description" value="#{createAssetBean.assetVO.description}" 
                                                 validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" 
                                                 disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaId eq null or createAssetBean.assetVO.areaId eq '' or createAssetBean.assetVO.assetName eq null or createAssetBean.assetVO.assetName eq ''}" styleClass="min-width-one">
                                        <f:validateRegex pattern="(^$|^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$)" />
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this"/>
                                    </p:inputText>
                                    <p:message for="description" styleClass="min-width-one"><p:autoUpdate/></p:message> 
                                </p:column>
                            </p:row>
                            <p:row>                              
                                <p:column>
                                    <p:outputLabel  for="alarmEnabled" value="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}:"/>
                                </p:column>
                                <p:column styleClass="right-padding">
                                    <p:inputSwitch id="alarmEnabled" value="#{createAssetBean.assetVO.alarmEnabled}" onLabel="yes" offLabel="no" >
                                        <p:ajax listener="#{createAssetBean.updateBean()}"/>
                                    </p:inputSwitch>
                                </p:column>
                                <p:column styleClass="left-padding">
                                    <p:outputLabel for="sampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                                </p:column> 
                                <p:column>
                                    <p:inputText id="sampleInterval" value="#{createAssetBean.assetVO.sampleInterval}"  
                                                 required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaId eq null or createAssetBean.assetVO.areaId eq '' or createAssetBean.assetVO.assetName eq null or createAssetBean.assetVO.assetName eq ''}" styleClass="min-width-one">
                                        <f:validateLongRange minimum="1" />
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this createAssetForm:createAssetSubmitBtnId"/>
                                    </p:inputText>
                                    <p:message for="sampleInterval" styleClass="min-width-one"><p:autoUpdate/></p:message>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <div class="center-btn-div">
                            <p:commandButton id="addPointLocId" value="#{userManageBean.getResourceBundleString('btn_add_point_location')}" icon="fa fa-plus" disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaId eq null or createAssetBean.assetVO.areaId eq '' or createAssetBean.assetVO.assetName eq null or createAssetBean.assetVO.assetName eq ''}" process="@form" action="#{createAssetBean.onAddNewPointLocation()}" update="@form"/>
                        </div>
                    </p:tab>
                </p:accordionPanel >
                
                <p:dataTable id="pointLocTbl" widgetVar="pointLocTbl" var="pointLoc" value="#{createAssetBean.assetVO.pointLocationList}" paginatorPosition="top" rendered="#{createAssetBean.assetVO.pointLocationList.size() gt 0}" rowExpandMode="multiple" expandedRow="true" styleClass="datatable-layout-two outer-table">
                    <f:facet name="header">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_asset')}"/>
                    </f:facet>

                    <p:column styleClass="toggle-column table-column-title-left-column-border-right-border">
                        <p:rowToggler />
                    </p:column>
                    
                    <p:column styleClass="width-188 table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_point_locations_name')}"/>
                    </p:column>
                    
                    <p:column styleClass="width-284 table-column-title-center-column-border-horizontal-border">
                        <p:selectOneMenu id="pointLocationName" value="#{pointLoc.pointLocationName}" required="true"
                                         requiredMessage="#{userManageBean.getResourceBundleString('message_point_location_name_required')}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createAssetBean.ptLoNamePresetList}" var="ptLoName"  itemValue="#{ptLoName.value}" itemLabel="#{ptLoName.label}"/>
                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this pointLocationNameMsgId" />
                        </p:selectOneMenu>
                        <p:message for="pointLocationName" id="pointLocationNameMsgId"/>                        
                    </p:column>
                    
                    <p:column styleClass="width-188 table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_deviceSerialNumber')}"/>
                    </p:column>
                    
                    <p:column styleClass="width-284 table-column-title-center-column-border-horizontal-border">  
                        <p:inputText id="deviceSerialNumber" value="#{pointLoc.deviceSerialNumber}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" >
                            <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this deviceSerialNumberMsgId"/>
                        </p:inputText>
                        <p:message for="deviceSerialNumber" id="deviceSerialNumberMsgId"/>
                    </p:column>
                    
                    <p:column styleClass="width-27 table-column-title-right-column-border-left-border">
                        <p:commandLink id="delbtn" immediate="true" update="@form" action="#{createAssetBean.ondeletePointLocation(pointLoc)}" >
                            <i class="pi pi-trash" />
                        </p:commandLink>
                    </p:column>

                    <p:rowExpansion>
                        <p:panelGrid styleClass="panelgrid-layout-one">
                            <p:row>
                                <p:column styleClass="width-188">
                                    <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_description')}"/>
                                </p:column>
                                <p:column styleClass="width-284"> 
                                    <p:inputText id="pointLocDescription" value="#{pointLoc.description}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}"  >
                                        <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this pointLocDescriptionMsgId"/>
                                    </p:inputText>
                                    <p:message for="pointLocDescription" id="pointLocDescriptionMsgId"/>
                                </p:column>                               
                                <p:column styleClass="width-188">
                                    <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_ffSetNames')}"/>
                                </p:column>
                                <p:column styleClass="width-284">  
                                    <p:inputText id="ffSetNames" value="#{pointLoc.ffSetNames}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}"  >
                                        <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this ffSetNamesMsgId"/>
                                    </p:inputText>
                                    <p:message for="ffSetNames" id="ffSetNamesMsgId"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_speedRatio')}"/>
                                </p:column>
                                <p:column>    
                                    <p:inputText id="speedRatio" value="#{pointLoc.speedRatio}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_double')}" >
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this"/>
                                        <f:validateDoubleRange minimum="0" />
                                    </p:inputText>
                                    <p:message for="speedRatio"><p:autoUpdate/></p:message>
                                </p:column>
                                <p:column>
                                    <p:outputLabel for="tachName" value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="tachName" value="#{pointLoc.tachId}" converter="uuidConverter">
                                        <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                        <f:selectItems value="#{createAssetBean.tachometerList}" var="tachomList"  itemValue="#{tachomList.tachId}" itemLabel="#{tachomList.tachName}"/>
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="tachName"/>
                                    </p:selectOneMenu>
                                    <p:message for="tachName"><p:autoUpdate/></p:message>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel for="pointLocationSampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                                </p:column> 
                                <p:column>
                                    <p:inputText id="pointLocationSampleInterval" value="#{pointLoc.sampleInterval}"  
                                                 required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}">
                                        <f:validateLongRange minimum="1" />
                                        <p:ajax listener="#{createAssetBean.updateBean()}" update="@this pointLocationSampleIntervalMsgId"/>
                                    </p:inputText>
                                    <p:message for="pointLocationSampleInterval" id="pointLocationSampleIntervalMsgId"/>
                                </p:column>  
                                <p:column/>
                                <p:column/>                             
                            </p:row>
                            <p:row>
                                <p:column colspan="4">
                                    <div class="center-btn-div">
                                        <p:commandButton value="#{userManageBean.getResourceBundleString('btn_add_point')}" icon="fa fa-plus" disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaId eq null or createAssetBean.assetVO.areaId eq '' or createAssetBean.assetVO.assetName eq null or createAssetBean.assetVO.assetName eq ''}" process="@form" action="#{createAssetBean.onAddNewPoint(pointLoc)}" update="createAssetForm:pointLocTbl"/>
                                    </div>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">
                                    <p:dataTable id="pointsTbl" widgetVar="pointsTbl" var="point" value="#{pointLoc.pointList}" paginatorPosition="top" rendered="#{pointLoc.pointList.size() gt 0}" rowExpandMode="multiple" expandedRow="true" styleClass="datatable-layout-two inner-table">
                                        <f:facet name="header">
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_points')}"/>
                                        </f:facet>

                                        <p:column styleClass="toggle-column table-column-title-left-column-border-right-border">
                                            <p:rowToggler />
                                        </p:column>
                                        
                                        <p:column  styleClass="width-188 table-column-title-center-column-border-horizontal-border">
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_pointName')}"/>
                                        </p:column>
                                        
                                        <p:column styleClass="width-253-5 table-column-title-center-column-border-horizontal-border">
                                            <p:inputText id="pointName" value="#{point.pointName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_name_required')}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" >
                                                <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                                                <p:ajax listener="#{createAssetBean.updateBean()}" update="@this pointNameMsgId apSetName"/>
                                            </p:inputText>
                                            <p:message for="pointName" id="pointNameMsgId"/>
                                        </p:column>
                                        
                                        <p:column styleClass="width-188 table-column-title-center-column-border-horizontal-border"/>
                                        
                                        <p:column styleClass="width-253-5 table-column-title-center-column-border-horizontal-border"/>

                                        <p:column styleClass="width-27 table-column-title-right-column-border-left-border">
                                            <p:commandLink id="delPbtn" immediate="true" update="createAssetForm:pointLocTbl" action="#{createAssetBean.ondeletePoints(pointLoc, point)}">
                                                <i class="pi pi-trash" />
                                            </p:commandLink>
                                        </p:column>

                                        <p:rowExpansion>
                                            <p:panelGrid styleClass="panelgrid-layout-one" id="pointPanelgridId">
                                                <p:row>
                                                    <p:column styleClass="width-188">
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_pointType')}"/>
                                                    </p:column>
                                                    <p:column styleClass="width-253-5">
                                                        <p:selectOneButton value="#{point.pointType}" unselectable="false" >
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_waveform')}" itemValue="AC"/>
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_single_measurement')}" itemValue="DC"/>
                                                            <p:ajax listener="#{createAssetBean.onPointTypeChange(point, pointLoc)}" update="pointPanelgridId"/>
                                                        </p:selectOneButton>
                                                    </p:column>
                                                </p:row>
                                                <p:row>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorType')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:selectOneMenu value="#{point.sensorType}" id="cpAcSensorTypeId" rendered="#{point.pointType.equals('AC')}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensor_type_required')}">
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                                            <f:selectItems value="#{createAssetBean.acSensorTypeList}"/>
                                                            <p:ajax event="itemSelect" listener="#{createAssetBean.onSensorSelect(point, pointLoc)}" update="pointPanelgridId"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="cpAcSensorTypeId"><p:autoUpdate/></p:message>
                                                        <p:selectOneMenu value="#{point.sensorType}" id="cpDcSensorTypeId" rendered="#{point.pointType.equals('DC')}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensor_type_required')}">
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                                            <f:selectItems value="#{createAssetBean.dcSensorTypeList}"/>
                                                            <p:ajax event="itemSelect" listener="#{createAssetBean.onSensorSelect(point, pointLoc)}"  update="pointPanelgridId" />
                                                        </p:selectOneMenu>
                                                        <p:message for="cpDcSensorTypeId"><p:autoUpdate/></p:message>
                                                    </p:column>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorUnits')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText id="sensorUnits" value="#{point.sensorUnits}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" >
                                                            <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                                                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this sensorUnitsMsgId"/>
                                                        </p:inputText>
                                                        <p:message for="sensorUnits" id="sensorUnitsMsgId"/>
                                                    </p:column>
                                                </p:row>
                                                <p:row>                                                    
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorChannelNum')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText id="sensorChannelNum" value="#{point.sensorChannelNum}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_long')}" >
                                                            <f:validateLongRange minimum="0" />
                                                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this"/>
                                                        </p:inputText>
                                                        <p:message for="sensorChannelNum"><p:autoUpdate/></p:message>
                                                    </p:column>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_param_name')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText id="paramName" value="#{point.paramName}" required="true"  requiredMessage="#{userManageBean.getResourceBundleString('message_param_name_required')}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" >
                                                            <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                                                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this paramNameMsgId"/>
                                                        </p:inputText>
                                                        <p:message for="paramName" id="paramNameMsgId"/>
                                                    </p:column>
                                                </p:row>                                                
                                                <p:row>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_apSetName')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:selectOneMenu id="apSetName" value="#{point.apSetId}" converter="uuidConverter" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_ap_set_name_required')}" disabled="#{point.pointName eq null or point.pointName eq ''}">
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                                            <f:selectItems value="#{createAssetBean.customerApSetVOList}" var="apSet"  itemValue="#{apSet.apSetId}" itemLabel="#{apSet.apSetName}"/>
                                                            <p:ajax listener="#{createAssetBean.onApSetNameSelect(point)}" update="@this apSetNameMsgId alSetName"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="apSetName" id="apSetNameMsgId"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_alSetName')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:selectOneMenu id="alSetName" value="#{point.alSetId}" converter="uuidConverter" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_al_set_name_required')}" disabled="#{point.apSetId eq null or point.apSetId eq ''}">
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                                            <f:selectItems value="#{createAssetBean.siteApAlSetsVOList}" var="alSet"  itemValue="#{alSet.alSetId}" itemLabel="#{alSet.alSetName}"/>
                                                            <p:ajax listener="#{createAssetBean.onAlSetNameSelect(point)}" update="@this alSetNameMsgId"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="alSetName" id="alSetNameMsgId"/>
                                                    </p:column>
                                                </p:row>
                                                <p:row>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorOffset')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText id="sensorOffset" value="#{point.sensorOffset}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_double')}" >
                                                            <f:validateDoubleRange minimum="0" />
                                                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this"/>
                                                        </p:inputText>
                                                        <p:message for="sensorOffset"><p:autoUpdate/></p:message>
                                                    </p:column>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorSensitivity')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText id="sensorSensitivity" value="#{point.sensorSensitivity}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_double')}" >
                                                            <f:validateDoubleRange minimum="0" />
                                                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this"/>
                                                        </p:inputText>
                                                        <p:message for="sensorSensitivity"><p:autoUpdate/></p:message>
                                                    </p:column>
                                                </p:row>
                                                <p:row>
                                                    <p:column>
                                                    </p:column>
                                                    <p:column>
                                                    </p:column>
                                                    <p:column>
                                                        <p:outputLabel  for="alarmEnabledPointLoc" value="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputSwitch id="alarmEnabledPointLoc" value="#{pointLoc.alarmEnabled}" onLabel="yes" offLabel="no" >
                                                            <p:ajax listener="#{createAssetBean.updateBean()}"/>
                                                        </p:inputSwitch>
                                                    </p:column>
                                                </p:row>
                                                <p:row>       
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_dwell')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText id="dwellId" value="#{point.dwell}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_double')}" >
                                                            <f:validateDoubleRange minimum="0" />
                                                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this"/>
                                                        </p:inputText>
                                                        <p:message for="dwellId"><p:autoUpdate/></p:message>
                                                    </p:column>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_fmax')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText id="fmaxId" value="#{point.fMax}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_double')}" >
                                                            <f:validateDoubleRange minimum="0" />
                                                            <p:ajax listener="#{createAssetBean.updateBean()}" update="@this"/>
                                                        </p:inputText>
                                                        <p:message for="fmaxId"><p:autoUpdate/></p:message>
                                                    </p:column>
                                                </p:row>
                                                <p:row>
                                                    <p:column>
                                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_disabled')}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputSwitch  value="#{point.disabled}" onLabel="yes" offLabel="no" >
                                                            <p:ajax listener="#{createAssetBean.updateBean()}"/>
                                                        </p:inputSwitch>
                                                    </p:column> 
                                                    <p:column/>
                                                    <p:column/>    
                                                </p:row>
                                            </p:panelGrid>
                                        </p:rowExpansion>
                                    </p:dataTable>
                                </p:column>
                            </p:row> 
                        </p:panelGrid>
                    </p:rowExpansion>
                </p:dataTable>

                <div class="center-btn-div" >
                    <p:commandButton styleClass="left-btn" id="createAssetSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createAssetBean.createAsset()}"                                      
                                     disabled="#{createAssetBean.assetVO eq null or createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' 
                                                 or createAssetBean.assetVO.areaId eq null or createAssetBean.assetVO.areaId eq ''
                                                 or createAssetBean.assetVO.assetName eq null or createAssetBean.assetVO.assetName eq ''
                                                 or createAssetBean.assetVO.sampleInterval eq null or createAssetBean.assetVO.sampleInterval eq '0'
                                                 or createAssetBean.assetVO.assetType eq null or createAssetBean.assetVO.assetType eq ''}" oncomplete="PF('defaultDlg').hide()" update="@form nonAutoGrowlId"/>
                    <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
                </div>
                <p:blockUI block="createAssetForm" trigger="createAssetSubmitBtnId"/>
            </p:scrollPanel>
        </h:form>
    </div>
</ui:composition>
