<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-fault-frequencies">
        <h:form id="createFaultFrequenciesFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_siteName')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:selectOneMenu id="ffSiteName" value="#{createFaultFrequenciesBean.siteOrGlobal}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_global')}" itemValue="global"/>
                            <f:selectItem itemLabel="#{userManageBean.currentSite.siteName}" itemValue="site"/>
                            <p:ajax update="@form" listener="#{createFaultFrequenciesBean.updateBean()}"/>
                        </p:selectOneMenu>                        
                        <p:message for="ffSiteName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_ff_set_name')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="ffSetName" value="#{createFaultFrequenciesBean.setName}" styleClass="min-width-one"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <p:ajax update="@form" listener="#{createFaultFrequenciesBean.updateBean()}"/>
                        </p:inputText>
                        <p:message for="ffSetName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding"> 
                        <p:inputText id="description" value="#{createFaultFrequenciesBean.description}" styleClass="min-width-one">
                            <p:ajax update="@form" listener="#{createFaultFrequenciesBean.updateBean()}"/>
                        </p:inputText>
                    </p:column>  
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_ff_units')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding"> 
                        <p:selectOneMenu id="ffUnit" value="#{createFaultFrequenciesBean.ffUnits}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createFaultFrequenciesBean.frequencyUnitsList}"/>
                            <p:ajax update="@form" listener="#{createFaultFrequenciesBean.updateBean()}" />
                        </p:selectOneMenu>
                        <p:message for="ffUnit"><p:autoUpdate/></p:message>
                    </p:column>  
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_add_to_preferred')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding"> 
                        <p:inputSwitch id="addtoPreferredId" value="#{createFaultFrequenciesBean.addToPreferred}" onLabel="yes" offLabel="no" >
                         <p:ajax update="@form" listener="#{createFaultFrequenciesBean.updateBean()}" />
                        
                        </p:inputSwitch>
                    </p:column>  
                </p:row>
            </p:panelGrid>   

            <div class="center-btn-div bottom-margin no-top-margin">
                <p:commandButton value="#{userManageBean.getResourceBundleString('btn_add_fault_frequency')}" action="#{createFaultFrequenciesBean.addFaultFrequencies()}" update="@form"/>
            </div>

            <p:scrollPanel mode="native">
                <p:dataTable id="ffDatatableId" var="frequenciesVO" value="#{createFaultFrequenciesBean.frequenciesVOList}" styleClass="datatable-layout-one" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ff_name')}*" style="width:40%">
                        <p:inputText id="ffName" value="#{frequenciesVO.ffName}" styleClass="min-width-one"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <p:ajax update="@form"  listener="#{createFaultFrequenciesBean.updateBean()}" />
                        </p:inputText>
                        <p:message for="ffName"><p:autoUpdate/></p:message>
                    </p:column>                           
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ff_value')}" style="width:30%">    
                        <p:inputNumber id="ffValue" decimalPlaces="3" value="#{frequenciesVO.ffValue}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_positive_value')}"  validatorMessage="#{userManageBean.getResourceBundleString('message_positive_value')}" styleClass="min-width-one">
                            <f:validateDoubleRange minimum="0.001" />
                            <p:ajax update="@form"  listener="#{createFaultFrequenciesBean.updateBean()}" />                            
                        </p:inputNumber>
                        <p:message for="ffValue"><p:autoUpdate/></p:message>
                    </p:column>

                    <p:column style="width:25px">
                        <p:commandLink id="deleteFF-button-icon" process="@this"   action="#{createFaultFrequenciesBean.deleteFaultFrequencies(frequenciesVO)}" update="@form">
                            <i class="pi pi-trash"  />
                            <p:ajax listener="#{createFaultFrequenciesBean.updateBean()}" /> 
                        </p:commandLink>
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="deleteFF-button-icon" position="left" showDelay="500"/>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="faultFrequenciesSaveId2" value="#{userManageBean.getResourceBundleString('btn_save')}" onclick="saveBtn()" update="@form nonAutoGrowlId" disabled="#{!createFaultFrequenciesBean.enabled}"/> 
                <p:commandButton styleClass="left-btn hide-component" id="faultFrequenciesSaveId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createFaultFrequenciesBean.submit()}" update="@form nonAutoGrowlId" disabled="#{!createFaultFrequenciesBean.enabled}"
                                 onstart="readPageSize('dt-sitePreferences_rppDD')" oncomplete="setPageSize('dt-sitePreferences_rppDD',10)"/> 
                <p:commandButton styleClass="left-btn hide-component" id="faultFrequenciesSaveId1" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createFaultFrequenciesBean.submit()}" update="@form nonAutoGrowlId" disabled="#{!createFaultFrequenciesBean.enabled}"
                                 onstart="readPageSize('dt-sitePreferences_rppDD')" oncomplete="setPageSize('dt-sitePreferences_rppDD',10)"> 
                    <p:confirm header="Confirmation" message="#{userManageBean.getResourceBundleString('confirm_create_FF_sets')}" icon="pi pi-exclamation-triangle"/>
                </p:commandButton> 
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultSecondDlg').hide()"/>
            </div>
            <p:blockUI block="createFaultFrequenciesFormId" trigger="faultFrequenciesSaveId"/>
            <p:blockUI block="createFaultFrequenciesFormId" trigger="faultFrequenciesSaveId1"/>
        </h:form>
    </div>    
    <script type="text/javascript">
        function saveBtn() {
            if($('#createFaultFrequenciesFormId\\:ffSiteName_input').val()==='global') {
                $('#createFaultFrequenciesFormId\\:faultFrequenciesSaveId1').click();
            } else {
                $('#createFaultFrequenciesFormId\\:faultFrequenciesSaveId').click();
            }
        }
    </script>
</ui:composition>
