<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-area">
        <h:form id="CreateAreaFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_site')}:" for="createAreaSiteId"/>  
                    </p:column> 

                    <p:column>
                        <p:selectOneMenu id="createAreaSiteId" tabindex="1" value="#{createAreaBean.selectedSite}" styleClass="min-width-one" disabled="#{createAreaBean.siteSelectDisabled}" converter="userSitesVOConverter">
                            <f:selectItems value="#{createAreaBean.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site}"/>
                            <p:ajax listener="#{createAreaBean.onSiteSelect()}"/>
                        </p:selectOneMenu>
                    </p:column> 
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_area')}:" for="CreateAreaAreaId"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="CreateAreaAreaId" value="#{createAreaBean.areaVO.areaName}" onchange="updateSaveAreaButton()" maxlength="255" disabled="#{createAreaBean.areaVO.siteName eq null}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_area_required')}" styleClass="min-width-one">
                            <p:ajax listener="#{createAreaBean.updateBean()}" update="@this CreateAreaFormId:CreateAreaInId CreateAreaFormId:CreateAreaOutId CreateAreaFormId:CreateAreaSaveId CreateAreaFormId:scheduleId"/>
                            <!--<f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />-->
                        </p:inputText>
                        <p:message for="CreateAreaAreaId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:" for="CreateAreaDescriptionId"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="CreateAreaDescriptionId" value="#{createAreaBean.areaVO.description}" maxlength="255" styleClass="min-width-one">
                            <p:ajax listener="#{createAreaBean.updateBean()}"/>
                        </p:inputText>    
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_environment')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectBooleanCheckbox  id="CreateAreaInId" value="#{createAreaBean.indoor}" itemLabel="#{userManageBean.getResourceBundleString('label_indoor')}">
                            <p:ajax listener="#{createAreaBean.updateClimateControlled()}"  update="@this CreateAreaFormId:CreateAreaCCId" />
                        </p:selectBooleanCheckbox> 
                        <p:selectBooleanCheckbox  id="CreateAreaOutId" value="#{createAreaBean.outdoor}" itemLabel="#{userManageBean.getResourceBundleString('label_outdoor')}">
                            <p:ajax listener="#{createAreaBean.updateBean()}" />
                        </p:selectBooleanCheckbox> 
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_climate_controlled')}:" for="CreateAreaCCId"/>
                    </p:column> 
                    <p:column>
                        <p:selectBooleanCheckbox styleClass="min-width-one" id="CreateAreaCCId" value="#{createAreaBean.areaVO.climateControlled}" disabled="#{createAreaBean.indoor eq false}">
                            <p:ajax listener="#{createAreaBean.updateBean()}" />
                        </p:selectBooleanCheckbox> 
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:panel header="#{userManageBean.getResourceBundleString('label_schedules')}" styleClass="panel-layout-one">
                <p:scrollPanel mode="native">
                    <c:forEach id="schTbl" items="#{createAreaBean.areaVO.scheduleVOList}" var="scheduleVO" >
                        <p:panelGrid styleClass="panelgrid-layout-one">
                            <p:row>
                                <p:column styleClass="right-padding width-146">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_schedule')}:" for="CreateAreaScheduleId"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="CreateAreaScheduleId" value="#{scheduleVO.scheduleName}" maxlength="255" required="true" onchange="checkScheduleAndupdateSaveAreaButton()"
                                                 requiredMessage="#{userManageBean.getResourceBundleString('message_schedule_required')}"  
                                                 styleClass="min-width-one schedulename">
                                        <p:ajax listener="#{createAreaBean.updateScheduleName()}" update="CreateAreaFormId:scheduleId CreateAreaFormId:CreateAreaSaveId"/>
                                        <!--<f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=():;]+$" />-->
                                    </p:inputText>    
                                    <p:message for="CreateAreaScheduleId"> <p:autoUpdate/></p:message>
                                </p:column> 
                            </p:row>
                            <p:row>
                                <p:column styleClass="right-padding">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:" for="CreateAreaScheduleDesc"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="CreateAreaScheduleDesc" value="#{scheduleVO.schDescription}" maxlength="255" styleClass="min-width-one">
                                        <p:ajax listener="#{createAreaBean.updateBean()}"/>
                                    </p:inputText>    
                                </p:column> 
                            </p:row>
                            <p:row>
                                <p:column styleClass="right-padding">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_is_continous')}:" for="CreateAreaContinuousId"/>
                                </p:column>
                                <p:column >
                                    <p:selectBooleanCheckbox  id="CreateAreaContinuousId" value="#{scheduleVO.continuous}">
                                        <p:ajax listener="#{createAreaBean.isContinousChange(scheduleVO)}" update="CreateAreaFormId"  />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <c:forEach items="#{scheduleVO.dayVOList}" var="dvo">
                                    <p:row>
                                        <p:column styleClass="right-padding" style="text-align: right">
                                            <p:outputLabel value="#{dvo.label}:"/>
                                        </p:column>
                                        <p:column>  
                                            <p:selectCheckboxMenu id="CreateAreaHrsListId" value="#{dvo.selectedHrsList}" label="#{userManageBean.getResourceBundleString('label_select_hour')}" disabled="#{scheduleVO.continuous}" multiple="true" styleClass="min-width-one">
                                                <f:selectItems value="#{createAreaBean.hrsList}"/>
                                                <p:ajax listener="#{createAreaBean.onHrsChange(scheduleVO)}"  update="CreateAreaFormId:afterLoad"/>
                                                <p:ajax event="toggleSelect" listener="#{createAreaBean.onHrsChange(scheduleVO)}" />
                                            </p:selectCheckboxMenu>
                                        </p:column>
                                    </p:row>
                                </c:forEach>
                            </p:row>       
                            <p:row>
                                <p:column colspan="2">
                                    <p:commandButton id="delSch" value="#{userManageBean.getResourceBundleString('label_remove_schedule')}" 
                                                     update="CreateAreaFormId" action="#{createAreaBean.deleteSchedule(scheduleVO)}" 
                                                     disabled="#{createAreaBean.areaVO.areaName eq null}" styleClass="submit-button"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </c:forEach>
                </p:scrollPanel>
                <f:facet name="footer">
                    <div class="center-btn-div">
                        <p:commandButton id="scheduleId" value="#{userManageBean.getResourceBundleString('label_add_schedule')}" ajax="true" widgetVar="createScheduleButton"
                                         disabled="#{createAreaBean.areaVO.areaName eq null or (createAreaBean.areaNameList.contains(createAreaBean.areaVO.areaName.toUpperCase()) eq true) or createAreaBean.areaVO.areaName.trim().length() == 0 or createAreaBean.scheduleBtnClick}" action="#{createAreaBean.addSchedule()}" 
                                         update="@this CreateAreaFormId" styleClass="submit-button"/>
                    </div>
                </f:facet>
            </p:panel>
            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="CreateAreaSaveId" value="#{userManageBean.getResourceBundleString('btn_save')}"  widgetVar="createAreaSaveButton"
                                 update="nonAutoGrowlId" disabled="#{createAreaBean.areaVO.areaName eq null or (createAreaBean.areaNameList.contains(createAreaBean.areaVO.areaName.toUpperCase()) eq true) or createAreaBean.areaVO.areaName.trim().length() == 0 or createAreaBean.scheduleBtnClick}" 
                                 process="@form" action="#{createAreaBean.createArea()}"  onstart="readPageSize('areaDataTableId_rppDD')" 
                                 oncomplete="if (!args.validationFailed) afterLoad();"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}"  onclick="PF('defaultDlg').hide()"/>
            </div>
            <h:panelGroup id="afterLoad">
                <h:outputScript>
                    function afterLoad() { 

                    var schdChk = #{createAreaBean.areaVO.scheduleVOList.size()};					

                    if(schdChk === 0){
                    PF('defaultDlg').hide(); 
                    updateTreeNodes();
                    } else {
                    var schContinChk  = #{createAreaBean.scheduleContiFlag};

                    if(schContinChk == false){

                    PF('defaultDlg').hide(); 
                    updateTreeNodes();

                    } 

                    }
                    setPageSize('areaDataTableId_rppDD',25);
                    }
                </h:outputScript>
            </h:panelGroup>
            <p:blockUI block="CreateAreaFormId" trigger="CreateAreaSaveId"/>
        </h:form>
        <script>
            function updateSaveAreaButton() {
                debugger;
                var areaInputField = $('#CreateAreaFormId\\:CreateAreaAreaId');
                var creatBtnWidget = PF('createAreaSaveButton');
                var scheduleBtnWidget = PF('createScheduleButton');
                // Check if the input field is empty
                if (areaInputField[0].value.trim() === '') {
                    // Disable the button if the input is empty
                    creatBtnWidget.disable();
                    scheduleBtnWidget.disable();
                    PrimeFaces.ajax.update('creatBtnWidget');
                    PrimeFaces.ajax.update('scheduleBtnWidget');
                }

            }

            function checkScheduleAndupdateSaveAreaButton() {
                debugger;
                var scheduleNameInputField = $('.schedulename');
                var creatBtnWidget = PF('createAreaSaveButton');
                var scheduleBtnWidget = PF('createScheduleButton');
                // Check if the input field is empty
                scheduleNameInputField.each(function (i) {
                    if (scheduleNameInputField[i].value.trim() === '') {
                        // Disable the button if the input is empty
                        creatBtnWidget.disable();
                        scheduleBtnWidget.disable();
                        PrimeFaces.ajax.update('creatBtnWidget');
                        PrimeFaces.ajax.update('scheduleBtnWidget');
                    }
                });

            }
        </script>
    </div>
</ui:composition>
