<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-create-site">

        <h:form id="createSiteFrm">
            <p:scrollPanel mode="native">
                <p:panelGrid styleClass="panelgrid-layout-one include-margins">
                    <p:row >
                        <p:column styleClass="width-170">
                            <p:outputLabel for="siteName" value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                        </p:column>
                        <p:column styleClass="width-321-5">
                            <p:inputText id="siteName" value="#{createSiteBean.siteVo.siteName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}">
                                <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId createSiteFrm:addContactBtnId siteMsgId" listener="#{createSiteBean.updateBean}" />
                            </p:inputText>
                            <p:message for="siteName" id="siteMsgId"/>
                        </p:column>
                        <p:column styleClass="width-170"/>
                        <p:column styleClass="width-321-5"/>
                    </p:row>
                </p:panelGrid>

                <p:panel id="physicalAddPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_physadd')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="streetAdd1" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetadd_1')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="streetAdd1" value="#{createSiteBean.siteVo.physicalAddress1}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}">
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId createSiteFrm:latitude createSiteFrm:longitude phyAMsgddId1" listener="#{createSiteBean.updateBean}"/>
                                </p:inputText>
                                <p:message for="streetAdd1" id="phyAMsgddId1"/>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="streetAdd2" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetad_2')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="streetAdd2" value="#{createSiteBean.siteVo.physicalAddress2}" >
                                    <p:ajax listener="#{createSiteBean.updateBean}"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="city" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_city')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="city" value="#{createSiteBean.siteVo.physicalCity}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId createSiteFrm:latitude createSiteFrm:longitude cityMsgId" event="change" listener="#{createSiteBean.updateBean}"/>
                                </p:inputText>
                                <p:message for="cityMsgId" id="cityMsgId"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="state" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_state')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="state" value="#{createSiteBean.siteVo.physicalStateProvince}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId createSiteFrm:latitude createSiteFrm:longitude stateMsgId" event="change" listener="#{createSiteBean.updateBean}"/>
                                </p:inputText>
                                <p:message for="state" id="stateMsgId"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="postlCode" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_postcode')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="postlCode" value="#{createSiteBean.siteVo.physicalPostalCode}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId createSiteFrm:latitude createSiteFrm:longitude postlCodeMsgId" event="change" listener="#{createSiteBean.updateBean}"/>
                                    <p:keyFilter regEx="^[a-zA-Z0-9-]*$"/>
                                </p:inputText>
                                <p:message for="postlCodeMsgId" id="postlCodeMsgId"/>
                            </p:column>
                            <p:column/>
                            <p:column/>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="country" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_country')}:"/>
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="country" value="#{createSiteBean.siteVo.country}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}"  filter="true" filterMatchMode="contains">
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId createSiteFrm:region countryMsgId" listener="#{createSiteBean.onCountryChange}" />
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true" itemDisabled="true"/>
                                    <f:selectItems value="#{createSiteBean.countries}"/>
                                </p:selectOneMenu>
                                <p:message for="country" id="countryMsgId"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="region" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_region')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="region" value="#{createSiteBean.siteVo.region}" disabled="true" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="latitude" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_lat')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputNumber id="latitude" value="#{createSiteBean.siteVo.latitude}">
                                    <p:ajax update="@this" listener="#{createSiteBean.updateBean}" event="change" />
                                </p:inputNumber>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="longitude" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_1ong')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputNumber id="longitude" value="#{createSiteBean.siteVo.longitude}">
                                    <p:ajax update="@this" listener="#{createSiteBean.updateBean}" event="change" />
                                </p:inputNumber>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panel>

                <p:panel id="miscellPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_misce')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="industry" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_industry')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectOneMenu id="industry" value="#{createSiteBean.siteVo.industry}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" filter="true" filterMatchMode="contains">
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId industryMsgId" listener="#{createSiteBean.updateBean}" />
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true" itemDisabled="true"/>
                                    <f:selectItems value="#{createSiteBean.industries}"/>
                                </p:selectOneMenu>
                                <p:message for="industry" id="industryMsgId"/>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_createsite_label_timezone')}:" for="createSiteSelectOneTimezoneId"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectOneMenu id="createSiteSelectOneTimezoneId" value="#{createSiteBean.siteVo.timezone}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" filter="true" filterMatchMode="contains">
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId createSiteSelectOneTimezoneIdMsgId" listener="#{createSiteBean.updateBean}" />
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true" itemDisabled="true"/>
                                    <f:selectItems value="#{createSiteBean.timezoneList}"/>
                                </p:selectOneMenu>
                                <p:message for="createSiteSelectOneTimezoneId" id="createSiteSelectOneTimezoneIdMsgId"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>    
                </p:panel>

                <p:panel id="shippingAddPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_shipadd')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="shippAddChk" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_samephyscadd')}:" />  
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectBooleanCheckbox id="shippAddChk" value="#{createSiteBean.samePhyscAddShipChk}">
                                    <p:ajax update="createSiteFrm:shippingAddDataPnl createSiteFrm:createSiteSubmitBtnId" listener="#{createSiteBean.populatePhyscAddForShipp}"/>
                                </p:selectBooleanCheckbox>
                            </p:column>
                            <p:column styleClass="width-170"/>
                            <p:column styleClass="width-321-5"/>
                        </p:row>
                    </p:panelGrid> 
                    <p:panelGrid styleClass="panelgrid-layout-one" id="shippingAddDataPnl">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="shippAdd1" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetadd_1')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="shippAdd1" value="#{createSiteBean.siteVo.shipAddress1}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId shippAdd1MsgId" event="change" listener="#{createSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message for="shippAdd1" id="shippAdd1MsgId"/>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="shippAdd2" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetad_2')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="shippAdd2" value="#{createSiteBean.siteVo.shipAddress2}"  >
                                    <p:ajax listener="#{createSiteBean.updateBean}"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="shippCity" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_city')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="shippCity" value="#{createSiteBean.siteVo.shipCity}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId shippCityMsgId" event="change" listener="#{createSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message for="shippCity" id="shippCityMsgId"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="shippState" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_state_prov')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="shippState" value="#{createSiteBean.siteVo.shipStateProvince}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId shippStateMsgId" event="change" listener="#{createSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message for="shippState" id="shippStateMsgId"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="shippPostCode" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_postcode')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="shippPostCode" value="#{createSiteBean.siteVo.shipPostalCode}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId shippPostCodeMsgId" event="change" listener="#{createSiteBean.updateBean}" />
                                    <p:keyFilter mask="num"/>
                                </p:inputText>
                                <p:message for="shippPostCode" id="shippPostCodeMsgId"/>
                            </p:column>
                            <p:column/>
                            <p:column/>
                        </p:row>
                    </p:panelGrid>
                </p:panel>

                <p:panel id="billingAddPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_billadd')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="billAddChk" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_samephyscadd')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectBooleanCheckbox id="billAddChk" value="#{createSiteBean.samePhyscAddBillChk}">
                                    <p:ajax update="createSiteFrm:billAddDataPnl createSiteSubmitBtnId" listener="#{createSiteBean.populatePhyscAddForBill}"/>
                                </p:selectBooleanCheckbox>
                            </p:column>
                            <p:column styleClass="width-170"/>
                            <p:column styleClass="width-321-5"/>
                        </p:row>
                    </p:panelGrid> 
                    <p:panelGrid id="billAddDataPnl" styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="billAdd1" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetadd_1')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="billAdd1" value="#{createSiteBean.siteVo.billingAddress1}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId billAdd1MsgId" event="change" listener="#{createSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message for="billAdd1" id="billAdd1MsgId"/>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="billAdd2" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetad_2')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="billAdd2" value="#{createSiteBean.siteVo.billingAddress2}" >
                                    <p:ajax listener="#{createSiteBean.updateBean}"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="billCity" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_city')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="billCity" value="#{createSiteBean.siteVo.billingCity}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId billCityMsgId" event="change" listener="#{createSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message for="billCity" id="billCityMsgId"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="billState" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_state_prov')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="billState" value="#{createSiteBean.siteVo.billingStateProvince}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId billStateMsgId" event="change" listener="#{createSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message for="billState" id="billStateMsgId"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="billPostCode" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_postcode')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="billPostCode" value="#{createSiteBean.siteVo.billingPostalCode}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this createSiteFrm:createSiteSubmitBtnId billPostCodeMsgId" event="change" listener="#{createSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message for="billPostCode" id="billPostCodeMsgId"/>
                            </p:column>
                            <p:column/>
                            <p:column/>
                        </p:row>
                    </p:panelGrid>
                </p:panel>

                <p:panel id="contactAddPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_contactdetail')}" styleClass="panel-layout-one">
                    <p:dataTable id="contactDataTbl" widgetVar="contactDataTbl" var="contact" value="#{createSiteBean.contactList}" rendered="#{createSiteBean.contactList.size() gt 0}" styleClass="datatable-layout-one" >
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_name')}*" style="width:25%">
                            <p:inputText id="contactNameId" value="#{contact.contactName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}">
                                <p:ajax update="@this createSiteFrm:contactAddPnl contactNameIdMsgId" listener="#{createSiteBean.updateBean}"/>
                            </p:inputText>
                            <p:message for="contactNameId" id="contactNameIdMsgId"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_title')}" style="width:20%">
                            <p:inputText id="contactTitleId" value="#{contact.contactTitle}">
                                <p:ajax listener="#{createSiteBean.updateBean}"/>
                            </p:inputText>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_phone')}*" style="width:15%">
                            <p:inputText id="contactPhoneId" value="#{contact.contactPhone}">
                                <p:ajax listener="#{createSiteBean.updateBean}" />
                                <p:keyFilter mask="num"/>
                            </p:inputText>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_email')}*" style="width:25%">
                            <p:inputText id="contactEmailId" value="#{contact.contactEmail}" validatorMessage="#{userManageBean.getResourceBundleString('message_email_format')}">
                                <p:ajax update="@this createSiteFrm:contactAddPnl contactEmailIdMsgId" listener="#{createSiteBean.updateBean}" />
                                <f:validateRegex pattern="(.+@.+\.[a-zA-Z]+)?"/>
                            </p:inputText>
                            <p:message for="contactEmailId" id="contactEmailIdMsgId"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_role')}*" style="width:15%">
                            <p:selectOneMenu id="contactRoleId" value="#{contact.role}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}">
                                <p:ajax update="@this createSiteFrm:contactAddPnl contactRoleIdMsgId" listener="#{createSiteBean.updateBean}" />
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true" itemDisabled="true"/>
                                <f:selectItems value="#{createSiteBean.roles}"/>
                            </p:selectOneMenu>
                            <p:message for="contactRoleId" id="contactRoleIdMsgId"/>
                        </p:column>
                        <p:column style="width:20px">
                            <p:commandLink styleClass="layout-menu-button layout-topbar-icon" process="@this" action="#{createSiteBean.onDeleteRow(contact)}" update="createSiteFrm:contactAddPnl">
                                <i class="pi pi-trash" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                    <div class="center-btn-div bottom-margin">
                        <p:commandButton  id="addContactBtnId" value="#{userManageBean.getResourceBundleString('btn_contact')}" icon="fa fa-plus" disabled="#{createSiteBean.siteVo eq null or createSiteBean.siteVo.siteName eq null or createSiteBean.siteVo.siteName eq ''}" process="@this" action="#{createSiteBean.onAddNewRow}" update="createSiteFrm"/>
                    </div>
                </p:panel>

                <br/>
                <div class="center-btn-div">
                    <p:commandButton styleClass="left-btn" id="createSiteSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createSiteBean.createSite()}" 
                                     
                                     disabled="#{createSiteBean.siteVo eq null or createSiteBean.siteVo.siteName eq null or createSiteBean.siteVo.siteName eq '' 
                                                 or createSiteBean.siteVo.physicalAddress1 eq null or createSiteBean.siteVo.physicalAddress1 eq ''
                                                 or createSiteBean.siteVo.physicalCity eq null or createSiteBean.siteVo.physicalCity eq ''
                                                 or createSiteBean.siteVo.physicalStateProvince eq null or createSiteBean.siteVo.physicalStateProvince eq ''
                                                 or createSiteBean.siteVo.physicalStateProvince eq null or createSiteBean.siteVo.physicalStateProvince eq ''
                                                 or createSiteBean.siteVo.physicalPostalCode eq null or createSiteBean.siteVo.physicalPostalCode eq ''
                                                 or createSiteBean.siteVo.country eq null or createSiteBean.siteVo.country eq ''
                                                 or createSiteBean.siteVo.region eq null or createSiteBean.siteVo.region eq ''
                                                 or createSiteBean.siteVo.industry eq null or createSiteBean.siteVo.industry eq ''
                                                 or createSiteBean.siteVo.timezone eq null or createSiteBean.siteVo.timezone eq ''
                                                 or createSiteBean.siteVo.shipAddress1 eq null or createSiteBean.siteVo.shipAddress1 eq ''
                                                 or createSiteBean.siteVo.shipCity eq null or createSiteBean.siteVo.shipCity eq ''
                                                 or createSiteBean.siteVo.shipPostalCode eq null or createSiteBean.siteVo.shipPostalCode eq ''
                                                 or createSiteBean.siteVo.shipStateProvince eq null or createSiteBean.siteVo.shipStateProvince eq ''
                                                 or createSiteBean.siteVo.billingAddress1 eq null or createSiteBean.siteVo.billingAddress1 eq ''
                                                 or createSiteBean.siteVo.billingCity eq null or createSiteBean.siteVo.billingCity eq ''
                                                 or createSiteBean.siteVo.billingPostalCode eq null or createSiteBean.siteVo.billingPostalCode eq ''
                                                 or createSiteBean.siteVo.billingStateProvince eq null or createSiteBean.siteVo.billingStateProvince eq ''
                                     }" 
                                     update="@form nonAutoGrowlId"
                                     oncomplete="updateTreeNodes()"/>
                    <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
                </div>
            </p:scrollPanel>
        </h:form>
    </div>
</ui:composition>
