<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-point">
        <h:form id="createPointFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_from_template')}:" id="templateInfoIconId">
                            <i class="pi pi-info-circle" />
                        </p:outputLabel>
                        <p:tooltip value="#{userManageBean.getResourceBundleString('default_from_template_info')}" for="templateInfoIconId" position="right" showDelay="250" styleClass="max-width-300"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputSwitch value="#{createPointBean.fromTemplate}" onLabel="yes" offLabel="no" >
                            <p:ajax update="@form" listener="#{createPointBean.updateFromTemplate}"/>
                        </p:inputSwitch>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panel id="fromTemplatePanel" styleClass="panel-layout-one" rendered="#{createPointBean.fromTemplate}">
                <p:panelGrid styleClass="panelgrid-layout-one">
                    <p:row >
                        <p:column styleClass="width-174">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_template')}:"/>
                        </p:column>
                        <p:column styleClass="width-326">
                            <p:selectOneMenu id="devicePreset" value="#{createPointBean.selectedPresetId}" converter="uuidConverter" disabled="#{createPointBean.devicePresetsSelectItemList eq null or createPointBean.devicePresetsSelectItemList.size() eq 0}" filter="true" filterMatchMode="contains">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createPointBean.devicePresetsSelectItemList}" var="devicepresets" itemLabel="#{devicepresets.label}" itemValue="#{devicepresets.value}"/>
                                <p:ajax event="itemSelect" listener="#{createPointBean.onDevicePresetSelect()}" update="@form" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <p:scrollPanel mode="native" styleClass="scrollpanel-height-300">
                    <p:dataTable id="sdevicepresetDataTbl" var="devpreset" value="#{createPointBean.selectedSiteDevicePresetList}" rendered="#{createPointBean.selectedSiteDevicePresetList ne null and createPointBean.selectedSiteDevicePresetList.size() gt 0}" styleClass="datatable-layout-one" editable="true" >
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_pointName')}" style="width:25%">
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_pointName')}" style="width:25%">
                                <p:inputText id="pointnameId" value="#{devpreset.pointName}" disabled="true"/>
                            </p:column>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" style="width:15%">
                            <p:inputText id="sensorTypeId" value="#{devpreset.sensorType}" disabled="true" />
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" style="width:25%">
                            <p:inputText id="apSetNameId" value="#{devpreset.apSetName}" disabled="true" />
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_alSetName')}" style="width:25%">
                            <p:inputText id="alSetNameId" value="#{devpreset.alSetName}" disabled="true" />
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" style="width:15%">
                            <p:inputSwitch id="alarmEnabled" value="#{devpreset.alarmEnabled}" onLabel="yes" offLabel="no" >
                                <p:ajax listener="#{createPointBean.updateBean}"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 51px; text-align: center" rendered="#{admin or user or superAdmins or analysts}" styleClass="table-column-title-right-column-border-left-border">
                            <p:commandLink id ="cmdEdit" process="@this" actionListener="#{createPointBean.edit(devpreset)}">
                                <i class="fa fa-pencil-square-o"/>
                            </p:commandLink>
                            <p:tooltip for="cmdEdit" value="#{userManageBean.getResourceBundleString('label_edit')}" position="left" showDelay="500"/>
                        </p:column>
                    </p:dataTable>
                </p:scrollPanel>
            </p:panel>

            <p:panelGrid styleClass="panelgrid-layout-one" rendered="#{!createPointBean.fromTemplate}">
                <p:row >
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="site"  value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="site" value="#{createPointBean.pointVO.siteName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="area" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="area" value="#{createPointBean.pointVO.areaName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="assetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="assetName" value="#{createPointBean.pointVO.assetName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="ptLoName"  value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">   
                        <p:inputText id="ptLoName" value="#{createPointBean.pointVO.pointLocationName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_pointName')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputText id="cpPointNameId" value="#{createPointBean.pointVO.pointName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_name_required')}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" styleClass="min-width-one" >
                            <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                            <p:ajax listener="#{createPointBean.updateBean()}" update="@this :createPointFormId:createPointSubmitBtnId" oncomplete="hideTooltips()"/>
                        </p:inputText>
                        <p:message for="cpPointNameId"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_pointType')}:"/>
                    </p:column>
                    <p:column>
                        <p:selectOneButton value="#{createPointBean.pointVO.pointType}"  styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_waveform')}" itemValue="AC"/>
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_single_measurement')}" itemValue="DC"/>
                            <p:ajax listener="#{createPointBean.onSwitchChange()}" update="@form" oncomplete="hideTooltips()"/>
                        </p:selectOneButton>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorType')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:panel id="sensorTypePnl">
                            <p:selectOneMenu value="#{createPointBean.pointVO.sensorType}" id="cpAcSensorTypeId"  styleClass="min-width-one" rendered="#{createPointBean.pointVO.pointType.equals('AC')}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensor_type_required')}">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createPointBean.acSensorTypeList}"/>
                                <p:ajax event="change" listener="#{createPointBean.onSensorSelect()}" update="@form" oncomplete="hideTooltips()"/>
                            </p:selectOneMenu>
                            <p:message for="cpAcSensorTypeId"><p:autoUpdate/></p:message>
                            <p:selectOneMenu value="#{createPointBean.pointVO.sensorType}" id="cpDcSensorTypeId"  styleClass="min-width-one" rendered="#{createPointBean.pointVO.pointType.equals('DC')}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sensor_type_required')}">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createPointBean.dcSensorTypeList}"/>
                                <p:ajax event="change" listener="#{createPointBean.onSensorSelect()}" update="@form" oncomplete="hideTooltips()"/>
                            </p:selectOneMenu>
                            <p:message for="cpDcSensorTypeId"><p:autoUpdate/></p:message>
                        </p:panel>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputSwitch value="#{createPointBean.pointVO.alarmEnabled}" onLabel="yes" offLabel="no" >
                            <p:ajax listener="#{createPointBean.updateBean()}" update="@this" oncomplete="hideTooltips()"/>
                        </p:inputSwitch>
                    </p:column>
                    <p:column styleClass="right-padding"/>
                    <p:column/>
                </p:row>
            </p:panelGrid>

            <p:panel id="analysisParmPnl" header="#{userManageBean.getResourceBundleString('label_analysisParameters')}" styleClass="panel-layout-one" rendered="#{!createPointBean.fromTemplate}">
                <p:panelGrid styleClass="panelgrid-layout-one width-fill-available">
                    <p:row>
                        <p:column styleClass="right-padding width-165-7">
                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                        </p:column>
                        <p:column styleClass="right-padding width-265">
                            <p:selectOneMenu id="cpApSetId" value="#{createPointBean.pointVO.apSetId}" converter="uuidConverter" disabled="#{createPointBean.pointVO.sensorType  eq null or createPointBean.pointVO.sensorType eq ''}" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createPointBean.apSetList}" var="apSet"  itemValue="#{apSet.value}" itemLabel="#{apSet.label}"/> 
                                <p:ajax event="itemSelect" listener="#{createPointBean.onApSetNameSelect()}" update="@form" oncomplete="hideTooltips()"/>
                            </p:selectOneMenu>
                            <p:message for="cpApSetId"><p:autoUpdate/></p:message>
                        </p:column>
                        <p:column styleClass="right-padding width-176-5">
                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                        </p:column>
                        <p:column styleClass="right-padding width-265">
                            <p:selectOneMenu id="alSetGt1" value="#{createPointBean.pointVO.alSetId}" converter="uuidConverter" disabled="#{createPointBean.pointVO.apSetId eq null or createPointBean.tachValidationFailed}" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{createPointBean.alSetList}" var="alSet" itemValue="#{alSet.value}" itemLabel="#{alSet.label}"/>
                                <p:ajax listener="#{createPointBean.onAlSetNameSelect()}" update="@form" oncomplete="hideTooltips()"/>
                            </p:selectOneMenu>
                            <p:message for="alSetGt1"><p:autoUpdate/></p:message>
                        </p:column>  
                        <p:column>
                            <p:commandButton value="#{userManageBean.getResourceBundleString('btn_add_ap_set')}" styleClass="float-right" disabled="#{!createPointBean.addApalSetToPoint}" actionListener="#{createPointBean.addApAlset()}" ajax="true" update="@form" oncomplete="hideTooltips()"/>
                        </p:column>
                    </p:row>
                    <p:row rendered="#{createPointBean.tachValidationFailed}">                       
                        <p:column colspan="5">
                            <p:outputLabel  id="disclaimerId" value="#{userManageBean.getResourceBundleString('label_tach_validation_message')}" styleClass="disclaimer-test-color"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <p:scrollPanel mode="native">
                    <p:dataTable rendered="#{createPointBean.displayApAlsets ne null and !createPointBean.displayApAlsets.isEmpty()}" id="customerApSetVO" var="apAlSetVO" rowKey="#{apAlSetVO.apSetId}" disabledSelection="#{createPointBean.renderAlertMsg}"
                                 selection="#{createPointBean.selectedApAlSetVO}" value="#{createPointBean.displayApAlsets}" rowIndexVar="rowId" styleClass="datatable-layout-two" paginatorTemplate="{CurrentPageReport}  
                                 {FirstPageLink} {PreviousPageLink}  {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" >
                        <p:ajax event="rowSelectRadio" listener="#{createPointBean.activateApAlSetVO}" update="@form" oncomplete="hideTooltips()"/>
                        <p:ajax event="rowSelect" listener="#{createPointBean.activateApAlSetVO}" update="@form" oncomplete="hideTooltips()"/>

                        <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" selectionMode="single" styleClass="text-align-center table-column-title-left-column-border-right-border"/>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" sortBy="#{apAlSetVO.apSetName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                            <h:outputText value="#{apAlSetVO.apSetName}"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_alSetName')}" sortBy="#{apAlSetVO.alSetName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                            <h:outputText value="#{apAlSetVO.alSetName}"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_fmax')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                            <h:outputText value="#{apAlSetVO.fmax}"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_resolution')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                            <h:outputText value="#{apAlSetVO.resolution}"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                            <p:commandLink id="deleteApSet" actionListener="#{createPointBean.removeApAlset(apAlSetVO)}" ajax="true" update="@form" oncomplete="hideTooltips()">
                                <i class="pi pi-trash"/>
                                <p:tooltip for="deleteApSet" value="#{userManageBean.getResourceBundleString('point_remove_ap_al_set_tool_tip')}" position="left" showDelay="500" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:scrollPanel>
            </p:panel>

            <p:panel id="customLimitsPnl" header="#{userManageBean.getResourceBundleString('label_customLimits')}" styleClass="panel-layout-one" rendered="#{!createPointBean.fromTemplate}">
                <p:panelGrid styleClass="panelgrid-layout-one width-fill-available" id="customLimitsPnlGrid">
                    <p:row>
                        <p:column styleClass="right-padding width-165-7">
                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_useCustomLimits')}:"/>
                        </p:column>
                        <p:column styleClass="right-padding width-265">
                            <p:inputSwitch value="#{createPointBean.pointVO.customized}" onLabel="yes" offLabel="no" disabled="#{createPointBean.displayApAlsets.isEmpty()}">
                                <p:ajax listener="#{createPointBean.onCustomLimitsAlSetNameSelect()}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column/>
                        <p:column/>
                    </p:row>
                    <p:row rendered="#{(createPointBean.pointVO.customized and createPointBean.renderAlertMsg)}">                       
                        <p:column colspan="4">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_limits_info')}" styleClass="error-outputlabel"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <p:scrollPanel mode="native">
                    <p:dataTable  rendered="#{createPointBean.pointVO.customized}" id="customDatatableId" var="apAlSetVO" value="#{createPointBean.selectedSiteApAlSetsVOList}" emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}" rowIndexVar="rowId" styleClass="datatable-layout-one" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_param_name')}" style="width: 19%" styleClass="table-column-title-left-column-border-right-border"/>
                                <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_units')}" style="width: 6%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_amp_factor')}" style="width: 8%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_dwell')}" style="width: 11%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowFault')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowAlert')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highAlert')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highFault')}" style="width: 14%" styleClass="table-column-title-right-just-top-right-border"/>
                            </p:row>
                            <p:row>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-right-just-bottom-right-border"/>
                            </p:row>
                        </p:columnGroup>

                        <p:column>
                            <p:inputText id="paramNameId" value="#{apAlSetVO.paramName}" disabled="true" styleClass="min-width-one" />
                        </p:column>  
                        <p:column>
                            <p:inputText id="paramUnitsId" value="#{apAlSetVO.paramUnits}" disabled="true" styleClass="min-width-one" />
                        </p:column>  
                        <p:column>
                            <p:inputText id="paramAmpFactorId" value="#{apAlSetVO.paramAmpFactor}" disabled="true" styleClass="min-width-one" />
                        </p:column>                  
                        <p:column>   
                            <p:selectOneMenu id="dwellId" value="#{apAlSetVO.dwell}" styleClass="min-width-one" style="width: 100% !important">
                                <f:selectItems value="#{createPointBean.getDwellList()}"/>
                                <p:ajax listener="#{createPointBean.updateBean()}" update="@this" oncomplete="hideTooltips()"/>
                            </p:selectOneMenu>
                        </p:column>                  
                        <p:column>
                            <p:inputSwitch id="lowFaultActiveId" value="#{apAlSetVO.lowFaultActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                <p:ajax listener="#{createPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="lowFaultId" value="#{apAlSetVO.lowFault}" styleClass="#{(apAlSetVO.lowFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.lowFaultActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="-0" maxValue="99996.999">
                                <p:ajax listener="#{createPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputNumber>
                        </p:column>
                        <p:column>
                            <p:inputSwitch id="lowAlertActiveId" value="#{apAlSetVO.lowAlertActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                <p:ajax listener="#{createPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="lowAlertId" value="#{apAlSetVO.lowAlert}" styleClass="#{(apAlSetVO.lowAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.lowAlertActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99997.999">
                                <p:ajax listener="#{createPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputNumber>
                        </p:column>
                        <p:column>
                            <p:inputSwitch id="highAlertActiveId" value="#{apAlSetVO.highAlertActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                <p:ajax listener="#{createPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="highAlertId" value="#{apAlSetVO.highAlert}" styleClass="#{(apAlSetVO.highAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.highAlertActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99998.999">
                                <p:ajax listener="#{createPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputNumber>
                        </p:column>
                        <p:column>
                            <p:inputSwitch id="highFaultActiveId" value="#{apAlSetVO.highFaultActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                <p:ajax listener="#{createPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="highFaultId" value="#{apAlSetVO.highFault}" styleClass="#{(apAlSetVO.highFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.highFaultActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99999.999">
                                <p:ajax listener="#{createPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputNumber>
                        </p:column>      
                    </p:dataTable>
                </p:scrollPanel>
            </p:panel>
            <div class="center-disclaimer-div">
                <p:outputLabel rendered="#{createPointBean.templateTachValidationFailed}" id="disclaimerId1" value="#{userManageBean.getResourceBundleString('label_tach_validation_message')}" styleClass="disclaimer-test-color"/>
            </div>
            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="createPointSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createPointBean.createPoint()}" process="@form"
                                 disabled="#{!createPointBean.fromTemplate?(createPointBean.selectedApAlSetVO eq null or createPointBean.pointVO eq null or createPointBean.pointVO.pointName eq null or createPointBean.pointVO.pointName eq ''  or createPointBean.renderAlertMsg):(createPointBean.selectedPresetId eq null or createPointBean.selectedPresetId eq '' or createPointBean.templateTachValidationFailed)}"
                                 onstart="readPageSize('pointDataTableId_rppDD')" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide(); updateTreeNodes(); setPageSize('pointDataTableId_rppDD',25)"  update="@form nonAutoGrowlId" />

                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{createPointBean.resetPage()}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="createPointFormId" trigger="createPointSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
