<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-ts1">
        <h:form id="addTS1FormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column colspan="3" styleClass="font-weight bottom-padding-35">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('ts1_guidance_msg')}"/>
                    </p:column> 
                </p:row>
                <p:row>
                    <p:column styleClass="width-180">
                        <p:outputLabel for="serialNumberId" value="#{userManageBean.getResourceBundleString('label_serial_number')}:"/>
                    </p:column> 
                    <p:column styleClass="width-321">
                        <p:inputText id="serialNumberId" value="#{createTS1Bean.serialNumber}" disabled="true" styleClass="width-200"/>
                    </p:column>
                    <p:column>
                        <p:commandButton id="addChnlBtnId" value="#{userManageBean.getResourceBundleString('btn_add_Sensor')}" action="#{createTS1Bean.addChannel()}" styleClass="bottom-margin" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="bottom-padding-4">
                        <p:outputLabel for="basestationPortNum" value="#{userManageBean.getResourceBundleString('label_pointlocations_base_station_port')}:"/>
                    </p:column> 
                    <p:column styleClass="bottom-padding-4">
                        <p:inputNumber id="basestationPortNum" minValue="0" thousandSeparator="" decimalPlaces="0" value="#{createTS1Bean.basestationPortNum}" converterMessage="#{userManageBean.getResourceBundleString('message_base_station_port_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_base_station_port_minimum')}" required="true"  requiredMessage="#{userManageBean.getResourceBundleString('message_base_station_port_required')}" styleClass="width-200">
                            <f:validateLongRange minimum="1" maximum="9999"/>
                            <p:ajax update="@this"/>
                        </p:inputNumber>
                        <p:tooltip value="#{userManageBean.getResourceBundleString('ts1_port_number_tool_tip')}" for="basestationPortNum" position="right" showDelay="500" styleClass="max-width-300"/>
                        <p:message id="basestationPortNumMessage" for="basestationPortNum" styleClass="min-width-one"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="bottom-padding-4"/>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel for="pointLocationSampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                    </p:column> 
                    <p:column>
                       <p:inputNumber id="pointLocationSampleInterval" minValue="0" decimalPlaces="0" value="#{createTS1Bean.sampleInterval}" converterMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" required="true"  requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}" styleClass="width-200">
                            <f:validateLongRange minimum="1" maximum="9999999999"/>
                            <p:ajax update="@this"/>
                        </p:inputNumber>
                        <p:tooltip value="#{userManageBean.getResourceBundleString('ts1_sample_interval_tool_tip')}" for="pointLocationSampleInterval" position="right" showDelay="500" styleClass="max-width-300"/>
                        <p:message id="pointLocationSampleIntervalMessage" for="pointLocationSampleInterval" styleClass="min-width-one"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column/>
                </p:row>
            </p:panelGrid>

            <p:scrollPanel mode="native">
                <p:dataTable id="channelTableId" var="channel" value="#{createTS1Bean.channelVOList}" rendered="#{createTS1Bean.channelVOList.size() gt 0}" sortMode="single" styleClass="datatable-layout-two top-margin" rowIndexVar="row"  sortBy="#{channel.pointType}">     
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_data_type')}" sortBy="#{channel.pointType}" style="width: 12%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                        <p:outputLabel value="#{(channel.pointType.equalsIgnoreCase('AC')) ? userManageBean.getResourceBundleString('label_waveform') : userManageBean.getResourceBundleString('label_single_measurement')}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ts1_channel_num')}" sortBy="#{channel.sensorChannelNum}" style="width: 8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{(channel.pointType.equalsIgnoreCase('AC')) ? createTS1Bean.getTS1ACChannelNumberLabelByValue(channel.sensorChannelNum) : createTS1Bean.getTS1DCChannelNumberLabelByValue(channel.sensorChannelNum)}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" sortBy="#{channel.sensorType}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{channel.sensorType}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_area')}" sortBy="#{channel.areaName}" style="width: 11%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{channel.areaName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_asset')}" sortBy="#{channel.assetName}" style="width: 11%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{channel.assetName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" sortBy="#{channel.pointLocationName}" style="width: 12%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{channel.pointLocationName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" sortBy="#{channel.pointName}" style="width: 12%;" styleClass="text-align-center text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{channel.pointName}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_fmax')}" sortBy="#{channel.getfMax()}" style="width: 7%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{(channel.pointType.equalsIgnoreCase('AC')) ? channel.getfMax() : ''}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_resolution')}" sortBy="#{channel.resolution}" style="width: 8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{(channel.pointType.equalsIgnoreCase('AC')) ? channel.resolution : ''}"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" sortBy="#{channel.alarmEnabled}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{channel.alarmEnabledValue}"/>
                    </p:column>

                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                        <p:commandLink id="info-channel-button-icon" oncomplete="PF('defaultSecondDlg').show(); hideTooltips();">
                            <i class="pi pi-info-circle" />
                            <p:ajax listener="#{createTS1Bean.viewInfo(channel)}"/>   
                        </p:commandLink>
                        <p:commandLink id="del-channel-button-icon" oncomplete="hideTooltips();">
                            <i class="pi pi-trash" />
                            <p:ajax listener="#{createTS1Bean.delete(channel)}" update="@form" />   
                        </p:commandLink>

                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_info')}" for="info-channel-button-icon" position="left" showDelay="500"/>
                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="del-channel-button-icon" position="left" showDelay="500"/>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>

            <p:panel class="center-btn-panel" rendered="#{createTS1Bean.channelVOList.size() gt 0}">
                <p:commandButton styleClass="left-btn" id="saveBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" disabled="#{createTS1Bean.channelVOList.size() eq 0}" action="#{createTS1Bean.createTS1()}" />
                <p:commandButton id="cancelBtnId" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{createTS1Bean.resetPage()}"  onclick="PF('defaultDlg').hide()" />
            </p:panel>
        </h:form>
    </div>
</ui:composition>
