<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-create-asset">
        <h:form id="createAssetForm">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row >
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="site"  value="#{userManageBean.getResourceBundleString('label_siteName')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="site" tabindex="1" value="#{createAssetBean.assetVO.siteId}" styleClass="min-width-one" disabled="true">
                            <f:selectItems value="#{createAssetBean.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteId}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="area" value="#{userManageBean.getResourceBundleString('label_area_name')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="area" tabindex="2" value="#{createAssetBean.assetVO.areaId}" styleClass="min-width-one" disabled="true">
                            <f:selectItems value="#{createAssetBean.areaList}" var="area" itemLabel="#{area.areaName}" itemValue="#{area.areaId}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="assetType" value="#{userManageBean.getResourceBundleString('label_asset_type')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>

                        <p:selectOneMenu id="assetType" tabindex="3" value="#{createAssetBean.assetVO.assetType}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_type_required')}" filter="true" disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaName eq null or createAssetBean.assetVO.areaName eq ''}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createAssetBean.assetTypeList}"/>
                            <p:ajax listener="#{createAssetBean.updateBean()}" update="createAssetForm:assetType createAssetForm:createAssetSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="assetType" > <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="assetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>

                        <p:inputText id="assetName" tabindex="4" value="#{createAssetBean.assetVO.assetName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_required')}" disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaName eq null or createAssetBean.assetVO.areaName eq ''}" styleClass="min-width-one">
                            <p:ajax listener="#{createAssetBean.updateBean()}" update="createAssetForm:assetName createAssetForm:description createAssetForm:sampleInterval createAssetForm:createAssetSubmitBtnId"/>
                        </p:inputText>
                        <p:message for="assetName"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="description" value="#{userManageBean.getResourceBundleString('label_description')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>

                        <p:inputText id="description" tabindex="6" value="#{createAssetBean.assetVO.description}" disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaName eq null or createAssetBean.assetVO.areaName eq '' or createAssetBean.assetVO.assetName eq null or createAssetBean.assetVO.assetName eq ''}" styleClass="min-width-one">
                            <p:ajax listener="#{createAssetBean.updateBean()}" update="createAssetForm:description" />
                        </p:inputText>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="sampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>

                        <p:inputText id="sampleInterval" tabindex="7" value="#{createAssetBean.assetVO.sampleInterval}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" disabled="#{createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' or createAssetBean.assetVO.areaName eq null or createAssetBean.assetVO.areaName eq '' or createAssetBean.assetVO.assetName eq null or createAssetBean.assetVO.assetName eq ''}" styleClass="min-width-one">
                            <f:validateLongRange minimum="1" />
                            <p:ajax listener="#{createAssetBean.updateBean()}" update="createAssetForm:sampleInterval createAssetForm:createAssetSubmitBtnId"/>
                        </p:inputText>
                        <p:message for="sampleInterval"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <div class="center-btn-div">

                <p:commandButton tabindex="8" styleClass="left-btn" id="createAssetSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createAssetBean.createAsset()}"
                                 update="nonAutoGrowlId"  onstart="readPageSize('assetDataTableId_rppDD')"
                                 oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide(); updateTreeNodes(); setPageSize('assetDataTableId_rppDD',25)"
                                 disabled="#{createAssetBean.assetVO eq null or createAssetBean.assetVO.siteName eq null or createAssetBean.assetVO.siteName eq '' 
                                             or createAssetBean.assetVO.areaName eq null or createAssetBean.assetVO.areaName eq ''
                                             or createAssetBean.assetVO.assetName eq null or createAssetBean.assetVO.assetName eq ''
                                             or createAssetBean.assetVO.sampleInterval eq null or createAssetBean.assetVO.sampleInterval eq ''
                                             or createAssetBean.assetVO.assetType eq null or createAssetBean.assetVO.assetType eq ''}"/>
                <p:commandButton tabindex="9" type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="createAssetForm" trigger="createAssetSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
