<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-presets-device">
        <h:form id="createDevicesFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_siteName')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:selectOneMenu id="deviceSiteName" value="#{createPresetsDeviceBean.siteOrGlobal}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_global')}" itemValue="global"/>
                            <f:selectItem itemLabel="#{userManageBean.currentSite.siteName}" itemValue="site"/>
                            <p:ajax listener="#{createPresetsDeviceBean.onSiteChange()}" update="createDevicesFormId:deviceDatatableId createDevicesFormId:devicePresetSaveId createDevicesFormId:devicePresetSaveId1 createDevicesFormId:devicePresetSaveId2"/>
                        </p:selectOneMenu>
                        <p:message for="deviceSiteName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_device_name')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputText id="deviceName" value="#{createPresetsDeviceBean.setName}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <p:ajax event="blur" listener="#{createPresetsDeviceBean.updateBean()}" update="createDevicesFormId:deviceName createDevicesFormId:devicePresetSaveId createDevicesFormId:devicePresetSaveId1 createDevicesFormId:devicePresetSaveId2"/>
                        </p:inputText>
                        <p:message for="deviceName"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_device_type')}:*"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:selectOneMenu id="deviceType" value="#{createPresetsDeviceBean.selectedDeviceType}" styleClass="min-width-one" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createPresetsDeviceBean.deviceTypeList}"/>
                            <p:ajax listener="#{createPresetsDeviceBean.onDeviceTypeChange()}" update="createDevicesFormId:deviceDatatableId createDevicesFormId:devicePresetSaveId createDevicesFormId:devicePresetSaveId1 createDevicesFormId:devicePresetSaveId2"/>
                        </p:selectOneMenu>
                        <p:message for="deviceType"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{false}">
                    <p:column>
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_disable')}:"/>
                    </p:column>
                    <p:column styleClass="left-padding">
                        <p:inputSwitch value="#{createPresetsDeviceBean.disable}" onLabel="yes" offLabel="no" />
                    </p:column>
                </p:row>
            </p:panelGrid> 

            <p:scrollPanel mode="native">
                <p:dataTable id="deviceDatatableId" var="devicePresetsVO"  emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}"
                             value="#{createPresetsDeviceBean.devicePresetsVOList}" styleClass="datatable-layout-one" >
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_data_type')}" style="width:20%"  rendered="#{createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        <p:inputText id="restrictions" value="#{devicePresetsVO.restrictions}" styleClass="min-width-one" disabled="true" >
                        </p:inputText>
                    </p:column>
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_channel_num')}" style="width:15%"  rendered="#{createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        <p:inputText id="channelNumber" value="#{devicePresetsVO.channelNumber}" styleClass="min-width-one" disabled="true" >
                        </p:inputText>
                    </p:column>
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" style="width:15%"  rendered="#{!createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        <p:inputText id="sensorType" value="#{devicePresetsVO.sensorType}" styleClass="min-width-one" disabled="true" >
                        </p:inputText>
                    </p:column>
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" style="width:15%"  rendered="#{createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        <p:selectOneMenu id="sensorTypeACId" value="#{devicePresetsVO.sensorType}"  styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" rendered="#{devicePresetsVO.channelType.equalsIgnoreCase('AC')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                            <f:selectItems value="#{createPresetsDeviceBean.getAcSensorTypeList()}"/>
                            <p:ajax update="@(.#{devicePresetsVO.channelNumberLabel})" listener="#{createPresetsDeviceBean.onSensorTypeChange(devicePresetsVO)}"/>
                        </p:selectOneMenu>
                        <p:selectOneMenu id="sensorTypeDCId" value="#{devicePresetsVO.sensorType}"  styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" rendered="#{devicePresetsVO.channelType.equalsIgnoreCase('DC')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                            <f:selectItems value="#{createPresetsDeviceBean.getDcSensorTypeList()}"/>
                            <p:ajax update="@(.#{devicePresetsVO.channelNumberLabel})" listener="#{createPresetsDeviceBean.onSensorTypeChange(devicePresetsVO)}" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensitivity')}" style="width:11%" >    
                        <p:inputNumber id="sensorSensitivity" decimalPlaces="3" value="#{devicePresetsVO.sensorSensitivity}"  styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important"  disabled="#{!createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        </p:inputNumber>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensitivity_units')}" style="width:11%" rendered="#{!createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X') and !devicePresetsVO.sensorType.equalsIgnoreCase('Temperature RTD')}">    
                        <p:inputText id="sensorUnits" value="#{devicePresetsVO.sensorUnits}"  styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important"  disabled="#{!createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        </p:inputText>
                    </p:column>
                    <p:column  headerText="#{userManageBean.getResourceBundleString('label_sensitivity_units')}" style="width:15%"  rendered="#{createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X') or devicePresetsVO.sensorType.equalsIgnoreCase('Temperature RTD')}">
                        <p:selectOneMenu id="acsensorTypeSUId" value="#{devicePresetsVO.sensorUnits}" styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" rendered="#{devicePresetsVO.channelType.equalsIgnoreCase('AC')}" disabled="#{devicePresetsVO.sensorType  eq null or devicePresetsVO.sensorType eq ''}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true"  itemDisabled="true"/>
                            <f:selectItems value="#{createPresetsDeviceBean.getACParamUnitList(devicePresetsVO)}"/>
                            <p:ajax update="@this"/>
                        </p:selectOneMenu>                        
                        <p:selectOneMenu id="dcsensorTypeSUId" value="#{devicePresetsVO.sensorUnits}" styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" rendered="#{devicePresetsVO.channelType.equalsIgnoreCase('DC')}" disabled="#{devicePresetsVO.sensorType  eq null or devicePresetsVO.sensorType eq ''}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createPresetsDeviceBean.getDCParamUnitList(devicePresetsVO)}"/>
                             <p:ajax update="@this"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_offset')}" style="width:11%">    
                        <p:inputNumber id="sensorOffset" value="#{devicePresetsVO.sensorOffset}" styleClass="min-width-one" disabled="#{devicePresetsVO.channelType.equalsIgnoreCase('AC') or !createPresetsDeviceBean.selectedDeviceType.equalsIgnoreCase('TS1X')}">
                        </p:inputNumber>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}*" style="width:15%">
                        <p:selectOneMenu id="apSetId" value="#{devicePresetsVO.apSetId}" converter="uuidConverter" 
                                         disabled="#{devicePresetsVO.sensorType  eq null or devicePresetsVO.sensorType eq ''}"
                                         styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important"
                                         required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{devicePresetsVO.apAlSetSelectItemList}" var="apSet"  itemValue="#{apSet.apSetId}" itemLabel="#{apSet.apSetName}"/> 
                            <p:ajax event="itemSelect" listener="#{createPresetsDeviceBean.onApSetNameSelect(devicePresetsVO)}" update="@(.#{devicePresetsVO.channelNumberLabel})"/>
                        </p:selectOneMenu>
                        <p:message for="apSetId"><p:autoUpdate/></p:message>
                    </p:column>  
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_al_set')}*" style="width:15%">
                        <p:selectOneMenu id="alSetId" value="#{devicePresetsVO.alSetId}"  converter="uuidConverter"
                                         disabled="#{devicePresetsVO.sensorType  eq null or devicePresetsVO.sensorType eq ''}"
                                         styleClass="#{devicePresetsVO.channelNumberLabel}"
                                         style="width: 100% !important" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{devicePresetsVO.alSetVOList}" var="alset" itemValue="#{alset.alSetId}" itemLabel="#{alset.alSetName}"/>
                            <p:ajax update="@this createDevicesFormId:devicePresetSaveId createDevicesFormId:devicePresetSaveId1 createDevicesFormId:devicePresetSaveId2"/>
                        </p:selectOneMenu>
                        <p:message for="alSetId"><p:autoUpdate/></p:message>
                    </p:column> 
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_auto_acknowledge')}" style="width:11%" rendered="#{false}">  
                        <p:inputSwitch id="autoAcknowledge" value="#{devicePresetsVO.autoAcknowledge}" onLabel="yes" offLabel="no" />  
                    </p:column>   
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" style="width:11%">   
                        <p:inputSwitch id="alarmEnabled" value="#{devicePresetsVO.alarmEnabled}" onLabel="yes" offLabel="no" /> 
                    </p:column>                           
                </p:dataTable>
            </p:scrollPanel>   

            <div class="center-btn-div">
                <p:commandButton type="submit" styleClass="left-btn" value="#{userManageBean.getResourceBundleString('btn_save')}" id="devicePresetSaveId2" onclick="saveBtn()" update="@form nonAutoGrowlId" disabled="#{createPresetsDeviceBean.devicePresetsVOList.size() eq 0 or createPresetsDeviceBean.setName eq null or createPresetsDeviceBean.setName.trim() eq ''}"/> 
                <p:commandButton type="submit" styleClass="left-btn hide-component" value="#{userManageBean.getResourceBundleString('btn_save')}" id="devicePresetSaveId" action="#{createPresetsDeviceBean.submit()}" onstart="readPageSize('dt-devicePresetsId_rppDD')" oncomplete="setPageSize('dt-devicePresetsId_rppDD',10)" update="@form nonAutoGrowlId" disabled="#{createPresetsDeviceBean.devicePresetsVOList.size() eq 0 or createPresetsDeviceBean.setName eq null or createPresetsDeviceBean.setName.trim() eq ''}"/> 
                <p:commandButton type="submit" styleClass="left-btn hide-component" value="#{userManageBean.getResourceBundleString('btn_save')}" id="devicePresetSaveId1" action="#{createPresetsDeviceBean.submit()}" onstart="readPageSize('dt-devicePresetsId_rppDD')" oncomplete="setPageSize('dt-devicePresetsId_rppDD',10)" update="@form nonAutoGrowlId" disabled="#{createPresetsDeviceBean.devicePresetsVOList.size() eq 0 or createPresetsDeviceBean.setName eq null or createPresetsDeviceBean.setName.trim() eq ''}">
                      <p:confirm header="Confirmation" message="#{userManageBean.getResourceBundleString('confirm_create_device_sets')}" icon="pi pi-exclamation-triangle"/>
                </p:commandButton>
                    
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
           
            <p:blockUI block="createDevicesFormId" trigger="devicePresetSaveId"/>
            <p:blockUI block="createDevicesFormId" trigger="devicePresetSaveId1"/>
        </h:form>        
    </div>    
    <script type="text/javascript">
        function saveBtn() {
            if($('#createDevicesFormId\\:deviceSiteName_input').val()==='global') {
                $('#createDevicesFormId\\:devicePresetSaveId1').click();
            } else {
                $('#createDevicesFormId\\:devicePresetSaveId').click();
            }
        }
    </script>
</ui:composition>
