<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-point-location">
        <h:form id="createPointLocationFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="site" value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="site" value="#{createPointLocationBean.pointLocationVO.siteName}" disabled="true" styleClass="min-width-one">
                            <f:selectItems value="#{createPointLocationBean.siteNames}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="area" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="area" value="#{createPointLocationBean.pointLocationVO.areaName}"  disabled="true" styleClass="min-width-one">
                            <f:selectItems value="#{createPointLocationBean.areaNameList}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="assetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="assetName" value="#{createPointLocationBean.pointLocationVO.assetName}" disabled="true" styleClass="min-width-one">
                            <f:selectItems value="#{createPointLocationBean.assetNameList}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="createPointLocationName"  value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:selectOneMenu id="createPointLocationName" value="#{createPointLocationBean.pointLocationVO.pointLocationName}" required="true"
                                         requiredMessage="#{userManageBean.getResourceBundleString('message_point_location_name_required')}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createPointLocationBean.ptLoNamePresetList}" var="ptLoName"  itemValue="#{ptLoName.value}" itemLabel="#{ptLoName.label}"/>
                            <p:ajax listener="#{createPointLocationBean.updateBean()}" update="@this createPointLocationFormId:createPointLocationSubmitBtnId" />
                        </p:selectOneMenu>
                        <p:message for="createPointLocationName"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="description" value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="description" value="#{createPointLocationBean.pointLocationVO.description}" styleClass="min-width-one" >
                            <p:ajax listener="#{createPointLocationBean.updateBean()}" update="@this" />    
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="basestationPortNum" value="#{userManageBean.getResourceBundleString('label_pointlocations_base_station_port')}:"/>
                    </p:column> 
                    <p:column> 
                        <p:inputNumber id="basestationPortNum" minValue="0" thousandSeparator="" value="#{createPointLocationBean.pointLocationVO.basestationPortNum}" converterMessage="#{userManageBean.getResourceBundleString('message_base_station_port_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_base_station_port_minimum')}" required="#{createPointLocationBean.pointLocationVO.deviceSerialNumber ne null || createPointLocationBean.pointLocationVO.deviceSerialNumber ne ''}"  requiredMessage="#{userManageBean.getResourceBundleString('message_base_station_port_required')}" styleClass="min-width-one">
                            <f:validateLongRange minimum="1" maximum="9999"/>
                            <p:ajax update="basestationPortNumMessage @this"/>
                        </p:inputNumber>
                        <p:message id="basestationPortNumMessage" for="basestationPortNum" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="ffsetnames" value="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectCheckboxMenu id="ffsetnames" value="#{createPointLocationBean.pointLocationVO.ffSetName}" label="#{userManageBean.getResourceBundleString('application_select_sets')}" styleClass="min-width-one" filter="true" filterMatchMode="contains"  multiple="true">
                            <f:selectItems value="#{createPointLocationBean.faultFrequenciesList}" var="ffList"  itemValue="#{ffList.value}" itemLabel="#{ffList.label}"/>
                            <p:ajax listener="#{createPointLocationBean.updateBean()}" />
                        </p:selectCheckboxMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="tachName" value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="tachName" value="#{createPointLocationBean.pointLocationVO.tachId}" converter="uuidConverter" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue="Select One" noSelectionOption="false"  itemDisabled="false" />
                            <f:selectItems value="#{createPointLocationBean.tachometersList}" var="tachomList"  itemValue="#{tachomList.value}" itemLabel="#{tachomList.label}"/>
                            <p:ajax listener="#{createPointLocationBean.onTachChange()}" update="@form" />
                        </p:selectOneMenu>
                        <p:message for="tachName" />
                    </p:column>
                </p:row>
                <p:row rendered="#{createPointLocationBean.pointLocationVO.tachId ne null and createPointLocationBean.pointLocationVO.tachReferenceUnits ne null and createPointLocationBean.pointLocationVO.tachReferenceUnits eq 'RPM'}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="speed_ratio" value="#{userManageBean.getResourceBundleString('label_speedRatio')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:inputNumber id="speed_ratio" required="true" decimalPlaces="4" value="#{createPointLocationBean.pointLocationVO.speedRatio}" requiredMessage="#{userManageBean.getResourceBundleString('label_speedRatio_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_speed_ratio_minimum')}" styleClass="min-width-one">
                             <f:validateDoubleRange minimum="0.0001" />
                            <p:ajax listener="#{createPointLocationBean.updateBean()}" update="speed_ratioMessage @this" /> 
                        </p:inputNumber>
                         <p:message id="speed_ratioMessage" for="speed_ratio" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{createPointLocationBean.pointLocationVO.tachId ne null and createPointLocationBean.pointLocationVO.tachReferenceUnits ne null and createPointLocationBean.pointLocationVO.tachReferenceUnits eq 'FPM'}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="roll_diameter" value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:inputNumber id="roll_diameter" required="true" decimalPlaces="4" value="#{createPointLocationBean.pointLocationVO.rollDiameter}" requiredMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" styleClass="min-width-one">
                            <f:validateDoubleRange minimum="0.0001" />
                            <p:ajax listener="#{createPointLocationBean.updateBean()}" update="roll_diameterMessage @this" />  
                        </p:inputNumber>
                        <p:message id="roll_diameterMessage" for="roll_diameter" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{createPointLocationBean.pointLocationVO.tachId ne null and createPointLocationBean.pointLocationVO.tachReferenceUnits ne null and createPointLocationBean.pointLocationVO.tachReferenceUnits eq 'FPM'}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="roll_diameter_units" value="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:selectOneMenu id="roll_diameter_units" required="true" value="#{createPointLocationBean.pointLocationVO.rollDiameterUnits}"  requiredMessage="#{userManageBean.getResourceBundleString('label_roll_diameter_units_required')}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createPointLocationBean.rollDiameterUnitsList}" var="rollDiamUnitList"  itemValue="#{rollDiamUnitList.value}" itemLabel="#{rollDiamUnitList.label}"/>
                            <p:ajax listener="#{createPointLocationBean.updateBean()}" update="@form" />
                        </p:selectOneMenu>
                       <p:message for="roll_diameter_units"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="pointLocationSampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="pointLocationSampleInterval" minValue="0" value="#{createPointLocationBean.pointLocationVO.sampleInterval}" converterMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" required="true"  requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}" disabled="#{createPointLocationBean.pointLocationVO.siteName eq null or createPointLocationBean.pointLocationVO.siteName eq '' or createPointLocationBean.pointLocationVO.areaName eq null or createPointLocationBean.pointLocationVO.areaName eq '' or createPointLocationBean.pointLocationVO.assetName eq null or createPointLocationBean.pointLocationVO.assetName eq ''}" styleClass="min-width-one">
                            <f:validateLongRange minimum="1" />
                            <p:ajax update="pointLocationSampleIntervalMessage @this"/>
                        </p:inputNumber>
                        <p:message id="pointLocationSampleIntervalMessage" for="pointLocationSampleInterval" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <div class="center-btn-div" >
                <p:commandButton ajax="true" styleClass="left-btn" id="createPointLocationSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createPointLocationBean.submit()}"
                                 disabled="#{createPointLocationBean.pointLocationVO eq null or empty createPointLocationBean.pointLocationVO.pointLocationName}" update="createPointLocationFormId nonAutoGrowlId" onstart="readPageSize('pointLocationDataTableId_rppDD')" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide(); updateTreeNodes(); setPageSize('pointLocationDataTableId_rppDD',25)" />
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{createPointLocationBean.resetPage()}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="createPointLocationFormId" trigger="createPointLocationSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
