<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-users">
        <h:form id="createUsersFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_createcontact_label_email')}" for="EmailId"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="EmailId" value="#{createUsersBean.siteUsersVO.userId}" maxlength="255" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_email_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_email_format')}" styleClass="min-width-one">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            <p:ajax listener="#{createUsersBean.isUserExist()}" update="@this CreateUserSaveId"/> 
                        </p:inputText>   
                        <p:blockUI block="createUsersFormId" trigger="EmailId"/>
                        <p:message for="EmailId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_first_name')}" for="fnId"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="fnId" value="#{createUsersBean.siteUsersVO.firstName}" maxlength="50" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_fn_required')}" styleClass="min-width-one" >
                            <p:ajax listener="#{createUsersBean.updateBean()}" update="@this CreateUserSaveId"/>
                        </p:inputText>
                        <p:message for="fnId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_last_name')}" for="lnId"/>
                    </p:column>
                    <p:column>

                        <p:inputText id="lnId" value="#{createUsersBean.siteUsersVO.lastName}" maxlength="50" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_ln_required')}" styleClass="min-width-one">
                            <p:ajax listener="#{createUsersBean.updateBean()}" update="@this CreateUserSaveId"/>
                        </p:inputText>

                        <p:message for="lnId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_createcontact_label_role')}" for="roleId"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu styleClass="min-width-one" id="roleId" value="#{createUsersBean.siteUsersVO.siteRole}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_role_required')}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{createUsersBean.userRoles}"/>
                            <p:ajax listener="#{createUsersBean.updateBean()}" update="@this CreateUserSaveId" />
                        </p:selectOneMenu>
                        <p:message for="roleId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{superAdmins or accountAdmins}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_add_to_ldap_if_not_already')}" for="addToLDAPId"/>
                    </p:column>
                    <p:column>
                        <p:selectBooleanCheckbox styleClass="min-width-one" id="addToLDAPId" value="#{createUsersBean.addToLDAP}">
                            <p:ajax listener="#{createUsersBean.updateBean()}" />
                        </p:selectBooleanCheckbox> 
                    </p:column>
                </p:row>
            </p:panelGrid>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="CreateUserSaveId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{createUsersBean.createUser()}"  process="@form"
                                 disabled="#{createUsersBean.siteUsersVO.userId eq null or createUsersBean.siteUsersVO.firstName eq null or createUsersBean.siteUsersVO.lastName eq null or createUsersBean.siteUsersVO.siteRole eq null}"
                                 update="@form nonAutoGrowlId " oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide()" />
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>

            <p:blockUI block="createUsersFormId" trigger="CreateUserSaveId"/>
        </h:form>
    </div>
</ui:composition>
