<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">
    
    <div class="card layout-device-management-info-row">
        <p:panel styleClass="panel-layout-one" rendered="#{deviceManagementInfoRowBean.channelVO ne null}">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{deviceManagementInfoRowBean.channelVO.apSetName}" disabled="true" styleClass="min-width-one" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{deviceManagementInfoRowBean.channelVO.alSetName}" disabled="true" styleClass="min-width-one" />
                    </p:column>
                </p:row>
                <p:row rendered="false">
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{deviceManagementInfoRowBean.channelVO.sampleInterval}" disabled="true" styleClass="min-width-one" />
                    </p:column>
                </p:row>   
            </p:panelGrid>
            
            <p:scrollPanel mode="native">
                <p:dataTable  rendered="#{deviceManagementInfoRowBean.channelVO.apAlSetVOs ne null and deviceManagementInfoRowBean.channelVO.apAlSetVOs.size() gt 0}" var="apAlSetVOs" value="#{deviceManagementInfoRowBean.channelVO.apAlSetVOs}" styleClass="datatable-layout-one" >
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_param_name')}" style="width: 20%"/>
                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowFault')}" style="width: 20%"/>
                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowAlert')}" style="width: 20%"/>
                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highAlert')}" style="width: 20%"/>
                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highFault')}" style="width: 20%"/>
                        </p:row>
                        <p:row>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}"/>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}"/>
                        </p:row>
                    </p:columnGroup>
                    
                    <p:column>
                        <p:inputText value="#{apAlSetVOs.paramName}" disabled="true" styleClass="min-width-one" />
                    </p:column>                  
                    <p:column>
                        <p:inputSwitch value="#{apAlSetVOs.lowFaultActive}" onLabel="yes" offLabel="no" disabled="true"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber value="#{apAlSetVOs.lowFault}" styleClass="min-width-one" modifyValueOnWheel="false" decimalPlaces="3" disabled="true" />
                    </p:column>
                    <p:column>
                        <p:inputSwitch value="#{apAlSetVOs.lowAlertActive}" onLabel="yes" offLabel="no" disabled="true"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber value="#{apAlSetVOs.lowAlert}" styleClass="min-width-one" modifyValueOnWheel="false" decimalPlaces="3" disabled="true" />
                    </p:column>
                    <p:column>
                        <p:inputSwitch value="#{apAlSetVOs.highAlertActive}" onLabel="yes" offLabel="no" disabled="true"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber value="#{apAlSetVOs.highAlert}" styleClass="min-width-one" modifyValueOnWheel="false" decimalPlaces="3" disabled="true" />
                    </p:column>
                    <p:column>
                        <p:inputSwitch value="#{apAlSetVOs.highFaultActive}" onLabel="yes" offLabel="no" disabled="true"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber value="#{apAlSetVOs.highFault}" styleClass="min-width-one" modifyValueOnWheel="false" decimalPlaces="3" disabled="true" />
                    </p:column>      
                </p:dataTable>
            </p:scrollPanel> 
        </p:panel>
    </div>
</ui:composition>
