<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-edit-channel">
        <h:form id="editChannelFormId">
            <p:panel header="#{userManageBean.getResourceBundleString('label_sensor_details')}" styleClass="panel-layout-one">
                <p:panelGrid styleClass="panelgrid-layout-one">
                    <p:row>
                        <p:column styleClass="right-padding width-176-5">
                            <p:outputLabel for="pointType" value="#{userManageBean.getResourceBundleString('label_data_type')}:"/>
                        </p:column>
                        <p:column styleClass="width-321">
                            <p:inputText id="pointType" value="#{(editChannelBean.channelVO.pointType.equalsIgnoreCase('AC')) ? userManageBean.getResourceBundleString('label_waveform') : userManageBean.getResourceBundleString('label_single_measurement')}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                        <p:column styleClass="right-padding left-padding width-176-5">
                            <p:outputLabel for="sensorChannelNum" value="#{userManageBean.getResourceBundleString('label_ts1_channel_num')}:"/>
                        </p:column>
                        <p:column styleClass="width-321">
                            <p:inputText id="sensorChannelNum" value="#{(editChannelBean.channelVO.pointType.equalsIgnoreCase('AC')) ? editTS1Bean.getTS1ACChannelNumberLabelByValue(editChannelBean.channelVO.sensorChannelNum) : editTS1Bean.getTS1DCChannelNumberLabelByValue(editChannelBean.channelVO.sensorChannelNum)}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                    </p:row>

                    <p:row >
                        <p:column styleClass="right-padding" >
                            <p:outputLabel for="sensorType" value="#{userManageBean.getResourceBundleString('label_sensorType')}:"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="sensorType" value="#{editChannelBean.channelVO.sensorType}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                        <p:column styleClass="right-padding left-padding" >
                            <p:outputLabel for="sensorSensitivity" value="#{userManageBean.getResourceBundleString('label_sensitivity')}:"/>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="sensorSensitivity" decimalPlaces="3" value="#{editChannelBean.channelVO.sensorSensitivity}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                    </p:row>

                    <p:row >
                        <p:column styleClass="right-padding" >
                            <p:outputLabel for="sensorTypeSUnitId" value="#{userManageBean.getResourceBundleString('label_sensitivity_units')}:"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="sensorTypeSUnitId" value="#{editChannelBean.channelVO.sensorUnits}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                        <p:column styleClass="right-padding left-padding" >
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorOffset')}:" rendered="#{editChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" />
                        </p:column>
                        <p:column>
                            <p:inputNumber id="sensorOffset" decimalPlaces="3" value="#{editChannelBean.channelVO.sensorOffset}" rendered="#{editChannelBean.channelVO.pointType.equalsIgnoreCase('DC')}" disabled="true" styleClass="min-width-one" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>

            <p:panel header="#{userManageBean.getResourceBundleString('label_config_details')}" styleClass="panel-layout-one">
                <p:panelGrid styleClass="panelgrid-layout-one" >
                    <p:row >
                        <p:column styleClass="right-padding width-176-5">
                            <p:outputLabel for="site" value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                        </p:column> 
                        <p:column styleClass="width-321">
                            <p:inputText id="site" value="#{editChannelBean.channelVO.siteName}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                        <p:column styleClass="right-padding left-padding width-176-5">
                            <p:outputLabel for="area" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                        </p:column> 
                        <p:column styleClass="width-321">
                            <p:inputText id="area" value="#{editChannelBean.channelVO.areaName}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="assetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                        </p:column> 
                        <p:column>
                            <p:inputText id="assetName" value="#{editChannelBean.channelVO.assetName}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                        <p:column styleClass="right-padding left-padding">
                            <p:outputLabel for="ptLoName" value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:"/>
                        </p:column> 
                        <p:column>   
                            <p:inputText id="ptLoName" value="#{editChannelBean.channelVO.pointLocationName}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                        
                    </p:row>

                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="cpPointNameId" value="#{userManageBean.getResourceBundleString('label_pointName')}:"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="cpPointNameId" value="#{editChannelBean.channelVO.pointName}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                        <p:column styleClass="right-padding left-padding" >
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}"/>
                        </p:column>
                        <p:column>
                            <p:inputSwitch value="#{editChannelBean.channelVO.alarmEnabled}" onLabel="yes" offLabel="no" >
                                <p:ajax listener="#{editChannelBean.updateBean()}" update="@this" />  
                            </p:inputSwitch>
                        </p:column>
                    </p:row>

                    <p:row rendered="#{editChannelBean.channelVO.pointType.equalsIgnoreCase('AC')}" >
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="ffsetnames" value="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}:"/>
                        </p:column> 
                        <p:column>
                            <p:selectCheckboxMenu id="ffsetnames" value="#{editChannelBean.channelVO.ffSetName}" label="#{userManageBean.getResourceBundleString('application_select_sets')}" styleClass="min-width-one" filter="true" filterMatchMode="contains"  multiple="true">
                                <f:selectItems value="#{editChannelBean.faultFrequenciesList}" var="ffList"  itemValue="#{ffList.value}" itemLabel="#{ffList.label}"/>
                                <p:ajax listener="#{editChannelBean.updateBean()}" />
                            </p:selectCheckboxMenu>
                        </p:column>
                        <p:column styleClass="right-padding left-padding">
                            <p:outputLabel for="tachName" value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                        </p:column> 
                        <p:column>
                            <p:selectOneMenu id="tachName" value="#{editChannelBean.channelVO.tachId}" converter="uuidConverter" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue="Select One" noSelectionOption="false"  itemDisabled="false" />
                                <f:selectItems value="#{editChannelBean.tachometersList}" var="tachomList"  itemValue="#{tachomList.value}" itemLabel="#{tachomList.label}"/>
                                <p:ajax listener="#{editChannelBean.onTachChange()}" update="@form" />
                            </p:selectOneMenu>
                            <p:message for="tachName" />
                        </p:column>
                    </p:row>

                    <p:row rendered="#{editChannelBean.channelVO.tachId ne null and editChannelBean.channelVO.tachReferenceUnits ne null and editChannelBean.channelVO.tachReferenceUnits eq 'FPM'}">
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="roll_diameter" value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:"/>
                        </p:column> 
                        <p:column>    
                            <p:inputNumber id="roll_diameter" value="#{editChannelBean.channelVO.rollDiameter}" required="true" decimalPlaces="4" requiredMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" styleClass="min-width-one">
                                <f:validateDoubleRange minimum="0.0001" />
                                <p:ajax listener="#{editChannelBean.updateBean()}" update="@form" />  
                            </p:inputNumber>
                            <p:message id="roll_diameterMessage" for="roll_diameter" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding">
                            <p:outputLabel for="roll_diameter_units" value="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}:"/>
                        </p:column> 
                        <p:column>    
                            <p:selectOneMenu id="roll_diameter_units" value="#{editChannelBean.channelVO.rollDiameterUnits}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_roll_diameter_units_required')}" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{editChannelBean.rollDiameterUnitsList}" var="rollDiamUnitList"  itemValue="#{rollDiamUnitList.value}" itemLabel="#{rollDiamUnitList.label}"/>
                                <p:ajax listener="#{editChannelBean.updateBean()}" update="@form" />
                            </p:selectOneMenu>
                            <p:message for="roll_diameter_units"><p:autoUpdate/></p:message>
                        </p:column>
                    </p:row>

                    <p:row rendered="#{editChannelBean.channelVO.tachId ne null and editChannelBean.channelVO.tachReferenceUnits ne null and editChannelBean.channelVO.tachReferenceUnits eq 'RPM'}">
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="speed_ratio" value="#{userManageBean.getResourceBundleString('label_speedRatio')}:"/>
                        </p:column> 
                        <p:column>    
                            <p:inputNumber id="speed_ratio" value="#{editChannelBean.channelVO.speedRatio}" required="true" decimalPlaces="4" requiredMessage="#{userManageBean.getResourceBundleString('label_speedRatio_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_speed_ratio_minimum')}" styleClass="min-width-one">
                                <f:validateDoubleRange minimum="0.0001" />
                                <p:ajax listener="#{editChannelBean.updateBean()}" update="@form" />  
                            </p:inputNumber>
                            <p:message id="speed_ratioMessage" for="speed_ratio" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                        </p:column>
                        <p:column styleClass="right-padding left-padding"/>
                        <p:column/>
                    </p:row>

                    <p:row>
                        <p:column styleClass="right-padding">
                            <p:outputLabel for="cpApSetId" value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="cpApSetId" value="#{editChannelBean.channelVO.apSetName}" disabled="true" styleClass="min-width-one"/>
                        </p:column>
                        <p:column styleClass="right-padding left-padding">
                            <p:outputLabel for="alSetGt1" value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                        </p:column>
                        <p:column>
                            <p:inputText id="alSetGt1" value="#{editChannelBean.channelVO.alSetName}" disabled="true" styleClass="min-width-one"/>
                        </p:column>  
                    </p:row>

                    <p:row rendered="#{editChannelBean.tachValidationFailed}">                       
                        <p:column colspan="4">
                            <p:outputLabel id="disclaimerId" value="#{userManageBean.getResourceBundleString('label_tach_validation_message')}" styleClass="disclaimer-test-color"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>

            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="editChannelSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{editChannelBean.submit()}" process="@form"
                                 disabled="#{editChannelBean.tachValidationFailed}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultSecondDlg').hide()"  update="@form nonAutoGrowlId" />
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultSecondDlg').hide()"/>
            </div>
            <p:blockUI block="editChannelFormId" trigger="editChannelSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
