<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-edit-asset">
        <h:form id="editAssetForm">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row >
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="site"  value="#{userManageBean.getResourceBundleString('label_siteName')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="site" tabindex="1" value="#{editAssetBean.assetVO.siteId}" styleClass="min-width-one" disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                            <f:selectItems value="#{editAssetBean.siteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteId}" />
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="area" value="#{userManageBean.getResourceBundleString('label_area_name')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="area" tabindex="2" value="#{editAssetBean.assetVO.areaId}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_area_required')}" styleClass="min-width-one" disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                            <f:selectItems value="#{editAssetBean.areaList}" var="area" itemLabel="#{area.areaName}" itemValue="#{area.areaId}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="assetType" value="#{userManageBean.getResourceBundleString('label_asset_type')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="assetType" onchange="assetTypeChange()" tabindex="3" value="#{editAssetBean.assetVO.assetType}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_type_required')}" filter="true" disabled="#{editAssetBean.assetVO.siteName eq null or editAssetBean.assetVO.siteName eq '' or editAssetBean.assetVO.areaName eq null or editAssetBean.assetVO.areaName eq '' or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one #{empty editAssetBean.assetVO.assetType ? 'ui-state-error' : ''}">

                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{editAssetBean.assetTypeList}"/>
                            <p:ajax listener="#{editAssetBean.updateBean()}" update="editAssetForm:editAssetSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="assetType" ></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="assetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="assetName" tabindex="4" value="#{editAssetBean.assetVO.assetName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_asset_required')}"  styleClass="min-width-one" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                            <p:ajax listener="#{editAssetBean.updateBean()}" update="editAssetForm:assetName editAssetForm:description editAssetForm:sampleInterval editAssetForm:editAssetSubmitBtnId"/>
                        </p:inputText>
                        <p:message for="assetName"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="description" value="#{userManageBean.getResourceBundleString('label_description')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="description" tabindex="6" value="#{editAssetBean.assetVO.description}" disabled="#{editAssetBean.assetVO.siteName eq null or editAssetBean.assetVO.siteName eq '' or editAssetBean.assetVO.areaName eq null or editAssetBean.assetVO.areaName eq '' or editAssetBean.assetVO.assetName eq null or editAssetBean.assetVO.assetName eq '' or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one">
                            <p:ajax listener="#{editAssetBean.updateBean()}" update="editAssetForm:description"/>
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="sampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:" styleClass="block-label"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="sampleInterval" tabindex="7" value="#{editAssetBean.assetVO.sampleInterval}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" disabled="#{editAssetBean.assetVO.siteName eq null or editAssetBean.assetVO.siteName eq '' or editAssetBean.assetVO.areaName eq null or editAssetBean.assetVO.areaName eq '' or editAssetBean.assetVO.assetName eq null or editAssetBean.assetVO.assetName eq '' or !(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}" styleClass="min-width-one">
                            <f:validateLongRange minimum="1" maximum="1440" />
                            <p:ajax event="change" listener="#{editAssetBean.updateBean()}" update="@form"/>
                        </p:inputText>
                        <p:message for="sampleInterval"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row >
                    <p:column colspan="2">
                        <p:inputTextarea  value="#{userManageBean.getResourceBundleString('message_sample_interval_disclaimer')}" readonly="true"/>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <div class="center-btn-div">
                <p:commandButton tabindex="8" styleClass="left-btn" id="editAssetSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{editAssetBean.updateAsset()}"
                                 update="nonAutoGrowlId"
                                 disabled="#{editAssetBean.assetVO eq null or editAssetBean.assetVO.siteName eq null or editAssetBean.assetVO.siteName eq '' 
                                             or editAssetBean.assetVO.areaName eq null or editAssetBean.assetVO.areaName eq ''
                                             or editAssetBean.assetVO.assetName eq null or editAssetBean.assetVO.assetName eq ''
                                             or editAssetBean.assetVO.sampleInterval eq null or editAssetBean.assetVO.sampleInterval eq ''
                                             or editAssetBean.assetVO.assetType eq null or editAssetBean.assetVO.assetType eq ''}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide()" />
                <p:commandButton tabindex="9" type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="editAssetForm" trigger="editAssetSubmitBtnId"/>
        </h:form>
    </div>
     <script type="text/javascript">
            
            function assetTypeChange() {
                if($('#editAssetForm\\:assetType_input').val()!=='') {
                     $('#editAssetForm\\:assetType').removeClass('ui-state-error')
                }
            }
            
        </script>

</ui:composition>
