<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-edit-work-order">
        <h:form id="editWorkOrderFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding width-179">
                        <p:outputLabel for="siteId"  value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                    </p:column> 
                    <p:column styleClass="width-321">
                        <p:inputText id="siteId" value="#{editWorkOrderBean.workOrderVO.siteName}" disabled="true" styleClass="min-width-one" />
                    </p:column>
                    <p:column styleClass="right-padding left-padding width-179">
                        <p:outputLabel for="areaId" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                    </p:column> 
                    <p:column styleClass="width-321">
                        <p:inputText id="areaId" value="#{editWorkOrderBean.workOrderVO.areaName}" disabled="true" styleClass="min-width-one" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="assetId" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="assetId" value="#{editWorkOrderBean.workOrderVO.assetName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding left-padding">
                        <p:outputLabel for="assetComponentId" value="#{userManageBean.getResourceBundleString('label_asset_component')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:inputText id="assetComponentId" value="#{editWorkOrderBean.workOrderVO.assetComponent}" styleClass="min-width-one">
                            <p:ajax listener="#{createWorkOrderBean.updateBean()}" update="@this"/>
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="issueId" value="#{userManageBean.getResourceBundleString('label_issue')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_issue_required')}" id="issueId" value="#{editWorkOrderBean.workOrderVO.issue}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" /> 
                            <f:selectItems value="#{editWorkOrderBean.getIssueList()}"/>
                            <p:ajax listener="#{editWorkOrderBean.updateBean()}" update="@this editWorkOrderSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="issueId"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="right-padding left-padding">
                        <p:outputLabel for="actionId" value="#{userManageBean.getResourceBundleString('label_action')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_action_required')}" id="actionId" value="#{editWorkOrderBean.workOrderVO.action}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" /> 
                            <f:selectItems value="#{editWorkOrderBean.getActionList()}"/>
                            <p:ajax listener="#{editWorkOrderBean.updateBean()}" update="@this editWorkOrderSubmitBtnId"/>
                        </p:selectOneMenu>
                        <p:message for="actionId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="prioritiesId" value="#{userManageBean.getResourceBundleString('label_priority')}:"/>
                    </p:column> 
                    <p:column>   
                        <p:selectOneMenu id="prioritiesId" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_priority_required')}" value="#{editWorkOrderBean.workOrderVO.newPriority}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" /> 
                            <f:selectItems value="#{editWorkOrderBean.getPriorities()}"/>
                            <p:ajax listener="#{editWorkOrderBean.updateBean()}" update="@this editWorkOrderSubmitBtnId"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column styleClass="right-padding left-padding">
                        <p:outputLabel for="descriptionId" value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="descriptionId" value="#{editWorkOrderBean.workOrderVO.description}" disabled="true" styleClass="min-width-one" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding"/>
                    <p:column/>
                    <p:column styleClass="right-padding left-padding">
                        <p:outputLabel for="noteId" value="#{userManageBean.getResourceBundleString('label_notes')}:"/>
                    </p:column> 
                    <p:column>  
                        <p:inputTextarea id="noteId" value="#{editWorkOrderBean.workOrderVO.notes}" styleClass="min-width-one" autoResize="false" rows="3">
                            <p:ajax listener="#{createWorkOrderBean.updateBean()}" update="@this"/>
                        </p:inputTextarea>  
                    </p:column>
                </p:row>
            </p:panelGrid>
            
            <div class="center-btn-div">
                <p:commandButton id="addTrendBtnId" value="#{userManageBean.getResourceBundleString('label_add_trend')}" action="#{editWorkOrderBean.openAddTrendOverlay()}" process="@this" styleClass="bottom-margin" oncomplete="PF('defaultSecondDlg').show()"/>
            </div>
            
            <p:scrollPanel mode="native">
                <p:dataTable id="trendDatatableId" var="trend" value="#{editWorkOrderBean.workOrderVO.trendDetails}" paginatorPosition="top" rendered="#{editWorkOrderBean.workOrderVO ne null and editWorkOrderBean.workOrderVO.trendDetails ne null and editWorkOrderBean.workOrderVO.trendDetails.size() gt 0}" styleClass="datatable-layout-two" >
                    
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                        <p:outputLabel value="#{trend.pointLocationName}"/>
                    </p:column>
                    
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{trend.pointName}"/>
                    </p:column>
                    
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_param')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                        <p:outputLabel value="#{trend.paramName}"/>
                    </p:column>
                    
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width:51px; text-align:center" styleClass="table-column-title-right-column-border-left-border">
                        <p:commandLink id ="cmdViewTrendGraph" action="#{editWorkOrderBean.viewTrendGraph(trend)}" process="@this">
                            <i class="pi pi-chart-line" />
                        </p:commandLink>
                        <p:commandLink process="@this" id="cmdTrash" action="#{editWorkOrderBean.removeTrend(trend)}" update="@form">
                            <i class="pi pi-trash" />
                        </p:commandLink>
                         <p:tooltip for="cmdViewTrendGraph" value="#{userManageBean.getResourceBundleString('label_view_trend')}" position="left" showDelay="500"/>
                         <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500"/>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>
            
            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="editWorkOrderSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{editWorkOrderBean.submit()}" process="@form" disabled="#{editWorkOrderBean.workOrderVO eq null or editWorkOrderBean.workOrderVO.priority eq null or editWorkOrderBean.workOrderVO.priority le 0 or editWorkOrderBean.workOrderVO.issue eq null or editWorkOrderBean.workOrderVO.action eq null or editWorkOrderBean.workOrderVO.description eq null}" update="@form nonAutoGrowlId"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{editWorkOrderBean.resetPage()}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="editWorkOrderFormId" trigger="editWorkOrderSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
