<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-edit-point-location">
        <h:form id="editPointLocationFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row >
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editsite" value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="editsite" value="#{editPointLocationBean.pointLocationVO.siteName}" disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one">
                            <f:selectItems value="#{editPointLocationBean.siteNames}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editarea" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="editarea" value="#{editPointLocationBean.pointLocationVO.areaName}" disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one">
                            <f:selectItems value="#{editPointLocationBean.areaNameList}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editassetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="editassetName" value="#{editPointLocationBean.pointLocationVO.assetName}" disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one">
                            <f:selectItems value="#{editPointLocationBean.assetNameList}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editPointLocationName" value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:"/>
                    </p:column> 
                    <p:column>   
                        <p:selectOneMenu id="editPointLocationName" value="#{editPointLocationBean.pointLocationVO.pointLocationName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_location_name_required')}" styleClass="min-width-one" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{editPointLocationBean.ptLoNamePresetList}" var="ptLoName"  itemValue="#{ptLoName.value}" itemLabel="#{ptLoName.label}"/>
                            <p:ajax listener="#{editPointLocationBean.updateBean()}" update="@this editPointLocationFormId:editPointLocationSubmitBtnId" />
                        </p:selectOneMenu>
                        <p:message for="editPointLocationName"> <p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editdescription" value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="editdescription" value="#{editPointLocationBean.pointLocationVO.description}" styleClass="min-width-one" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editdeviceSerialNumber" value="#{userManageBean.getResourceBundleString('label_pointlocations_device_serial_number')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:inputText id="editdeviceSerialNumber" value="#{editPointLocationBean.pointLocationVO.deviceSerialNumber}" styleClass="min-width-one" disabled="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editbasestationPortNum" value="#{userManageBean.getResourceBundleString('label_pointlocations_base_station_port')}:"/>
                    </p:column> 
                    <p:column>                            
                        <p:inputNumber id="basestationPortNum" value="#{editPointLocationBean.pointLocationVO.basestationPortNum}" styleClass="min-width-one" disabled="true" rendered="#{editPointLocationBean.pointLocationVO.deviceSerialNumber ne null and editPointLocationBean.pointLocationVO.deviceSerialNumber.startsWith('001', 0)}" />
                        <p:tooltip value="#{userManageBean.getResourceBundleString('ts1_port_number_diabled_tool_tip')}" for="basestationPortNum" position="left" showDelay="500" rendered="#{editPointLocationBean.pointLocationVO.deviceSerialNumber ne null and editPointLocationBean.pointLocationVO.deviceSerialNumber.startsWith('001', 0)}"/>

                        <p:inputNumber id="editbasestationPortNum" minValue="0" thousandSeparator="" value="#{editPointLocationBean.pointLocationVO.basestationPortNum}" rendered="#{editPointLocationBean.pointLocationVO.deviceSerialNumber eq null or !editPointLocationBean.pointLocationVO.deviceSerialNumber.startsWith('001', 0)}" converterMessage="#{userManageBean.getResourceBundleString('message_base_station_port_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_base_station_port_minimum')}" required="#{editPointLocationBean.pointLocationVO.deviceSerialNumber ne null || editPointLocationBean.pointLocationVO.deviceSerialNumber ne ''}"  requiredMessage="#{userManageBean.getResourceBundleString('message_base_station_port_required')}" styleClass="min-width-one" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                            <f:validateLongRange minimum="1" maximum="9999"/>
                            <p:ajax update="editbasestationPortNumMessage @this"/>
                        </p:inputNumber>
                        <p:message id="editbasestationPortNumMessage" for="editbasestationPortNum" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editffsetnames" value="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectCheckboxMenu id="editffsetnames" value="#{editPointLocationBean.pointLocationVO.ffSetName}" label="#{userManageBean.getResourceBundleString('application_select_sets')}" styleClass="min-width-one" filter="true" filterMatchMode="contains"  multiple="true" disabled="#{!(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}">
                            <f:selectItems value="#{editPointLocationBean.faultFrequenciesList}" var="ffList"  itemValue="#{ffList.value}" itemLabel="#{ffList.label}"/>
                            <p:ajax update="#{editPointLocationBean.updateBean()}"/>
                        </p:selectCheckboxMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="edittachName" value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="edittachName" value="#{editPointLocationBean.pointLocationVO.tachId}" converter="uuidConverter" styleClass="min-width-one" disabled="#{!(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue="Select One" noSelectionOption="false"  itemDisabled="false" />
                            <f:selectItems value="#{editPointLocationBean.tachometersList}" var="tachomList"  itemValue="#{tachomList.value}" itemLabel="#{tachomList.label}"/>
                            <p:ajax listener="#{editPointLocationBean.onTachChange()}" update="editPointLocationFormId"/>
                        </p:selectOneMenu>
                        <p:message for="edittachName" />
                    </p:column>
                </p:row>
                <p:row rendered="#{editPointLocationBean.pointLocationVO.tachId ne null and editPointLocationBean.pointLocationVO.tachId ne '00000000-0000-0000-0000-000000000000' and editPointLocationBean.pointLocationVO.tachReferenceUnits ne null and editPointLocationBean.pointLocationVO.tachReferenceUnits eq 'RPM'}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editspeed_ratio" value="#{userManageBean.getResourceBundleString('label_speedRatio')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:inputNumber id="editspeed_ratio" required="true" decimalPlaces="4" value="#{editPointLocationBean.pointLocationVO.speedRatio}" requiredMessage="#{userManageBean.getResourceBundleString('label_speedRatio_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_speed_ratio_minimum')}"  styleClass="min-width-one" disabled="#{!(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}">
                            <f:validateDoubleRange minimum="0.0001" />
                            <p:ajax listener="#{editPointLocationBean.updateBean()}" update="editspeed_ratioMessage @this" />  
                        </p:inputNumber>
                        <p:message id="editspeed_ratioMessage" for="editspeed_ratio" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{editPointLocationBean.pointLocationVO.tachId ne null and editPointLocationBean.pointLocationVO.tachReferenceUnits ne null and editPointLocationBean.pointLocationVO.tachReferenceUnits eq 'FPM'}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editroll_diameter" value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:inputNumber id="editroll_diameter" required="true" decimalPlaces="4" value="#{editPointLocationBean.pointLocationVO.rollDiameter}"  requiredMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}" validatorMessage="#{userManageBean.getResourceBundleString('message_roll_diameter_minimum')}"  styleClass="min-width-one" disabled="#{!(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}">
                            <f:validateDoubleRange minimum="0.0001" />
                            <p:ajax listener="#{editPointLocationBean.updateBean()}" update="editroll_diameterMessage @this" />  
                        </p:inputNumber>
                        <p:message id="editroll_diameterMessage" for="editroll_diameter" styleClass="min-width-one"><p:autoUpdate/> </p:message>
                    </p:column>
                </p:row>
                <p:row rendered="#{editPointLocationBean.pointLocationVO.tachId ne null and editPointLocationBean.pointLocationVO.tachReferenceUnits ne null and editPointLocationBean.pointLocationVO.tachReferenceUnits eq 'FPM'}">
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editroll_diameter_units" value="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}:"/>
                    </p:column> 
                    <p:column>    
                        <p:selectOneMenu id="editroll_diameter_units" required="true" value="#{editPointLocationBean.pointLocationVO.rollDiameterUnits}" requiredMessage="#{userManageBean.getResourceBundleString('label_roll_diameter_units_required')}" styleClass="min-width-one" disabled="#{!(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="false"  itemDisabled="false" />
                            <f:selectItems value="#{editPointLocationBean.rollDiameterUnitsList}" var="rollDiamUnitList"  itemValue="#{rollDiamUnitList.value}" itemLabel="#{rollDiamUnitList.label}"/>
                            <p:ajax listener="#{editPointLocationBean.updateBean()}" update="@form" />
                        </p:selectOneMenu>
                        <p:message for="editroll_diameter_units"><p:autoUpdate/></p:message>
                    </p:column>                    
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="editpointLocationSampleInterval" value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                    </p:column>
                    <p:column>
                        <p:inputNumber id="pointLocationSampleInterval" value="#{editPointLocationBean.pointLocationVO.sampleInterval}" disabled="true" rendered="#{editPointLocationBean.pointLocationVO.deviceSerialNumber ne null and editPointLocationBean.pointLocationVO.deviceSerialNumber.startsWith('001', 0)}" styleClass="min-width-one"/>
                        <p:tooltip value="#{userManageBean.getResourceBundleString('ts1_sample_interval_diabled_tool_tip')}" for="pointLocationSampleInterval" position="left" showDelay="500" rendered="#{editPointLocationBean.pointLocationVO.deviceSerialNumber ne null and editPointLocationBean.pointLocationVO.deviceSerialNumber.startsWith('001', 0)}"/>

                        <p:inputText id="editpointLocationSampleInterval" value="#{editPointLocationBean.pointLocationVO.sampleInterval}" rendered="#{editPointLocationBean.pointLocationVO.deviceSerialNumber eq null or !editPointLocationBean.pointLocationVO.deviceSerialNumber.startsWith('001', 0)}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_sample_interval_required')}" validatorMessage="#{userManageBean.getResourceBundleString('message_sample_interval_minimum')}" disabled="#{editPointLocationBean.pointLocationVO.siteName eq null or editPointLocationBean.pointLocationVO.siteName eq '' or editPointLocationBean.pointLocationVO.areaName eq null or editPointLocationBean.pointLocationVO.areaName eq '' or editPointLocationBean.pointLocationVO.assetName eq null or editPointLocationBean.pointLocationVO.assetName eq '' or !(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}" styleClass="min-width-one">
                            <f:validateLongRange minimum="1" maximum="1440" />

                            <p:ajax listener="#{editPointLocationBean.enableEditPointSaveBtn()}" update="pointLocationSampleIntervalMessage @this editPointLocationFormId:editPointLocationSubmitBtnId"/>
                        </p:inputText>                            
                        <p:message id="pointLocationSampleIntervalMessage" for="editpointLocationSampleInterval" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
                <p:row rendered="#{editPointLocationBean.tachValidationFailed}">
                    <p:column >
                        <p:inputTextarea  value="#{userManageBean.getResourceBundleString('tachometer_ap_set_validation_message')}"  readonly="true" style="width: 281% !important; border: none; box-shadow: none !important;color: #ED0216" />
                    </p:column>
                </p:row>              
            </p:panelGrid>
            <div class="center-btn-div" >
                <p:commandButton ajax="true" styleClass="left-btn" id="editPointLocationSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{editPointLocationBean.updatePointLocation()}" process="@form"
                                 disabled="#{!editPointLocationBean.enableEditPointSaveBtn or editPointLocationBean.tachValidationFailed or editPointLocationBean.pointLocationVO eq null or empty editPointLocationBean.pointLocationVO.pointLocationName}" update="nonAutoGrowlId" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide()" />
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{editPointLocationBean.resetPage()}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="editPointLocationFormId" trigger="editPointLocationSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
