<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-edit-area">
        <h:form id="EditAreaFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_site')}:" for="editAreaSiteId"/>  
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="editAreaSiteId" tabindex="1" value="#{editAreaBean.areaVO.siteId}" styleClass="min-width-one" disabled="true">
                            <f:selectItems value="#{editAreaBean.userSiteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteId}"/>
                        </p:selectOneMenu>
                    </p:column>                    
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_area')}:" for="EditAreaAreaId"/>
                    </p:column> 
                    <p:column >
                        <p:inputText id="EditAreaAreaId" value="#{editAreaBean.areaVO.areaName}" onchange="updateSaveAreaButton()" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" maxlength="255"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_area_required')}" styleClass="min-width-one">
                            <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                            <p:ajax listener="#{createAreaBean.updateBean()}" update="@this EditAreaFormId:EditAreaSaveId EditAreaFormId:scheduleId"/>
                        </p:inputText>
                        <p:message for="EditAreaAreaId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:" for="EditAreaDescriptionId"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="EditAreaDescriptionId" value="#{editAreaBean.areaVO.description}" maxlength="255" styleClass="min-width-one">
                            <p:ajax listener="#{editAreaBean.updateBean()}"/>
                        </p:inputText>    
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_environment')}:"/>
                    </p:column> 
                    <p:column>
                        <p:selectBooleanCheckbox  id="EditAreaInId" value="#{editAreaBean.indoor}" itemLabel="#{userManageBean.getResourceBundleString('label_indoor')}">
                            <p:ajax listener="#{editAreaBean.updateClimateControlled()}"  update="@this EditAreaFormId:EditAreaCCId" />
                        </p:selectBooleanCheckbox> 
                        <p:selectBooleanCheckbox  id="EditAreaOutId" value="#{editAreaBean.outdoor}" itemLabel="#{userManageBean.getResourceBundleString('label_outdoor')}">
                            <p:ajax listener="#{editAreaBean.updateBean()}" />
                        </p:selectBooleanCheckbox> 
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_climate_controlled')}:" for="EditAreaCCId"/>
                    </p:column> 
                    <p:column>
                        <p:selectBooleanCheckbox styleClass="min-width-one" id="EditAreaCCId" value="#{editAreaBean.areaVO.climateControlled}" disabled="#{editAreaBean.indoor eq false}">
                            <p:ajax listener="#{editAreaBean.updateBean()}" />
                        </p:selectBooleanCheckbox> 
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:panel  id="schPanelId" header="#{userManageBean.getResourceBundleString('label_schedules')}" styleClass="panel-layout-one">
                <p:scrollPanel mode="native">
                    <c:forEach id="schTbl" items="#{editAreaBean.areaVO.scheduleVOList}" var="scheduleVO" >
                        <p:panelGrid styleClass="panelgrid-layout-one" >
                            <p:row>
                                <p:column styleClass="right-padding width-146">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_schedule')}:" for="EditAreaScheduleId"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="EditAreaScheduleId" value="#{scheduleVO.scheduleName}" onchange="checkScheduleAndupdateSaveAreaButton()" maxlength="255" required="true" 
                                                 requiredMessage="#{userManageBean.getResourceBundleString('message_schedule_required')}"  
                                                 validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" styleClass="min-width-one schedulename">
                                        <p:ajax listener="#{editAreaBean.updateBean(scheduleVO)}" update="EditAreaFormId:scheduleId EditAreaFormId:EditAreaSaveId"/>
                                        <f:validateRegex pattern="[a-zA-Z0-9_s\-/,.#%=()\[\]:; ]+" />
                                    </p:inputText>    
                                    <p:message for="EditAreaScheduleId"/>
                                </p:column> 
                            </p:row>
                            <p:row>
                                <p:column styleClass="right-padding">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:" for="EditAreaScheduleDesc"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="EditAreaScheduleDesc" value="#{scheduleVO.schDescription}" maxlength="255" styleClass="min-width-one">
                                        <p:ajax listener="#{editAreaBean.updateBean(scheduleVO)}"/>
                                    </p:inputText>    
                                </p:column> 
                            </p:row>
                            <p:row>
                                <p:column styleClass="right-padding">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_is_continous')}:" for="EditAreaContinuousId"/>
                                </p:column>
                                <p:column >
                                    <p:selectBooleanCheckbox  id="EditAreaContinuousId" value="#{scheduleVO.continuous}">
                                        <p:ajax listener="#{editAreaBean.isContinousChange(scheduleVO)}" update="EditAreaFormId"  />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <c:forEach items="#{scheduleVO.dayVOList}" var="dvo">
                                    <p:row>
                                        <p:column styleClass="right-padding" style="text-align: right">
                                            <p:outputLabel value="#{dvo.label}:"/>
                                        </p:column>
                                        <p:column>  
                                            <p:selectCheckboxMenu id="EditAreaHrsListId" value="#{dvo.selectedHrsList}" label="#{userManageBean.getResourceBundleString('label_select_hour')}"  disabled="#{scheduleVO.continuous}" multiple="true" styleClass="min-width-one">
                                                <f:attribute name="collectionType" value="java.util.ArrayList" />
                                                <f:selectItems value="#{editAreaBean.hrsList}"/>
                                                <p:ajax listener="#{editAreaBean.onHrsChange(scheduleVO,dvo)}" update="EditAreaFormId:afterLoad"  />
                                                <p:ajax event="toggleSelect" listener="#{editAreaBean.onHrsChange(scheduleVO,dvo)}"/>
                                            </p:selectCheckboxMenu>
                                        </p:column>
                                    </p:row>
                                </c:forEach>
                            </p:row>       
                            <p:row>
                                <p:column colspan="2">
                                    <p:commandButton id="delSch" value="#{userManageBean.getResourceBundleString('label_remove_schedule')}" 
                                                     update="EditAreaFormId EditAreaFormId:EditAreaSaveId" action="#{editAreaBean.deleteSchedule(scheduleVO)}" 
                                                     disabled="#{editAreaBean.areaVO.areaName eq null}" styleClass="submit-button"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </c:forEach>
                </p:scrollPanel>
                <f:facet name="footer">
                    <div class="center-btn-div">
                        <p:commandButton id="scheduleId" value="#{userManageBean.getResourceBundleString('label_add_schedule')}" ajax="true" widgetVar="createScheduleButton"
                                         disabled="#{editAreaBean.areaVO.areaName eq null or editAreaBean.areaVO.areaName.trim().length() == 0  or editAreaBean.scheduleBtnClick}" action="#{editAreaBean.addSchedule()}" 
                                         update="EditAreaFormId" styleClass="submit-button"/>
                    </div>
                </f:facet>
            </p:panel>
            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="EditAreaSaveId" value="#{userManageBean.getResourceBundleString('btn_save')}"  widgetVar="editAreaSaveButton"
                                 disabled="#{editAreaBean.areaVO.areaName eq null or editAreaBean.areaVO.areaName.trim().length() == 0 or editAreaBean.scheduleBtnClick}" 
                                 process="@form" action="#{editAreaBean.updateArea()}" update="nonAutoGrowlId EditAreaFormId:afterLoad" oncomplete="if (!args.validationFailed) afterLoad();" />
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}"  onclick="PF('defaultDlg').hide()"/>
            </div>

            <h:panelGroup id="afterLoad">
                <h:outputScript>
                    function afterLoad() {  
                    var schdChk = #{editAreaBean.areaVO.scheduleVOList.size()};					

                    if(schdChk === 0){
                    PF('defaultDlg').hide(); 
                    updateTreeNodes();
                    } else {
                    var schContinChk  = #{editAreaBean.scheduleContiFlag};


                    if(schContinChk == false){
                    PF('defaultDlg').hide(); 
                    updateTreeNodes();

                    } else {
                    return;
                    }

                    }

                    }
                </h:outputScript>
            </h:panelGroup>
            <p:blockUI block="EditAreaFormId" trigger="EditAreaSaveId"/>
        </h:form>
        <script>
            function updateSaveAreaButton() {
                debugger;
                var areaInputField = $('#EditAreaFormId\\:EditAreaAreaId');
                var editBtnWidget = PF('editAreaSaveButton');
                var scheduleBtnWidget = PF('createScheduleButton');
                // Check if the input field is empty
                if (areaInputField[0].value.trim() === '') {
                    // Disable the button if the input is empty
                    editBtnWidget.disable();
                    scheduleBtnWidget.disable();
                    PrimeFaces.ajax.update('editBtnWidget');
                    PrimeFaces.ajax.update('scheduleBtnWidget');
                }

            }

            function checkScheduleAndupdateSaveAreaButton() {
                debugger;
                var scheduleNameInputField = $('.schedulename');
                var editBtnWidget = PF('editAreaSaveButton');
                var scheduleBtnWidget = PF('createScheduleButton');
                // Check if the input field is empty
                scheduleNameInputField.each(function (i) {
                    if (scheduleNameInputField[i].value.trim() === '') {
                        // Disable the button if the input is empty
                        editBtnWidget.disable();
                        scheduleBtnWidget.disable();
                        PrimeFaces.ajax.update('editBtnWidget');
                        PrimeFaces.ajax.update('scheduleBtnWidget');
                    }
                });

            }
        </script>
    </div>
</ui:composition>
