<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <div class="card layout-edit-installdevice-presets">
        <h:form id="editInstallDevicePresetsFormId">
            <p:panelGrid  styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_pointName')}:" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="pointnameId" value="#{editInstallDevicePresetsBean.devicePresetVO.pointName}" required="true" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType')}:" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="sensorTypeId" value="#{editInstallDevicePresetsBean.devicePresetVO.sensorType}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_apSetName')}:" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="apSetNameId" value="#{editInstallDevicePresetsBean.devicePresetVO.apSetId}" converter="uuidConverter" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_ap_set_name_required')}" disabled="#{editInstallDevicePresetsBean.devicePresetVO.sensorType eq null or editInstallDevicePresetsBean.devicePresetVO.sensorType eq ''}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{editInstallDevicePresetsBean.devicePresetVO.apAlSetSelectItemList}" var="apSet"  itemValue="#{apSet.value}" itemLabel="#{apSet.label}"/> 
                            <p:ajax event="itemSelect" listener="#{editInstallDevicePresetsBean.onApSetNameSelect(true)}" update="editInstallDevicePresetsFormId"/>
                        </p:selectOneMenu>
                        <p:message for="apSetNameId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alSetName')}:" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="alSetNameId" value="#{editInstallDevicePresetsBean.devicePresetVO.alSetId}"  converter="uuidConverter" disabled="#{editInstallDevicePresetsBean.devicePresetVO.sensorType  eq null or editInstallDevicePresetsBean.devicePresetVO.sensorType eq '' or editInstallDevicePresetsBean.failedTachValidation}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('label_required')}" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{editInstallDevicePresetsBean.devicePresetVO.alSetVOList}" var="alset" itemValue="#{alset.alSetId}" itemLabel="#{alset.alSetName}"/>
                            <p:ajax event="itemSelect" update="editInstallDevicePresetsFormId"/>
                        </p:selectOneMenu>
                        <p:message for="alSetNameId"><p:autoUpdate/></p:message>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="alarmEnabled" value="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}:" styleClass="block-label"/>
                    </p:column>
                    <p:column>
                        <p:inputSwitch id="alarmEnabled" value="#{editInstallDevicePresetsBean.devicePresetVO.alarmEnabled}" onLabel="yes" offLabel="no" >
                            <p:ajax update="@this"/>
                        </p:inputSwitch>
                    </p:column>
                </p:row>
                <p:row rendered="#{editInstallDevicePresetsBean.failedTachValidation}">                       
                    <p:column colspan="2">
                        <p:inputTextarea id="disclaimerId" value="#{userManageBean.getResourceBundleString('label_tach_validation_message')}" readonly="true" styleClass="disclaimer-test-color"/>
                    </p:column>
                </p:row> 
            </p:panelGrid>

            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="editInstallDeviceSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_update')}" action="#{editInstallDevicePresetsBean.submit()}" disabled="#{editInstallDevicePresetsBean.failedTachValidation}"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{editInstallDevicePresetsBean.resetPage()}" onclick="PF('defaultSecondDlg').hide()"/>
            </div>
            
            <p:blockUI block="editInstallDevicePresetsFormId" trigger="editInstallDeviceSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>