<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-edit-point">
        <h:form id="editPointFormId">
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row >
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="site1"  value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="site1" value="#{editPointBean.pointVO.siteName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="area1" value="#{userManageBean.getResourceBundleString('label_area_name')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">
                        <p:inputText id="area1" value="#{editPointBean.pointVO.areaName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding width-176-5">
                        <p:outputLabel for="assetName" value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="assetName" value="#{editPointBean.pointVO.assetName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel for="ptLoName" value="#{userManageBean.getResourceBundleString('label_point_locations_name')}:"/>
                    </p:column> 
                    <p:column styleClass="right-padding">  
                        <p:inputText id="ptLoName" value="#{editPointBean.pointVO.pointLocationName}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_pointName')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputText id="tmpointNameId" value="#{editPointBean.pointVO.pointName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_name_required')}" validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" styleClass="min-width-one" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                            <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                            <p:ajax listener="#{editPointBean.updateBean()}" update="@this editPointFormId:updatePointAssetSubmitBtnId1" oncomplete="hideTooltips()"/>  
                        </p:inputText>
                        <p:message for="tmpointNameId"><p:autoUpdate/></p:message>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_pointType')}:"/>
                    </p:column>
                    <p:column>
                        <p:selectOneButton value="#{editPointBean.pointVO.pointType}" disabled="true" styleClass="min-width-one">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_waveform')}" itemValue="AC"/>
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_single_measurement')}" itemValue="DC"/>
                        </p:selectOneButton>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorType')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputText value="#{editPointBean.pointVO.sensorType}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorUnits')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputText  value="#{editPointBean.pointVO.sensorUnits}"   styleClass="min-width-one" disabled="true"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorChannelNum')}:"/>
                    </p:column>
                    <p:column>
                        <p:inputText  value="#{editPointBean.pointVO.sensorChannelNum}"   styleClass="min-width-one" disabled="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorOffset')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputText  value="#{editPointBean.pointVO.sensorOffset}" styleClass="min-width-one" disabled="true"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorSensitivity')}:"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:inputText  value="#{editPointBean.pointVO.sensorSensitivity}" styleClass="min-width-one" disabled="true"/>
                    </p:column>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}"/>
                    </p:column>
                    <p:column>
                        <p:inputSwitch value="#{editPointBean.pointVO.alarmEnabled}" onLabel="yes" offLabel="no" disabled="#{!(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}">
                            <p:ajax listener="#{editPointBean.updateBean()}" update="@this :editPointFormId:updatePointAssetSubmitBtnId1" oncomplete="hideTooltips()"/>
                        </p:inputSwitch>
                    </p:column>
                </p:row>
            </p:panelGrid>  

            <p:panel id="analysisParmPnl" header="#{userManageBean.getResourceBundleString('label_analysisParameters')}" styleClass="panel-layout-one">
                <p:panelGrid styleClass="panelgrid-layout-one width-fill-available">
                    <p:row>
                        <p:column styleClass="right-padding width-165-7">
                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                        </p:column>
                        <p:column styleClass="right-padding width-265">
                            <p:selectOneMenu id="cpApSetId" value="#{editPointBean.pointVO.apSetId}" converter="uuidConverter" disabled="#{editPointBean.pointVO.sensorType  eq null or editPointBean.pointVO.sensorType eq ''}" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{editPointBean.apSetList}" var="apSet"  itemValue="#{apSet.value}" itemLabel="#{apSet.label}"/> 
                                <p:ajax event="itemSelect" listener="#{editPointBean.onApSetNameSelect()}" update="@form" oncomplete="hideTooltips()"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column styleClass="right-padding width-176-5">
                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                        </p:column>
                        <p:column styleClass="right-padding width-265">
                            <p:selectOneMenu id="alSetGt1" value="#{editPointBean.pointVO.alSetId}" converter="uuidConverter" disabled="#{editPointBean.pointVO.apSetId eq null or editPointBean.tachValidationFailed}" styleClass="min-width-one">
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                <f:selectItems value="#{editPointBean.alSetList}" var="alSet" itemValue="#{alSet.value}" itemLabel="#{alSet.label}"/>
                                <p:ajax listener="#{editPointBean.onAlSetNameSelect()}" update="@form" oncomplete="hideTooltips()"/>
                            </p:selectOneMenu>
                            <p:message for="alSetGt1"><p:autoUpdate/></p:message>
                        </p:column>  
                        <p:column>
                            <p:commandButton id="addApSetIdBtn" value="#{userManageBean.getResourceBundleString('btn_add_ap_set')}" styleClass="float-right" disabled="#{!editPointBean.addApalSetToPoint}" actionListener="#{editPointBean.addApAlset()}" ajax="true" update="@form" oncomplete="hideTooltips()"/>   
                        </p:column>
                    </p:row>
                    <p:row rendered="#{editPointBean.tachValidationFailed}">                       
                        <p:column colspan="5">
                            <p:outputLabel  id="disclaimerId" value="#{userManageBean.getResourceBundleString('label_tach_validation_message')}" styleClass="disclaimer-test-color"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <p:scrollPanel mode="native">
                    <p:dataTable rendered="#{editPointBean.displayApAlsets ne null and !editPointBean.displayApAlsets.isEmpty()}" disabledSelection="#{editPointBean.renderAlertMsg}" id="customerApSetVO" var="apAlSetVO" rowKey="#{apAlSetVO.apSetId}"
                                 selection="#{editPointBean.selectedApAlSetVO}"  value="#{editPointBean.displayApAlsets}" rowIndexVar="rowId" styleClass="datatable-layout-two" paginatorTemplate="{CurrentPageReport}  
                                 {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" >
                        <p:ajax event="rowSelectRadio" listener="#{editPointBean.activateApAlSetVO}" update="@form" oncomplete="hideTooltips()"/>
                        <p:ajax event="rowSelect" listener="#{editPointBean.activateApAlSetVO}" update="@form" oncomplete="hideTooltips()"/>

                        <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" selectionMode="single" styleClass="text-align-center table-column-title-left-column-border-right-border"/>
                        
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" sortBy="#{apAlSetVO.apSetName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                            <h:outputText value="#{apAlSetVO.apSetName}"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_alSetName')}" sortBy="#{apAlSetVO.alSetName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                            <h:outputText value="#{apAlSetVO.alSetName}"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_fmax')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                            <h:outputText value="#{apAlSetVO.fmax}"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_resolution')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                            <h:outputText value="#{apAlSetVO.resolution}"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                            <p:commandLink id="deleteApSet" actionListener="#{editPointBean.removeApAlset(apAlSetVO)}" ajax="true" rendered="#{!apAlSetVO.readOnly}" update="@form" oncomplete="hideTooltips()">
                                <i class="pi pi-trash"/>
                                <p:tooltip for="deleteApSet" value="#{userManageBean.getResourceBundleString('point_remove_ap_al_set_tool_tip')}" position="left" showDelay="500"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:scrollPanel>
            </p:panel>


            <p:panel id="customLimitsPnl" header="#{userManageBean.getResourceBundleString('label_customLimits')}" styleClass="panel-layout-one">
                <p:panelGrid styleClass="panelgrid-layout-one width-fill-available" id="customLimitsPnlGrid">
                    <p:row>
                        <p:column styleClass="right-padding width-165-7">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_useCustomLimits')}:"/>
                        </p:column>
                        <p:column styleClass="right-padding width-265">
                            <p:inputSwitch id="customerSwitchId" value="#{editPointBean.pointVO.customized}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                <p:ajax update="@form" listener="#{editPointBean.onCustomLimitsAlSetNameSelect()}" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column/>
                        <p:column/>
                    </p:row>  
                    <p:row rendered="#{(editPointBean.pointVO.customized and editPointBean.renderAlertMsg)}">                       
                        <p:column colspan="4">
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_limits_info')}" styleClass="error-outputlabel"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <p:scrollPanel mode="native">
                    <p:dataTable rendered="#{editPointBean.pointVO.customized}" id="customDatatableId" var="apAlSetVO" value="#{editPointBean.selectedSiteApAlSetsVOList}" emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}" rowIndexVar="rowId" styleClass="datatable-layout-one" >
                        <p:columnGroup type="header">
                            <p:row>
                                <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_param_name')}" style="width: 19%" styleClass="table-column-title-left-column-border-right-border"/>
                                <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_units')}" style="width: 6%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_amp_factor')}" style="width: 8%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_dwell')}" style="width: 11%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowFault')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowAlert')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highAlert')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highFault')}" style="width: 14%" styleClass="table-column-title-right-just-top-right-border"/>
                            </p:row>
                            <p:row>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-right-just-bottom-right-border"/>
                            </p:row>
                        </p:columnGroup>

                        <p:column>
                            <p:inputText id="paramNameId" value="#{apAlSetVO.paramName}"  disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one" />
                        </p:column>  
                        <p:column>
                            <p:inputText id="paramUnitsId" value="#{apAlSetVO.paramUnits}"  disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one" />
                        </p:column>  
                        <p:column>
                            <p:inputText id="paramAmpFactorId" value="#{apAlSetVO.paramAmpFactor}"  disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one" />
                        </p:column>                    
                        <p:column>    
                            <p:selectOneMenu  id="dwellId" value="#{apAlSetVO.dwell}" styleClass="min-width-one" style="width: 100% !important" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                <f:selectItems value="#{editPointBean.getDwellList()}"/>
                                <p:ajax listener="#{editPointBean.updateBean()}" update="@form" oncomplete="hideTooltips()"/>
                            </p:selectOneMenu>
                        </p:column>                    
                        <p:column>
                            <p:inputSwitch id="lowFaultActiveId" value="#{apAlSetVO.lowFaultActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="lowFaultId" value="#{apAlSetVO.lowFault}" styleClass="#{(apAlSetVO.lowFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.lowFaultActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99996.999">
                                <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputNumber>
                        </p:column>
                        <p:column>
                            <p:inputSwitch id="lowAlertActiveId" value="#{apAlSetVO.lowAlertActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders) }">
                                <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="lowAlertId" value="#{apAlSetVO.lowAlert}" styleClass="#{(apAlSetVO.lowAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.lowAlertActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99997.999">
                                <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputNumber>
                        </p:column>
                        <p:column>
                            <p:inputSwitch id="highAlertActiveId" value="#{apAlSetVO.highAlertActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders) }">
                                <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="highAlertId" value="#{apAlSetVO.highAlert}" styleClass="#{(apAlSetVO.highAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.highAlertActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99998.999">
                                <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputNumber>
                        </p:column>
                        <p:column>
                            <p:inputSwitch id="highFaultActiveId" value="#{apAlSetVO.highFaultActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputSwitch>
                        </p:column>
                        <p:column>
                            <p:inputNumber id="highFaultId" value="#{apAlSetVO.highFault}" styleClass="#{(apAlSetVO.highFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.highFaultActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99999.999">
                                <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                            </p:inputNumber>
                        </p:column> 
                    </p:dataTable>
                </p:scrollPanel>
            </p:panel> 

            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="updatePointAssetSubmitBtnId1" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{editPointBean.updatePoint(true)}" process="@form"
                                 oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide()"
                                 disabled="#{editPointBean.pointVO eq null or editPointBean.pointVO.pointName eq null or editPointBean.pointVO.pointName eq '' or editPointBean.renderAlertMsg or !editPointBean.editPoint}" update="@form nonAutoGrowlId"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{editPointBean.resetPage()}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="editPointFormId" trigger="updatePointAssetSubmitBtnId1"/>
        </h:form>
    </div>
</ui:composition>
