<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <div class="card layout-create-site">

        <h:form id="editSiteFrm">
            <p:scrollPanel mode="native">
                <p:panelGrid styleClass="panelgrid-layout-one include-margins">
                    <p:row >
                        <p:column styleClass="width-170">
                            <p:outputLabel for="siteName" value="#{userManageBean.getResourceBundleString('label_siteName')}:"/>
                        </p:column>
                        <p:column styleClass="width-321-5">
                            <p:inputText id="siteName" value="#{editSiteBean.siteVo.siteName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}">
                                <p:ajax update="@this siteNameMessageId editSiteSubmitBtnId" listener="#{editSiteBean.updateBean}"/>
                            </p:inputText>
                            <p:message id="siteNameMessageId" for="siteName"/>
                        </p:column>
                        <p:column styleClass="width-170"/>
                        <p:column styleClass="width-321-5"/>
                    </p:row>
                </p:panelGrid>

                <p:panel id="physicalAddPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_physadd')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="streetAdd1" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetadd_1')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="streetAdd1" value="#{editSiteBean.siteVo.physicalAddress1}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}">
                                    <p:ajax update="@this streetAdd1MessageId editSiteSubmitBtnId" listener="#{editSiteBean.updateBean}"/>
                                </p:inputText>
                                <p:message id="streetAdd1MessageId" for="streetAdd1"/>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="streetAdd2" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetad_2')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="streetAdd2" value="#{editSiteBean.siteVo.physicalAddress2}" >
                                    <p:ajax listener="#{editSiteBean.updateBean}"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="city" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_city')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="city" value="#{editSiteBean.siteVo.physicalCity}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this cityMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}"/>
                                </p:inputText>
                                <p:message id="cityMessageId" for="city"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="state" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_state')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="state" value="#{editSiteBean.siteVo.physicalStateProvince}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this stateMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}"/>
                                </p:inputText>
                                <p:message id="stateMessageId" for="state"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="postlCode" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_postcode')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="postlCode" value="#{editSiteBean.siteVo.physicalPostalCode}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this postlCodeMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}"/>
                                    <p:keyFilter regEx="^[a-zA-Z0-9-]*$"/>
                                </p:inputText>
                                <p:message id="postlCodeMessageId" for="postlCode"/>
                            </p:column>
                            <p:column/>
                            <p:column/>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="country" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_country')}:"/>
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="country" value="#{editSiteBean.siteVo.country}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}"  filter="true" filterMatchMode="contains" disabled="true">
                                    <p:ajax update="@this countryMessageId editSiteSubmitBtnId" listener="#{editSiteBean.onCountryChange}" />
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}"  noSelectionOption="true" itemDisabled="true"/>
                                    <f:selectItems value="#{editSiteBean.countries}"/>
                                </p:selectOneMenu>
                                <p:message id="countryMessageId" for="country"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="region" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_region')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="region" value="#{editSiteBean.siteVo.region}" disabled="true" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="latitude" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_lat')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputNumber id="latitude" value="#{editSiteBean.siteVo.latitude}">
                                    <p:ajax update="@this" listener="#{editSiteBean.updateBean}" event="change" />
                                </p:inputNumber>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="longitude" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_1ong')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputNumber id="longitude" value="#{editSiteBean.siteVo.longitude}">
                                    <p:ajax update="@this" listener="#{editSiteBean.updateBean}" event="change" />
                                </p:inputNumber>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panel>

                <p:panel id="miscellPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_misce')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="industry" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_industry')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectOneMenu id="industry" value="#{editSiteBean.siteVo.industry}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" filter="true" filterMatchMode="contains">
                                    <p:ajax update="@this industryMessageId editSiteSubmitBtnId" listener="#{editSiteBean.updateBean}" />
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true" itemDisabled="true"/>
                                    <f:selectItems value="#{editSiteBean.industries}"/>
                                </p:selectOneMenu>
                                <p:message id="industryMessageId" for="industry"/>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_createsite_label_timezone')}:" for="editSiteSelectOneTimezoneId"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectOneMenu id="editSiteSelectOneTimezoneId" value="#{editSiteBean.selectedTimezone}"  required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" filter="true" filterMatchMode="contains">
                                    <p:ajax update="@this editSiteSelectOneTimezoneIdMessageId editSiteSubmitBtnId" listener="#{editSiteBean.updateBean}" />
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true" itemDisabled="true"/>
                                    <f:selectItems value="#{editSiteBean.timezoneList}"/>
                                </p:selectOneMenu>
                                <p:message id="editSiteSelectOneTimezoneIdMessageId" for="editSiteSelectOneTimezoneId"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>    
                </p:panel>

                <p:panel id="shippingAddPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_shipadd')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="shippAddChk" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_samephyscadd')}:" />  
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectBooleanCheckbox id="shippAddChk" value="#{editSiteBean.samePhyscAddShipChk}">
                                    <p:ajax update="editSiteFrm:shippingAddDataPnl editSiteSubmitBtnId" event="change" listener="#{editSiteBean.populatePhyscAddForShipp}"/>
                                </p:selectBooleanCheckbox>
                            </p:column>
                            <p:column styleClass="width-170"/>
                            <p:column styleClass="width-321-5"/>
                        </p:row>
                    </p:panelGrid> 
                    <p:panelGrid styleClass="panelgrid-layout-one" id="shippingAddDataPnl">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="shippAdd1" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetadd_1')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="shippAdd1" value="#{editSiteBean.siteVo.shipAddress1}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this shippAdd1MessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message id="shippAdd1MessageId" for="shippAdd1"/>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="shippAdd2" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetad_2')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="shippAdd2" value="#{editSiteBean.siteVo.shipAddress2}"  >
                                    <p:ajax listener="#{editSiteBean.updateBean}"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="shippCity" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_city')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="shippCity" value="#{editSiteBean.siteVo.shipCity}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this shippCityMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message id="shippCityMessageId" for="shippCity"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="shippState" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_state_prov')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="shippState" value="#{editSiteBean.siteVo.shipStateProvince}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this shippStateMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message id="shippStateMessageId" for="shippState"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="shippPostCode" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_postcode')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="shippPostCode" value="#{editSiteBean.siteVo.shipPostalCode}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this shippPostCodeMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}" />
                                    <p:keyFilter mask="num"/>
                                </p:inputText>
                                <p:message id="shippPostCodeMessageId" for="shippPostCode"/>
                            </p:column>
                            <p:column/>
                            <p:column/>
                        </p:row>
                    </p:panelGrid>
                </p:panel>

                <p:panel id="billingAddPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_billadd')}" styleClass="panel-layout-one">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="billAddChk" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_samephyscadd')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:selectBooleanCheckbox id="billAddChk" value="#{editSiteBean.samePhyscAddBillChk}">
                                    <p:ajax update="editSiteFrm:billAddDataPnl editSiteSubmitBtnId" listener="#{editSiteBean.populatePhyscAddForBill}"/>
                                </p:selectBooleanCheckbox>
                            </p:column>
                            <p:column styleClass="width-170"/>
                            <p:column styleClass="width-321-5"/>
                        </p:row>
                    </p:panelGrid> 
                    <p:panelGrid id="billAddDataPnl" styleClass="panelgrid-layout-one">
                        <p:row>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="billAdd1" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetadd_1')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="billAdd1" value="#{editSiteBean.siteVo.billingAddress1}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this billAdd1MessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message id="billAdd1MessageId" for="billAdd1"/>
                            </p:column>
                            <p:column styleClass="width-170">
                                <p:outputLabel for="billAdd2" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_streetad_2')}:"/>
                            </p:column>
                            <p:column styleClass="width-321-5">
                                <p:inputText id="billAdd2" value="#{editSiteBean.siteVo.billingAddress2}" >
                                    <p:ajax listener="#{editSiteBean.updateBean}" update="editSiteSubmitBtnId"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="billCity" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_city')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="billCity" value="#{editSiteBean.siteVo.billingCity}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this billCityMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message id="billCityMessageId" for="billCity"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel for="billState" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_state_prov')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="billState" value="#{editSiteBean.siteVo.billingStateProvince}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this billStateMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message id="billStateMessageId" for="billState"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel for="billPostCode" value="#{userManageBean.getResourceBundleString('dialog_createsite_label_postcode')}:"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="billPostCode" value="#{editSiteBean.siteVo.billingPostalCode}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" >
                                    <p:ajax update="@this billPostCodeMessageId editSiteSubmitBtnId" event="change" listener="#{editSiteBean.updateBean}" />
                                </p:inputText>
                                <p:message id="billPostCodeMessageId" for="billPostCode"/>
                            </p:column>
                            <p:column/>
                            <p:column/>
                        </p:row>
                    </p:panelGrid>
                </p:panel>

                <p:panel id="contactAddPnl" header="#{userManageBean.getResourceBundleString('dialog_createsite_panel_contactdetail')}" styleClass="panel-layout-one">
                    <p:dataTable id="contactDataTbl" widgetVar="contactDataTbl" var="contact" value="#{editSiteBean.contactList}" rendered="#{editSiteBean.contactList.size() gt 0}" styleClass="datatable-layout-one" >
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_name')}*" style="width:25%">
                            <p:inputText id="contactNameId" value="#{contact.contactName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}">
                                <p:ajax update="@this editSiteFrm:contactAddPnl contactNameIdMsgId" listener="#{editSiteBean.updateBean}"/>
                            </p:inputText>
                            <p:message for="contactNameId" id="contactNameIdMsgId"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_title')}" style="width:20%">
                            <p:inputText id="contactTitleId" value="#{contact.contactTitle}">
                                <p:ajax listener="#{editSiteBean.updateBean}"/>
                            </p:inputText>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_phone')}*" style="width:15%">
                            <p:inputText id="contactPhoneId" value="#{contact.contactPhone}">
                                <p:ajax listener="#{editSiteBean.updateBean}" />
                                <p:keyFilter mask="num"/>
                            </p:inputText>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_email')}*" style="width:25%">
                            <p:inputText id="contactEmailId" value="#{contact.contactEmail}" validatorMessage="#{userManageBean.getResourceBundleString('message_email_format')}">
                                <p:ajax update="@this editSiteFrm:contactAddPnl contactEmailIdMsgId" listener="#{editSiteBean.updateBean}" />
                                <f:validateRegex pattern="(.+@.+\.[a-zA-Z]+)?"/>
                            </p:inputText>
                            <p:message for="contactEmailId" id="contactEmailIdMsgId"/>
                        </p:column>
                        <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_role')}*" style="width:15%">
                            <p:selectOneMenu id="contactRoleId" value="#{contact.role}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_site_required')}" disabled="#{contact.roleReadOnly}">
                                <p:ajax update="@this editSiteFrm:contactAddPnl contactRoleIdMsgId" listener="#{editSiteBean.updateBean}" />
                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true" itemDisabled="true"/>
                                <f:selectItems value="#{editSiteBean.roles}"/>
                            </p:selectOneMenu>
                            <p:message for="contactRoleId" id="contactRoleIdMsgId"/>
                        </p:column>
                        <p:column style="width:20px">
                            <p:commandLink styleClass="layout-menu-button layout-topbar-icon" process="@this" action="#{editSiteBean.onDeleteRow(contact)}" update="editSiteFrm:contactAddPnl">
                                <i class="pi pi-trash" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                    <div class="center-btn-div bottom-margin">
                        <p:commandButton  id="addContactBtnId" value="#{userManageBean.getResourceBundleString('btn_contact')}" icon="fa fa-plus" disabled="#{editSiteBean.siteVo eq null or editSiteBean.siteVo.siteName eq null or editSiteBean.siteVo.siteName eq ''}" process="@this" action="#{editSiteBean.onAddNewRow}" update="editSiteFrm"/>
                    </div>
                </p:panel>

                <br/>
                <div class="center-btn-div">
                    <p:commandButton styleClass="left-btn" id="editSiteSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{editSiteBean.submit()}" 
                                     disabled="#{editSiteBean.siteVo eq null or editSiteBean.siteVo.siteName eq null or editSiteBean.siteVo.siteName eq '' 
                                                 or editSiteBean.siteVo.physicalAddress1 eq null or editSiteBean.siteVo.physicalAddress1 eq ''
                                                 or editSiteBean.siteVo.physicalCity eq null or editSiteBean.siteVo.physicalCity eq ''
                                                 or editSiteBean.siteVo.physicalStateProvince eq null or editSiteBean.siteVo.physicalStateProvince eq ''
                                                 or editSiteBean.siteVo.physicalStateProvince eq null or editSiteBean.siteVo.physicalStateProvince eq ''
                                                 or editSiteBean.siteVo.physicalPostalCode eq null or editSiteBean.siteVo.physicalPostalCode eq ''
                                                 or editSiteBean.siteVo.country eq null or editSiteBean.siteVo.country eq ''
                                                 or editSiteBean.siteVo.region eq null or editSiteBean.siteVo.region eq ''
                                                 or editSiteBean.siteVo.industry eq null or editSiteBean.siteVo.industry eq ''
                                                 or editSiteBean.selectedTimezone eq null or editSiteBean.selectedTimezone eq ''
                                                 or editSiteBean.siteVo.shipAddress1 eq null or editSiteBean.siteVo.shipAddress1 eq ''
                                                 or editSiteBean.siteVo.shipCity eq null or editSiteBean.siteVo.shipCity eq ''
                                                 or editSiteBean.siteVo.shipPostalCode eq null or editSiteBean.siteVo.shipPostalCode eq ''
                                                 or editSiteBean.siteVo.shipStateProvince eq null or editSiteBean.siteVo.shipStateProvince eq ''
                                                 or editSiteBean.siteVo.billingAddress1 eq null or editSiteBean.siteVo.billingAddress1 eq ''
                                                 or editSiteBean.siteVo.billingCity eq null or editSiteBean.siteVo.billingCity eq ''
                                                 or editSiteBean.siteVo.billingPostalCode eq null or editSiteBean.siteVo.billingPostalCode eq ''
                                                 or editSiteBean.siteVo.billingStateProvince eq null or editSiteBean.siteVo.billingStateProvince eq ''}" 
                                     oncomplete="if (args &amp;&amp; !args.validationFailed) PF('defaultDlg').hide(); updateTreeNodes()"/>
                    <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
                </div>
            </p:scrollPanel>
        </h:form>
    </div>
</ui:composition>
