<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-import-config">
        <p:outputLabel value="#{userManageBean.getResourceBundleString('import_configuration_validation_message')}" styleClass="disclaimer-test-color" />
        
        <h:form id="importConfigurationFormId" enctype="multipart/form-data" >
            <p:fileUpload id="assetFileId" value="#{importConfigUploadBean.file}" mode="simple" dragDropSupport="false" accept=".csv" widgetVar="fileUploadWidget" fileLimit="1" multiple="false" skinSimple="true" auto="false" required="true" update="@form" label="#{userManageBean.getResourceBundleString('btn_choose')}" title=""/> 
            
            <p:panelGrid styleClass="panelgrid-layout-one" id="btnGrid" >
                <p:row>
                    <p:column>
                        <p:commandButton value="#{userManageBean.getResourceBundleString('btn_download_template')}" id="downloadTemplateButton" ajax="false" update="@this nonAutoGrowlId" >
                            <p:fileDownload value="#{importConfigUploadBean.downloadCsvTemplate()}" />
                        </p:commandButton>
                    </p:column>
                    <p:column >
                        <p:commandButton styleClass="right-align" value="#{userManageBean.getResourceBundleString('btn_submit')}" actionListener="#{importConfigUploadBean.uploadFile()}" update="@form confirmImportConfigDialog nonAutoGrowlId" ajax="true" />
                    </p:column>
                    <p:column >
                        <p:commandButton styleClass="right-align" value="#{userManageBean.getResourceBundleString('btn_cancel')}" actionListener="#{importConfigUploadBean.clearFile()}" onclick="PF('defaultDlg').hide();" />                            
                    </p:column>
                </p:row>
            </p:panelGrid> 
        </h:form>
    </div>
</ui:composition>
