    <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <script type="text/javascript">
        function closeOverlay() {
            var submitSuccess = document.getElementById('installDeviceFormId:submitStatusId').value;
            if (submitSuccess.length !== 0) {
                PF('defaultDlg').hide();
            }
        }
    </script>
    
    <div class="card layout-install-device">
        <h:form id="installDeviceFormId">
            <p:panelGrid styleClass="panelgrid-layout-one include-margins">
                <p:row>
                    <p:column styleClass="width-174">
                        <p:outputLabel for="serialNo" value="#{userManageBean.getResourceBundleString('label_serial_number')}:"/>
                    </p:column> 
                    <p:column styleClass="width-326">
                        <p:inputText id="serialNo" value="#{installDeviceBean.serialNumberInput}" maxlength="8" converter="toUpperCaseConverter">
                            <p:ajax event="keyup" listener="#{installDeviceBean.onSerialNumberChange()}"/>
                        </p:inputText>
                    </p:column>
                    <p:column>
                        <p:commandButton id="validSlNumBtnId" action="#{installDeviceBean.validateSerialNum()}" value="#{userManageBean.getResourceBundleString('btn_validate')}" update="installDeviceFormId @form nonAutoGrowlId"  />
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:panelGrid styleClass="panelgrid-layout-one include-margins">
                <p:row>
                    <p:column styleClass="width-174">
                        <p:outputLabel for="devicePreset" rendered="#{installDeviceBean.pointVOList.size() eq 0}" value="#{userManageBean.getResourceBundleString('label_device_preset')}:"/>
                    </p:column> 
                    <p:column styleClass="width-326">
                        <p:selectOneMenu id="devicePreset" rendered="#{installDeviceBean.pointVOList.size() eq 0}" value="#{installDeviceBean.selectedPresetId}" converter="uuidConverter" disabled="#{installDeviceBean.devicePresetsSelectItemList eq null or installDeviceBean.devicePresetsSelectItemList.size() eq 0}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                            <f:selectItems value="#{installDeviceBean.devicePresetsSelectItemList}" var="devicepresets" itemLabel="#{devicepresets.label}" itemValue="#{devicepresets.value}"/>
                            <p:ajax event="itemSelect" listener="#{installDeviceBean.onDevicePresetSelect()}" update="@form" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column />
                </p:row>
            </p:panelGrid>

            <p:scrollPanel mode="native">
                <p:dataTable id="sdevicepresetDataTbl" var="devpreset" value="#{installDeviceBean.selectedSiteDevicePresetList}" rendered="#{installDeviceBean.selectedSiteDevicePresetList ne null and installDeviceBean.selectedSiteDevicePresetList.size() gt 0}" styleClass="datatable-layout-one" editable="true" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_pointName')}" style="width:25%">
                        <p:column headerText="#{userManageBean.getResourceBundleString('label_pointName')}" style="width:25%">
                            <p:inputText id="pointnameId" value="#{devpreset.pointName}" disabled="true"/>
                        </p:column>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" style="width:15%">
                        <p:inputText id="sensorTypeId" value="#{devpreset.sensorType}" disabled="true" />
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" style="width:25%">
                        <p:inputText id="apSetNameId" value="#{devpreset.apSetName}" disabled="true" />
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alSetName')}" style="width:25%">
                        <p:inputText id="alSetNameId" value="#{devpreset.alSetName}" disabled="true" />
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" style="width:15%">
                        <p:inputSwitch id="alarmEnabled" value="#{devpreset.alarmEnabled}" onLabel="yes" offLabel="no" >
                            <p:ajax listener="#{installDeviceBean.updateBean}"/>
                        </p:inputSwitch>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 51px; text-align: center" rendered="#{admin or user or superAdmins or analysts}" styleClass="table-column-title-right-column-border-left-border">
                        <p:commandLink id ="cmdEdit" process="@this" actionListener="#{installDeviceBean.edit(devpreset)}">
                            <i class="fa fa-pencil-square-o"/>
                        </p:commandLink>
                        <p:tooltip for="cmdEdit" value="#{userManageBean.getResourceBundleString('label_edit')}" position="left" showDelay="500"/>
                    </p:column>
                </p:dataTable>

                <p:dataTable id="pointDataTbl" var="point" value="#{installDeviceBean.pointVOList}" rendered="#{installDeviceBean.pointVOList.size() gt 0 and installDeviceBean.displayPoint}" styleClass="datatable-layout-one" editable="true">
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_pointName')}" style="width:25%">
                        <p:inputText id="pointnameId" value="#{point.pointName}" disabled="true"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" style="width:15%">
                        <p:inputText id="sensorTypeId" value="#{point.sensorType}" disabled="true"/>
                    </p:column>
                    <!-- Display channel Number list when channelNumbers are missing for StormX devicetype -->
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensorChannelNum')}" rendered="#{installDeviceBean.displayChannelNumDropDown}" style="width:15%">
                        <!-- For DC channel -->
                        <p:selectOneMenu id="dcSsensorChannelId" value="#{point.sensorChannelNum}"
                                         rendered="#{point.pointType  eq 'DC'}"
                                         disabled="true"
                                         style="width: 100% !important">
                            <f:selectItems value="#{installDeviceBean.dcChannelNums}"/>
                        </p:selectOneMenu>
                        <p:message for="dcSsensorChannelId"><p:autoUpdate/></p:message>
                        <!-- For AC channel -->
                        <p:selectOneMenu id="acSsensorChannelId" value="#{point.sensorChannelNum}"
                                         rendered="#{point.pointType  eq 'AC'}"
                                         style="width: 100% !important">
                            <f:selectItems value="#{installDeviceBean.acChannelNums}"/>
                            <p:ajax event="itemSelect" listener="#{installDeviceBean.onACChannelNumSelect(point)}" update="@this installDeviceFormId:pointDataTbl"/>
                        </p:selectOneMenu>
                        <p:message for="acSsensorChannelId"><p:autoUpdate/></p:message>
                    </p:column>
                    
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" style="width:25%">
                        <p:inputText id="apSetNameId" value="#{point.apSetName}" disabled="true"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alSetName')}" style="width:25%">
                        <p:inputText id="alSetNameId" value="#{point.alSetName}" disabled="true"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" style="width:15%">
                        <p:inputSwitch id="alarmEnabled" value="#{point.alarmEnabled}" onLabel="yes" offLabel="no" >
                            <p:ajax listener="#{installDeviceBean.updateBean}"/>
                        </p:inputSwitch>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>

            <h:inputHidden id="submitStatusId" value="#{installDeviceBean.submitSuccess}" />
            <div class="center-disclaimer-div">
                <p:outputLabel rendered="#{installDeviceBean.tachValidationFailed}" id="disclaimerId1" value="#{userManageBean.getResourceBundleString('label_tach_validation_message')}" styleClass="disclaimer-test-color"/>
            </div>
            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="installDeviceSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{installDeviceBean.submit()}" 
                                 disabled="#{(!installDeviceBean.displayPoint and (installDeviceBean.selectedSiteDevicePresetList eq null or installDeviceBean.selectedSiteDevicePresetList.size() eq 0))
                                             or (installDeviceBean.displayPoint and (installDeviceBean.pointVOList eq null or installDeviceBean.pointVOList.size() eq 0)) or installDeviceBean.tachValidationFailed}" 
                                 update="@form nonAutoGrowlId" onstart="readPageSize('dt-devicePresetsId_rppDD')" oncomplete="closeOverlay(); setPageSize('dt-devicePresetsId_rppDD',10)"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{installDeviceBean.resetPage()}" onclick="PF('defaultDlg').hide()"/>
            </div>
            <p:blockUI block="installDeviceFormId" trigger="installDeviceSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>