<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-modify-alarm-status">
        <h:form id="modifyAlarmStatusFormId">  
            
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row>
                    <p:column colspan="2" styleClass="bottom-padding">
                        <p:outputLabel value="#{configurationBean.description}" id="messageModifyAlarmStatus" styleClass="disclaimer-test-color"/>
                    </p:column> 
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        <p:selectOneRadio id="line" value="#{configurationBean.alarmEnabled}">
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_enable')}" itemValue="true"/>
                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_disable')}" itemValue="false"/>
                        </p:selectOneRadio>  
                    </p:column> 
                </p:row>
                <p:row>
                    <p:column styleClass="right-padding">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensor_types')}:" for="sensorTypesId"/>  
                    </p:column> 
                    <p:column>
                        <p:selectCheckboxMenu id="sensorTypesId" value="#{configurationBean.sensorTypes}" label="#{configurationBean.sensorTypeDefaultLabel}"
                                              updateLabel="false" widgetVar="sensorMenuWidget" styleClass="min-width-one" showHeader="true" filter="true" filterMatchMode="contains" onchange="updateCustomLabel();">
                            <p:ajax event="toggleSelect" oncomplete="updateCustomLabel();" update="modifyAlarmStatusFormId:updateAlarmStatusId"/>
                            <f:selectItems value="#{configurationBean.sensorTypeList}" var="stList" itemValue="#{stList.value}" itemLabel="#{stList.label}" />
                            <p:ajax event="change"  oncomplete="updateCustomLabel();" update="modifyAlarmStatusFormId:updateAlarmStatusId"/>
                        </p:selectCheckboxMenu>
                    </p:column> 
                </p:row>
            </p:panelGrid>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="updateAlarmStatusId" value="#{userManageBean.getResourceBundleString('btn_update')}" update="nonAutoGrowlId" disabled="#{!(configurationBean.sensorTypes.size() > 0)}" action="#{configurationBean.updateAlarmStatus()}" oncomplete="PF('defaultDlg').hide()" />
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}"  onclick="PF('defaultDlg').hide()"/>
            </div>
            
            <p:blockUI block="modifyAlarmStatusFormId" trigger="updateAlarmStatusId"/>
            <p:commandButton id="setDefaultSensorType" action="#{configurationBean.updateSensorTypes(userManageBean.getResourceBundleString('label_sensor_type_default'))}" styleClass="hide-component"/>
            <p:commandButton id="setCustomSensorType" action="#{configurationBean.updateSensorTypes(userManageBean.getResourceBundleString('label_sensor_type_selected'))}" styleClass="hide-component"/>
        </h:form>
    </div> 
    
    <script type="text/javascript">
        function updateCustomLabel() {
            // Make sure the widget is initialized
            var widget = PF('sensorMenuWidget');
            if (!widget) {
                console.error('Widget not found or not initialized.');
                return;
            }

            // Get the selected options (checked checkboxes)
            var selectMenu = widget.jq.find('input:checked');
            var selectedLabels = [];

            // Extract text from the labels next to checked checkboxes
            selectMenu.each(function () {
                selectedLabels.push($(this).next('label').text());
            });
            // Set custom label: either selected items or default label
            var label;
            if (#{configurationBean.sensorTypeSet.size()} === selectedLabels.length) {
                 label = '#{userManageBean.getResourceBundleString("label_sensor_type_default")}';
                $('#modifyAlarmStatusFormId\\:setDefaultSensorType').click();
            } else {
                 label = '#{userManageBean.getResourceBundleString("label_sensor_type_selected")}';
                $('#modifyAlarmStatusFormId\\:setCustomSensorType').click();
            }
            
            widget.jq.find('.ui-selectcheckboxmenu-label').text(label);
        }
    </script>
    
</ui:composition>
