<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-create-area">
        <h:form id="plotDataOptionsFormId">
            <h:inputHidden id="windowUrlId"/>
            <p:panelGrid styleClass="panelgrid-layout-one">
                <p:row rendered="#{assetAnalysisWindowBean.graphType.equalsIgnoreCase('wave')}">
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_amplitude_unit')} :" for="amplitudeUnitIdWave" rendered="#{assetAnalysisWindowBean.graphType.equalsIgnoreCase('wave')}"/>  
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="amplitudeUnitIdWave" tabindex="1" value="#{assetAnalysisWindowBean.amplitudeUnit}" styleClass="min-width-one">
                            <f:selectItems value="#{assetAnalysisWindowBean.amplitudeUnitList}"/>
                            <p:ajax listener="#{assetAnalysisWindowBean.setPlotOptionsModified(true)}" update="@this plotDataOptionsSaveId"/>
                        </p:selectOneMenu>
                    </p:column> 
                </p:row>

                <p:row rendered="#{assetAnalysisWindowBean.graphType.equalsIgnoreCase('spectrum')}">
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_spectral_unit')} :" for="amplitudeUnitIdSpec" rendered="#{assetAnalysisWindowBean.graphType.equalsIgnoreCase('spectrum')}"/>  
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="amplitudeUnitIdSpec" tabindex="1" value="#{assetAnalysisWindowBean.amplitudeUnit}" styleClass="min-width-one">
                            <f:selectItems value="#{assetAnalysisWindowBean.amplitudeUnitList}"/>
                            <p:ajax listener="#{assetAnalysisWindowBean.setPlotOptionsModified(true)}" update="@this plotDataOptionsSaveId"/>
                        </p:selectOneMenu>
                    </p:column> 
                </p:row>

                <p:row rendered="#{assetAnalysisWindowBean.graphType.equalsIgnoreCase('wave')}">
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_unit')} :" for="timeUnitId"/>  
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="timeUnitId" tabindex="1" value="#{assetAnalysisWindowBean.timeUnit}" styleClass="min-width-one">
                            <f:selectItems value="#{assetAnalysisWindowBean.timeUnitList}"/>
                            <p:ajax listener="#{assetAnalysisWindowBean.setPlotOptionsModified(true)}" update="@this plotDataOptionsSaveId"/>
                        </p:selectOneMenu>
                    </p:column> 
                </p:row>

                <p:row rendered="#{assetAnalysisWindowBean.graphType.equalsIgnoreCase('spectrum')}">
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_amp_factor')} :" for="ampFactorId"/>  
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="ampFactorId" tabindex="1" value="#{assetAnalysisWindowBean.ampFactor}" styleClass="min-width-one">
                            <f:selectItems value="#{assetAnalysisWindowBean.ampFactorList}"/>
                            <p:ajax listener="#{assetAnalysisWindowBean.setPlotOptionsModified(true)}" update="@this plotDataOptionsSaveId"/>
                        </p:selectOneMenu>
                    </p:column> 
                </p:row>

                <p:row rendered="#{assetAnalysisWindowBean.graphType.equalsIgnoreCase('spectrum')}">
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_frequency_units')} :" for="frequencyUnitId"/>  
                    </p:column> 
                    <p:column>
                        <p:selectOneMenu id="frequencyUnitId" tabindex="1" value="#{assetAnalysisWindowBean.frequencyUnit}" styleClass="min-width-one">
                            <f:selectItems value="#{assetAnalysisWindowBean.frequencyUnitList}" var="frequencyUnit" />
                            <p:ajax listener="#{assetAnalysisWindowBean.setPlotOptionsModified(true)}" update="@this plotDataOptionsSaveId"/>
                        </p:selectOneMenu>
                    </p:column> 
                </p:row>

                <p:row rendered="#{assetAnalysisWindowBean.graphType.equalsIgnoreCase('spectrum')}">
                    <p:column styleClass="right-padding width-157">
                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_spectrum_Log_Scale_Yaxis')}" for="logYaxisId"/>  
                    </p:column> 
                    <p:column>
                        <p:inputSwitch id="logYaxisId" value="#{assetAnalysisWindowBean.logYaxis}" onLabel="yes" offLabel="no" onchange="updatelogYaxis()">
                        <p:ajax listener="#{assetAnalysisWindowBean.setPlotOptionsModified(true)}" update="@this plotDataOptionsSaveId" />
                        </p:inputSwitch>
                    </p:column> 
                </p:row>

            </p:panelGrid>

            <div class="center-btn-div">
                <p:commandButton styleClass="left-btn" id="plotDataOptionsSaveId" value="#{userManageBean.getResourceBundleString('btn_update')}" update="nonAutoGrowlId" action="#{assetAnalysisWindowBean.savePlotDataOptions(true)}" disabled="#{!assetAnalysisWindowBean.isPlotOptionsModified()}"/>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}"  onclick="PF('defaultDlg').hide()"/>
                <p:commandLink id="logYaxisCmd" type="submmit" ajax="true" styleClass="hide-component" actionListener="#{assetAnalysisWindowBean.setPlotOptionsModified(true)}" update="plotDataOptionsSaveId" />
            </div>
            <p:blockUI block="plotDataOptionsFormId" trigger="plotDataOptionsSaveId"/>
        </h:form>
    </div>
    
    
     <script type="text/javascript">
          function updatelogYaxis() {            
              console.log('update logy');             
              $('#plotDataOptionsFormId\\:logYaxisCmd').click();         } 
            
        </script>
          
    
</ui:composition>
