<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <script type="text/javascript">
        function closeOverlay() {
            var submitSuccess = document.getElementById('replaceDeviceFormId:submitSuccessId').value;
            if (submitSuccess.length !== 0) {
                PF('defaultDlg').hide();
            }
        }
    </script>
    <div class="card layout-replace-device">
        <h:form id="replaceDeviceFormId">
            <p:panelGrid styleClass="panelgrid-layout-one include-margins">
                <p:row >
                    <p:column styleClass="width-174">
                        <p:outputLabel for="existingPoints" value="#{userManageBean.getResourceBundleString('label_existing_device_serial_number')}:"/>
                    </p:column> 
                    <p:column styleClass="width-326">
                        <p:inputText id="existingPoints" value="#{replaceDeviceBean.existingDeviceId}" disabled="true" styleClass="min-width-one"/>
                    </p:column>
                    <p:column />
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel for="serialNo" value="#{userManageBean.getResourceBundleString('label_new_device_serial_number')}:"/>
                    </p:column> 
                    <p:column>
                        <p:inputText id="serialNo" value="#{replaceDeviceBean.serialNumberInput}" maxlength="8" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_area_required')}" converter="toUpperCaseConverter" styleClass="min-width-one">
                            <p:ajax event="keyup" listener="#{replaceDeviceBean.onSerialNumberChange()}"/>
                        </p:inputText>
                    </p:column>
                    <p:column>
                        <p:commandButton id="validateId" action="#{replaceDeviceBean.validateSerialNum}" value="#{userManageBean.getResourceBundleString('btn_validate')}" update="replaceDeviceFormId @form nonAutoGrowlId"/>
                 </p:column>
                </p:row>
            </p:panelGrid>
            
            <p:scrollPanel mode="native" id="deviceScrollDataTblId">
                <p:dataTable id="pointDataTbl" var="point" value="#{replaceDeviceBean.pointVOList}" rendered="#{replaceDeviceBean.pointVOList.size() gt 0}" styleClass="datatable-layout-one" editable="true" >
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_pointName')}" style="width:25%">
                        <p:inputText id="pointnameId" value="#{point.pointName}" disabled="true"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" style="width:15%">
                        <p:inputText id="sensorTypeId" value="#{point.sensorType}" disabled="true"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" style="width:25%">
                        <p:inputText id="apSetNameId" value="#{point.apSetName}" disabled="true"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alSetName')}" style="width:25%">
                        <p:inputText id="alSetNameId" value="#{point.alSetName}" disabled="true"/>
                    </p:column>
                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" style="width:15%">
                        <p:inputSwitch id="alarmEnabled" value="#{point.alarmEnabled}" onLabel="yes" offLabel="no" >
                            <p:ajax listener="#{replaceDeviceBean.updateBean}"/>
                        </p:inputSwitch>
                    </p:column>
                </p:dataTable>
            </p:scrollPanel>
            <h:inputHidden id="submitSuccessId" value="#{replaceDeviceBean.submitSuccess}" />
            <div class="center-btn-div" >
                <p:commandButton styleClass="left-btn" id="replaceDeviceSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{replaceDeviceBean.submit()}" disabled="#{replaceDeviceBean.pointVOList.size() eq 0}" update="@form nonAutoGrowlId" oncomplete="closeOverlay();">
                    <p:confirm id="confirmDialog" header="#{userManageBean.getResourceBundleString('label_confirm')}" message="#{userManageBean.getResourceBundleString('label_confirm_replace_device')}" icon="pi pi-exclamation-circle" />  
                </p:commandButton>
                <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{replaceDeviceBean.resetPage()}" onclick="PF('defaultDlg').hide()" disabled="#{!replaceDeviceBean.pointToHwUnitFound}"/>
            </div>
            
            <p:blockUI block="replaceDeviceFormId" trigger="replaceDeviceSubmitBtnId"/>
        </h:form>
    </div>
</ui:composition>
