<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-role-information">
        <p:panelGrid styleClass="panelgrid-layout-one">
            <p:row>
                <p:column styleClass="right-padding" style="width: 16%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_admin_label')}:" styleClass="bold-font-weight"/>
                </p:column>
                <p:column style="width: 84%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_admin_desc')}"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="right-padding" style="width: 16%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_user_management_label')}:" styleClass="bold-font-weight"/>
                </p:column>
                <p:column style="width: 84%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_user_management_desc')}"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="right-padding" style="width: 16%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_user_label')}:" styleClass="bold-font-weight"/>
                </p:column>
                <p:column style="width: 84%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_user_desc')}"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="right-padding" style="width: 16%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_userp_label')}:" styleClass="bold-font-weight"/>
                </p:column>
                <p:column style="width: 84%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_userp_desc')}"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="right-padding" style="width: 16%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_configurator_label')}:" styleClass="bold-font-weight"/>
                </p:column>
                <p:column style="width: 84%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_configurator_desc')}"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="right-padding" style="width: 16%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_viewer_label')}:" styleClass="bold-font-weight"/>
                </p:column>
                <p:column style="width: 84%">
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_viewer_desc')}"/>
                </p:column>
            </p:row>
        </p:panelGrid>
    </div>
</ui:composition>
