<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="card layout-system-status-data">
        <div class="top-div">
            <div class="inside-div">
                <p:commandLink id="downloadKPIcSV" oncomplete="hideTooltips()">
                    <i class="pi pi-download" />
                    <p:fileDownload value="#{systemStatusBean.downloadCSVFile()}" />
                </p:commandLink> 
                <p:tooltip value="#{userManageBean.getResourceBundleString('download_kpi_csv')}" for="downloadKPIcSV" position="bottom" showDelay="500"/>
            </div>
        </div> 
        
        <p:scrollPanel mode="native" rendered="#{systemStatusBean.renderAirbaseStatus}">
            <p:dataTable id="airbaseStatusDataTableId" var="data" value="#{systemStatusBean.filteredAirbaseStatusVOList}" rendered="#{systemStatusBean.renderAirbaseStatus}" styleClass="datatable-layout-two" paginator="true" paginatorPosition="top" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="#{userManageBean.getResourceBundleString('label_siteName')}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                    <p:outputLabel value="#{data.siteName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_basestation_id')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data.baseStationId}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_last_sample_received')} - (#{userManageBean.zoneId.id})" styleClass="text-align-center table-column-title-right-column-border-left-border">
                    <p:outputLabel value="#{data.formatedLastSampleReceived}"/>
                </p:column>
            </p:dataTable>
        </p:scrollPanel>

        <p:scrollPanel mode="native" rendered="#{systemStatusBean.renderEchobase}">
            <p:dataTable id="echobaseStatusDataTableId" var="data2" value="#{systemStatusBean.filteredEchoDiagnosticsList}" rendered="#{systemStatusBean.renderEchobase}" styleClass="datatable-layout-two" paginator="true" paginatorPosition="top" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="#{userManageBean.getResourceBundleString('label_siteName')}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                    <p:outputLabel value="#{data2.siteName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_device_id')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data2.deviceId}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_last_updated')} - (#{userManageBean.zoneId.id})" styleClass="text-align-center table-column-title-right-column-border-left-border">
                    <p:outputLabel value="#{data2.formatedLastUpdate}"/>
                </p:column>
            </p:dataTable>
        </p:scrollPanel>

        <p:scrollPanel mode="native" rendered="#{systemStatusBean.renderSensorStatus}">
            <p:dataTable id="mistSensorStatusDataTableId" var="data3" value="#{systemStatusBean.filteredDeviceStatusList}" rendered="#{systemStatusBean.renderSensorStatus}" styleClass="datatable-layout-two" paginator="true" paginatorPosition="top" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="#{userManageBean.getResourceBundleString('label_siteName')}" style="width: 13%" styleClass="text-align-center table-column-title-left-column-border-right-border">
                    <p:outputLabel value="#{data3.siteName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_area_name')}" style="width: 13%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data3.areaName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_asset_name')}" style="width: 13%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data3.assetName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_point_locations_name')}" style="width: 13%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data3.pointLocationName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_device_id')}" style="width: 13%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data3.deviceId}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_last_sample_received')} - (#{userManageBean.zoneId.id})" style="width: 22%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data3.formatedLastSample}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_battery_voltage')}" style="width: 13%" styleClass="text-align-center table-column-title-right-column-border-left-border">
                    <p:outputLabel value="#{data3.batteryStatus}"/>
                </p:column>
            </p:dataTable>
        </p:scrollPanel>

        <p:scrollPanel mode="native" rendered="#{systemStatusBean.renderLowBattery}" styleClass="low-battery-scrollpanel">
            <p:dataTable id="lowBatteryDataTableId" var="data4" value="#{systemStatusBean.lowBatteryDeviceList}" rendered="#{systemStatusBean.renderLowBattery}" styleClass="datatable-layout-two" paginator="true" paginatorPosition="top" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="#{userManageBean.getResourceBundleString('label_siteName')}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                    <p:outputLabel value="#{data4.siteName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_area_name')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data4.areaName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_asset_name')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data4.assetName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_point_locations_name')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data4.pointLocationName}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_device_id')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data4.deviceId}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_battery_voltage')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                    <p:outputLabel value="#{data4.mistlxBattery}"/>
                </p:column>
                <p:column headerText="#{userManageBean.getResourceBundleString('label_last_sample_received')} - (#{userManageBean.zoneId.id})" styleClass="text-align-center table-column-title-right-column-border-left-border">
                    <p:outputLabel value="#{data4.formatedLastSample}"/>
                </p:column>
            </p:dataTable>
        </p:scrollPanel>

        <p:scrollPanel mode="native" rendered="#{systemStatusBean.renderDisabledSensor}" styleClass="disabled-sensor-scrollpanel">
            <p:dataTable id="disabledSensorDataTableId" var="data5" value="#{systemStatusBean.deviceBaseStationsList}" rendered="#{systemStatusBean.renderDisabledSensor}" styleClass="datatable-layout-two" paginator="true" paginatorPosition="top" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                <p:column headerText="#{userManageBean.getResourceBundleString('label_device_id')}" styleClass="text-align-center">
                    <p:outputLabel value="#{data5.deviceId}"/>
                </p:column>
            </p:dataTable>
        </p:scrollPanel>
    </div>
</ui:composition>
