<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div class="card layout-user-preferences">
        <p:tabView id="tabView">
            <p:ajax event="tabChange" listener="#{userManageBean.resetUserPreferenceTabs()}" update="topbarPreferencesFormId topbarDefaultsUnitsFormId topbarAlNotificationFormId"/> 

            <p:tab title="#{userManageBean.getResourceBundleString('dialog_preferences_label_general')}">
                <h:form id="topbarPreferencesFormId">
                    <p:panelGrid styleClass="panelgrid-layout-one">
                        <p:row>                       
                            <p:column colspan="3">
                                <p:outputLabel  id="generalDisclaimerId" value="#{userManageBean.getResourceBundleString('label_user_preferences_open_window_message')}" styleClass="disclaimer-test-color"/>
                            </p:column>
                        </p:row> 
                        <p:row>
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_label_1')}:" for="topbarPreferencesSelectOneTimezoneId" styleClass="block-label" />
                            </p:column>
                            <p:column styleClass="right-padding">
                                <p:selectOneMenu id="topbarPreferencesSelectOneTimezoneId" value="#{userManageBean.selectedTimezone}" filter="true" filterMatchMode="contains"  styleClass="min-width-one">
                                    <p:ajax listener="#{userManageBean.updateBean()}" update="topbarPreferencesFormId:topbarPreferencesSubmitBtnId"/>
                                    <f:selectItems value="#{userManageBean.timezoneList}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:outputLabel styleClass="block-label" id="TimezoneInfoIconId">
                                    <i class="pi pi-info-circle" />
                                </p:outputLabel>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('default_site_timeZone_info')}" for="TimezoneInfoIconId" position="right" showDelay="250" hideEvent="mouseleave click" styleClass="max-width-300"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_label_2')}:" for="topbarPreferencesSelectOneLanguageId" styleClass="block-label"/>
                            </p:column>
                            <p:column styleClass="right-padding">
                                <p:selectOneMenu id="topbarPreferencesSelectOneLanguageId" value="#{userManageBean.getUserPreferencesVO().localeDisplayName}" styleClass="min-width-one">
                                    <p:ajax listener="#{userManageBean.updateBean()}" update="topbarPreferencesFormId:topbarPreferencesSubmitBtnId"/>
                                    <f:selectItems value="#{userManageBean.localeDisplayNameList}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column/>
                        </p:row>
                        <p:row  rendered="#{!userManageBean.globalGroups and !userManageBean.providedCustomerRole}">
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_label_3')}:" for="topbarPreferencesSelectOneSiteIdId_one" styleClass="block-label"/>
                            </p:column>
                            <p:column styleClass="right-padding">
                                <p:selectOneMenu id="topbarPreferencesSelectOneSiteIdId_one" value="#{userManageBean.getUserPreferencesVO().defaultSite}" styleClass="min-width-one" converter="uuidConverter">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                    <f:selectItems value="#{userManageBean.userSiteList}" var="site" itemLabel="#{site.siteName}" itemValue="#{site.siteId}"/>
                                    <p:ajax listener="#{userManageBean.updateBean()}" update="topbarPreferencesFormId:topbarPreferencesSubmitBtnId"/>
                                </p:selectOneMenu>
                                <p:message for="topbarPreferencesSelectOneSiteIdId_one" id="siteMsgId_one" styleClass="min-width-one"/>
                            </p:column>
                            <p:column/>
                        </p:row>
                        <p:row  rendered="#{!userManageBean.globalGroups and userManageBean.providedCustomerRole}">
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_label_3')}:" for="topbarPreferencesSelectOneSiteId_two" styleClass="block-label"/>
                            </p:column>
                            <p:column styleClass="right-padding">
                                <p:selectOneMenu id="topbarPreferencesSelectOneSiteId_two" value="#{userManageBean.getUserPreferencesVO().defaultSite}" styleClass="min-width-one" converter="uuidConverter">
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                    <f:selectItems value="#{userManageBean.completeSiteList}" var="site" itemLabel="#{site.label}" itemValue="#{site.value}"/>
                                    <p:ajax listener="#{userManageBean.updateBean()}" update="topbarPreferencesFormId:topbarPreferencesSubmitBtnId"/>
                                </p:selectOneMenu>
                                <p:message for="topbarPreferencesSelectOneSiteId_two" id="siteMsgId_two" styleClass="min-width-one"/>
                            </p:column>
                            <p:column/>
                        </p:row>
                    </p:panelGrid>

                    <div class="center-btn-div">
                        <p:commandButton styleClass="left-btn" type="submit" id="topbarPreferencesSubmitBtnId" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{userManageBean.submit()}" oncomplete="PF('defaultDlg').hide()" 
                                         disabled="#{(!userManageBean.globalGroups and (userManageBean.getUserPreferencesVO() eq null or userManageBean.getUserPreferencesVO().defaultSite eq null 
                                                     or userManageBean.getUserPreferencesVO().localeDisplayName eq null or userManageBean.getUserPreferencesVO().localeDisplayName eq ''
                                                     or userManageBean.selectedTimezone eq null or userManageBean.selectedTimezone eq ''))
                                                     or (userManageBean.globalGroups and (userManageBean.getUserPreferencesVO() eq null 
                                                     or userManageBean.getUserPreferencesVO().localeDisplayName eq null or userManageBean.getUserPreferencesVO().localeDisplayName eq ''
                                                     or userManageBean.selectedTimezone eq null or userManageBean.selectedTimezone eq ''))}"/>
                        <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
                    </div>
                    <p:blockUI block="topbarPreferencesFormId" trigger="topbarPreferencesSubmitBtnId"/>
                </h:form>   
            </p:tab>

            <p:tab title="#{userManageBean.getResourceBundleString('dialog_preferences_label_display_units')}">
                <h:form id="topbarDefaultsUnitsFormId">
                    <p:scrollPanel mode="native">
                        <p:outputLabel  id="displayUnitDisclaimerId" value="#{userManageBean.getResourceBundleString('label_user_preferences_open_window_message')}" styleClass="disclaimer-test-color"/>
                        <p:inputTextarea  value="#{userManageBean.getResourceBundleString('label_default_display_unit_message')}" readonly="true"/>
                        
                        <p:panel header="#{userManageBean.getResourceBundleString('label_multi_point_measurement')}" styleClass="panel-layout-one">
                            <p:panelGrid styleClass="panelgrid-layout-one">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="2" styleClass="border-bottom">#{userManageBean.getResourceBundleString('label_waveform')}</p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column styleClass="second-header-option table-column-title-left-column-border-right-border">#{userManageBean.getResourceBundleString('label_sensor_type')}</p:column>
                                        <p:column styleClass="second-header-option table-column-title-right-column-border-left-border">#{userManageBean.getResourceBundleString('label_amplitude_unit')}</p:column>
                                    </p:row>

                                </f:facet>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding top-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_acceleration')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding top-padding">
                                        <p:selectOneMenu id="accelerationWaveFormId1" value="#{userManageBean.defaultUnits.accelerationWaveform}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getACUnitList('acceleration', 'waveform')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <!--<p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_velocity')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="velocityWaveFormId1" value="#{userManageBean.defaultUnits.velocityWaveform}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getACUnitList('velocity', 'waveform')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_displacement')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="displacementWaveFormId1" value="#{userManageBean.defaultUnits.displacementWaveform}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getACUnitList('displacement', 'waveform')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>-->
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_ultrasonic')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="ultrasonicWaveformId1" value="#{userManageBean.defaultUnits.ultrasonicWaveform}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getACUnitList('ultrasonic', 'waveform')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_time')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="timeWaveformId" value="#{userManageBean.defaultUnits.timeUnit}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getWaveTime()}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>

                            <p:panelGrid styleClass="panelgrid-layout-one">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="4" styleClass="border-bottom">#{userManageBean.getResourceBundleString('label_spectrum')}</p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column styleClass="second-header-option table-column-title-left-column-border-right-border">#{userManageBean.getResourceBundleString('label_sensor_type')}</p:column>
                                        <p:column styleClass="second-header-option table-column-title-center-column-border-horizontal-border">#{userManageBean.getResourceBundleString('label_amplitude_unit')}</p:column>
                                        <p:column styleClass="second-header-option table-column-title-center-column-border-horizontal-border">#{userManageBean.getResourceBundleString('label_spectrum_amplitude_factor')}</p:column>
                                        <p:column styleClass="second-header-option table-column-title-right-column-border-left-border">#{userManageBean.getResourceBundleString('label_spectrum_Log_Scale_Yaxis')}</p:column>
                                    </p:row>
                                </f:facet>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding top-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_acceleration')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding top-padding">
                                        <p:selectOneMenu id="accelerationWaveFormId" value="#{userManageBean.defaultUnits.accelerationSpectrum}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getACUnitList('acceleration', 'spectrum')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column styleClass="right-padding top-padding">
                                        <p:selectOneMenu id="accelerationSpectrumId" value="#{userManageBean.defaultUnits.accelerationAmpFactor}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getAmpFactorItemList('peak amplitude')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column styleClass="right-padding text-align-center">
                                        <p:inputSwitch value="#{userManageBean.defaultUnits.accelerationlogYaxis}" onLabel="yes" offLabel="no" >
                                            <p:ajax listener="#{userManageBean.updateBean()}" />
                                        </p:inputSwitch>
                                    </p:column>
                                </p:row>
                                <!--<p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_velocity')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="velocityWaveFormId" value="#{userManageBean.defaultUnits.velocitySpectrum}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getACUnitList('velocity', 'spectrum')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="velocitySpectrumId" value="#{userManageBean.defaultUnits.velocityAmpFactor}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getAmpFactorItemList('peak amplitude')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column styleClass="right-padding text-align-center">
                                        <p:inputSwitch value="#{userManageBean.defaultUnits.velocitylogYaxis}" onLabel="yes" offLabel="no" >
                                            <p:ajax listener="#{userManageBean.updateBean()}" />
                                        </p:inputSwitch>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_displacement')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="displacementWaveFormId" value="#{userManageBean.defaultUnits.displacementSpectrum}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getACUnitList('displacement', 'spectrum')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="displacementSpectrumId" value="#{userManageBean.defaultUnits.displacementAmpFactor}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getAmpFactorItemList('peak amplitude')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column styleClass="right-padding text-align-center">
                                        <p:inputSwitch value="#{userManageBean.defaultUnits.displacementlogYaxis}" onLabel="yes" offLabel="no" >
                                            <p:ajax listener="#{userManageBean.updateBean()}" />
                                        </p:inputSwitch>
                                    </p:column>
                                </p:row>-->
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_ultrasonic')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="ultrasonicWaveformId" value="#{userManageBean.defaultUnits.ultrasonicSpectrum}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getACUnitList('ultrasonic', 'spectrum')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="ultrasonicSpectrumId" value="#{userManageBean.defaultUnits.ultrasonicAmpFactor}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getAmpFactorItemList('peak amplitude')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column styleClass="right-padding text-align-center">
                                        <p:inputSwitch value="#{userManageBean.defaultUnits.ultrasoniclogYaxis}" onLabel="yes" offLabel="no" >
                                            <p:ajax listener="#{userManageBean.updateBean()}" />
                                        </p:inputSwitch>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_frequency')}:" />
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="frequencyformId" value="#{userManageBean.defaultUnits.frequencyUnit}"  styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getWaveFrequency()}"/>
                                            <p:ajax update="@form" listener="#{userManageBean.updateBean()}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column/>
                                    <p:column/>
                                </p:row>
                                <p:row rendered="#{userManageBean.defaultUnits.frequencyUnit ne null and userManageBean.defaultUnits.frequencyUnit eq 'Orders'}">
                                    <p:column colspan="4">
                                        <p:inputTextarea id="disclaimerId" value="#{userManageBean.getResourceBundleString('label_order_disclaimer')}" readonly="true" styleClass="disclaimer-test-color"/>
                                    </p:column> 
                                </p:row>
                            </p:panelGrid>
                        </p:panel>

<!--                        <p:panel header="#{userManageBean.getResourceBundleString('label_single_measurement')}" styleClass="panel-layout-one width-fill-available">
                            <p:panelGrid styleClass="panelgrid-layout-one">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column styleClass="second-header-option table-column-title-left-column-border-right-border">#{userManageBean.getResourceBundleString('label_sensor_type')}</p:column>
                                        <p:column styleClass="second-header-option table-column-title-right-column-border-left-border">#{userManageBean.getResourceBundleString('label_trend')}</p:column>
                                    </p:row>
                                </f:facet>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding top-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_temperature')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding top-padding">
                                        <p:selectOneMenu id="dcTemperatureId" value="#{userManageBean.defaultUnits.temperature}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('temperature')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_frequency')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="dcFrequencyId" value="#{userManageBean.defaultUnits.frequency}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('frequency')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_pressure')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="dcPressureId" value="#{userManageBean.defaultUnits.pressure}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('pressure')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_voltage')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="dcVoltageId" value="#{userManageBean.defaultUnits.voltage}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('voltage')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_current')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="dcCurrentId" value="#{userManageBean.defaultUnits.current}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('current')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_phase')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="dcPhaseId" value="#{userManageBean.defaultUnits.phase}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('phase')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_count')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="dcCountId" value="#{userManageBean.defaultUnits.count}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('count')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_relative_humidity')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="dcRelativeHumidityId" value="#{userManageBean.defaultUnits.relativeHumidity}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('relative humidity')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="right-padding left-padding">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType_temperature_rtd')}:"/>
                                    </p:column>
                                    <p:column styleClass="right-padding">
                                        <p:selectOneMenu id="dcTemperatureRTDId" value="#{userManageBean.defaultUnits.temperatureRTD}" styleClass="min-width-299">
                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_no_preference_sensor_default')}" itemValue="#{null}"/>
                                            <f:selectItems value="#{userManageBean.getDCUnitList('temperature rtd')}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>-->
                    </p:scrollPanel>

                    <div class="center-btn-div">
                        <p:commandButton styleClass="left-btn"  id="topbarDefaultsSubmitBtnId"  value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{userManageBean.submit()}" style="margin-top: 20px;" oncomplete="PF('defaultDlg').hide()"/>
                        <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" onclick="PF('defaultDlg').hide()"/>
                    </div>  
                    <p:blockUI block="topbarDefaultsUnitsFormId" trigger="topbarDefaultsSubmitBtnId"/>
                </h:form>
            </p:tab>  


            <p:tab title="#{userManageBean.getResourceBundleString('User_preferences_notifications_tab')}" id="alarmsTab" rendered="#{!userManageBean.globalGroups and !(userManagement or configurator or accountAdmins or siteBuilders)}"> 
                <h:form id="topbarAlNotificationFormId">
                    <p:panelGrid styleClass="panelgrid-layout-one" >
                        <p:row>
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_alarms_site')}:" for="alSiteId" styleClass="block-label"/>
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="alSiteId" value="#{alarmNotificationBean.siteId}" styleClass="min-width-one" >
                                    <p:ajax update="topbarAlNotificationFormId"  listener="#{alarmNotificationBean.onSiteChange()}"/>
                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one_opt')}" itemValue=""/>
                                    <f:selectItems var="site" value="#{userManageBean.userSiteListForNotifications}" itemLabel="#{site.siteName}" itemValue="#{site.siteId}"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>
                         </p:panelGrid>
                    
                    <p:fieldset legend="#{userManageBean.getResourceBundleString('breadcrumb_2')} " toggleable="true" toggleSpeed="500" styleClass="fieldset-layout-one">
                      <p:panelGrid rendered="true" styleClass="panelgrid-layout-one" >
                        <p:row>
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_alarms_all')}:" for="allAlerts" styleClass="block-label"/>
                            </p:column>
                            <p:column>
                                <p:selectBooleanCheckbox id="allAlerts" value="#{alarmNotificationBean.selectAll}" styleClass="min-width-one">
                                    <p:ajax update="assetsIds validate"  listener="#{alarmNotificationBean.updateBean()}"/>
                                </p:selectBooleanCheckbox>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_alarms_asset')}:" for="assetsIds" styleClass="block-label"/>
                            </p:column>
                            <p:column>
                                <p:selectManyMenu disabled="#{alarmNotificationBean.selectAll}" id="assetsIds" value="#{alarmNotificationBean.assetIds}" filter="true" showCheckbox="true" styleClass="min-width-one advanced-layout" filterMatchMode="contains" >
                                    <p:ajax update="validate"  listener="#{alarmNotificationBean.updateBean()}"/>
                                    <f:selectItems var="alarms" value="#{alarmNotificationBean.assetVOList}" itemLabel="#{alarms.assetName}" itemValue="#{alarms.assetId}" />
                                </p:selectManyMenu>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_alarms_email')}:" for="emails" styleClass="block-label"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="emails" value="#{alarmNotificationBean.alarmNotificationVO.emailAddress}" styleClass="min-width-one">
                                    <p:ajax update="validate"  listener="#{alarmNotificationBean.updateBean()}"/>
                                </p:inputText>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_alarms_alert')}:" for="alertId" styleClass="block-label"/>
                            </p:column>
                            <p:column>
                                <p:selectBooleanCheckbox id="alertId" value="#{alarmNotificationBean.alarmNotificationVO.alert}" styleClass="min-width-one">
                                    <p:ajax update="validate"  listener="#{alarmNotificationBean.updateBean()}"/>
                                </p:selectBooleanCheckbox>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column styleClass="right-padding">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('dialog_preferences_alarms_fault')}:" for="falultId" styleClass="block-label"/>
                            </p:column>
                            <p:column>
                                <p:selectBooleanCheckbox id="falultId" value="#{alarmNotificationBean.alarmNotificationVO.fault}" styleClass="min-width-one">
                                    <p:ajax update="validate" listener="#{alarmNotificationBean.updateBean()}"/>
                                </p:selectBooleanCheckbox>
                            </p:column>
                        </p:row>
                    </p:panelGrid>  
                    </p:fieldset>
                    
                        

                    <div class="center-btn-div">
                        <p:commandButton styleClass="left-btn" id="validate" value="#{userManageBean.getResourceBundleString('btn_save')}" disabled="#{alarmNotificationBean.enableCreate}" action="#{alarmNotificationBean.saveAlarmNotification()}"/>
                        <p:commandButton type="button" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{alarmNotificationBean.reset()}" onclick="PF('defaultDlg').hide()"/>
                    </div>
                    <p:blockUI block="topbarAlNotificationFormId" trigger="validate"/>
                </h:form>
            </p:tab>
        </p:tabView>
    </div>
</ui:composition>
