//General
$fontFamily:'Roboto',sans-serif !default;
$primaryColor:#4D148C !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 40%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor:#ffffff !default;
$secondaryColor:#FF6600 !default;
$secondaryLightColor: scale-color($secondaryColor, $lightness: 40%) !default;
$secondaryDarkColor: scale-color($secondaryColor, $lightness: -10%) !default;
$secondaryDarkerColor: scale-color($secondaryColor, $lightness: -20%) !default;
$disclaimerTextColor:#ED0216;

//Top Bar
$topBarBGColor:#4D148C;
$topBarIconTextColor:#ffffff;
$topBarIconBGColor:#4D148C;
$topBarIconTextHoverColor:#FF6600;
$topBarIconBGHoverColor:#4D148C;
$topBarUserTextColor:#ffffff;
$topBarTextColor:$topBarUserTextColor;
$topBarUserTextHoverColor:#FF6600;
$topbarFilterBreakOne:1400px;
$topbarFilterBreakTwo:800px;
$topbarLogoBreak:640px;
    //Top Bar Nav
    $topBarNavPanelHighlightBgColor:$secondaryColor;
    $topBarNavPanelHighlightTextColor:$primaryTextColor;
    $topBarNavInputfieldBorderColor:#ced4da;
    $topBarNavInputfieldBorderHoverColor:$secondaryColor;
    $topBarNavInputfieldBorderFocusColor:$secondaryColor;
    $topBarNavBtnBgColor:#ffffff;
    $topBarNavBtnBorderColor:#ced4da;
    $topBarNavBtnTextColor:#495057;
    $topBarNavBtnBgHoverColor:$secondaryColor;
    $topBarNavBtnBorderHoverColor:$secondaryColor;
    $topBarNavBtnTextHoverColor:$primaryTextColor;
    $topBarNavBtnBgFocusColor:$secondaryLightColor;
    $topBarNavBtnBorderFocusColor:$secondaryLightColor;
    $topBarNavBtnTextFocusColor:$primaryTextColor;

//Main
$bodyBgColor:#f4f4f4 !default;
$textColor:#252529 !default;
$textSecondaryColor:#65686a !default;
$dividerColor: #ebedef !default;
$dataTableExpandDiv: #efefef !default;
$ajaxLoaderIconColor:$primaryLightColor;

//Footer
$footerBgColor:#ffffff !default;
$footerBorderColor:#ebebef !default;

//Menus
$menuBgColor:#ffffff !default;
$menuBorderColor:#ebebef !default;
$menuitemTextColor:#666666 !default;
$menuitemIconColor:#65656a !default;
$menuitemTextHoverColor:#252529 !default;
$menuitemIconHoverColor:#252529 !default;
$menuitemHoverBgColor:#eaeaea !default;
$menuitemSeparator:#ebebef !default;

$activeMenuitemBarBgColor:#4D148C !default;
$activeMenuitemBgColor:#ffffff !default;
$activeMenuitemTextColor:#666666 !default;
$activeMenuitemIconColor:#65656a !default;

$slimMenuTooltipBgColor:#4D148C !default;
$slimMenuTooltipTextColor:#ffffff !default;

//tooltip
$tooltipBorderArrowColor:$primaryDarkerColor;
$tooltipBgColor:$primaryColor;
$tooltipTextColor:$primaryTextColor;

//Tree ContentMenu
$treeActiveBtnBgColor:#4D148C;
$treeActiveBtnIconColor:#ffffff;
$treeActiveBtnBgHoverColor:#4D148C;
$treeActiveBtnIconHoverColor:#FF6600;

$treeBgColor:#ffffff;
$treeBorderColor:#ebebef;
$treeNodeTextColor:#666666;
$treeNodeTextHoverColor:#252529;
$treeNodeBgHoverColor:#eaeaea;
$treeNodeTextFocusColor:#ffffff;
$treeNodeBgFocusColor:#FF6600;

//Table Header
$tableHeadBgColor:$primaryColor;
$tableHeadTextColor:$primaryTextColor;
$tableHeadBorderColor:$primaryColor;
$tableColumnTitleBgColor:#ffffff !important;
$tableColumnTitleTextColor: #495057 !important;
$tableColumnTitleColumnBorder:1px solid $primaryColor;
$tableColumnTitleLeftColumnBorderRightBorder: none !important;
$tableColumnTitleCenterColumnBorderHorizontalBorder: none !important;
$tableColumnTitleRightColumnBorderLeftBorder: none !important;

//Fieldset Header
$fieldSetHeaderTextColor: $primaryTextColor;
$fieldSetHeaderBorder: 1px solid $primaryColor !important;
$fieldSetHeaderBgColor: $primaryColor;
$fieldSetHeaderTextHoverColor: $primaryTextColor;
$fieldSetHeaderHoverBorder: 1px solid $primaryDarkerColor !important;
$fieldSetHeaderBgHoverColor: $primaryDarkerColor;

//Links
$linksBgHoverColor:$secondaryColor;
$linksTextHoverColor:$primaryTextColor;
$linksHighLightBgColor:$primaryLightColor;
$linksHighLightTextColor:$primaryTextColor;
$linksHighLightBgHoverColor:$secondaryColor;
$linksHighLightTextHoverColor:$primaryTextColor;

//alarms tile card
$tileActiveAlarmsTextColor:#495057;
$tileAlertTextColor:#FFA500;
$tileFaultTextColor:#F03030;
$tileActiveAlarmsBgColor:$primaryTextColor;
$tileAlertBgColor:$primaryTextColor;
$tileFaultBgColor:$primaryTextColor;
$tileActiveAlarmsTextHoverColor:$primaryTextColor;
$tileAlertTextHoverColor:$primaryTextColor;
$tileFaultTextHoverColor:$primaryTextColor;
$tileActiveAlarmsBgHoverColor:#85919E;
$tileAlertBgHoverColor:#FFA500;
$tileFaultBgHoverColor:#F03030;

//timeline
$alertBgColor:#FFA500;
$faultBgColor:#F03030;
$alertTextColor:#ffffff;
$faultTextColor:#ffffff;

//Highchart menu button
$highchartMenuBtnIconColor:$primaryColor;
$highchartMenuBtnIconHoverColor:$secondaryColor;

//DataTable customer colors
$highlightRowBGColor:#ffffff;
$highlightRowTextColor:#495057;

//Status page single btn
$singleBtnBgColor:#ffffff;
$singleBtnTextColor:$primaryColor;
$singleBtnBorderColor:$primaryColor;
$singleBtnHoverBgColor:$primaryDarkColor;
$singleBtnHoverTextColor:#ffffff;
$singleBtnHoverBorderColor:$primaryDarkColor;

@import '../../sass/layout/_layout';
