//General
$fontFamily:'Poppins',Montserrat,Raleway,sans-serif !default;
$primaryColor:#003399 !default;
$primaryLightColor: #92CCFF !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor:#ffffff !default;
$secondaryColor:#0061E3 !default;
$secondaryLightColor: scale-color($secondaryColor, $lightness: 60%) !default;
$secondaryDarkColor: scale-color($secondaryColor, $lightness: -10%) !default;
$secondaryDarkerColor: scale-color($secondaryColor, $lightness: -20%) !default;
$disclaimerTextColor:#ED0216;

//Other Colors
//Note: these color variables are only usable on this page
$tertiaryColor:#FAAA00;

//Top Bar
$topBarBGColor:#ffffff;
$topBarIconTextColor:$primaryColor;
$topBarIconBGColor:#ffffff;
$topBarIconTextHoverColor:$primaryLightColor;
$topBarIconBGHoverColor:#ffffff;
$topBarUserTextColor:$primaryColor;
$topBarTextColor:$topBarUserTextColor;
$topBarUserTextHoverColor:$primaryLightColor;
$topbarFilterBreakOne:1400px;
$topbarFilterBreakTwo:800px;
$topbarLogoBreak:640px;
    //Top Bar Nav
    $topBarNavPanelHighlightBgColor:$primaryColor;
    $topBarNavPanelHighlightTextColor:$primaryTextColor;
    $topBarNavInputfieldBorderColor:#ced4da;
    $topBarNavInputfieldBorderHoverColor:$primaryColor;
    $topBarNavInputfieldBorderFocusColor:$primaryColor;
    $topBarNavBtnBgColor:#ffffff;
    $topBarNavBtnBorderColor:#ced4da;
    $topBarNavBtnTextColor:#495057;
    $topBarNavBtnBgHoverColor:$primaryColor;
    $topBarNavBtnBorderHoverColor:$primaryColor;
    $topBarNavBtnTextHoverColor:$primaryTextColor;
    $topBarNavBtnBgFocusColor:$primaryLightColor;
    $topBarNavBtnBorderFocusColor:$primaryLightColor;
    $topBarNavBtnTextFocusColor:$primaryTextColor;

//Main
$bodyBgColor:#f4f4f4 !default;
$textColor:#252529 !default;
$textSecondaryColor:#65686a !default;
$dividerColor: #ebedef !default;
$dataTableExpandDiv: #efefef !default;
$ajaxLoaderIconColor:$secondaryColor;

//Footer
$footerBgColor:$primaryTextColor;
$footerBorderColor:$primaryTextColor;

//Menus
$menuBgColor:#ffffff;
$menuBorderColor:#dee2e6;
$menuitemTextColor:$primaryColor;
$menuitemIconColor:$tertiaryColor;
$menuitemTextHoverColor:$primaryTextColor;
$menuitemIconHoverColor:$tertiaryColor;
$menuitemHoverBgColor:$primaryLightColor;
$menuitemSeparator:$primaryLightColor;

$activeMenuitemBarBgColor:$tertiaryColor;
$activeMenuitemBgColor:$primaryLightColor;
$activeMenuitemTextColor:$primaryTextColor;
$activeMenuitemIconColor:$tertiaryColor;

$slimMenuTooltipBgColor:$primaryColor;
$slimMenuTooltipTextColor:$primaryTextColor;

//tooltip
$tooltipBorderArrowColor:$primaryDarkerColor;
$tooltipBgColor:$primaryColor;
$tooltipTextColor:$primaryTextColor;

//Tree ContentMenu
$treeActiveBtnBgColor:$primaryColor;
$treeActiveBtnIconColor:$primaryTextColor;
$treeActiveBtnBgHoverColor:$primaryLightColor;
$treeActiveBtnIconHoverColor:$primaryTextColor;

$treeBgColor:$primaryTextColor;
$treeBorderColor:#ebebef;
$treeNodeTextColor:#666666;
$treeNodeTextHoverColor:$primaryTextColor;
$treeNodeBgHoverColor:$primaryLightColor;
$treeNodeTextFocusColor:$primaryTextColor;
$treeNodeBgFocusColor:$primaryDarkColor;

//Table Header
$tableHeadBgColor:$primaryLightColor;
$tableHeadTextColor:$primaryTextColor;
$tableHeadBorderColor:$primaryLightColor;
$tableColumnTitleBgColor:#ffffff !important;
$tableColumnTitleTextColor:$primaryColor;
$tableColumnTitleColumnBorder:1px solid $primaryColor;
$tableColumnTitleLeftColumnBorderRightBorder: none !important;
$tableColumnTitleCenterColumnBorderHorizontalBorder: none !important;
$tableColumnTitleRightColumnBorderLeftBorder: none !important;

//Fieldset Header
$fieldSetHeaderTextColor: $primaryTextColor;
$fieldSetHeaderBorder: 1px solid $primaryColor !important;
$fieldSetHeaderBgColor: $primaryColor;
$fieldSetHeaderTextHoverColor: $primaryTextColor;
$fieldSetHeaderHoverBorder: 1px solid $primaryLightColor !important;
$fieldSetHeaderBgHoverColor: $primaryLightColor;

//Links
$linksBgHoverColor:$primaryColor;
$linksTextHoverColor:$primaryTextColor;
$linksHighLightBgColor:$primaryLightColor;
$linksHighLightTextColor:$primaryTextColor;
$linksHighLightBgHoverColor:$primaryColor;
$linksHighLightTextHoverColor:$primaryTextColor;

//alarms tile card
$tileActiveAlarmsTextColor:#495057;
$tileAlertTextColor:#FFA500;
$tileFaultTextColor:#F03030;
$tileActiveAlarmsBgColor:$primaryTextColor;
$tileAlertBgColor:$primaryTextColor;
$tileFaultBgColor:$primaryTextColor;
$tileActiveAlarmsTextHoverColor:$primaryTextColor;
$tileAlertTextHoverColor:$primaryTextColor;
$tileFaultTextHoverColor:$primaryTextColor;
$tileActiveAlarmsBgHoverColor:#85919E;
$tileAlertBgHoverColor:#FFA500;
$tileFaultBgHoverColor:#F03030;

//timeline
$alertBgColor:#FFA500;
$faultBgColor:#F03030;
$alertTextColor:$primaryTextColor;
$faultTextColor:$primaryTextColor;

//Highchart menu button
$highchartMenuBtnIconColor:$primaryColor;
$highchartMenuBtnIconHoverColor:$primaryLightColor;

//DataTable customer colors
$highlightRowBGColor:#ffffff;
$highlightRowTextColor:#495057;

//Status page single btn
$singleBtnBgColor:#ffffff;
$singleBtnTextColor:$primaryColor;
$singleBtnBorderColor:$primaryColor;
$singleBtnHoverBgColor:$primaryDarkColor;
$singleBtnHoverTextColor:#ffffff;
$singleBtnHoverBorderColor:$primaryDarkColor;

@import '../../sass/layout/_layout';
