//General
$primaryColor:#4D148C !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 40%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor:#ffffff !default;

//tooltip
$tooltipBorderArrowColor:$primaryDarkerColor;
$tooltipBgColor:$primaryColor;
$tooltipTextColor:$primaryTextColor;

//button
$buttonBg:$primaryColor !default;
$buttonBorder:1px solid $primaryColor !default;
$buttonTextColor:$primaryTextColor !default;

$buttonHoverBg:$primaryDarkColor !default;
$buttonHoverBorderColor:$primaryDarkColor !default;
$buttonTextHoverColor:$primaryTextColor !default;

$buttonActiveBg:$primaryDarkColor !default;
$buttonActiveBorderColor:$primaryDarkColor !default;
$buttonTextActiveColor:$primaryTextColor !default;

$buttonFocusOutline:0 none !default;
$buttonFocusOutlineOffset:0 !default;
$buttonFocusShadow:none !default;
$raisedButtonShadow:none !default;
$roundedButtonBorderRadius:2rem !default;

//dataTable
$dataTableHighLightRowBgColor:$primaryLightColor;
$dataTableHighLightRowTextColor:$primaryTextColor;

@import '../sass/theme/_theme';
