body {
    .ui-tooltip {
        .ui-tooltip-text {
            border: 1px solid $tooltipBorderArrowColor;
            background-color: $tooltipBgColor;
            color: $tooltipTextColor;
            box-shadow: $overlayContainerShadow;
        }

        &.ui-state-error {
            border: 0 none;
        }

        &.ui-tooltip-right {
            .ui-tooltip-arrow {
                display: none;
                border-right-color: $tooltipBorderArrowColor;
            }
        }

        &.ui-tooltip-left {
            .ui-tooltip-arrow {
                display: none;
                border-left-color: $tooltipBorderArrowColor;
            }
        }

        &.ui-tooltip-top {
            .ui-tooltip-arrow {
                display: none;
                border-top-color: $tooltipBorderArrowColor;
            }
        }

        &.ui-tooltip-bottom {
            .ui-tooltip-arrow {
                display: none;
                border-bottom-color: $tooltipBorderArrowColor;
            }
        }
    }
}