//General
$fontFamily:'Roboto',sans-serif !default;
$primaryColor:#4D148C !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 40%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor:#ffffff !default;
$secondaryColor:#FF6600 !default;
$secondaryLightColor: scale-color($secondaryColor, $lightness: 60%) !default;
$secondaryDarkColor: scale-color($secondaryColor, $lightness: -10%) !default;
$secondaryDarkerColor: scale-color($secondaryColor, $lightness: -20%) !default;
$disclaimerTextColor:#ED0216;

//Top Bar
$topBarBGColor: $primaryColor;
$topBarTextColor: $primaryTextColor;
$topBarActionBGColor: $primaryTextColor;
$topBarActionTextColor: $primaryColor;
$topBarActionTextHoverColor: $secondaryColor;

//Graph Bar
$topGraphBarBGColor: #ffffff;
$topGraphBarTextColor: #495057;
$topGraphBarBorderColor:$primaryColor;
$topGraphBarActionBGColor: $primaryColor;
$topGraphBarActionTextColor: $primaryTextColor;
$topGraphBarActionTextHoverColor: $secondaryColor;

//Highchart menu button
$highchartMenuBtnIconColor:$primaryColor;
$highchartMenuBtnIconHoverColor:$secondaryColor;

//Main
$bodyBgColor:#f4f4f4 !default;
$textColor:#252529 !default;
$textSecondaryColor:#65686a !default;
$dividerColor: #ebedef !default;
$dataTableExpandDiv: #efefef !default;
$ajaxLoaderIconColor:$primaryLightColor;

//Unset Variables
$tableHeadBgColor:unset;
$tableHeadTextColor:unset;
$tableHeadBorderColor:unset;
$tableColumnTitleBgColor:unset;
$tableColumnTitleTextColor:unset;
$tableColumnTitleColumnBorder:unset;
$tableColumnTitleLeftColumnBorderRightBorder:unset;
$tableColumnTitleCenterColumnBorderHorizontalBorder:unset;
$tableColumnTitleRightColumnBorderLeftBorder:unset;
$topBarNavPanelHighlightBgColor:unset;
$topBarNavPanelHighlightTextColor:unset;
$fieldSetHeaderTextColor:unset;
$fieldSetHeaderBorder:unset;
$fieldSetHeaderBgColor:unset;
$fieldSetHeaderTextHoverColor:unset;
$fieldSetHeaderHoverBorder:unset;
$fieldSetHeaderBgHoverColor:unset;
$tooltipBorderArrowColor:unset;
$tooltipBgColor:unset;
$tooltipTextColor:unset;

@import '../../../sass/layout/_asset-analysis-layout';

