h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

mark {
  background: #FFF8E1;
  padding: .25rem .4rem;
  border-radius: 2px;
  font-family: monospace; }

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE; }

hr {
  border-top: solid #ebedef;
  border-width: 1px 0 0 0;
  margin: 1rem 0; }

p {
  margin: 0 0 1rem 0;
  line-height: 1.5; }
  p:last-child {
    margin-bottom: 0; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    transform: none; } }
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); } }
@keyframes fadeinmask {
  from {
    opacity: 0; }
  to {
    opacity: .8; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

.layout-breadcrumb .top-layout-breadcrumb {
  border: none;
  border-top: 1px solid #ebebef;
  border-bottom: 1px solid #ebebef;
  border-radius: 0px; }
  .layout-breadcrumb .top-layout-breadcrumb .ui-breadcrumb-items li .ui-menuitem-link .ui-menuitem-icon {
    margin-right: 0.5em; }

html {
  height: 100%;
  font-size: 13px; }

body {
  font-family: "Poppins", Montserrat, Raleway, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #252529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #f4f4f4; }
  body .ui-autocomplete-panel[id^="topbarFilterFormId"] .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: unset;
    color: unset; }

a {
  text-decoration: none;
  color: #003399; }

.layout-ajax-loader-icon {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 3rem;
  color: #0061E3;
  z-index: 100000; }

.layout-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99);
  animation-fill-mode: forwards; }

.layout-dialog.ui-dialog {
  width: fit-content !important;
  margin-left: auto;
  margin-right: auto; }
  .layout-dialog.ui-dialog.distance-from-top-100 {
    top: 100px !important; }
  .layout-dialog.ui-dialog.distance-from-top-50 {
    top: 50px !important; }
  .layout-dialog.ui-dialog.vertical-center-align {
    top: 50% !important;
    transform: translateY(-50%);
    max-height: 95%;
    overflow: auto;
    max-width: 100%; }

.layout-confirm-dialog.ui-confirm-dialog.plus-disclaimer .ui-dialog-content .ui-outputlabel {
  display: block;
  height: 23px;
  line-height: 23px; }
.layout-confirm-dialog.ui-confirm-dialog.plus-disclaimer .ui-dialog-content .ui-inputtextarea {
  height: fit-content !important;
  width: 530px;
  padding: 0 !important;
  border: none;
  line-height: 23px !important;
  cursor: default;
  box-shadow: none !important;
  color: #ED0216;
  margin-top: 10px; }
.layout-confirm-dialog.ui-confirm-dialog.only-disclaimer .ui-dialog-content .ui-outputlabel {
  display: block;
  line-height: 23px;
  color: #ED0216;
  width: 530px; }
.layout-confirm-dialog.ui-confirm-dialog .ui-fileupload .ui-fileupload-buttonbar {
  border: none;
  background: transparent;
  color: #495057;
  padding: 5px 0; }
.layout-confirm-dialog.ui-confirm-dialog .ui-fileupload .ui-fileupload-content {
  border: none;
  padding: 0; }
  .layout-confirm-dialog.ui-confirm-dialog .ui-fileupload .ui-fileupload-content .ui-fileupload-files {
    width: -webkit-fill-available;
    margin: 0; }
    .layout-confirm-dialog.ui-confirm-dialog .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row > div {
      padding: 10px 5px; }
      .layout-confirm-dialog.ui-confirm-dialog .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row > div .ui-fileupload-cancel.ui-button.ui-button-icon-only {
        position: relative;
        margin: 0; }
        .layout-confirm-dialog.ui-confirm-dialog .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row > div .ui-fileupload-cancel.ui-button.ui-button-icon-only:hover::before {
          content: attr(language);
          position: absolute;
          right: 120%;
          padding: 3px 10px;
          border-radius: 5px;
          min-width: fit-content;
          border: 1px solid unset;
          background-color: unset;
          color: unset;
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
          animation: fadeIn ease .5s; }
    .layout-confirm-dialog.ui-confirm-dialog .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row .ui-fileupload-preview {
      display: none; }
.layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer {
  text-align: center; }
  .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button {
    min-width: 60px;
    border: none !important; }
    .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button.ui-confirmdialog-yes {
      background-color: #003399;
      color: #ffffff;
      margin: 0 2.5px 0 0 !important;
      box-shadow: none; }
      .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button.ui-confirmdialog-yes.ui-state-hover {
        background-color: #002e8a; }
        .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button.ui-confirmdialog-yes.ui-state-hover.ui-state-focus {
          box-shadow: 0 0 0 0.2em #92CCFF; }
    .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button[id$="btnYesUserDelete"] {
      background-color: #003399;
      color: #ffffff;
      margin: 0 2.5px 0 0 !important;
      box-shadow: none; }
      .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button[id$="btnYesUserDelete"].ui-state-hover {
        background-color: #002e8a; }
        .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button[id$="btnYesUserDelete"].ui-state-hover.ui-state-focus {
          box-shadow: 0 0 0 0.2em #92CCFF; }
    .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button.ui-confirmdialog-no {
      background-color: #0061E3;
      color: #ffffff;
      margin: 0 0 0 2.5px !important;
      box-shadow: none; }
      .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button.ui-confirmdialog-no.ui-state-hover {
        background-color: #0057cc; }
        .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button.ui-confirmdialog-no.ui-state-hover.ui-state-focus {
          box-shadow: 0 0 0 0.2em #8ebeff; }
    .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button[id$="btnNoUserDelete"] {
      background-color: #0061E3;
      color: #ffffff;
      margin: 0 0 0 2.5px !important;
      box-shadow: none; }
      .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button[id$="btnNoUserDelete"].ui-state-hover {
        background-color: #0057cc; }
        .layout-confirm-dialog.ui-confirm-dialog .ui-dialog-footer .ui-button[id$="btnNoUserDelete"].ui-state-hover.ui-state-focus {
          box-shadow: 0 0 0 0.2em #8ebeff; }

/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.card {
  background: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .card .card-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .card:last-child {
    margin-bottom: 0; }
  .card.card-w-title {
    padding-bottom: 1rem; }
  .card.no-gutter {
    margin-bottom: 0; }

.ui-dataview.dataview-layout-one .ui-dataview-header {
  padding: 0;
  background-color: unset;
  color: unset;
  text-align: center;
  border: 1px solid unset; }
  .ui-dataview.dataview-layout-one .ui-dataview-header .ui-outputlabel {
    display: block;
    height: 30px;
    line-height: 30px; }
  .ui-dataview.dataview-layout-one .ui-dataview-header .ui-dataview-layout-options {
    display: none; }
.ui-dataview.dataview-layout-one .ui-paginator {
  padding: 0; }
  .ui-dataview.dataview-layout-one .ui-paginator.ui-paginator-top .ui-paginator-rpp-options {
    margin: 0 1px 1px 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator.ui-paginator-bottom .ui-paginator-rpp-options {
    margin: 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    outline: none; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-first {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-prev {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-pages .ui-paginator-page {
    border: none;
    line-height: 21px;
    min-width: 21px;
    height: 21px;
    margin: 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-next {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-last {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-dataview.dataview-layout-one .ui-paginator .ui-paginator-rpp-options {
    height: 21px;
    vertical-align: unset; }
.ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row {
  margin: 0px; }
  .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column {
    padding: 5px 5px 5px 5px; }
    .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink {
      text-decoration: none;
      display: block;
      -webkit-user-drag: none;
      max-width: 200px;
      margin: 0 auto; }
      .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card {
        padding: 0 0 10px 0; }
        .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .viewGridItem-header {
          overflow: hidden; }
          .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .viewGridItem-header .ui-outputlabel {
            color: #003399;
            background-color: #ffffff;
            display: block;
            text-align: center;
            height: 23px;
            line-height: 23px;
            cursor: pointer;
            font-size: 16px; }
        .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card img {
          width: 100%;
          -webkit-user-drag: none; }
        .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .ui-panelgrid {
          margin: 10px auto 0 auto; }
          .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .ui-panelgrid tbody tr td {
            padding: 0 2.5px;
            border: none; }
            .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .ui-panelgrid tbody tr td .ui-outputlabel {
              display: inline-block;
              height: 21px;
              line-height: 21px;
              cursor: pointer; }
            .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .ui-commandlink .card .ui-panelgrid tbody tr td .ui-commandlink {
              height: 21px;
              line-height: 21px;
              max-width: unset; }
    .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .non-link-card {
      -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
      box-sizing: border-box;
      border-radius: 2px;
      max-width: 200px;
      padding: 0 0 10px 0;
      margin: 0 auto; }
      .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .non-link-card .viewGridItem-header {
        overflow: hidden; }
        .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .non-link-card .viewGridItem-header .ui-outputlabel {
          color: #003399;
          background-color: #ffffff;
          display: block;
          text-align: center;
          height: 23px;
          line-height: 23px;
          font-size: 16px; }
      .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .non-link-card img {
        width: 100%;
        -webkit-user-drag: none; }
      .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .non-link-card .ui-panelgrid {
        margin: 10px auto 0 auto; }
        .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .non-link-card .ui-panelgrid tbody tr td {
          padding: 0 2.5px;
          border: none; }
          .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .non-link-card .ui-panelgrid tbody tr td .ui-outputlabel {
            display: inline-block;
            height: 21px;
            line-height: 21px;
            cursor: pointer; }
          .ui-dataview.dataview-layout-one .ui-dataview-content .ui-dataview-row .ui-dataview-column .non-link-card .ui-panelgrid tbody tr td .ui-commandlink {
            height: 21px;
            line-height: 21px;
            max-width: unset; }
.ui-dataview.top-margin {
  margin-top: 10px !important; }

.ui-panelgrid.panelgrid-layout-one {
  width: max-content; }
  .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell {
    border: none;
    padding: 0 0 5px 0; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-message {
      padding: 0;
      margin: 0 !important;
      display: block;
      border-radius: 4px; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-message .ui-message-error-icon {
        display: none !important; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-message .ui-message-error-detail {
        display: inline-block;
        line-height: 23px;
        padding: 0 5px 0 0; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-outputlabel.block-label {
      display: block;
      height: 23px;
      line-height: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectonemenu {
      height: 23px; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectonemenu .ui-selectonemenu-label {
        padding: 0 0 0 5px;
        min-height: unset;
        height: 21px;
        line-height: 21px; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectonemenu .ui-selectonemenu-trigger {
        border-left: 1px solid #dee2e6;
        width: 1.5rem;
        background-color: white; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-inputfield {
      padding: 0 0 0 5px;
      height: 23px;
      line-height: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.basic-layout {
      padding: 1px;
      height: unset;
      line-height: unset;
      overflow: hidden; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.basic-layout .ui-selectlistbox-listcontainer {
        max-height: 92px;
        padding: 0; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.basic-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item {
          padding: 0 0 0 5px;
          height: 23px;
          line-height: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout {
      padding: 0;
      height: unset;
      line-height: unset;
      overflow: hidden; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-filter-container {
        padding: 0;
        margin: 0; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-filter-container .ui-icon {
          left: 8px; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-filter-container .ui-selectlistbox-filter {
          height: 23px !important;
          line-height: 23px !important;
          padding: 0 0 0 29px !important;
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 4px 4px 0 0; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer {
        max-height: 92px;
        padding: 0; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item {
          padding: 0;
          height: 23px;
          line-height: 23px; }
          .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-disabled .ui-chkbox .ui-chkbox-box {
            display: none; }
          .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox {
            vertical-align: middle;
            margin: 0.5px 5px 2px 5px;
            height: 19px;
            line-height: 13px;
            width: 19px; }
            .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox .ui-chkbox-box {
              height: 19px;
              width: 19px;
              margin: 0px; }
              .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectmanymenu.advanced-layout .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
                width: 13px;
                height: 13px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-chkbox .ui-chkbox-box {
      border-width: 1px;
      height: 23px;
      width: 23px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu {
      min-height: 23px;
      height: fit-content; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container {
        height: fit-content !important;
        min-height: 21px; }
        .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token {
          height: 21px;
          line-height: 19px;
          background-color: #8ebeff;
          border: 1px solid #003399;
          color: #ffffff; }
          .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token .ui-selectcheckboxmenu-token-label {
            padding: 0 18px 0 5px; }
          .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token .ui-selectcheckboxmenu-token-icon {
            font-size: 10px;
            margin-top: -9px;
            line-height: 20px;
            margin-right: 2px; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
        border-left: 1px solid #dee2e6;
        width: 1.5rem;
        background-color: white; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-inputswitch {
      margin: 4.5px 0 1.5px 0; }
      .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-inputswitch .ui-inputswitch-handle {
        top: -2px;
        width: 18px !important;
        height: 18px !important;
        box-shadow: none !important; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell.left-padding {
      padding-left: 5px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell.right-padding {
      padding-right: 5px; }
    .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell.text-align-center {
      text-align: center; }
  .ui-panelgrid.panelgrid-layout-one .min-width-one {
    min-width: 321px !important; }
    .ui-panelgrid.panelgrid-layout-one .min-width-one.ui-inputnumber .ui-inputfield {
      min-width: 321px !important; }
    .ui-panelgrid.panelgrid-layout-one .min-width-one.ui-autocomplete .ui-autocomplete-input {
      min-width: 321px !important; }
    .ui-panelgrid.panelgrid-layout-one .min-width-one.ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container {
      width: 298px !important; }

.ui-panel.panel-layout-one {
  width: max-content;
  margin: 0 0 10px 0; }
  .ui-panel.panel-layout-one .ui-panel-titlebar {
    text-align: center;
    padding: 0px;
    background-color: #003399;
    border: 1px solid #003399;
    color: #ffffff;
    border-radius: 0 !important; }
    .ui-panel.panel-layout-one .ui-panel-titlebar .ui-panel-title {
      display: block;
      height: 30px;
      line-height: 30px; }
  .ui-panel.panel-layout-one .ui-panel-content {
    padding: 5px 10px 0px 10px;
    border-radius: 0 !important; }

.ui-accordion.accordion-layout-one .ui-accordion-header {
  background-color: #003399 !important;
  border: 1px solid #003399 !important;
  color: #ffffff !important;
  box-shadow: none !important;
  height: 30px;
  line-height: 30px;
  padding: 0 1rem;
  border-radius: 0 !important; }
  .ui-accordion.accordion-layout-one .ui-accordion-header > .ui-icon.ui-icon-triangle-1-s {
    height: 28px;
    line-height: 28px; }
  .ui-accordion.accordion-layout-one .ui-accordion-header > .ui-icon.ui-icon-triangle-1-e {
    height: 28px;
    line-height: 28px; }
.ui-accordion.accordion-layout-one .ui-accordion-content {
  border-radius: 0 !important;
  padding: 5px 10px; }

.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-column-filter {
  width: -webkit-fill-available;
  margin: 2px !important; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-column-customfilter {
  height: 23px;
  margin: 2px auto !important; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-chkbox {
  margin: 0 0 1px 0;
  height: 23px; }
  .ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-chkbox .ui-chkbox-box {
    height: 17px;
    width: 17px;
    margin: 3px 0; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-inputfield {
  padding: 0 0 0 5px;
  height: 23px;
  line-height: 23px;
  box-shadow: none !important; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-selectonemenu {
  height: 23px; }
  .ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-selectonemenu .ui-selectonemenu-label {
    padding: 0 0 0 5px;
    min-height: unset;
    height: 21px;
    line-height: 21px; }
  .ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th .ui-selectonemenu .ui-selectonemenu-trigger {
    border-left: 1px solid #dee2e6;
    width: 1.5rem;
    background-color: white; }
.ui-datatable.datatable-layout-header-filters .ui-datatable-tablewrapper table thead tr th.no-sortable-column-icon .ui-sortable-column-icon {
  display: none; }
.ui-datatable.datatable-layout-header-filters .filters-width-one {
  max-width: 200px !important;
  width: -webkit-fill-available !important; }
  .ui-datatable.datatable-layout-header-filters .filters-width-one.ui-autocomplete .ui-autocomplete-input {
    max-width: 200px !important;
    width: -webkit-fill-available !important; }
.ui-datatable.datatable-layout-one {
  margin-bottom: 5px; }
  .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table thead tr th {
    padding: 0;
    background-color: unset;
    color: unset;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid unset; }
  .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td {
    border: none;
    padding: 5px 5px 0 5px;
    text-align: center; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message {
      padding: 0;
      margin: 0 !important;
      display: block;
      border-radius: 4px; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message .ui-message-error-icon {
        height: 23px !important;
        width: 23px !important;
        line-height: 23px;
        text-align: center; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message .ui-message-error-detail {
        display: inline-block;
        height: 23px;
        line-height: 23px; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message {
      padding: 0;
      margin: 0 !important;
      display: block;
      border-radius: 4px; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message .ui-message-error-icon {
        display: none !important; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-message .ui-message-error-detail {
        display: inline-block;
        line-height: 23px;
        padding: 0 5px 0 0; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-inputfield {
      padding: 0 0 0 5px;
      height: 23px;
      line-height: 23px;
      width: 100%; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-selectonemenu {
      height: 23px;
      width: 100%; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-selectonemenu .ui-selectonemenu-label {
        padding: 0 0 0 5px;
        min-height: unset;
        height: 21px;
        line-height: 21px; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-selectonemenu .ui-selectonemenu-trigger {
        border-left: 1px solid #dee2e6;
        width: 1.5rem;
        background-color: white; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-inputswitch {
      margin: 4.5px 0 1.5px 0; }
      .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-inputswitch .ui-inputswitch-handle {
        top: -2px;
        width: 18px !important;
        height: 18px !important;
        box-shadow: none !important; }
    .ui-datatable.datatable-layout-one .ui-datatable-tablewrapper table .ui-datatable-data > tr > td .ui-commandlink {
      display: inline-block;
      height: 23px;
      line-height: 23px; }
  .ui-datatable.datatable-layout-one .table-column-title-left-column-border-right-border {
    border-right: unset; }
  .ui-datatable.datatable-layout-one .table-column-title-center-column-border-horizontal-border {
    border-right: unset;
    border-left: unset; }
  .ui-datatable.datatable-layout-one .table-column-title-center-just-top-border {
    border-right: none !important;
    border-left: none !important;
    border-bottom: none !important; }
  .ui-datatable.datatable-layout-one .table-column-title-center-just-bottom-border {
    border-right: none !important;
    border-left: none !important;
    border-top: none !important; }
  .ui-datatable.datatable-layout-one .table-column-title-right-column-border-left-border {
    border-left: unset; }
  .ui-datatable.datatable-layout-one .table-column-title-right-just-top-right-border {
    border-left: none !important;
    border-bottom: none !important; }
  .ui-datatable.datatable-layout-one .table-column-title-right-just-bottom-right-border {
    border-left: none !important;
    border-top: none !important; }
.ui-datatable.datatable-layout-two .ui-datatable-header {
  text-align: center;
  padding: 0px;
  background-color: unset;
  border: 1px solid unset;
  color: unset;
  border-radius: 0 !important; }
  .ui-datatable.datatable-layout-two .ui-datatable-header .ui-outputlabel {
    display: block;
    height: 30px;
    line-height: 30px; }
.ui-datatable.datatable-layout-two thead th {
  padding: 0;
  text-align: center;
  background-color: unset;
  border: unset;
  color: unset;
  margin: 0;
  box-shadow: none !important; }
  .ui-datatable.datatable-layout-two thead th .ui-column-title {
    display: inline-block;
    height: 19px;
    line-height: 19px;
    vertical-align: unset; }
.ui-datatable.datatable-layout-two .ui-paginator {
  padding: 0; }
  .ui-datatable.datatable-layout-two .ui-paginator.ui-paginator-top .ui-paginator-rpp-options {
    margin: 0 1px 1px 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator.ui-paginator-bottom .ui-paginator-rpp-options {
    margin: 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    outline: none; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-first {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-prev {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-pages .ui-paginator-page {
    border: none;
    line-height: 21px;
    min-width: 21px;
    height: 21px;
    margin: 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-next {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-last {
    border: none;
    width: 23px;
    height: 23px;
    line-height: 23px;
    margin: 0 1px; }
  .ui-datatable.datatable-layout-two .ui-paginator .ui-paginator-rpp-options {
    height: 21px;
    vertical-align: unset; }
.ui-datatable.datatable-layout-two .ui-datatable-data > tr > td {
  padding: 2px 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-width: 1px; }
  .ui-datatable.datatable-layout-two .ui-datatable-data > tr > td .ui-commandlink {
    display: block;
    height: 30px;
    border-radius: 15px;
    min-width: 75px;
    width: fit-content;
    line-height: 30px;
    text-align: center;
    color: #495057;
    margin: 0 auto;
    text-decoration: none;
    padding: 0 9px; }
  .ui-datatable.datatable-layout-two .ui-datatable-data > tr > td .ui-link {
    color: #495057; }
.ui-datatable.datatable-layout-two .ui-datatable-data > tr .ui-row-toggler {
  width: 18px; }
.ui-datatable.datatable-layout-two .ui-datatable-data .ui-datatable-tablewrapper {
  overflow: inherit; }
.ui-datatable.datatable-layout-two .table-column-title-left-column-border-right-border {
  border-right: unset; }
.ui-datatable.datatable-layout-two .table-column-title-center-column-border-horizontal-border {
  border-right: unset;
  border-left: unset; }
.ui-datatable.datatable-layout-two .table-column-title-right-column-border-left-border {
  border-left: unset; }
.ui-datatable .left-padding {
  padding-left: 5px; }
.ui-datatable .right-padding {
  padding-right: 5px; }
.ui-datatable .text-align-center {
  text-align: center; }
.ui-datatable.top-margin {
  margin-top: 10px !important; }
.ui-datatable.bottom-margin {
  margin-bottom: 10px !important; }

.ui-fieldset.fieldset-layout-one {
  padding: 0 5px;
  margin: 5px 0 0 0 !important;
  border-radius: 0; }
  .ui-fieldset.fieldset-layout-one .ui-fieldset-legend {
    padding: 0 10px;
    text-align: center;
    height: 30px;
    border: 1px solid unset;
    line-height: 30px;
    color: unset;
    background-color: unset;
    width: -webkit-fill-available;
    box-shadow: none !important; }
    .ui-fieldset.fieldset-layout-one .ui-fieldset-legend .ui-fieldset-toggler {
      color: unset; }
    .ui-fieldset.fieldset-layout-one .ui-fieldset-legend.ui-state-hover {
      border: 1px solid unset;
      color: unset;
      background-color: unset; }
      .ui-fieldset.fieldset-layout-one .ui-fieldset-legend.ui-state-hover .ui-fieldset-toggler {
        color: unset; }
  .ui-fieldset.fieldset-layout-one .ui-fieldset-content {
    margin: 5px 0 0 0; }

.ui-selectonemenu-panel {
  border-radius: 0px !important; }
  .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
    padding: 0.5rem 0.5rem !important; }

div.center-btn-div {
  width: fit-content;
  height: fit-content;
  margin: 5px auto 0 auto;
  padding: 0px;
  border: none; }
  div.center-btn-div.bottom-margin {
    margin-bottom: 5px; }
  div.center-btn-div.no-top-margin {
    margin-top: 0px; }
  div.center-btn-div .left-btn {
    margin-right: 25px; }
div.center-disclaimer-div {
  width: fit-content;
  height: fit-content;
  margin: 5px auto 0 auto;
  padding: 0px;
  border: none; }
  div.center-disclaimer-div.no-top-margin {
    margin-top: 0px; }

div.timeline-layout-one .timeline-menu {
  margin: 5px; }
  div.timeline-layout-one .timeline-menu .ui-button {
    opacity: .5;
    transition: opacity 0.25s; }
    div.timeline-layout-one .timeline-menu .ui-button.ui-button-icon-only {
      width: 23px;
      height: 23px;
      margin-left: 2px; }
    div.timeline-layout-one .timeline-menu .ui-button.ui-state-hover {
      opacity: 1; }
    div.timeline-layout-one .timeline-menu .ui-button.ui-state-focus {
      opacity: 1;
      box-shadow: 0 0 0 2px #8ebeff; }
div.timeline-layout-one .vis-timeline .vis-top {
  background-color: #003399;
  position: relative; }
  div.timeline-layout-one .vis-timeline .vis-top .vis-time-axis .vis-text {
    border-left: 1px solid #ffffff;
    color: #ffffff; }
    div.timeline-layout-one .vis-timeline .vis-top .vis-time-axis .vis-text.vis-measure {
      border-left: none; }
  div.timeline-layout-one .vis-timeline .vis-top div.timeline-topbar-cover {
    position: absolute;
    width: 1px;
    height: -webkit-fill-available;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #003399; }
div.timeline-layout-one .vis-timeline .vis-center {
  border-left: 1px solid #002e8a; }
  div.timeline-layout-one .vis-timeline .vis-center .vis-content .vis-itemset .vis-background .vis-group {
    height: 23px; }
  div.timeline-layout-one .vis-timeline .vis-center .vis-content .vis-itemset .vis-foreground .vis-group {
    height: 23px; }
    div.timeline-layout-one .vis-timeline .vis-center .vis-content .vis-itemset .vis-foreground .vis-group .vis-item {
      border: none !important;
      border-radius: 0 !important; }
      div.timeline-layout-one .vis-timeline .vis-center .vis-content .vis-itemset .vis-foreground .vis-group .vis-item .vis-item-overflow .vis-item-content {
        padding: 0 5px;
        display: block;
        height: 23px;
        line-height: 23px; }
div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label {
  height: 23px;
  color: #ffffff;
  border-bottom: 1px solid #002e8a; }
  div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label.vis-group-level-1 {
    padding-left: 5px;
    background-color: #003399; }
  div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label.vis-group-level-2 {
    padding-left: 20px;
    background-color: #92CCFF; }
  div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label .vis-inner {
    padding: 0 10px; }
    div.timeline-layout-one .vis-timeline .vis-left .vis-content .vis-labelset .vis-label .vis-inner span {
      display: block;
      height: 23px;
      line-height: 23px; }
div.timeline-layout-one .vis-timeline .vis-tooltip {
  border: 1px solid #004eb6 !important;
  background-color: #0061E3 !important;
  color: #ffffff !important;
  font-size: 13px !important;
  height: 21px !important;
  line-height: 21px !important;
  padding: 0 5px !important;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important; }

div.timeline-topbar-cover {
  position: absolute;
  width: 1px;
  height: 44px;
  z-index: 5;
  top: 0;
  left: 122px;
  background-color: #003399; }

.nopad {
  padding: 0; }
  .nopad .ui-panel-content {
    padding: 0; }

.ui-tooltip.max-width-200 {
  max-width: 200px; }
.ui-tooltip.max-width-300 {
  max-width: 300px; }
.ui-tooltip.max-width-900 {
  max-width: 900px; }

.hide-component {
  display: none; }

.full-window-height {
  height: 100vh; }

.ui-outputlabel.error-outputlabel {
  line-height: 23px !important;
  height: unset !important;
  background: #FFCDD2;
  border: 1px solid #EF5350;
  border-width: 0 0 0 3px;
  color: #B71C1C;
  padding: 0 5px;
  margin: 0 !important;
  border-radius: 4px;
  text-align: left; }

.ui-inputtextarea.error-inputtextarea {
  height: fit-content !important;
  width: -webkit-fill-available;
  padding: 0 0 0 5px !important;
  line-height: 23px !important;
  cursor: default;
  box-shadow: none !important;
  background: #FFCDD2;
  border: 1px solid #EF5350;
  border-width: 0 0 0 3px;
  color: #B71C1C;
  border-radius: 4px;
  text-align: left; }

.ui-inputnumber.ui-state-error .ui-inputfield {
  border-color: #f44336; }

.horizontal-margin-auto {
  margin-left: auto;
  margin-right: auto; }

.max-width-1000 {
  max-width: 1000px; }

.max-width-800 {
  max-width: 800px; }

.disclaimer-test-color {
  color: #ED0216; }

.table-column-data-hover {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.default-border {
  border: 1px solid #dee2e6; }

.overview-box {
  position: relative;
  padding: .5em 1em; }
  .overview-box .overview-box-title {
    font-size: 13px;
    margin-bottom: 1.2em;
    color: #252529; }
  .overview-box .overview-box-value {
    color: #252529;
    font-size: 21px;
    font-weight: 500;
    opacity: .8;
    margin-bottom: .25em; }
  .overview-box img {
    width: 100%; }
  .overview-box .overview-box-status {
    position: absolute;
    right: 1em;
    top: .5em;
    color: #0fc752;
    font-size: 14px;
    font-weight: 500; }
  .overview-box.bluebg {
    background-color: #1bb7ee; }
    .overview-box.bluebg .overview-box-title {
      color: #ffffff; }
    .overview-box.bluebg .overview-box-value {
      color: #ffffff; }
    .overview-box.bluebg .overview-box-status {
      color: #ffffff; }
  .overview-box.orangebg {
    background-color: #fa8966; }
    .overview-box.orangebg .overview-box-title {
      color: #ffffff; }
    .overview-box.orangebg .overview-box-value {
      color: #ffffff; }
    .overview-box.orangebg .overview-box-status {
      color: #ffffff; }
  .overview-box.purplebg {
    background-color: #a966fa; }
    .overview-box.purplebg .overview-box-title {
      color: #ffffff; }
    .overview-box.purplebg .overview-box-value {
      color: #ffffff; }
    .overview-box.purplebg .overview-box-status {
      color: #ffffff; }
  .overview-box.limebg {
    background-color: #c5da00; }
    .overview-box.limebg .overview-box-title {
      color: #ffffff; }
    .overview-box.limebg .overview-box-value {
      color: #ffffff; }
    .overview-box.limebg .overview-box-status {
      color: #ffffff; }

.timeline {
  min-height: 495px; }
  .timeline ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .timeline ul .timeline-event-title {
      vertical-align: middle;
      font-weight: 500; }
    .timeline ul .timeline-event-time {
      background-color: #ebebef;
      padding: .25em;
      vertical-align: middle;
      margin-left: 1em;
      display: inline-block;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .timeline ul img {
      width: 100%; }
    .timeline ul li {
      border-bottom: 1px solid #ebebef;
      padding: 1em; }
      .timeline ul li i {
        font-size: 24px;
        margin-right: .25em;
        vertical-align: middle; }
      .timeline ul li:nth-child(1) i {
        color: #0f97c7; }
      .timeline ul li:nth-child(2) i {
        color: #1cb9d7; }
      .timeline ul li:nth-child(3) i {
        color: #f56f64; }
      .timeline ul li:nth-child(4) i {
        color: #9643F9; }
      .timeline ul li:last-child {
        border-bottom: 0 none; }
    .timeline ul p {
      color: #65686a;
      margin: .5em 0; }

.live-support ul {
  padding: 12px;
  margin: 0;
  list-style-type: none; }
  .live-support ul li {
    padding: 12px; }
    .live-support ul li .p-col-fixed {
      width: 48px; }
    .live-support ul li img {
      width: 36px; }
    .live-support ul li .chat-message {
      position: relative;
      padding: 8px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .live-support ul li.message-from .chat-message {
      background-color: #ebebef; }
      .live-support ul li.message-from .chat-message:before {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: 16px; }
      .live-support ul li.message-from .chat-message:before {
        border-right-color: #ebebef;
        border-width: 10px;
        margin-top: -10px; }
    .live-support ul li.message-to .chat-message {
      background-color: #ffffff;
      border: 1px solid #ebebef; }
      .live-support ul li.message-to .chat-message:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: 18px;
        border-left-color: #ffffff;
        border-width: 9px;
        margin-top: -10px; }
      .live-support ul li.message-to .chat-message:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: 16px;
        border-left-color: #ebebef;
        border-width: 11px;
        margin-top: -10px; }
.live-support .new-message {
  border: 1px solid #ebebef;
  border-right: 0 none; }
  .live-support .new-message input {
    border: 0 none;
    width: 100%;
    outline: 0 none;
    color: #65686a;
    font-family: "Poppins", Montserrat, Raleway, sans-serif; }
  .live-support .new-message .p-col-fixed {
    width: 100px; }
    .live-support .new-message .p-col-fixed button {
      width: 100%;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }

.resolution-center {
  min-height: 325px; }
  .resolution-center .ui-inputfield {
    display: block;
    margin-bottom: 2em; }
  .resolution-center .resolution-button-bar .ui-button {
    width: 48%; }
    .resolution-center .resolution-button-bar .ui-button:first-child {
      margin-right: 4%; }

.team {
  min-height: 325px; }
  .team ul {
    padding: 0; }
    .team ul li {
      list-style: none;
      padding: .5em; }
      .team ul li:after {
        content: "";
        display: table;
        clear: both; }
    .team ul img {
      width: 36px;
      height: 36x;
      vertical-align: middle;
      display: inline-block; }
    .team ul .team-box {
      margin-left: 1em;
      display: inline-block;
      vertical-align: middle; }
      .team ul .team-box .team-member {
        display: block;
        font-weight: 500; }
      .team ul .team-box .team-member-account {
        color: #65686a; }
    .team ul a {
      float: right;
      color: #65686a;
      font-size: 18px;
      margin-left: 1em; }
      .team ul a i {
        font-size: 18px; }

.user-card {
  padding: 0; }
  .user-card .user-card-header {
    height: 120px;
    overflow: hidden; }
    .user-card .user-card-header img {
      width: 100%;
      height: 100%; }
  .user-card .user-card-content img {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 24px; }
  .user-card .user-card-content .ui-button {
    float: right;
    width: 36px;
    height: 36px;
    margin: -18px 24px 0 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .user-card .user-card-content .user-card-name {
    font-size: 13px;
    color: #ffffff;
    position: relative;
    top: -55px;
    margin-left: 100px;
    font-weight: 700;
    white-space: nowrap; }
  .user-card .user-card-content .user-detail {
    padding: .5em 1em; }
    .user-card .user-card-content .user-detail .user-detail-box {
      padding: .5em;
      position: relative;
      border: 1px solid #dadada;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
      .user-card .user-card-content .user-detail .user-detail-box .user-detail-box-detail {
        color: #65686a; }
      .user-card .user-card-content .user-detail .user-detail-box i {
        position: absolute;
        color: #8b8b90;
        top: .5em;
        right: .5em; }
    .user-card .user-card-content .user-detail .ui-progressbar {
      height: 4px;
      margin-top: 20px; }

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url("#{resource['roma-layout:fonts/Inter-UI-Regular.otf']}") format("opentype"), url("#{resource['roma-layout:fonts/Inter-UI-Regular.woff2']}") format("woff2"), url("#{resource['roma-layout:fonts/Inter-UI-Regular.woff']}") format("woff"), url("#{resource['roma-layout:fonts/Inter-UI-Regular.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 500;
  src: url("#{resource['roma-layout:fonts/Inter-UI-SemiBold.otf']}") format("opentype"), url("#{resource['roma-layout:fonts/Inter-UI-SemiBold.woff2']}") format("woff2"), url("#{resource['roma-layout:fonts/Inter-UI-SemiBold.woff']}") format("woff"), url("#{resource['roma-layout:fonts/Inter-UI-SemiBold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src: url("#{resource['roma-layout:fonts/Inter-UI-Bold.otf']}") format("opentype"), url("#{resource['roma-layout:fonts/Inter-UI-Bold.woff2']}") format("woff2"), url("#{resource['roma-layout:fonts/Inter-UI-Bold.woff']}") format("woff"), url("#{resource['roma-layout:fonts/Inter-UI-Bold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url("#{resource['roma-layout:fonts/Poppins-Thin.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url("#{resource['roma-layout:fonts/Poppins-ThinItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("#{resource['roma-layout:fonts/Poppins-Light.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("#{resource['roma-layout:fonts/Poppins-LightItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("#{resource['roma-layout:fonts/Poppins-Regular.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("#{resource['roma-layout:fonts/Poppins-Italic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("#{resource['roma-layout:fonts/Poppins-Medium.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("#{resource['roma-layout:fonts/Poppins-MediumItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("#{resource['roma-layout:fonts/Poppins-SemiBold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url("#{resource['roma-layout:fonts/Poppins-SemiBoldItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("#{resource['roma-layout:fonts/Poppins-Bold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("#{resource['roma-layout:fonts/Poppins-BoldItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("#{resource['roma-layout:fonts/Poppins-ExtraBold.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("#{resource['roma-layout:fonts/Poppins-ExtraBoldItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("#{resource['roma-layout:fonts/Poppins-Black.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url("#{resource['roma-layout:fonts/Poppins-BlackItalic.ttf']}") format("truetype");
  /* Safari, Android, iOS */ }
.highcharts-linechart div.highcharts-container svg.highcharts-root {
  font-family: "Poppins", Montserrat, Raleway, sans-serif !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root text.highcharts-credits {
    display: none !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-label:not(.highcharts-tooltip) {
    transform: translate(46px, -2px) !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-label.highcharts-tooltip path.highcharts-label-box {
    fill: rgba(0, 0, 0, 0) !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-normal rect.highcharts-button-box {
    fill: white !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-normal path.highcharts-button-symbol {
    stroke: #003399 !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-hover rect.highcharts-button-box {
    fill: white !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-hover path.highcharts-button-symbol {
    stroke: #92CCFF !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-pressed rect.highcharts-button-box {
    fill: white !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-pressed path.highcharts-button-symbol {
    stroke: #92CCFF !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button rect.highcharts-button-box {
    fill: white !important; }
  .highcharts-linechart div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button path.highcharts-button-symbol {
    stroke: #003399 !important; }
.highcharts-linechart div.highcharts-container div.highcharts-contextmenu {
  border: 1px solid #dee2e6 !important;
  box-shadow: #888888 3px 3px 10px !important;
  padding: 0px !important;
  margin: 0px !important;
  height: fit-content !important;
  width: max-content !important;
  right: 0px !important;
  top: 10px !important; }
  .highcharts-linechart div.highcharts-container div.highcharts-contextmenu ul {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    box-shadow: none !important; }
    .highcharts-linechart div.highcharts-container div.highcharts-contextmenu ul li {
      display: block !important;
      padding: 5px 10px !important;
      color: #495057 !important;
      background-color: white !important;
      font-size: 13px !important; }
      .highcharts-linechart div.highcharts-container div.highcharts-contextmenu ul li:hover {
        color: #ffffff !important;
        background-color: #003399 !important; }
      .highcharts-linechart div.highcharts-container div.highcharts-contextmenu ul li:focus {
        color: #ffffff !important;
        background-color: #002e8a !important; }

.highcharts-heatmap div.highcharts-container svg.highcharts-root {
  font-family: "Poppins", Montserrat, Raleway, sans-serif !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root text.highcharts-credits {
    display: none !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-series-group g.highcharts-series path.highcharts-point {
    stroke: #b3b3b3 !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-normal rect.highcharts-button-box {
    fill: white !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-normal path.highcharts-button-symbol {
    stroke: #003399 !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-hover rect.highcharts-button-box {
    fill: white !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-hover path.highcharts-button-symbol {
    stroke: #92CCFF !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-pressed rect.highcharts-button-box {
    fill: white !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button.highcharts-button-pressed path.highcharts-button-symbol {
    stroke: #92CCFF !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button rect.highcharts-button-box {
    fill: white !important; }
  .highcharts-heatmap div.highcharts-container svg.highcharts-root g.highcharts-exporting-group g.highcharts-button path.highcharts-button-symbol {
    stroke: #003399 !important; }
.highcharts-heatmap div.highcharts-container div.highcharts-contextmenu {
  border: 1px solid #dee2e6 !important;
  box-shadow: #888888 3px 3px 10px !important;
  padding: 0px !important;
  margin: 0px !important;
  height: fit-content !important;
  width: max-content !important;
  right: 0px !important;
  top: 10px !important; }
  .highcharts-heatmap div.highcharts-container div.highcharts-contextmenu ul {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    box-shadow: none !important; }
    .highcharts-heatmap div.highcharts-container div.highcharts-contextmenu ul li {
      display: block !important;
      padding: 5px 10px !important;
      color: #495057 !important;
      background-color: white !important;
      font-size: 13px !important; }
      .highcharts-heatmap div.highcharts-container div.highcharts-contextmenu ul li:hover {
        color: #ffffff !important;
        background-color: #003399 !important; }
      .highcharts-heatmap div.highcharts-container div.highcharts-contextmenu ul li:focus {
        color: #ffffff !important;
        background-color: #002e8a !important; }

body {
  overflow: hidden; }
  body .ui-selectonemenu-panel .ui-selectonemenu-items {
    padding: 0;
    margin: 5px 0; }
    body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
      border: none !important; }
      body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-selectonemenu-row > td {
        border: none !important;
        padding: 6.5px !important; }
        body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-selectonemenu-row > td i {
          margin-right: 5px; }

.layout-asset-analysis-window-topbar {
  position: absolute;
  height: 81px;
  width: 100%; }
  .layout-asset-analysis-window-topbar .title-bar {
    height: 57px;
    background-color: #ffffff !important;
    color: #003399 !important;
    width: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden; }
    .layout-asset-analysis-window-topbar .title-bar .title-bar-content .ui-outputlabel {
      font-size: 16px; }
  .layout-asset-analysis-window-topbar .action-bar {
    height: 24px;
    background-color: #ffffff !important;
    color: #003399 !important;
    width: inherit;
    padding: 3px 19px;
    display: flow-root; }
    .layout-asset-analysis-window-topbar .action-bar .ui-commandlink {
      height: 18px;
      border-radius: 0;
      min-width: unset;
      width: 18px;
      line-height: 18px;
      margin: 0;
      text-decoration: none;
      padding: 0;
      display: inline-block !important;
      float: right !important;
      text-align: center;
      color: #003399 !important;
      margin-left: 15px;
      box-shadow: none !important;
      outline: none !important; }
      .layout-asset-analysis-window-topbar .action-bar .ui-commandlink:hover {
        color: #92CCFF !important; }
      .layout-asset-analysis-window-topbar .action-bar .ui-commandlink i {
        font-size: 18px; }

.layout-asset-analysis-window {
  padding-top: 81px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; }
  .layout-asset-analysis-window .layout-asset-analysis-window-content {
    overflow-y: scroll;
    padding: 5px 10px 10px 10px;
    flex: 1 1 0; }
    .layout-asset-analysis-window .layout-asset-analysis-window-content div.right-click-menu {
      visibility: visible;
      left: 5px;
      top: 0px;
      z-index: 1013;
      height: fit-content;
      width: max-content;
      border: 1px solid #dee2e6;
      box-shadow: #888888 3px 3px 10px; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content div.right-click-menu ul {
        padding: 0;
        margin: 0; }
        .layout-asset-analysis-window .layout-asset-analysis-window-content div.right-click-menu ul a {
          display: block;
          padding: 5px 10px;
          color: #495057;
          background-color: white; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content div.right-click-menu ul a:hover {
            color: #ffffff;
            background-color: #003399; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content div.right-click-menu ul a:focus {
            color: #ffffff;
            background-color: #002e8a; }
    .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum {
      width: 100%; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content {
        width: 100%;
        height: 100%; }
        .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one {
          width: -webkit-fill-available;
          margin: 0; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-titlebar .ui-panel-title {
            background-color: #ffffff;
            color: #003399;
            border: 1px solid #003399;
            height: 25px;
            line-height: 23px; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content {
            padding: 0px 10px 0px 10px;
            position: relative; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form {
              overflow: auto; }
              .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one {
                border: none;
                margin: 0 auto; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectoneradio tbody tr td .ui-radiobutton .ui-radiobutton-box {
                  box-shadow: none !important; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectoneradio tbody tr td label {
                  margin: 0 2px 0 2px; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-commandlink {
                  height: 16px;
                  border-radius: 0;
                  min-width: unset;
                  width: 16px;
                  margin: 3.5px 0 3.5px 5px;
                  text-decoration: none;
                  padding: 0;
                  display: inline-block !important;
                  text-align: center;
                  color: #003399 !important;
                  float: right; }
                  .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-commandlink:hover {
                    color: #002e8a !important; }
                  .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-commandlink i {
                    font-size: 16px; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-spinner {
                  box-shadow: none !important;
                  width: 100px; }
                  .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-spinner .ui-spinner-input {
                    box-shadow: none !important;
                    text-align: left !important; }
                  .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-spinner .ui-spinner-button.ui-button {
                    width: 1.5rem; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":amplId"] {
                  box-shadow: none !important;
                  width: 75px !important; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":deltaIdSpec"],
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":deltaIdWave"] {
                  box-shadow: none !important;
                  width: 57px !important; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":rmsId"] {
                  box-shadow: none !important;
                  width: 100px !important; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":ffSetId"] {
                  box-shadow: none !important;
                  width: 135px !important; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":ffIdCheckboxSpec"] {
                  box-shadow: none !important;
                  min-width: 147px !important; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":ffSetIdWave"],
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":ffIdCheckboxWave"] {
                  box-shadow: none !important;
                  min-width: 200px !important; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":startHarmonicIN"],
                .layout-asset-analysis-window .layout-asset-analysis-window-content div.waveform-and-spectrum .waveform-and-spectrum-content .ui-panel.panel-layout-one .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell [id$=":endHarmonicIN"] {
                  box-shadow: none !important;
                  min-width: 70px !important; }
    .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel {
      width: -webkit-fill-available;
      margin: 0; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-titlebar .ui-panel-title {
        background-color: #ffffff;
        color: #003399;
        border: 1px solid #003399;
        height: 25px;
        line-height: 23px; }
        .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-titlebar .ui-panel-title form {
          height: 23px !important; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-titlebar .ui-panel-title form .ui-panelgrid {
            margin: 0 auto; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-titlebar .ui-panel-title form .ui-panelgrid tbody tr .ui-panelgrid-cell {
              color: inherit;
              border: none;
              padding: 0 5px 0px 5px;
              background: inherit; }
              .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-titlebar .ui-panel-title form .ui-panelgrid tbody tr .ui-panelgrid-cell .ui-selectonemenu {
                height: 23px;
                display: inline-block;
                min-width: 100px !important;
                box-shadow: none !important; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-titlebar .ui-panel-title form .ui-panelgrid tbody tr .ui-panelgrid-cell .ui-selectonemenu .ui-selectonemenu-label {
                  padding: 0 24px 0 5px;
                  min-height: unset;
                  height: 21px;
                  line-height: 21px;
                  text-align: center; }
                .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-titlebar .ui-panel-title form .ui-panelgrid tbody tr .ui-panelgrid-cell .ui-selectonemenu .ui-selectonemenu-trigger {
                  border-left: 1px solid #dee2e6;
                  width: 1.5rem;
                  background-color: white; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-content {
        padding: 0;
        position: relative;
        border: none; }
        .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-content .action-bar {
          height: 22px;
          background-color: #92CCFF !important;
          color: #ffffff !important;
          width: inherit;
          padding: 1px 25px;
          display: flow-root;
          margin: 0;
          border: none; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-content .action-bar .ui-commandlink {
            height: 18px;
            border-radius: 0;
            min-width: unset;
            width: 18px;
            line-height: 18px;
            margin: 0;
            text-decoration: none;
            padding: 0;
            display: inline-block !important;
            float: right !important;
            text-align: center;
            color: #ffffff !important;
            margin-left: 15px; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-content .action-bar .ui-commandlink:hover {
              color: #003399 !important; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-content .action-bar .ui-commandlink i {
              font-size: 18px; }
        .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-content div.trend-content {
          border: 1px solid #dee2e6;
          border-top: none; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#addNewPannel .ui-panel-content div.trend-content div.trendGraph {
            margin: 0 10px; }
    .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#editAlarmLimitPanel {
      width: -webkit-fill-available;
      margin: 0 10px 10px 10px; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#editAlarmLimitPanel .ui-panel-titlebar .ui-panel-title {
        background-color: #ffffff;
        color: #003399;
        border: 1px solid #003399;
        height: 25px;
        line-height: 23px; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#editAlarmLimitPanel .ui-panel-content {
        padding: 5px 10px 10px 10px;
        border: 1px solid #dee2e6;
        border-top: none; }
        .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#editAlarmLimitPanel .ui-panel-content form {
          overflow: auto; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#editAlarmLimitPanel .ui-panel-content form .ui-panelgrid.panelgrid-layout-one {
            text-align: left;
            margin: 0 auto;
            border: none; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#editAlarmLimitPanel .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-outputlabel {
              margin-right: 5px;
              display: inline-block;
              height: 23px;
              line-height: 23px; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#editAlarmLimitPanel .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-selectbooleancheckbox {
              float: right; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#editAlarmLimitPanel .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-outputlabel.error-outputlabel {
              max-width: 435px; }
    .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#createWorkorderPanel {
      width: -webkit-fill-available;
      margin: 0; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#createWorkorderPanel .ui-panel-titlebar .ui-panel-title {
        background-color: #ffffff;
        color: #003399;
        border: 1px solid #003399;
        height: 25px;
        line-height: 23px; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#createWorkorderPanel .ui-panel-content {
        padding: 5px 10px 10px 10px; }
        .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#createWorkorderPanel .ui-panel-content form {
          overflow: auto; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#createWorkorderPanel .ui-panel-content form .ui-panelgrid.panelgrid-layout-one {
            text-align: left;
            margin: 0 auto;
            border: none; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-panel.panel-layout-one#createWorkorderPanel .ui-panel-content form .ui-panelgrid.panelgrid-layout-one tbody tr .ui-panelgrid-cell .ui-inputtextarea.ui-inputfield {
              height: 65px !important;
              max-height: 65px !important;
              line-height: 21px;
              resize: none; }
    .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-overlaypanel#infoOverlayPanelId {
      border: 5px solid #0061E3; }
      .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-overlaypanel#infoOverlayPanelId .ui-overlaypanel-content {
        padding: 0; }
        .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-overlaypanel#infoOverlayPanelId .ui-overlaypanel-content .ui-panel.panel-layout-one {
          margin: 0px; }
          .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-overlaypanel#infoOverlayPanelId .ui-overlaypanel-content .ui-panel.panel-layout-one .ui-panel-content {
            border: none; }
            .layout-asset-analysis-window .layout-asset-analysis-window-content .ui-overlaypanel#infoOverlayPanelId .ui-overlaypanel-content .ui-panel.panel-layout-one .ui-panel-content .ui-panelgrid.panelgrid-layout-one tbody tr.inner-header .ui-panelgrid-cell {
              background-color: #00297a;
              color: #ffffff;
              text-align: center; }
    .layout-asset-analysis-window .layout-asset-analysis-window-content .disclaimer {
      color: #ED0216; }

/*# sourceMappingURL=layout-uptime.css.map */
