//General
$fontFamily:'Poppins',Montserrat,Raleway,sans-serif !default;
$primaryColor:#003399 !default;
$primaryLightColor: #92CCFF !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor:#ffffff !default;
$secondaryColor:#0061E3 !default;
$secondaryLightColor: scale-color($secondaryColor, $lightness: 60%) !default;
$secondaryDarkColor: scale-color($secondaryColor, $lightness: -10%) !default;
$secondaryDarkerColor: scale-color($secondaryColor, $lightness: -20%) !default;
$disclaimerTextColor:#ED0216;

//Top Bar
$topBarBGColor:#ffffff;
$topBarTextColor: $primaryColor;
$topBarActionBGColor: #ffffff;;
$topBarActionTextColor: $primaryColor;
$topBarActionTextHoverColor: $primaryLightColor;

//Graph Bar
$topGraphBarBGColor:#ffffff;
$topGraphBarTextColor: $primaryColor;
$topGraphBarBorderColor:$primaryColor;
$topGraphBarActionBGColor: $primaryLightColor;
$topGraphBarActionTextColor: $primaryTextColor;
$topGraphBarActionTextHoverColor: $primaryColor;

//Highchart menu button
$highchartMenuBtnIconColor:$primaryColor;
$highchartMenuBtnIconHoverColor:$primaryLightColor;

//Main
$bodyBgColor:#f4f4f4 !default;
$textColor:#252529 !default;
$textSecondaryColor:#65686a !default;
$dividerColor: #ebedef !default;
$dataTableExpandDiv: #efefef !default;
$ajaxLoaderIconColor:$secondaryColor;

//Unset Variables
$tableHeadBgColor:unset;
$tableHeadTextColor:unset;
$tableHeadBorderColor:unset;
$tableColumnTitleBgColor:unset;
$tableColumnTitleTextColor:unset;
$tableColumnTitleColumnBorder:unset;
$tableColumnTitleLeftColumnBorderRightBorder:unset;
$tableColumnTitleCenterColumnBorderHorizontalBorder:unset;
$tableColumnTitleRightColumnBorderLeftBorder:unset;
$topBarNavPanelHighlightBgColor:unset;
$topBarNavPanelHighlightTextColor:unset;
$fieldSetHeaderTextColor:unset;
$fieldSetHeaderBorder:unset;
$fieldSetHeaderBgColor:unset;
$fieldSetHeaderTextHoverColor:unset;
$fieldSetHeaderHoverBorder:unset;
$fieldSetHeaderBgHoverColor:unset;
$tooltipBorderArrowColor:unset;
$tooltipBgColor:unset;
$tooltipTextColor:unset;

@import '../../../sass/layout/_asset-analysis-layout';

