<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui">

    <!-- Idle Timeout-->
    <h:form prependId="false">
        <p:idleMonitor widgetVar="idle" timeout="2700000" onidle="PF('idleDialog').show()" multiWindowSupport="true" />
        <p:confirmDialog id="confirmDialog" closable="false" widgetVar="idleDialog" severity="alert" message="#{userManageBean.getResourceBundleString('dialog_session_time_out_Message')}" header="#{userManageBean.getResourceBundleString('header_session_timeout')}" >
            <p:commandButton id="confirm" value="#{userManageBean.getResourceBundleString('btn_ok')}" oncomplete="PF('idleDialog').hide()" actionListener="#{logoutBean.keepSessionAlive()}" />
            <p:commandButton id="LogoutSamal" value="#{userManageBean.getResourceBundleString('profile_menu_2')}" rendered="#{(userManageBean.loginCustomerVO.sloUrl != null and userManageBean.loginCustomerVO.sloUrl != '')}" 
                             oncomplete="PF('idleDialog').hide()" actionListener="#{logoutBean.doSamlRedirect()}" onstart="closeAllWindows()"/>
            <p:commandButton id="LogoutLdap" value="#{userManageBean.getResourceBundleString('profile_menu_2')}" rendered="#{userManageBean.loginCustomerVO.sloUrl == null or userManageBean.loginCustomerVO.sloUrl == ''}"
                             oncomplete="PF('idleDialog').hide()" actionListener="#{logoutBean.doLdapLogout()}" onstart="closeAllWindows()"/>
        </p:confirmDialog>
    </h:form>

    <h:form prependId="false">
        <p:idleMonitor widgetVar="showIdle" onidle="processTimeout()" timeout="3600000" />
        <p:remoteCommand name="processTimeout" rendered="#{(userManageBean.loginCustomerVO.sloUrl != null and userManageBean.loginCustomerVO.sloUrl != '')}" 
                         action="#{logoutBean.doSamlRedirect()}" onstart="closeAllWindows()"/>
        <p:remoteCommand name="processTimeout" rendered="#{userManageBean.loginCustomerVO.sloUrl == null or userManageBean.loginCustomerVO.sloUrl == ''}" 
                         action="#{logoutBean.doLdapLogout()}" onstart="closeAllWindows()"/>
    </h:form>
</ui:composition>
