<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">

    <!--Default Dialog-->
    <p:dialog id="defaultDialogContainerId" styleClass="layout-dialog #{navigationBean.getCustomDialogStyle()}" header="#{navigationBean.getDialogHeader()}" dynamic="true" widgetVar="defaultDlg" modal="true" fitViewport="true">
        <p:ajax event="close"  listener="#{navigationBean.closeDialog()}" resetValues="true" update="defaultDialogContainerId"/>
        <div class="p-grid">
            <div class="p-col" >
                <ui:include src="#{navigationBean.getDialogContent()}"/>
            </div>
        </div>
    </p:dialog>

    <!--Second Default Dialog-->
    <p:dialog id="defaultSecondDialogContainerId" styleClass="layout-dialog #{navigationBean.getSecondCustomDialogStyle()}" header="#{navigationBean.getSecondDialogHeader()}" dynamic="true" widgetVar="defaultSecondDlg" modal="true" fitViewport="true">
        <p:ajax event="close"  listener="#{navigationBean.closeSecondDialog()}" resetValues="true" update="defaultSecondDialogContainerId"/>
        <div class="p-grid">
            <div class="p-col" >
                <ui:include src="#{navigationBean.getSecondDialogContent()}"/>
            </div>
        </div>
    </p:dialog>

    <!--Third Default Dialog-->
    <p:dialog id="defaultThirdDialogContainerId" styleClass="layout-dialog #{navigationBean.getThirdCustomDialogStyle()}" header="#{navigationBean.getThirdDialogHeader()}" dynamic="true" widgetVar="defaultThirdDlg" modal="true" fitViewport="true">
        <p:ajax event="close"  listener="#{navigationBean.closeThirdDialog()}" resetValues="true" update="defaultThirdDialogContainerId"/>
        <div class="p-grid">
            <div class="p-col" >
                <ui:include src="#{navigationBean.getThirdDialogContent()}"/>
            </div>
        </div>
    </p:dialog>

    <p:confirmDialog id="confirmDail" closable="false" global="true" responsive="true" width="350" styleClass="layout-confirm-dialog" >
        <p:commandButton id="btn_yes" value="#{userManageBean.getResourceBundleString('btn_yes')}" type="button" styleClass="ui-confirmdialog-yes" />
        <p:commandButton id="btn_no" value="#{userManageBean.getResourceBundleString('btn_no')}" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
    </p:confirmDialog> 

    <p:confirmDialog id="confirmAlarmDialog" closable="false" widgetVar="alarmConfirmDlg" message="#{userManageBean.getResourceBundleString('label_confirm_alarm_changes_save')}" header="#{userManageBean.getResourceBundleString('label_confirm')}" responsive="true" width="350" styleClass="layout-confirm-dialog" >
        <p:commandButton id="btn_yes_alarm" value="#{userManageBean.getResourceBundleString('btn_yes')}" type="button" styleClass="ui-confirmdialog-yes" />
        <p:commandButton id="btn_no_alarm" value="#{userManageBean.getResourceBundleString('btn_no')}" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
    </p:confirmDialog>

    <p:confirmDialog id="confirmReplaceDeviceDialog" closable="false" widgetVar="replaceDeviceDlg"  message="#{userManageBean.getResourceBundleString('label_confirm_exists_device_replace')}" header="#{userManageBean.getResourceBundleString('label_confirm')}" responsive="true" width="350" styleClass="layout-confirm-dialog">                                
        <p:commandButton id="btn_yes_repdevice" value="#{userManageBean.getResourceBundleString('btn_yes')}" oncomplete="PF('replaceDeviceDlg').hide();" action="#{replaceDeviceBean.onConfirm}" />
        <p:commandButton id="btn_no_repdevice" value="#{userManageBean.getResourceBundleString('btn_no')}" action="#{replaceDeviceBean.onCancel}" onclick="PF('replaceDeviceDlg').hide();" />                            
    </p:confirmDialog>

    <p:confirmDialog id="attchSLNWithOthrPLDialog" closable="false" widgetVar="attSLNWithOthrPLDlg" message="#{userManageBean.getResourceBundleString('label_alert_device_already_attached')}" header="#{userManageBean.getResourceBundleString('label_alert')}" responsive="true" width="350" styleClass="layout-confirm-dialog" >
        <p:commandButton id="btn_ok_attchsl_installDevice" value="#{userManageBean.getResourceBundleString('btn_ok')}" type="button" onclick="PF('attSLNWithOthrPLDlg').hide();" styleClass="ui-confirmdialog-yes" />
    </p:confirmDialog>

    <p:confirmDialog id="installDeviceNoValidPointDialog" closable="false" widgetVar="installDeviceNoValidPointDlg"  message="#{userManageBean.getResourceBundleString('label_msg_invalidpoint_install_device')}" header="#{userManageBean.getResourceBundleString('label_confirm')}" responsive="true" width="350" styleClass="layout-confirm-dialog">                                
        <p:commandButton id="btn_yes_installdevice" value="#{userManageBean.getResourceBundleString('btn_delete_ext_point')}" oncomplete="PF('installDeviceNoValidPointDlg').hide(); PF('defaultDlg').hide();" action="#{installDeviceBean.deletePointList}" update="nonAutoGrowlId"/>
        <p:commandButton id="btn_no_installdevice" value="#{userManageBean.getResourceBundleString('btn_cancel')}"   onclick="PF('installDeviceNoValidPointDlg').hide(); PF('defaultDlg').hide();" />                            
    </p:confirmDialog>

    <p:confirmDialog id="confirmUserDeleteDialog" closable="false" widgetVar="userDeleteDlg" header="#{userManageBean.getResourceBundleString('label_delete_confirmation')}" severity="alert" responsive="true" width="400" styleClass="layout-confirm-dialog plus-disclaimer" >
        <f:facet name="message">
            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_delete_selected_user')}" id="confirmUserDeleteMessage" />
            <p:inputTextarea  value="#{userManageBean.getResourceBundleString('label_delete_user_disclaimer')}" id="confirmUserDeleteDisclaimer" readonly="true" rendered="false"/>
        </f:facet>
        <p:commandButton id="btnYesUserDelete" value="#{userManageBean.getResourceBundleString('btn_yes')}" action="#{usersBean.deleteUser()}" onstart="readPageSize('dt-users_rppDD')" oncomplete="PF('userDeleteDlg').hide(); setPageSize('dt-users_rppDD',10)"/>
        <p:commandButton id="btnNoUserDelete" value="#{userManageBean.getResourceBundleString('btn_no')}" onclick="PF('userDeleteDlg').hide()" styleClass="ui-button-flat"/>
    </p:confirmDialog>

    <p:confirmDialog id="confirmImportConfigDialog" widgetVar="importConfigDialog" closable="false" message="#{userManageBean.getResourceBundleString('label_import_file_confirm')}" header="#{userManageBean.getResourceBundleString('label_confirm')}" responsive="true" width="350" styleClass="layout-confirm-dialog">                                
        <h:form id="confirmImportConfigDialogForm" enctype="multipart/form-data">   
            <p:commandButton id="btn_yes_import" value="#{userManageBean.getResourceBundleString('btn_continue')}" action="#{importConfigUploadBean.upload()}" ajax="false" onclick="PF('importConfigDialog').hide(); PF('defaultDlg').hide(); PF('blockPageWidget').show();" />
            <p:commandButton id="btn_no_import" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{importConfigUploadBean.clearFile()}" onclick="PF('importConfigDialog').hide();" />   
            <p:commandButton id="hiddenDownloadButton1" styleClass="hide-component" ajax="false" update="@this nonAutoGrowlId" >
                <p:fileDownload value="#{importConfigUploadBean.downloadCsv()}" />
            </p:commandButton>
        </h:form>
    </p:confirmDialog>
</ui:composition>
