<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pc="http://primefaces.org/roma">
    
    <p:commandLink id="expandBtnId" styleClass="layout-left-tree-panel-expand-button" rendered="#{navigationBean.leftTreePanelButton}" update="leftTreeFormId" oncomplete="updateTreeNodes()">
        <i class="pi pi-chevron-right" />
    </p:commandLink>
    <p:commandLink id="contractBtnId" styleClass="layout-left-tree-panel-contract-button" rendered="#{navigationBean.leftTreePanelButton}" update="leftTreeFormId" oncomplete="updateTreeNodes()">
        <i class="pi pi-chevron-left" />
    </p:commandLink>
    <p:commandLink id="collapseBtnId" styleClass="layout-left-tree-panel-collapse-button" rendered="#{navigationBean.leftTreePanelButton}" update="leftTreeFormId" oncomplete="updateTreeNodes()">
        <i class="pi pi-times" />
    </p:commandLink>
    
    <div class="layout-left-tree-panel">
        <h:form id="leftTreeFormId">
            <p:scrollPanel mode="native">
                <p:tree id="leftTreeId" value="#{navigationBean.treeNodeRoot}" var="node" selectionMode="single" dynamic="true" cache="false">
                    <p:ajax event="expand" listener="#{navigationBean.onNodeExpand}"/>
                    <p:ajax event="collapse" listener="#{navigationBean.onNodeCollapse}" oncomplete="updateTreeNodes()"/>
                    <p:ajax event="select" listener="#{navigationBean.onNodeSelect}" oncomplete="updateTreeNodes()"/>
                    <p:treeNode>
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="region">
                        <h:outputLabel value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="country">
                        <h:outputLabel value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="site_over_100">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="site">
                        <h:outputLabel styleClass="pre-node-icon" rendered="#{navigationBean.navigationPreNodeIcon ne null and node.description ne null and node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationPreNodeIcon}"/></h:outputLabel>
                        <h:outputText styleClass="node-label" value="#{node.label}"/>
                        <h:outputLabel styleClass="node-icon" rendered="#{navigationBean.navigationIcon ne null and node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationIcon}"/></h:outputLabel>
                        <h:outputLabel styleClass="node-count" rendered="#{node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}" value="(#{node.description})"/>
                    </p:treeNode>
                    <p:treeNode type="area_over_100">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="area">
                        <h:outputLabel styleClass="pre-node-icon" rendered="#{navigationBean.navigationPreNodeIcon ne null and node.description ne null and node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationPreNodeIcon}"/></h:outputLabel>
                        <h:outputText styleClass="node-label" value="#{node.label}"/>
                        <h:outputLabel styleClass="node-icon" rendered="#{navigationBean.navigationIcon ne null and node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationIcon}"/></h:outputLabel>
                        <h:outputLabel styleClass="node-count" rendered="#{node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}" value="(#{node.description})"/>
                    </p:treeNode>
                    <p:treeNode type="asset_over_100">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="asset">
                        <h:outputLabel styleClass="pre-node-icon" rendered="#{navigationBean.navigationPreNodeIcon ne null and node.description ne null and node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationPreNodeIcon}"/></h:outputLabel>
                        <h:outputText styleClass="node-label" value="#{node.label}"/>
                        <h:outputLabel styleClass="node-icon" rendered="#{navigationBean.navigationIcon ne null and node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationIcon}"/></h:outputLabel>
                        <h:outputLabel styleClass="node-count" rendered="#{node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}" value="(#{node.description})"/>
                    </p:treeNode>
                    <p:treeNode type="point_location_over_100">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="point_location">
                        <h:outputLabel styleClass="pre-node-icon" rendered="#{navigationBean.navigationPreNodeIcon ne null and node.description ne null and node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationPreNodeIcon}"/></h:outputLabel>
                        <h:outputText styleClass="node-label" value="#{node.label}"/>
                        <h:outputLabel styleClass="node-icon" rendered="#{navigationBean.navigationIcon ne null and node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationIcon}"/></h:outputLabel>
                        <h:outputLabel styleClass="node-count" rendered="#{node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}" value="(#{node.description})"/>
                    </p:treeNode>
                    <p:treeNode type="point_over_100">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="point">
                        <h:outputLabel styleClass="pre-node-icon" rendered="#{navigationBean.navigationPreNodeIcon ne null and node.description ne null and node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationPreNodeIcon}"/></h:outputLabel>
                        <h:outputText styleClass="node-label" value="#{node.label}"/>
                        <h:outputLabel styleClass="node-icon" rendered="#{navigationBean.navigationIcon ne null and node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationIcon}"/></h:outputLabel>
                        <h:outputLabel styleClass="node-count" rendered="#{node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}" value="(#{node.description})"/>
                    </p:treeNode>
                    <p:treeNode type="ap_set_over_100">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="ap_set">
                        <h:outputLabel styleClass="pre-node-icon" rendered="#{navigationBean.navigationPreNodeIcon ne null and node.description ne null and node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationPreNodeIcon}"/></h:outputLabel>
                        <h:outputText styleClass="node-label" value="#{node.label}"/>
                        <h:outputLabel styleClass="node-icon" rendered="#{navigationBean.navigationIcon ne null and node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationIcon}"/></h:outputLabel>
                        <h:outputLabel styleClass="node-count" rendered="#{node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}" value="(#{node.description})"/>
                    </p:treeNode>
                    <p:treeNode type="al_set_param_over_100">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                    <p:treeNode type="al_set_param">
                        <h:outputLabel styleClass="pre-node-icon" rendered="#{navigationBean.navigationPreNodeIcon ne null and node.description ne null and node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationPreNodeIcon}"/></h:outputLabel>
                        <h:outputText styleClass="node-label" value="#{node.label}"/>
                        <h:outputLabel styleClass="node-icon" rendered="#{navigationBean.navigationIcon ne null and node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}"><span class="#{navigationBean.navigationIcon}"/></h:outputLabel>
                        <h:outputLabel styleClass="node-count" rendered="#{node.description ne null and node.description.length() gt 0 and !node.description.equals('pre-node-icon')}" value="(#{node.description})"/>
                    </p:treeNode>
                    <p:treeNode type="empty">
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                </p:tree>
            </p:scrollPanel>
        </h:form>
    </div>

</ui:composition>
