<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      lang="en">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="login/css/uptime-login.css"/>
        <style>
            html {
                height: -webkit-fill-available;
            }
            
            body {
                background-image: url('/UpCastCM/resources/login/images/condition-monitoring-actionable-intelligence.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-color: white;
                margin: 0;
                position: absolute;
                height: -webkit-fill-available;
                width: -webkit-fill-available;
            }
        </style>
        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <div class="login-page">
            <div class="center-login">
                <div class="login-logo">
                    <h:graphicImage styleClass="uptime-header" name="login/images/Uptime_Solutions_Logo.png" />
                    <span class="login-header-text">
                        <b>
                            <ui:insert name="header">Header</ui:insert>
                        </b>
                    </span>
                </div>
                <div class="login-box-body">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </div>
        </div>
    </h:body>

</html>
