<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui"
                xmlns:po="http://primefaces.org/roma">

    <div class="layout-menu-container layout-menu-color">
        <div class="menu-scroll-content">
            <h:form id="menuFormId">
                <po:menu widgetVar="MainMenuWidget">
                    <p:menuitem id="menuHomeId" value="#{userManageBean.getResourceBundleString('breadcrumb_1')}" icon="pi pi-fw pi-home" action="#{navigationBean.updatePage('home')}" ajax="false"/>
                    <p:menuitem id="menuAlarmsId" value="#{userManageBean.getResourceBundleString('breadcrumb_2')}" icon="pi pi-fw pi-bell" action="#{navigationBean.updatePage('alarms')}" ajax="false"
                                rendered="#{userManageBean.currentSite ne null and (admin or user or viewer or user_plus or superAdmins or analysts or viewers)}"/>
                    <p:menuitem id="menuWorkOrderId" value="#{userManageBean.getResourceBundleString('breadcrumb_3')}" icon="pi pi-fw pi-tag" action="#{navigationBean.updatePage('work-order')}" ajax="false" 
                                rendered="#{userManageBean.currentSite ne null and (admin or user or viewer or user_plus or superAdmins or analysts or viewers)}"/>
                    <p:menuitem id="menuConfigurationId" value="#{userManageBean.getResourceBundleString('breadcrumb_4')}" icon="fa fa-wrench" action="#{navigationBean.updatePage('configuration')}" ajax="false"
                                rendered="#{userManageBean.currentSite ne null and (admin or user or configurator or viewer or user_plus or superAdmins or analysts or siteBuilders or viewers)}"/>
                    <p:menuitem id="menuPresetsId" value="#{userManageBean.getResourceBundleString('breadcrumb_5')}" icon="pi pi-fw pi-sliders-h" action="#{navigationBean.updatePage('presets')}" ajax="false" 
                                rendered="#{userManageBean.currentSite ne null and (admin or user or configurator or viewer or user_plus or superAdmins or analysts or siteBuilders or viewers)}"/>
                    <p:menuitem id="menuReportsId" value="#{userManageBean.getResourceBundleString('breadcrumb_6')}" icon="pi pi-fw pi-chart-bar" action="#{navigationBean.updatePage('reports')}" ajax="false" 
                                rendered="false"/>
                    <p:menuitem id="menuAssetAnalysisId" value="#{userManageBean.getResourceBundleString('breadcrumb_7')}" icon="pi pi-fw pi-chart-line" action="#{navigationBean.updatePage('asset-analysis')}" ajax="false" 
                                rendered="#{userManageBean.currentSite ne null and (admin or user or configurator or viewer or user_plus or superAdmins or analysts or siteBuilders or viewers)}"/>
                    <p:menuitem id="menuUserId" value="#{userManageBean.getResourceBundleString('breadcrumb_8')}" icon="pi pi-users" action="#{navigationBean.updatePage('users')}" ajax="false" 
                                rendered="#{userManageBean.currentSite ne null and (admin or userManagement or superAdmins or accountAdmins)}"/>
                    <p:menuitem id="menuDeviceManagementId" value="#{userManageBean.getResourceBundleString('label_device_management')}" icon="fa fa-rss" action="#{navigationBean.updatePage('device-management')}" ajax="false"
                                rendered="#{userManageBean.currentSite ne null and (admin or user or configurator or viewer or user_plus or superAdmins or analysts or siteBuilders or viewers)}"/>
                    <p:menuitem id="menuSystemStatusId" value="#{userManageBean.getResourceBundleString('breadcrumb_10')}" icon="fa fa-heartbeat" action="#{navigationBean.updatePage('system-status')}" ajax="false" 
                                rendered="#{userManageBean.currentSite ne null and (admin or user or configurator or viewer or user_plus or superAdmins or analysts or siteBuilders or viewers)}"/>
                    <p:menuitem id="subscriptions" value="#{userManageBean.getResourceBundleString('breadcrumb_11')}" icon="fa fa-regular fa-link" action="#{navigationBean.updatePage('subscriptions')}" ajax="false" 
                                rendered="#{userManageBean.currentSite ne null and (superAdmins)}"/>
                </po:menu>
            </h:form>
        </div>
    </div>
    
</ui:composition>