<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="shortcut icon" type="image/x-icon" href="#{resource['roma-layout/images/favicon.ico']}" />
        </f:facet>
        <title><ui:insert name="title">#{userManageBean.getResourceBundleString('application_header')}</ui:insert></title>
        <h:outputScript name="js/prism.js" library="roma-layout" />
        <h:outputScript name="js/layout.js" library="roma-layout" />
        <h:outputScript name="upcastcm.js" library="js"/>
        <h:outputScript name="highcharts.js" library="js"/>
        <h:outputScript name="export-data.js" library="js"/>
        <h:outputScript name="exporting.js" library="js"/>
        <h:outputScript name="heatmap.js" library="js"/>
        <h:outputScript name="accessibility.js" library="js"/>
        <h:outputScript name="boost.js" library="js"/>
        <h:outputScript name="navigator.js" library="js"/>
        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <div class="layout-wrapper #{navigationBean.menuMode} layout-menu-color layout-topbar-color">
            
            <!-- Variables for the User Roles/Groups -->
            <!-- Request - level for site level roles -->
            <c:set var="admin" value="#{userManageBean.checkGroupIndexList(0)}" scope="request"/>
            <c:set var="userManagement" value="#{userManageBean.checkGroupIndexList(1)}" scope="request"/>
            <c:set var="user" value="#{userManageBean.checkGroupIndexList(2)}" scope="request"/>
            <c:set var="configurator" value="#{userManageBean.checkGroupIndexList(3)}" scope="request"/>
            <c:set var="viewer" value="#{userManageBean.checkGroupIndexList(4)}" scope="request"/>
            <c:set var="user_plus" value="#{userManageBean.checkGroupIndexList(10)}" scope="request"/>
            
            <!-- Session - level for Global Uptime groups -->
            <c:set var="superAdmins" value="#{userManageBean.checkGroupIndexList(5)}" scope="session"/>
            <c:set var="accountAdmins" value="#{userManageBean.checkGroupIndexList(6)}" scope="session"/>
            <c:set var="analysts" value="#{userManageBean.checkGroupIndexList(7)}" scope="session"/>
            <c:set var="siteBuilders" value="#{userManageBean.checkGroupIndexList(8)}" scope="session"/>
            <c:set var="viewers" value="#{userManageBean.checkGroupIndexList(9)}" scope="session"/>
            
            <p:growl id="growlId" widgetVar="growl" for="growlMessages">
                <p:autoUpdate />
            </p:growl>
            <p:growl id="nonAutoGrowlId" widgetVar="nonAutoGrowl" for="nonAutoGrowlMessages"/>
            
            <p:growl id="growlDetailedId" widgetVar="growlDetailed" for="growlDetailedMessages" showDetail="true">
                <p:autoUpdate />
            </p:growl>
            <p:growl id="nonAutoGrowlDetailedId" widgetVar="nonAutoGrowlDetailed" for="nonAutoGrowlDetailedMessages" showDetail="true"/>
            
            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />
            <ui:include src="./right-panel.xhtml" />
            <ui:include src="./left-tree-panel.xhtml"/> 
            <ui:include src="./dialog.xhtml"/> 
            <ui:include src="./dialog-logout.xhtml"/> 

            <div class="layout-main">  
                <ui:include src="./breadcrumb.xhtml"/>  
                <div class="layout-content" id="contentId"> 
                    <ui:insert name="content" />
                </div>

                <ui:include src="./footer.xhtml" />
                
                <div class="layout-mask modal-in"/>
            </div>

            <p:ajaxStatus styleClass="layout-ajax-loader">
                <f:facet name="start">
                    <i class="pi-spin fa fa-spinner layout-ajax-loader-icon" aria-hidden="true"/>
                </f:facet>

                <f:facet name="complete">
                    <h:outputText value="" />
                </f:facet>
            </p:ajaxStatus>
        </div>
       
        <h:outputStylesheet name="css/primeicons.css" library="roma-layout" />
        <h:outputStylesheet name="css/primeflex.min.css" library="roma-layout" />
        <h:outputStylesheet name="css/layout-#{userManageBean.skin}.css" library="roma-layout" />
        <h:outputStylesheet name="primefaces-roma-#{userManageBean.skin}/theme.css"/>
        <h:outputStylesheet name="css/bootstrap-tour-standalone.min.css" library="feature-tour-layout" />
        <script type="text/javascript">
            function resetIdleMonitor() {
                PF('idle').reset();
                PF('showIdle').reset();
            }
        </script>
    </h:body>

</html>
