<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma">
    
    <div class="layout-topbar">
        <p:link styleClass="layout-right-panel-button layout-topbar-icon" href="#" rendered="#{navigationBean.rightPanelButton}">
            <i class="pi pi-ellipsis-v" />
        </p:link>

        <h:form id="topbarMenuChangeFormId">
            <p:commandLink styleClass="layout-menu-button layout-topbar-icon" action="#{navigationBean.changeMenuMode()}">
                <i class="pi pi-bars" />
            </p:commandLink>
        </h:form>

        <h:form id="topbarLogoFormId">
            <p:commandLink id="logo-link" action="#{navigationBean.updatePage('home')}" ajax="false">
                <p:graphicImage name="images/logos/#{userManageBean.logo}" library="roma-layout"/>
            </p:commandLink>
        </h:form> 

        <h:form id="topbarControlFormId">
            <p:commandLink rendered="#{userManageBean.selectedCustomersVO ne null and userManageBean.selectedCustomersVO.customerAccount ne null and userManageBean.selectedCustomersVO.customerAccount.length() gt 0 and (superAdmins or siteBuilders)}" id="topbarControlAddSiteBtnId" styleClass="button-style-layout-control" value="#{userManageBean.getResourceBundleString('dialog_createSite_header')}" action="#{navigationBean.updateDialog('create-site')}" oncomplete="PF('defaultDlg').show()"/>
            
            <p:commandLink id="topbarControlAddBtnId" styleClass="layout-control" rendered="false">
                <i class="pi pi-plus-circle" />
            </p:commandLink>
            
            <p:overlayPanel id="topbarAddMenuOverlayId" for="topbarControlAddBtnId" widgetVar="topbarAddMenuOverlay">
                <p:commandLink styleClass="topbar-menu-element" action="#{navigationBean.updatePage('home')}" oncomplete="PF('topbarAddMenuOverlay').hide(); PF('defaultDlg').show()">
                    <p:outputLabel value="Item 1"/>
                </p:commandLink>
                <p:commandLink styleClass="topbar-menu-element" action="#{navigationBean.updatePage('home')}" oncomplete="PF('topbarAddMenuOverlay').hide(); PF('defaultDlg').show()">
                    <p:outputLabel value="Item 2"/>
                </p:commandLink>
                <p:commandLink styleClass="topbar-menu-element" action="#{navigationBean.updatePage('home')}" oncomplete="PF('topbarAddMenuOverlay').hide(); PF('defaultDlg').show()">
                    <p:outputLabel value="Item 3"/>
                </p:commandLink>
            </p:overlayPanel>
            
            <p:commandLink id="topbarControlSearchBtnId" styleClass="layout-control" rendered="false">
                <i class="pi pi-search" />
            </p:commandLink>
            
            <p:commandLink id="topbarControlSettingsBtnId" styleClass="layout-control" rendered="false">
                <i class="pi pi-cog" />
            </p:commandLink>
            
            <p:commandLink id="topbarControlHelpBtnId" styleClass="layout-control" rendered="false">
                <i class="pi pi-question-circle" />
            </p:commandLink>
            
            <p:commandLink id="topbarControlProfileBtnId" styleClass="layout-control">
                <i class="fa fa-user"/>
                <div class="layout-profile-userinfo">
                    <p:outputLabel styleClass="layout-profile-name" value="#{userManageBean.userName}"/>
                    <p:outputLabel styleClass="layout-profile-role" value="#{userManageBean.loginCustomerVO.customerName}" rendered="#{userManageBean.loginCustomerVO ne null}"/>
                    <p:outputLabel styleClass="layout-time-zone" value="#{userManageBean.displayedTimeZone}"/>
                </div>
            </p:commandLink>
            
            <p:overlayPanel id="topbarProfileMenuOverlayId" for="topbarControlProfileBtnId" widgetVar="topbarProfileMenuOverlay">
                <p:commandLink styleClass="topbar-menu-element" action="#{navigationBean.updateDialog('user-preferences')}" oncomplete="PF('topbarProfileMenuOverlay').hide(); PF('defaultDlg').show()">
                    <i class="pi pi-sliders-h"/>
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('profile_menu_1')}"/>
                </p:commandLink>
                <p:commandLink styleClass="topbar-menu-element" actionListener="#{logoutBean.doLdapLogout()}" oncomplete="PF('topbarProfileMenuOverlay').hide()" onstart="closeAllWindows()" rendered="#{userManageBean.loginCustomerVO.sloUrl == null or userManageBean.loginCustomerVO.sloUrl == ''}" >
                    <i class="pi pi-lock"/>
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('profile_menu_2')}"/>
                    <p:confirm id="confirmDialog" header="#{userManageBean.getResourceBundleString('dialog_logout_header')}" message="#{userManageBean.getResourceBundleString('dialog_logout_label_1')}" icon="pi pi-sign-out" />                    
                </p:commandLink>
                <p:commandLink styleClass="topbar-menu-element" actionListener="#{logoutBean.doSamlRedirect()}" oncomplete="PF('topbarProfileMenuOverlay').hide()" onstart="closeAllWindows()" rendered="#{(userManageBean.loginCustomerVO.sloUrl != null and userManageBean.loginCustomerVO.sloUrl != '')}" >
                    <i class="pi pi-lock"/>
                    <p:outputLabel value="#{userManageBean.getResourceBundleString('profile_menu_2')}"/>
                    <p:confirm id="confirmDialog" header="#{userManageBean.getResourceBundleString('dialog_logout_header')}" message="#{userManageBean.getResourceBundleString('dialog_logout_label_1')}" icon="pi pi-sign-out" />                    
                </p:commandLink>
            </p:overlayPanel>
        </h:form>
    </div>
    
    <div id="topbarFilterDiv">
        <h:form id="topbarFilterFormId">
            <p:autoComplete rendered="#{userManageBean.globalGroups}" placeholder="#{userManageBean.getResourceBundleString('label_customer')}" id="topbarFilterCustomerId" value="#{userManageBean.selectedCustomersVO}" scrollHeight="500" forceSelection="true" completeMethod="#{userManageBean.queryCustomerList}" queryDelay="100" cache="true" var="customer" itemLabel="#{customer.customerName}" itemValue="#{customer}" converter="customersVOConverter" dropdown="true">
                <p:ajax event="change" listener="#{userManageBean.onCustomerChange()}" update="topbarControlFormId topbarFilterRegionId topbarFilterCountryId topbarFilterSiteId menuFormId"/>
            </p:autoComplete>
            <p:autoComplete id="topbarFilterRegionId" placeholder="#{userManageBean.getResourceBundleString('label_region')}" value="#{userManageBean.selectedFilters.region}" scrollHeight="500" forceSelection="true" completeMethod="#{userManageBean.queryRegionList}" queryDelay="100" cache="true" dropdown="true" disabled="#{userManageBean.selectedCustomersVO eq null or userManageBean.selectedCustomersVO.customerAccount eq null or userManageBean.selectedCustomersVO.customerAccount.length() eq 0}">
                <p:ajax event="change" listener="#{userManageBean.onRegionChange()}" update="topbarControlFormId topbarFilterCountryId topbarFilterSiteId menuFormId"/>
            </p:autoComplete>
            <p:autoComplete id="topbarFilterCountryId" placeholder="#{userManageBean.getResourceBundleString('label_country')}" value="#{userManageBean.selectedFilters.country}" scrollHeight="500" forceSelection="true" completeMethod="#{userManageBean.queryCountryList}" queryDelay="100" cache="true" dropdown="true" disabled="#{userManageBean.selectedFilters.region eq null or userManageBean.selectedFilters.region eq ''}">
                <p:ajax event="change" listener="#{userManageBean.onCountryChange()}" update="topbarControlFormId topbarFilterSiteId menuFormId"/>
            </p:autoComplete>
            <p:autoComplete id="topbarFilterSiteId" placeholder="#{userManageBean.getResourceBundleString('label_site')}" value="#{userManageBean.selectedFilters.site}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}" converter="selectItemConverter" completeMethod="#{userManageBean.querySiteNameList}" queryDelay="100" cache="true" dropdown="true" disabled="#{userManageBean.selectedFilters.country eq null or userManageBean.selectedFilters.country eq ''}">
                <p:ajax event="change" listener="#{userManageBean.onSiteChange()}" update="topbarControlFormId menuFormId" oncomplete="updateTreeNodes()"/>
            </p:autoComplete>
        </h:form>
    </div>
</ui:composition>
