/*CSS for Main body Login page*/
.uptime-header {
    margin-left: -10px;
    max-height: 25px;
    width: auto;
    vertical-align: middle;
}

.ui-panel.login-center-content-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
    border-radius: 0 !important;
}

.ui-panel.login-center-content-wrapper .ui-panel-content {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
    border-radius: 0 !important;
    text-align: center !important;
}

.ui-panel.login-center-content-wrapper.bottom-margin-15 {
    margin-bottom: 15px !important;
}

.ui-panel.login-center-content-wrapper .content-image {
    height: 50px;
    margin: 0 0 5px 0;
}

.login-content-title {
    color: #FAAA00;
    font-weight: 600;
    text-align: center;
    margin: 0 0 5px 0;
}

.login-session-text {
    color: #ffffff;
    text-align: center;
    margin: 0 0 5px 0;
}

.login-header-text {
    position: relative;
    top: 2px;
    color: #ffffff;
}

.login-page {
    background: transparent !important;
    height: -webkit-fill-available;
    font-family: sans-serif !important;
}

.login-logo {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 7.5px;
    background: rgba(0, 48, 135,.7);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
}

.login-box-body {
    background: rgba(0, 48, 135,.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    border-top: 0;
    color: #666;
}
            
div.center-login{
    width: 360px;
    margin: 0 auto;
    padding-top: 200px;
}

.no-margin {
    margin: 0 !important;
}

/*CSS for Input Tag of Login page*/
input.login-text-box{
    border: none;
    width: 325px;
    height: 23px;
    line-height: 23px;
    margin-bottom: 10px;
    border-radius: 0px;
    color: #555;
    font-size: 16px;
    padding: 0 0 0 5px;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

input.login-text-box:focus{
    box-shadow: none;
    -webkit-box-shadow: none;
}

input.bottom-margin-5{
    margin-bottom: 5px;
}

/*CSS for Button Tag of Login page*/
.botton-float-root {
    display: flow-root !important;
}

.login-button{
    background-color: #0061E3 !important;
    border-color: #0061E3 !important;
    width: 90px !important;
    height: 35px !important;
    color: #ffffff !important;
    padding: 6px 12px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    float: right !important;
    font-size: 16px !important;
}

.login-button span {
    padding: 0 !important;
}

.login-button:hover{
    background-color: #FAAA00 !important;
}

.login-button:focus{
    background-color: #FAAA00 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/*CSS for Message Tag of Login page*/
.login-message {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: unset !important;
    position: unset !important;
    border-radius: 0 !important;
}

.login-message.no-top-margin .ui-messages-error ul,
.login-message.no-top-margin .ui-messages-info ul,
.login-message.no-top-margin .ui-messages-warn ul {
    margin: 0 0 10px 0 !important;
}

.ui-messages-error,
.ui-messages-info,
.ui-messages-warn {
    background: none !important;
    border: none !important;
    border-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
}
.ui-messages-error .ui-messages-error-detail,
.ui-messages-info .ui-messages-info-detail,
.ui-messages-warn .ui-messages-warn-detail {
    margin-left:.5rem !important;
}

.ui-messages-error .ui-messages-close,
.ui-messages-info .ui-messages-close,
.ui-messages-warn .ui-messages-close,
.ui-messages-error .ui-messages-error-icon,
.ui-messages-info .ui-messages-info-icon,
.ui-messages-warn .ui-messages-warn-icon {
    display: none !important;
}

.ui-messages-error ul,
.ui-messages-info ul,
.ui-messages-warn ul {
    list-style-type: none !important;
    padding: 0 !important;
    margin: 10px 0 !important;
}

.ui-messages-error ul li,
.ui-messages-info ul li,
.ui-messages-warn ul li {
    height: 23px;
    line-height: 23px;
    margin-bottom: 1px;
}

.ui-messages-error ul li {
    background:#FFCDD2;
    border:1px solid #EF5350;
    color:#B71C1C;
    border-width:0 0 0 3px;
}

.ui-messages-info ul li {
    background:#B3E5FC;
    border:1px solid #03A9F4;
    color:#01579B;
    border-width:0 0 0 3px;
}

.ui-messages-warn ul li {
    background:#FFECB3;
    border:1px solid #FFC107;
    color:#7f6003;
    border-width:0 0 0 3px;
}

/*CSS for Link Tag of Login page*/
.login-link {
    text-decoration: none !important;
    color: #92CCFF !important;
    font-size: 16px !important;
    display: block !important;
    height: 23px !important;
    line-height: 23px !important;
}

.login-link:hover{
    text-decoration: none !important;
    color: #FAAA00 !important;
}

.login-link:focus{
    text-decoration: none !important;
    color: #FAAA00 !important;
}