<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <!-- test javascript-->
    <script type="text/javascript">
        //function test
        $(document).ready(function () {
            $('#alarm-form\\:dt-alarms_data > tr').click(function (event) {
                if (event.originalEvent) {
                    var rowNo = event.currentTarget.attributes.getNamedItem('data-ri').value;
                    selectAlarm(rowNo);
                }
            });
        });
    </script>

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_2')}</ui:define>

    <ui:define name="content">
        <script type="text/javascript">
            function displayAlarmInfo(index) {
                $('#alarm-form\\:indexId').val(index);
                $('#alarm-form\\:hiddenViewInfoBtnId').click();
            }

            function displayWorkOrder(index) {
                $('#alarm-form\\:indexId').val(index);
                $('#alarm-form\\:hiddenWorkOrderBtnId').click();
            }

            function acknowledge(index) {
                $('#alarm-form\\:indexId').val(index);
                $('#alarm-form\\:hiddenAcknowledgeBtnId').click();
            }

            function displayAssetAnalysisWindow(index) {
                $('#alarm-form\\:indexId').val(index);
                $('#alarm-form\\:hiddenAssetAnalysisWindowBtnId').click();
            }
        </script>

        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-alarms-filter">
                    <h:form id="alarmsFilterFormId">
                        <p:panel styleClass="layout-alarms-filter-panel">
                            <p:outputLabel for="alarmsFilterRegionId" value="#{userManageBean.getResourceBundleString('label_region')}:" styleClass="block-label" />
                            <p:autoComplete id="alarmsFilterRegionId" value="#{alarmsBean.selectedFilters.region}" scrollHeight="500" forceSelection="true"
                                            completeMethod="#{alarmsBean.queryRegionList}" queryDelay="100" cache="true" disabled="#{alarmsBean.regionListCheck()}">
                                <p:ajax event="itemSelect" listener="#{alarmsBean.onRegionChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-alarms-filter-panel">
                            <p:outputLabel for="alarmsFilterCountryId" value="#{userManageBean.getResourceBundleString('label_country')}:" styleClass="block-label"/>
                            <p:autoComplete id="alarmsFilterCountryId" value="#{alarmsBean.selectedFilters.country}" scrollHeight="500" forceSelection="true"
                                            completeMethod="#{alarmsBean.queryCountryList}" queryDelay="100" cache="true" disabled="#{alarmsBean.countryListCheck()}">
                                <p:ajax event="itemSelect" listener="#{alarmsBean.onCountryChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-alarms-filter-panel">
                            <p:outputLabel for="alarmsFilterSiteId" value="#{userManageBean.getResourceBundleString('label_site')}:" styleClass="block-label"/>
                            <p:autoComplete id="alarmsFilterSiteId" value="#{alarmsBean.selectedFilters.site}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{alarmsBean.querySiteNameList}" queryDelay="100" cache="true" disabled="#{alarmsBean.siteListCheck()}">
                                <p:ajax event="itemSelect" listener="#{alarmsBean.onSiteChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-alarms-filter-panel">
                            <p:outputLabel for="alarmsFilterAreaId" value="#{userManageBean.getResourceBundleString('label_area')}:" styleClass="block-label"/>
                            <p:autoComplete id="alarmsFilterAreaId" value="#{alarmsBean.selectedFilters.area}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{alarmsBean.queryAreaNameList}" queryDelay="100" cache="true" disabled="#{alarmsBean.areaListCheck()}">
                                <p:ajax event="itemSelect" listener="#{alarmsBean.onAreaChangeFromFilters()}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-alarms-filter-panel">
                            <p:outputLabel for="alarmsFilterAssetId" value="#{userManageBean.getResourceBundleString('label_asset')}:" styleClass="block-label"/>
                            <p:autoComplete id="alarmsFilterAssetId" value="#{alarmsBean.selectedFilters.asset}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{alarmsBean.queryAssetNameList}" queryDelay="100" cache="true" disabled="#{alarmsBean.assetListCheck()}">
                                <p:ajax event="itemSelect" listener="#{alarmsBean.onAssetChange(true)}" oncomplete="updateTreeNodes()" />
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-alarms-filter-panel">
                            <p:outputLabel for="alarmsFilterPointLocationId" value="#{userManageBean.getResourceBundleString('label_point_location')}:" styleClass="block-label"/>
                            <p:autoComplete id="alarmsFilterPointLocationId" value="#{alarmsBean.selectedFilters.pointLocation}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{alarmsBean.queryPointLocationList}" queryDelay="100" cache="true" disabled="#{alarmsBean.pointLocationListCheck()}">
                                <p:ajax event="itemSelect" listener="#{alarmsBean.onPointLocationChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-alarms-filter-panel">
                            <p:outputLabel for="alarmsFilterPointId" value="#{userManageBean.getResourceBundleString('label_point')}:" styleClass="block-label"/>
                            <p:autoComplete id="alarmsFilterPointId" value="#{alarmsBean.selectedFilters.point}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{alarmsBean.queryPointList}" queryDelay="100" cache="true" disabled="#{alarmsBean.pointListCheck()}">
                                <p:ajax event="itemSelect" listener="#{alarmsBean.onPointChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-alarms-content">
                    <h:form id="alarm-form">
                        <h:inputHidden id="indexId"/>
                        <p:commandButton id="hiddenAssetAnalysisWindowBtnId" style="display: none;" action="#{alarmsBean.viewTrendGraph()}"/>
                        <p:commandButton id="hiddenViewInfoBtnId" style="display: none;" oncomplete="PF('defaultDlg').show()" action="#{alarmsBean.infoOfSelectedAlarm()}"/>
                        <p:commandButton id="hiddenWorkOrderBtnId" style="display: none;" oncomplete="PF('defaultDlg').show()" action="#{alarmsBean.createWorkOrder()}"/>
                        <p:commandButton id="hiddenAcknowledgeBtnId" style="display: none;"  action="#{alarmsBean.acknowledgeAlarm()}" update="alarm-form" onstart="readPageSize('dt-alarms-area_rppDD')" oncomplete="PF('dtAlarms').unselectAllRows(); updateTreeNodes(); setPageSize('dt-alarms-area_rppDD',10) ">
                            <p:confirm header="#{userManageBean.getResourceBundleString('label_acknowledge_confirmation')}" message="#{userManageBean.getResourceBundleString('label_acknowledge_selected_alarm')}" icon="pi pi-exclamation-triangle"/>
                        </p:commandButton>

                        <!--display a timeline for alarm history-->
                        <p:timeline id="timeline" value="#{alarmsBean.model}" var="order" varGroup="timelineAlarmHistory"
                                    rendered="#{alarmsBean.showHistory and alarmsBean.model ne null}"
                                    eventMargin="0" eventMarginAxis="0" stackEvents="false"
                                    orientationAxis="top" widgetVar="timelineWdgt" styleClass="timeline-layout-one">
                            <f:facet name="group">
                                <h:outputText value="#{timelineAlarmHistory}" style="font-weight:bold;"/>
                            </f:facet>
                            <f:facet name="menu">
                                <p:commandButton type="button" icon="pi pi-chevron-left" onclick="PF('timelineWdgt').move(-0.3);" />
                                <p:commandButton type="button" icon="pi pi-chevron-right" onclick="PF('timelineWdgt').move(0.3);" />
                                <p:commandButton type="button" icon="pi pi-search-minus" onclick="PF('timelineWdgt').zoom(-0.5);" />
                                <p:commandButton type="button" icon="pi pi-search-plus" onclick="PF('timelineWdgt').zoom(0.5);" />
                            </f:facet>
                        </p:timeline>

                        <!--Top buttons of the content area. This will be displayed when the Alarms Table is displayed-->
                        <p:panelGrid rendered="#{alarmsBean.areaTileList.size() eq 0 and (alarmsBean.displayAreaTable or alarmsBean.displayAssetTable or alarmsBean.displayPLTable or alarmsBean.displayPointTable)}" styleClass="layout-alarms-panelgrid">
                            <p:row>
                                <p:column>
                                    <p:commandButton id="delete-alarm-button" value="#{alarmsBean.deleteButtonMessage()}" rendered="#{false and (admin or user or user_plus or superAdmins or analysts)}" icon="pi pi-trash" actionListener="#{alarmsBean.deleteSelectedAlarms()}" disabled="#{alarmsBean.selectedAlarms eq null or alarmsBean.selectedAlarms.size() eq 0}" update="alarm-form" oncomplete="PF('dtAlarms').unselectAllRows(); updateTreeNodes()">
                                        <p:confirm header="#{userManageBean.getResourceBundleString('label_delete_confirmation')}" message="#{userManageBean.getResourceBundleString('label_delete_selected_alarms')}" icon="pi pi-exclamation-triangle"/>
                                    </p:commandButton>
                                    <p:commandButton id="acknowledge-alarm-button" value="#{alarmsBean.acknowledgeButtonMessage()}" rendered="#{admin or user or user_plus or superAdmins or analysts}" icon="pi pi-check-square" actionListener="#{alarmsBean.acknowledgeSelectedAlarms()}" disabled="#{alarmsBean.selectedAlarms eq null or alarmsBean.selectedAlarms.size() eq 0}" update="alarm-form" oncomplete="PF('dtAlarms').unselectAllRows(); updateTreeNodes()">
                                        <p:confirm header="#{userManageBean.getResourceBundleString('label_acknowledge_confirmation')}" message="#{userManageBean.getResourceBundleString('label_acknowledge_selected_alarms')}" icon="pi pi-exclamation-triangle"/>
                                    </p:commandButton>
                                </p:column>
                                <p:column style="width: 100%">
                                    <p:panel class="timeline-legend-block" rendered="#{alarmsBean.showHistory and alarmsBean.model ne null}">
                                        <div class="timeline-legend-block-div">
                                            <span class="alert-color-block legend-color-block right-margin" />
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_highAlert_lowAlert')}"/>
                                        </div>
                                        <div class="timeline-legend-block-div">
                                            <span class="fault-color-block legend-color-block right-margin" />
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_highFault_lowFault')}"/>
                                        </div>
                                    </p:panel>
                                    <p:panel class="no-alarm-disclaimer-panel" rendered="#{alarmsBean.showHistory and alarmsBean.model eq null}">
                                        <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_no_alarm_records_found')}"/>
                                    </p:panel>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_view_history')}:" rendered="#{alarmsBean.displayPLTable}"/>
                                </p:column>
                                <p:column>
                                    <p:inputSwitch value="#{alarmsBean.showHistory}" rendered="#{alarmsBean.displayPLTable}" onLabel="yes" offLabel="no" >
                                        <p:ajax listener="#{alarmsBean.viewAlarmHistory()}" update="alarm-form" oncomplete="addTimelineTopbarCover()"/>
                                    </p:inputSwitch>
                                </p:column>
                            </p:row>
                        </p:panelGrid>

                        <!--Used to show where Alarms are located, but not the Alarms themselves-->
                        <p:dataView var="alarm"  value="#{alarmsBean.areaTileList}" rows="12" paginator="true" paginatorPosition="top"  rowsPerPageTemplate="6,12,18,32,{ShowAll|'All'}"  
                                    paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    layout="grid" rendered="#{alarmsBean.areaTileList.size() gt 0}" styleClass="dataview-layout-one">

                            <f:facet name="header">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_areas_with_active_alarms')}"/>
                            </f:facet>

                            <p:dataViewGridItem columns="6">
                                <div class="non-link-card">
                                    <div class="viewGridItem-header">
                                        <p:outputLabel value="#{alarm.areaName}" />
                                    </div>
                                    <p:panelGrid>
                                        <p:row>                                                
                                            <p:column>
                                                <p:commandLink styleClass="active-alarm-link" value="#{userManageBean.getResourceBundleString('label_active_alarms')}:  #{alarm.alarmCount}"  action="#{alarmsBean.onAreaTileSelect(alarm,'')}"/>
                                            </p:column>
                                        </p:row>
                                        <p:row>                                               
                                            <p:column>
                                                <p:commandLink styleClass="alert-link" value="#{userManageBean.getResourceBundleString('label_active_alerts')}:  #{alarm.alertCount}"  action="#{alarmsBean.onAreaTileSelect(alarm, 'ALERT')}"/>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:commandLink styleClass="fault-link" value="#{userManageBean.getResourceBundleString('label_active_faults')}:  #{alarm.faultCount}"  action="#{alarmsBean.onAreaTileSelect(alarm, 'FAULT')}"/>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </div>
                            </p:dataViewGridItem>
                        </p:dataView>

                        <!--Table to display Alarms - Area-->
                        <p:dataTable id="dt-alarms-area" widgetVar="dtAlarms" stripedRows="true" size="small" var="alarm" value="#{alarmsBean.alarmsVOList}"
                                     rowIndexVar="rowId" rowKey="#{alarm.index}" paginator="true" resizableColumns="true" disabledSelection="#{alarm.acknowledged eq true or !(admin or user or user_plus or superAdmins or analysts)}"
                                     rows="10" selectionMode="multiple" paginatorPosition="top" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" selection="#{alarmsBean.selectedAlarms}" selectionPageOnly="false"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowStyleClass="#{alarmsBean.setTemperatureRowStyleClass(alarm)}" 
                                     filteredValue="#{alarmsBean.filteredAlarms}" filterBy="#{alarmsBean.filterBy}"  emptyMessage="#{userManageBean.getResourceBundleString('label_no_alarms_found_with_given_criteria')}"
                                     styleClass="datatable-layout-three datatable-layout-header-filters " rendered="#{alarmsBean.areaTileList.size() eq 0 and alarmsBean.displayAreaTable}">

                            <p:ajax event="rowSelect" listener="#{alarmsBean.onRowSelect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowUnselect" listener="#{alarmsBean.onRowUnselect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowSelectCheckbox" listener="#{alarmsBean.onRowSelect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowUnselectCheckbox" listener="#{alarmsBean.onRowUnselect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="toggleSelect" listener="#{alarmsBean.dataTableSelectAllRows}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>

                            <f:facet name="header">
                                <p:outputLabel value="#{alarmsBean.getResultHeader('area')}"/>
                            </f:facet>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_type')}" sortBy="#{alarm.alarmType}" filterBy="#{alarm.alarmType}" filterValue="#{alarmsBean.alarmType}" filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <f:facet name="filter">
                                    <p:inputText onkeyup="PF('dtAlarms').filter()" value="#{alarmsBean.alarmType}">
                                    </p:inputText>
                                </f:facet>
                                <h:outputText value="#{alarm.alarmType}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" sortBy="#{alarm.trendValueFormatted}" filterBy="#{alarm.trendValueFormatted}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:commandLink id="trendGraph" value="#{alarm.trendValueFormatted} (#{userManageBean.getResourceBundleString('label_view_trend')}) " onclick="#{'displayAssetAnalysisWindow(\''.concat(alarm.index).concat('\')')}" style="width: auto">
                                    <i class="fa fa-area-chart"/>
                                </p:commandLink>
                            </p:column>

                            <p:column field="formattedSampleTimestamp" headerText="#{userManageBean.getResourceBundleString('label_timestamp')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="assetName" headerText="#{userManageBean.getResourceBundleString('label_asset')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>
                            <p:column field="pointLocationName" headerText="#{userManageBean.getResourceBundleString('label_point_location')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>


                            <p:column field="sensorType" headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" filterMatchMode="contains" style="width: 15%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="paramName" headerText="#{userManageBean.getResourceBundleString('label_param')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 90px; text-align: center" styleClass="table-column-title-right-column-border-left-border">
                                <p:commandLink id="acknowledge-alarm-button-icon" onclick="#{'acknowledge(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged and (admin or user or user_plus or superAdmins or analysts)}">
                                    <i class="pi pi-check-square" />
                                </p:commandLink>
                                <p:commandLink id="info-alarm-button-icon" onclick="#{'displayAlarmInfo(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged}">
                                    <i class="pi pi-info-circle" /> 
                                </p:commandLink>
                                <p:commandLink id="create-wo-alarm-button-icon" onclick="#{'displayWorkOrder(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged and (admin or user or user_plus or superAdmins or analysts)}">
                                    <i class="pi pi-tag" />       
                                </p:commandLink>

                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_acknowledge')}" for="acknowledge-alarm-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_info')}" for="info-alarm-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_create_workorder')}" for="create-wo-alarm-button-icon" position="left" showDelay="500"/>
                            </p:column>
                            <p:blockUI block="dt-alarms-area" trigger="acknowledge-alarm-button-icon"/>
                        </p:dataTable>

                        <!--Table to display Alarms - Asset-->
                        <p:dataTable id="dt-alarms-asset" widgetVar="dtAlarms" stripedRows="true" size="small" var="alarm" value="#{alarmsBean.alarmsVOList}" disabledSelection="#{alarm.acknowledged eq true or !(admin or user or user_plus or superAdmins or analysts)}"
                                     rowIndexVar="rowId" rowKey="#{alarm.index}" paginator="true" resizableColumns="true" selection="#{alarmsBean.selectedAlarms}" selectionPageOnly="false"
                                     rows="10" selectionMode="multiple" paginatorPosition="top" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" rowStyleClass="#{alarmsBean.setTemperatureRowStyleClass(alarm)}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     filteredValue="#{alarmsBean.filteredAlarms}" filterBy="#{alarmsBean.filterBy}"  emptyMessage="#{userManageBean.getResourceBundleString('label_no_alarms_found_with_given_criteria')}"
                                     styleClass="datatable-layout-three datatable-layout-header-filters " rendered="#{alarmsBean.areaTileList.size() eq 0 and alarmsBean.displayAssetTable}">

                            <p:ajax event="rowSelect" listener="#{alarmsBean.onRowSelect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowUnselect" listener="#{alarmsBean.onRowUnselect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowSelectCheckbox" listener="#{alarmsBean.onRowSelect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowUnselectCheckbox" listener="#{alarmsBean.onRowUnselect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="toggleSelect" listener="#{alarmsBean.dataTableSelectAllRows}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>

                            <f:facet name="header">
                                <p:outputLabel value="#{alarmsBean.getResultHeader('asset')}"/>
                            </f:facet>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_type')}" sortBy="#{alarm.alarmType}" filterBy="#{alarm.alarmType}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <h:outputText value="#{alarm.alarmType}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" sortBy="#{alarm.trendValueFormatted}" filterBy="#{alarm.trendValueFormatted}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:commandLink id="trendGraph" value="#{alarm.trendValueFormatted} (#{userManageBean.getResourceBundleString('label_view_trend')}) " onclick="#{'displayAssetAnalysisWindow(\''.concat(alarm.index).concat('\')')}" style="width: auto">
                                    <i class="fa fa-area-chart"/>
                                </p:commandLink>
                            </p:column>

                            <p:column field="formattedSampleTimestamp" headerText="#{userManageBean.getResourceBundleString('label_timestamp')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="pointLocationName" headerText="#{userManageBean.getResourceBundleString('label_point_location')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="sensorType" headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" filterMatchMode="contains" style="width: 15%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="paramName" headerText="#{userManageBean.getResourceBundleString('label_param')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 90px; text-align: center" styleClass="table-column-title-right-column-border-left-border">
                                <p:commandLink id="acknowledge-alarm-button-icon" onclick="#{'acknowledge(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged and (admin or user or user_plus or superAdmins or analysts)}">
                                    <i class="pi pi-check-square" />
                                </p:commandLink>
                                <p:commandLink id="info-alarm-button-icon" onclick="#{'displayAlarmInfo(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged}">
                                    <i class="pi pi-info-circle" /> 
                                </p:commandLink>
                                <p:commandLink id="create-wo-alarm-button-icon" onclick="#{'displayWorkOrder(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged and (admin or user or user_plus or superAdmins or analysts)}">
                                    <i class="pi pi-tag" />       
                                </p:commandLink>

                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_acknowledge')}" for="acknowledge-alarm-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_info')}" for="info-alarm-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_create_workorder')}" for="create-wo-alarm-button-icon" position="left" showDelay="500"/>
                            </p:column>
                            <p:blockUI block="dt-alarms-asset" trigger="acknowledge-alarm-button-icon"/>
                        </p:dataTable>

                        <!--Table to display Alarms - Pointlocation-->
                        <p:dataTable id="dt-alarms-pointlocation" widgetVar="dtAlarms" stripedRows="true" size="small" var="alarm" value="#{alarmsBean.alarmsVOList}" disabledSelection="#{alarm.acknowledged eq true or !(admin or user or user_plus or superAdmins or analysts)}"
                                     rowIndexVar="rowId" rowKey="#{alarm.index}" paginator="true" resizableColumns="true" selection="#{alarmsBean.selectedAlarms}" selectionPageOnly="false"
                                     rows="10" selectionMode="multiple" paginatorPosition="top" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" rowStyleClass="#{alarmsBean.setTemperatureRowStyleClass(alarm)}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     filteredValue="#{alarmsBean.filteredAlarms}" filterBy="#{alarmsBean.filterBy}"  emptyMessage="#{userManageBean.getResourceBundleString('label_no_alarms_found_with_given_criteria')}"
                                     styleClass="datatable-layout-three datatable-layout-header-filters " rendered="#{alarmsBean.areaTileList.size() eq 0 and alarmsBean.displayPLTable}">

                            <p:ajax event="rowSelect" listener="#{alarmsBean.onRowSelect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowUnselect" listener="#{alarmsBean.onRowUnselect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowSelectCheckbox" listener="#{alarmsBean.onRowSelect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowUnselectCheckbox" listener="#{alarmsBean.onRowUnselect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="toggleSelect" listener="#{alarmsBean.dataTableSelectAllRows}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>

                            <f:facet name="header">
                                <p:outputLabel value="#{alarmsBean.getResultHeader('point_location')}"/>
                            </f:facet>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_type')}" sortBy="#{alarm.alarmType}" filterBy="#{alarm.alarmType}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <h:outputText value="#{alarm.alarmType}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" sortBy="#{alarm.trendValueFormatted}" filterBy="#{alarm.trendValueFormatted}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:commandLink id="trendGraph" value="#{alarm.trendValueFormatted} (#{userManageBean.getResourceBundleString('label_view_trend')}) " onclick="#{'displayAssetAnalysisWindow(\''.concat(alarm.index).concat('\')')}" style="width: auto">
                                    <i class="fa fa-area-chart"/>
                                </p:commandLink>
                            </p:column>

                            <p:column field="formattedSampleTimestamp" headerText="#{userManageBean.getResourceBundleString('label_timestamp')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="pointName" headerText="#{userManageBean.getResourceBundleString('label_point')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="sensorType" headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" filterMatchMode="contains" style="width: 15%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="paramName" headerText="#{userManageBean.getResourceBundleString('label_param')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 90px; text-align: center" styleClass="table-column-title-right-column-border-left-border">
                                <p:commandLink id="acknowledge-alarm-button-icon" onclick="#{'acknowledge(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged and (admin or user or user_plus or superAdmins or analysts)}">
                                    <i class="pi pi-check-square" />
                                </p:commandLink>
                                <p:commandLink id="info-alarm-button-icon" onclick="#{'displayAlarmInfo(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged}">
                                    <i class="pi pi-info-circle" /> 
                                </p:commandLink>
                                <p:commandLink id="create-wo-alarm-button-icon" onclick="#{'displayWorkOrder(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged and (admin or user or user_plus or superAdmins or analysts)}">
                                    <i class="pi pi-tag" />       
                                </p:commandLink>

                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_acknowledge')}" for="acknowledge-alarm-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_info')}" for="info-alarm-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_create_workorder')}" for="create-wo-alarm-button-icon" position="left" showDelay="500"/>
                            </p:column>
                            <p:blockUI block="dt-alarms-pointlocation" trigger="acknowledge-alarm-button-icon"/>
                        </p:dataTable>

                        <!--Table to display Alarms - Point-->
                        <p:dataTable id="dt-alarms-point" widgetVar="dtAlarms" stripedRows="true" size="small" var="alarm" value="#{alarmsBean.alarmsVOList}" disabledSelection="#{alarm.acknowledged eq true or !(admin or user or user_plus or superAdmins or analysts)}"
                                     rowIndexVar="rowId" rowKey="#{alarm.index}" paginator="true" resizableColumns="true" selection="#{alarmsBean.selectedAlarms}" selectionPageOnly="false"
                                     rows="10" selectionMode="multiple" paginatorPosition="top" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" rowStyleClass="#{alarmsBean.setTemperatureRowStyleClass(alarm)}"  
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     filteredValue="#{alarmsBean.filteredAlarms}" filterBy="#{alarmsBean.filterBy}"  emptyMessage="#{userManageBean.getResourceBundleString('label_no_alarms_found_with_given_criteria')}"
                                     styleClass="datatable-layout-three datatable-layout-header-filters " rendered="#{alarmsBean.areaTileList.size() eq 0 and alarmsBean.displayPointTable}">

                            <p:ajax event="rowSelect" listener="#{alarmsBean.onRowSelect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowUnselect" listener="#{alarmsBean.onRowUnselect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowSelectCheckbox" listener="#{alarmsBean.onRowSelect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="rowUnselectCheckbox" listener="#{alarmsBean.onRowUnselect}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>
                            <p:ajax event="toggleSelect" listener="#{alarmsBean.dataTableSelectAllRows}" update=":alarm-form:delete-alarm-button :alarm-form:acknowledge-alarm-button"/>

                            <f:facet name="header">
                                <p:outputLabel value="#{alarmsBean.getResultHeader('point')}"/>
                            </f:facet>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_type')}" sortBy="#{alarm.alarmType}" filterBy="#{alarm.alarmType}"  filterMatchMode="contains" style="width: 20%" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <h:outputText value="#{alarm.alarmType}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" sortBy="#{alarm.trendValueFormatted}" filterBy="#{alarm.trendValueFormatted}"  filterMatchMode="contains" style="width: 20%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:commandLink id="trendGraph" value="#{alarm.trendValueFormatted} (#{userManageBean.getResourceBundleString('label_view_trend')}) " onclick="#{'displayAssetAnalysisWindow(\''.concat(alarm.index).concat('\')')}" style="width: auto">
                                    <i class="fa fa-area-chart"/>
                                </p:commandLink>
                            </p:column>

                            <p:column field="formattedSampleTimestamp" headerText="#{userManageBean.getResourceBundleString('label_timestamp')}"  filterMatchMode="contains" style="width: 17%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="sensorType" headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" filterMatchMode="contains" style="width: 20%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column field="paramName" headerText="#{userManageBean.getResourceBundleString('label_param')}"  filterMatchMode="contains" style="width: 20%" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 90px; text-align: center" styleClass="table-column-title-right-column-border-left-border">
                                <p:commandLink id="acknowledge-alarm-button-icon" onclick="#{'acknowledge(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged and (admin or user or user_plus or superAdmins or analysts)}">
                                    <i class="pi pi-check-square" />
                                </p:commandLink>
                                <p:commandLink id="info-alarm-button-icon" onclick="#{'displayAlarmInfo(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged}">
                                    <i class="pi pi-info-circle" /> 
                                </p:commandLink>
                                <p:commandLink id="create-wo-alarm-button-icon" onclick="#{'displayWorkOrder(\''.concat(alarm.index).concat('\')')}" rendered="#{!alarm.acknowledged and (admin or user or user_plus or superAdmins or analysts)}">
                                    <i class="pi pi-tag" />       
                                </p:commandLink>

                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_acknowledge')}" for="acknowledge-alarm-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_info')}" for="info-alarm-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_create_workorder')}" for="create-wo-alarm-button-icon" position="left" showDelay="500"/>
                            </p:column>

                            <p:blockUI block="dt-alarms-point" trigger="acknowledge-alarm-button-icon"/>
                        </p:dataTable>

                    </h:form>      
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>
