<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_7')}</ui:define> 

    <ui:define name="content">
        
        <h:form id="assetAnalysisHiddenForm">
                <h:inputHidden id="xLabel" value="#{assetAnalysisBean.xLabel}" />
                <h:inputHidden id="yLabel" value="#{assetAnalysisBean.yLabel}" />
                <h:inputHidden id="dataJson" value="#{assetAnalysisBean.customDataJson}" />
            <p:commandButton id="hiddenButton1" action="#{assetAnalysisBean.viewTrendGraph()}" styleClass="hide-component" update="" oncomplete=""/>
        </h:form>
        
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-asset-analysis">
                    <p:panel id="assetAnalysisPanelId">
                        <p:panelGrid id="assetAnalysisPanelGridId" rendered="#{assetAnalysisBean.assertInfo}" styleClass="panelgrid-layout-one">
                            <p:row>
                                <p:column styleClass="right-padding"> 
                                    <p:panelGrid id="assetAnalysisLeftPanelGridId" styleClass="panelgrid-layout-one">
                                        <p:row>
                                            <p:column> 
                                                <p:panel id="assetInfoPanelId" header="#{assetAnalysisBean.selectedFilters.asset.label}" styleClass="panel-layout-one">
                                                    <p:panelGrid styleClass="panelgrid-layout-one">
                                                        <p:row>
                                                            <p:column>
                                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_area')}:" styleClass="right-margin"/>
                                                            </p:column>
                                                            <p:column>
                                                                <p:outputLabel value="#{assetAnalysisBean.selectedFilters.area.label}"/>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column>
                                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_asset_Type')}:" styleClass="right-margin"/>
                                                            </p:column>
                                                            <p:column>
                                                                <p:outputLabel value="#{assetAnalysisBean.assetType}"/>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column>
                                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_number_of_points')}:" styleClass="right-margin"/>
                                                            </p:column>
                                                            <p:column>
                                                                <p:outputLabel value="#{assetAnalysisBean.pointCount}"/>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column>
                                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_points_in_alarm')}:" styleClass="right-margin"/>
                                                            </p:column>
                                                            <p:column>
                                                                <p:outputLabel value="#{assetAnalysisBean.alarmCount}/#{assetAnalysisBean.pointCount} (#{assetAnalysisBean.activeAlarmsPercentage}%)"/>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column>
                                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('open_work_orders_label')}:" styleClass="right-margin"/>
                                                            </p:column>
                                                            <p:column>
                                                               <p:outputLabel value="#{assetAnalysisBean.workOrderCount == 0 ? 'None' : assetAnalysisBean.workOrderCount}"/>
                                                            </p:column>
                                                        </p:row>
                                                    </p:panelGrid>
                                                </p:panel>
                                            </p:column> 
                                        </p:row>
                                        <p:row rendered="false">
                                            <p:column> 
                                                <h:form id="assetAnalysisFormId">
                                                    <p:panelGrid styleClass="panelgrid-layout-one">
                                                        <p:row>
                                                            <p:column styleClass="right-padding">
                                                                <p:commandButton id="alarmHistoryBtnId" value="#{userManageBean.getResourceBundleString('label_alarm_history')}" action="#{assetAnalysisBean}"/>
                                                            </p:column>
                                                            <p:column styleClass="left-padding">
                                                                <p:commandButton id="assetHistoryBtnId" value="#{userManageBean.getResourceBundleString('label_asset_history')}" action="#{assetAnalysisBean}"/>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column styleClass="right-padding">
                                                                <p:commandButton id="enableAlarmsBtnId" value="#{userManageBean.getResourceBundleString('label_enable_alarms')}" action="#{assetAnalysisBean}"/>
                                                            </p:column>
                                                            <p:column styleClass="left-padding">
                                                                <p:commandButton id="DisableAlarmsBtnId" value="#{userManageBean.getResourceBundleString('label_disable_alarms')}" action="#{assetAnalysisBean}"/>
                                                            </p:column>
                                                        </p:row>
                                                        <p:row>
                                                            <p:column styleClass="right-padding">
                                                                <p:commandButton id="WorkOrderHistoryBtnId" value="#{userManageBean.getResourceBundleString('label_workorder_history')}" action="#{assetAnalysisBean}"/>
                                                            </p:column>
                                                            <p:column styleClass="left-padding">
                                                                <p:commandButton id="CreateWorkOrderBtnId" value="#{userManageBean.getResourceBundleString('label_create_workorder')}" action="#{assetAnalysisBean}"/>
                                                            </p:column>
                                                        </p:row>
                                                    </p:panelGrid>
                                                </h:form>
                                            </p:column> 
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                            <!--    <p:column styleClass="left-padding">
                                    <div id="container" class="highcharts-heatmap default-border"/> 
                                </p:column>   -->
                            </p:row>
                        </p:panelGrid>
                    </p:panel>
                </div>
            </div>
        </div>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('#expandBtnId').click();
            }); 
            
            function viewTrendGraph(data, xLabel, yLabel) {
                console.log('Custom Data - ' + JSON.stringify(data));  
                console.log('xLabel -' + xLabel);
                console.log('yLabel -' + yLabel);
                
                $('#assetAnalysisHiddenForm\\:xLabel').val(xLabel);
                $('#assetAnalysisHiddenForm\\:yLabel').val(yLabel);
                $('#assetAnalysisHiddenForm\\:dataJson').val(JSON.stringify(data));
            //    $('#assetAnalysisHiddenForm\\:hiddenButton1').click();
            }  
            
            
            
        </script>   

        <p:outputLabel id="heatMapArea" styleClass="hide-component">
            <script type="text/javascript">
                Highcharts.chart("container", #{assetAnalysisBean.heatMapJson});
            </script>
        </p:outputLabel> 
    </ui:define>
</ui:composition>   
