<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_4')}</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-configuration-filter">
                    <h:form id="configurationFilterFormId">
                        <p:panel styleClass="layout-configuration-filter-panel">
                            <p:outputLabel for="configurationFilterRegionId" value="#{userManageBean.getResourceBundleString('label_region')}:" styleClass="block-label" />
                            <p:autoComplete id="configurationFilterRegionId" value="#{configurationBean.selectedFilters.region}" scrollHeight="500" forceSelection="true"
                                            completeMethod="#{configurationBean.queryRegionList}" queryDelay="100" cache="true" disabled="#{configurationBean.regionListCheck()}">
                                <p:ajax event="itemSelect" listener="#{configurationBean.onRegionChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-configuration-filter-panel">
                            <p:outputLabel for="configurationFilterCountryId" value="#{userManageBean.getResourceBundleString('label_country')}:" styleClass="block-label"/>
                            <p:autoComplete id="configurationFilterCountryId" value="#{configurationBean.selectedFilters.country}" scrollHeight="500" forceSelection="true"
                                            completeMethod="#{configurationBean.queryCountryList}" queryDelay="100" cache="true" disabled="#{configurationBean.countryListCheck()}">
                                <p:ajax event="itemSelect" listener="#{configurationBean.onCountryChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-configuration-filter-panel">
                            <p:outputLabel for="configurationFilterSiteId" value="#{userManageBean.getResourceBundleString('label_site')}:" styleClass="block-label"/>
                            <p:autoComplete id="configurationFilterSiteId" value="#{configurationBean.selectedFilters.site}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{configurationBean.querySiteNameList}" queryDelay="100" cache="true" disabled="#{configurationBean.siteListCheck()}">
                                <p:ajax event="itemSelect" listener="#{configurationBean.onSiteChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-configuration-filter-panel">
                            <p:outputLabel for="configurationFilterAreaId" value="#{userManageBean.getResourceBundleString('label_area')}:" styleClass="block-label"/>
                            <p:autoComplete id="configurationFilterAreaId" value="#{configurationBean.selectedFilters.area}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{configurationBean.queryAreaNameList}" queryDelay="100" cache="true" disabled="#{configurationBean.areaListCheck()}">
                                <p:ajax event="itemSelect" listener="#{configurationBean.onAreaChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-configuration-filter-panel">
                            <p:outputLabel for="configurationFilterAssetId" value="#{userManageBean.getResourceBundleString('label_asset')}:" styleClass="block-label"/>
                            <p:autoComplete id="configurationFilterAssetId" value="#{configurationBean.selectedFilters.asset}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{configurationBean.queryAssetNameList}" queryDelay="100" cache="true" disabled="#{configurationBean.assetListCheck()}">
                                <p:ajax event="itemSelect" listener="#{configurationBean.onAssetChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-configuration-filter-panel">
                            <p:outputLabel for="configurationFilterPointLocationId" value="#{userManageBean.getResourceBundleString('label_point_location')}:" styleClass="block-label"/>
                            <p:autoComplete id="configurationFilterPointLocationId" value="#{configurationBean.selectedFilters.pointLocation}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{configurationBean.queryPointLocationList}" queryDelay="100" cache="true" disabled="#{configurationBean.pointLocationListCheck()}">
                                <p:ajax event="itemSelect" listener="#{configurationBean.onPointLocationChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-configuration-filter-panel">
                            <p:outputLabel for="configurationFilterPointId" value="#{userManageBean.getResourceBundleString('label_point')}:" styleClass="block-label"/>
                            <p:autoComplete id="configurationFilterPointId" value="#{configurationBean.selectedFilters.point}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{configurationBean.queryPointList}" queryDelay="100" cache="true" disabled="#{configurationBean.pointListCheck()}">
                                <p:ajax event="itemSelect" listener="#{configurationBean.onPointChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-configuration-content">
                    <h:form id="configurationResultFormId">
                        <p:panel id="selectedAssetPanelId" header="#{userManageBean.getResourceBundleString('label_asset')}" styleClass="panel-layout-one layout-configuration-content-selected" rendered="#{configurationBean.selectedAsset ne null}">
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_asset_name')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{configurationBean.selectedAsset.assetName}"  disabled="true"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_asset_type')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{configurationBean.selectedAsset.assetType}"  disabled="true" styleClass="#{empty configurationBean.selectedAsset.assetType ? 'ui-state-error' : ''}" />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{configurationBean.selectedAsset.description}"  disabled="true"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{configurationBean.selectedAsset.sampleInterval}" disabled="true" />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel id="configurationAssetEditControlPanelId">
                                <p:commandButton value="#{userManageBean.getResourceBundleString('label_edit')}" action="#{configurationBean.updateItem(configurationBean.selectedAsset)}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or configurator or user_plus or superAdmins or siteBuilders}"/>
                            </p:panel>
                        </p:panel>

                        <p:panel id="selectedPointLocationPanelId" header="#{userManageBean.getResourceBundleString('label_point_location')}" styleClass="panel-layout-one layout-configuration-content-selected" rendered="#{configurationBean.selectedPointLocation ne null}">
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_description')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{configurationBean.selectedPointLocation.description}" disabled="true" />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{configurationBean.selectedPointLocation.tachName}" disabled="true" />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel  styleClass="layout-configuration-content-inline-panel" rendered="#{configurationBean.selectedPointLocation.tachId ne null and configurationBean.selectedPointLocation.tachReferenceUnits ne null and configurationBean.selectedPointLocation.tachReferenceUnits eq 'RPM'}">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_speedRatio')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">    
                                            <p:inputNumber decimalPlaces="4" value="#{configurationBean.selectedPointLocation.speedRatio}" disabled="true" >
                                                <f:validateDoubleRange minimum="0.0001" />
                                            </p:inputNumber>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel" rendered="#{configurationBean.selectedPointLocation.tachId ne null and configurationBean.selectedPointLocation.tachReferenceUnits ne null and configurationBean.selectedPointLocation.tachReferenceUnits eq 'FPM'}">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputNumber decimalPlaces="4" value="#{configurationBean.selectedPointLocation.rollDiameter}" disabled="true">
                                                <f:validateDoubleRange minimum="0.0001" />
                                            </p:inputNumber>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel" rendered="#{configurationBean.selectedPointLocation.tachId ne null and configurationBean.selectedPointLocation.tachReferenceUnits ne null and configurationBean.selectedPointLocation.tachReferenceUnits eq 'FPM'}">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{configurationBean.selectedPointLocation.rollDiameterUnits}" disabled="true" />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_deviceSerialNumber')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{configurationBean.selectedPointLocation.deviceSerialNumber}" disabled="true" />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:selectCheckboxMenu value="#{configurationBean.selectedPointLocation.ffSetName}"  label="#{userManageBean.getResourceBundleString('application_none')}" styleClass="min-width-one" filter="true" filterMatchMode="contains"  multiple="true" disabled="true">
                                                <f:selectItems value="#{configurationBean.faultFrequenciesList}" var="ffList"  itemValue="#{ffList.value}" itemLabel="#{ffList.label}"/>
                                            </p:selectCheckboxMenu>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_pointlocations_base_station_port')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputNumber id="basestationPortNum" minValue="0" thousandSeparator="" value="#{configurationBean.selectedPointLocation.basestationPortNum}" rendered="#{configurationBean.selectedPointLocation.deviceSerialNumber.startsWith('001', 0) or configurationBean.selectedPointLocation.deviceSerialNumber == null}" disabled="true" />
                                            <p:inputNumber id="editBasestationPortNum" minValue="0" thousandSeparator="" value="#{configurationBean.selectedPointLocation.basestationPortNum}" rendered="#{configurationBean.selectedPointLocation.deviceSerialNumber.startsWith('BB', 0) or configurationBean.selectedPointLocation.deviceSerialNumber.startsWith('BA', 0)}" disabled="true" >
                                                <f:validateLongRange minimum="1" maximum="9999"/>
                                            </p:inputNumber>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sample_interval')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputNumber id="plSampleInterval" value="#{configurationBean.selectedPointLocation.sampleInterval}" rendered="#{configurationBean.selectedPointLocation.deviceSerialNumber.startsWith('001', 0) or configurationBean.selectedPointLocation.deviceSerialNumber == null}" disabled="true" />
                                            <p:inputText id="editPLSampleInterval" value="#{configurationBean.selectedPointLocation.sampleInterval}" rendered="#{configurationBean.selectedPointLocation.deviceSerialNumber.startsWith('BB', 0) or configurationBean.selectedPointLocation.deviceSerialNumber.startsWith('BA', 0)}" disabled="true">
                                                <f:validateLongRange minimum="1" maximum="1440" />
                                            </p:inputText>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                            <p:panel id="configurationPointLocationEditControlPanelId">
                                <p:commandButton value="#{userManageBean.getResourceBundleString('label_edit')}" action="#{configurationBean.updateItem(configurationBean.selectedPointLocation)}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders}"/>
                            </p:panel>
                        </p:panel>

                        <p:panel id="selectedPointVOPanelId" header="#{userManageBean.getResourceBundleString('label_point')}" styleClass="panel-layout-one layout-configuration-content-selected" rendered="#{configurationBean.selectedPointVO ne null}">
                            <p:panel styleClass="layout-configuration-content-inline-panel"> 
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_pointName')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText id="tmpointNameId" value="#{editPointBean.pointVO.pointName}" required="true" requiredMessage="#{userManageBean.getResourceBundleString('message_point_name_required')}"
                                                         validatorMessage="#{userManageBean.getResourceBundleString('alert_valid_char')}" styleClass="min-width-one" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                                <f:validateRegex pattern="^[^-\s][a-zA-Z0-9_\s-/,.#%=()\[\]:;]+$" />
                                                <p:ajax listener="#{editPointBean.updateBean()}" update="@this configurationResultFormId:updatePointAssetSubmitBtnId1" oncomplete="hideTooltips()"/>  
                                            </p:inputText>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid> 
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorType')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText value="#{editPointBean.pointVO.sensorType}" disabled="true" styleClass="min-width-one"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid> 
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_pointType')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:selectOneButton value="#{editPointBean.pointVO.pointType}" disabled="true" styleClass="min-width-one">
                                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_waveform')}" itemValue="AC"/>
                                                <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_single_measurement')}" itemValue="DC"/>
                                            </p:selectOneButton>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid> 
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorUnits')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText  value="#{editPointBean.pointVO.sensorUnits}" styleClass="min-width-one" disabled="true"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid> 
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorChannelNum')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText  value="#{editPointBean.pointVO.sensorChannelNum}" styleClass="min-width-one" disabled="true"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid> 
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorOffset')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText  value="#{editPointBean.pointVO.sensorOffset}" styleClass="min-width-one" disabled="true"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid> 
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_sensorSensitivity')}:"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputText  value="#{editPointBean.pointVO.sensorSensitivity}" styleClass="min-width-one" disabled="true"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid> 
                            </p:panel>
                            <p:panel styleClass="layout-configuration-content-inline-panel">
                                <p:panelGrid>
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}"/>
                                        </p:column>
                                        <p:column styleClass="width-321">
                                            <p:inputSwitch value="#{editPointBean.pointVO.alarmEnabled}" onLabel="yes" offLabel="no" disabled="#{!(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders)}">
                                                <p:ajax listener="#{editPointBean.updateBean()}" update="@this configurationResultFormId:updatePointAssetSubmitBtnId1" oncomplete="hideTooltips()"/>
                                            </p:inputSwitch>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid> 
                            </p:panel>

                            <p:panel id="analysisParmPnl" header="#{userManageBean.getResourceBundleString('label_analysisParameters')}" styleClass="panel-layout-one layout-configuration-content-selected">
                                <p:panel styleClass="layout-configuration-content-inline-panel">
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_apSetName')}:"/>
                                            </p:column>
                                            <p:column styleClass="width-321">
                                                <p:selectOneMenu id="cpApSetId" value="#{editPointBean.pointVO.apSetId}" converter="uuidConverter" disabled="#{editPointBean.pointVO.sensorType  eq null or editPointBean.pointVO.sensorType eq ''}" styleClass="min-width-one">
                                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                                    <f:selectItems value="#{editPointBean.apSetList}" var="apSet"  itemValue="#{apSet.value}" itemLabel="#{apSet.label}"/> 
                                                    <p:ajax event="itemSelect" listener="#{editPointBean.onApSetNameSelect()}" update="@form" oncomplete="hideTooltips()"/>
                                                </p:selectOneMenu>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid> 
                                </p:panel>
                                <p:panel styleClass="layout-configuration-content-inline-panel">
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                                            </p:column>
                                            <p:column styleClass="width-321">
                                                <p:selectOneMenu id="alSetGt1" value="#{editPointBean.pointVO.alSetId}" converter="uuidConverter" disabled="#{editPointBean.pointVO.apSetId eq null or editPointBean.tachValidationFailed}" styleClass="min-width-one">
                                                    <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" noSelectionOption="true"  itemDisabled="true" />
                                                    <f:selectItems value="#{editPointBean.alSetList}" var="alSet" itemValue="#{alSet.value}" itemLabel="#{alSet.label}"/>
                                                    <p:ajax listener="#{editPointBean.onAlSetNameSelect()}" update="@form" oncomplete="hideTooltips()"/>
                                                </p:selectOneMenu>
                                                <p:message for="alSetGt1"><p:autoUpdate/></p:message>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid> 
                                </p:panel>
                                <p:panel styleClass="layout-configuration-content-inline-panel">
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column>
                                                <p:commandButton id="addApSetIdBtn" value="#{userManageBean.getResourceBundleString('btn_add_ap_set')}" styleClass="left-btn" disabled="#{!editPointBean.addApalSetToPoint}" actionListener="#{editPointBean.addApAlset()}" ajax="true" update="@form" oncomplete="hideTooltips()"/>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid> 
                                </p:panel>
                                <p:panel id="disclaimerPanelId" rendered="#{editPointBean.tachValidationFailed}">
                                    <p:outputLabel  id="disclaimerId" value="#{userManageBean.getResourceBundleString('label_tach_validation_message')}" styleClass="disclaimer-test-color"/>
                                </p:panel>

                                <p:dataTable rendered="#{editPointBean.displayApAlsets ne null and !editPointBean.displayApAlsets.isEmpty()}" id="customerApSetVO" var="apAlSetVO" rowKey="#{apAlSetVO.apSetId}" disabledSelection="#{editPointBean.renderAlertMsg}"
                                             selection="#{editPointBean.selectedApAlSetVO}"  value="#{editPointBean.displayApAlsets}" rowIndexVar="rowId" styleClass="datatable-layout-two modified"   paginatorTemplate="{CurrentPageReport}  
                                             {FirstPageLink} {PreviousPageLink}  {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" >
                                    <p:ajax event="rowSelectRadio" listener="#{editPointBean.activateApAlSetVO}" update="@form" oncomplete="hideTooltips()"/>
                                    <p:ajax event="rowSelect" listener="#{editPointBean.activateApAlSetVO}" update="@form" oncomplete="hideTooltips()"/>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" selectionMode="single" styleClass="text-align-center table-column-title-left-column-border-right-border"/>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" sortBy="#{apAlSetVO.apSetName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <h:outputText value="#{apAlSetVO.apSetName}"/>
                                    </p:column>
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_alSetName')}" sortBy="#{apAlSetVO.alSetName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <h:outputText value="#{apAlSetVO.alSetName}"/>
                                    </p:column>
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_fmax')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <h:outputText value="#{editPointBean.pointVO.pointType eq 'DC' ? apAlSetVO.fmax eq '0' ? '' : apAlSetVO.fmax : apAlSetVO.fmax}"/>
                                    </p:column>
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_resolution')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <h:outputText value="#{editPointBean.pointVO.pointType eq 'DC' ? apAlSetVO.resolution eq '0' ? '' : apAlSetVO.resolution : apAlSetVO.resolution}"/>
                                    </p:column>
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                        <p:commandLink id="deleteApSet" actionListener="#{editPointBean.removeApAlset(apAlSetVO)}" ajax="true" rendered="#{!apAlSetVO.readOnly}" update="@form" oncomplete="hideTooltips()">
                                            <i class="pi pi-trash"/>
                                            <p:tooltip for="deleteApSet" value="#{userManageBean.getResourceBundleString('point_remove_ap_al_set_tool_tip')}" position="left" showDelay="500"/>
                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                            </p:panel>

                            <p:panel id="customLimitsPnl" header="#{userManageBean.getResourceBundleString('label_customLimits')}" styleClass="panel-layout-one layout-configuration-content-selected">
                                <p:panel styleClass="layout-configuration-content-inline-panel">
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_useCustomLimits')}:"/>
                                            </p:column>
                                            <p:column styleClass="width-321">
                                                <p:inputSwitch  value="#{editPointBean.pointVO.customized}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                                    <p:ajax listener="#{editPointBean.onCustomLimitsAlSetNameSelect()}" update="@form" oncomplete="hideTooltips()"/>
                                                </p:inputSwitch>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid> 
                                </p:panel>

                                <p:panel id="msgPanel">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alarm_limits_info')}" rendered="#{(editPointBean.pointVO.customized and editPointBean.renderAlertMsg )}" styleClass="error-outputlabel"/>
                                </p:panel>

                                <p:dataTable  rendered="#{editPointBean.pointVO.customized}" id="customDatatableId" var="apAlSetVO" rowIndexVar="rowId" value="#{editPointBean.selectedSiteApAlSetsVOList}" styleClass="datatable-layout-one modified">
                                    <p:columnGroup type="header">
                                        <p:row>
                                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_param_name')}" style="width: 19%" styleClass="table-column-title-left-column-border-right-border"/>
                                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_units')}" style="width: 6%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_amp_factor')}" style="width: 8%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                            <p:column colspan="1" rowspan="2" headerText="#{userManageBean.getResourceBundleString('label_dwell')}" style="width: 11%" styleClass="table-column-title-center-column-border-horizontal-border"/>
                                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowFault')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_lowAlert')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highAlert')}" style="width: 14%" styleClass="table-column-title-center-just-top-border"/>
                                            <p:column colspan="2" headerText="#{userManageBean.getResourceBundleString('label_highFault')}" style="width: 14%" styleClass="table-column-title-right-just-top-right-border"/>
                                        </p:row>
                                        <p:row>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-center-just-bottom-border"/>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_active')}" styleClass="table-column-title-center-just-bottom-border"/>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_value')}" styleClass="table-column-title-right-just-bottom-right-border"/>
                                        </p:row>
                                    </p:columnGroup>
                                    <p:column>
                                        <p:inputText id="paramNameId" value="#{apAlSetVO.paramName}" disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one" />
                                    </p:column> 
                                    <p:column>
                                        <p:inputText id="paramUnitsId" value="#{apAlSetVO.paramUnits}"  disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one" />
                                    </p:column>  
                                    <p:column>
                                        <p:inputText id="paramAmpFactorId" value="#{apAlSetVO.paramAmpFactor}"  disabled="#{true or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" styleClass="min-width-one" />
                                    </p:column>   
                                    <p:column>    
                                        <p:selectOneMenu id="dwellId" value="#{apAlSetVO.dwell}" styleClass="min-width-one" style="width: 100% !important" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders)}">
                                            <f:selectItems value="#{editPointBean.getDwellList()}"/>
                                            <p:ajax listener="#{editPointBean.updateBean()}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:selectOneMenu>
                                    </p:column> 
                                    <p:column>
                                        <p:inputSwitch id="lowFaultActiveId" value="#{apAlSetVO.lowFaultActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders) }">
                                            <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:inputSwitch>
                                    </p:column>
                                    <p:column>
                                        <p:inputNumber id="lowFaultId" value="#{apAlSetVO.lowFault}" styleClass="#{(apAlSetVO.lowFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.lowFaultActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99996.999">
                                            <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:inputNumber>
                                    </p:column>
                                    <p:column>
                                        <p:inputSwitch id="lowAlertActiveId" value="#{apAlSetVO.lowAlertActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders) }">
                                            <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:inputSwitch>
                                    </p:column>
                                    <p:column>
                                        <p:inputNumber id="lowAlertId" value="#{apAlSetVO.lowAlert}" styleClass="#{(apAlSetVO.lowAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.lowAlertActive or !(admin or configurator or user_plus or superAdmins or siteBuilders)}" minValue="0" maxValue="99997.999">
                                            <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:inputNumber>
                                    </p:column>
                                    <p:column>
                                        <p:inputSwitch id="highAlertActiveId" value="#{apAlSetVO.highAlertActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders) }">
                                            <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:inputSwitch>
                                    </p:column>
                                    <p:column>
                                        <p:inputNumber id="highAlertId" value="#{apAlSetVO.highAlert}" styleClass="#{(apAlSetVO.highAlertFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.highAlertActive or !(admin or configurator or user_plus or superAdmins or siteBuilders) }" minValue="0" maxValue="99998.999">
                                            <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:inputNumber>
                                    </p:column>
                                    <p:column>
                                        <p:inputSwitch id="highFaultActiveId" value="#{apAlSetVO.highFaultActive}" onLabel="yes" offLabel="no" disabled="#{!(admin or configurator or user_plus or superAdmins or siteBuilders) }">
                                            <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:inputSwitch>
                                    </p:column>
                                    <p:column>
                                        <p:inputNumber id="highFaultId" value="#{apAlSetVO.highFault}" styleClass="#{(apAlSetVO.highFaultFailure) ? 'min-width-one ui-state-error' : 'min-width-one'}" modifyValueOnWheel="false" decimalPlaces="3" disabled="#{!apAlSetVO.highFaultActive or !(admin or configurator or user_plus or superAdmins or siteBuilders) }" minValue="0" maxValue="99999.999">
                                            <p:ajax listener="#{editPointBean.alarmLimitValidation(apAlSetVO, rowId)}" update="@form" oncomplete="hideTooltips()"/>
                                        </p:inputNumber>
                                    </p:column>  
                                </p:dataTable>
                            </p:panel>

                            <div class="center-btn-div" >
                                <p:commandButton id="updatePointAssetSubmitBtnId1" value="#{userManageBean.getResourceBundleString('btn_save')}" action="#{editPointBean.updatePoint(false)}" update="nonAutoGrowlId" rendered="#{admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders}" disabled="#{editPointBean.renderAlertMsg or !editPointBean.editPoint}" />
                            </div>
                        </p:panel>

                        <p:panel styleClass="layout-configuration-content-control" id="configBtnId">
                            <p:row>
                                <p:column>
                                    <p:commandButton value="#{configurationBean.createBtnValue}" action="#{configurationBean.createItem()}" rendered="#{configurationBean.renderCreateBtn and (admin or configurator or user_plus or superAdmins or siteBuilders)}"/>
                                </p:column>
                                <p:column>
                                    <p:commandButton value="#{configurationBean.createBtn2Value}" action="#{configurationBean.launchInstallDeviceOverlay()}" oncomplete="PF('defaultDlg').show()" disabled="#{configurationBean.selectedPointLocation.deviceSerialNumber ne null and configurationBean.selectedPointLocation.deviceSerialNumber.length() gt 0}" rendered="#{configurationBean.renderCreateBtn2 and (admin or configurator or user_plus or superAdmins or siteBuilders)}"/>
                                </p:column>
                                <p:column>
                                    <p:commandButton value="#{configurationBean.createBtn3Value}" action="#{configurationBean.launchReplaceDeviceOverlay()}" oncomplete="PF('defaultDlg').show()" disabled="#{configurationBean.selectedPointLocation.deviceSerialNumber eq null or configurationBean.selectedPointLocation.deviceSerialNumber.length() eq 0}" rendered="#{configurationBean.renderCreateBtn2 and (admin or configurator or user_plus or superAdmins or siteBuilders)}"/>
                                </p:column>
                                <p:column>
                                    <p:commandButton value="#{userManageBean.getResourceBundleString('btn_modify_alarm_status')}" action="#{configurationBean.launchModifyAlarmStatusOverlay()}" oncomplete="PF('defaultDlg').show()" rendered="#{(configurationBean.selectedAsset ne null or configurationBean.selectedPointLocation ne null) and (admin or configurator or user_plus or superAdmins or siteBuilders)}" />
                                </p:column>
                                <p:column>
                                    <p:commandButton styleClass="right-align" value="#{userManageBean.getResourceBundleString('label_import_configuration')}" action="#{configurationBean.launchImportConfigOverlay()}" oncomplete="PF('defaultDlg').show()" rendered="#{configurationBean.selectedFilters.site ne null and  configurationBean.selectedFilters.area eq null and (configurator or superAdmins)}" update="@this" ajax="true"/> <!--  and (configurator or superAdmins)-->
                                </p:column>
                            </p:row>
                        </p:panel>

                        <p:dataTable id="siteDataTableId" var="site" value="#{configurationBean.siteVOList}" rowKey="#{site.siteName}" rendered="#{configurationBean.siteVOList.size() gt 0}" paginator="true" rows="25" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two" rowIndexVar="row"  paginatorPosition="top">
                            <f:facet name="header">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_site')}"/>
                            </f:facet>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_site')}" sortBy="#{site.siteName}" style="width: 20%;" styleClass="table-column-title-left-column-border-right-border">
                                <p:commandLink value="#{site.siteName}" action="#{configurationBean.updateSelection('site', site.siteName, site.siteId, null, null)}" oncomplete="updateTreeNodes()" styleClass="non-actions"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createsite_label_city')}" sortBy="#{site.physicalCity}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{site.physicalCity}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createsite_label_state_prov')}" sortBy="#{site.physicalStateProvince}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{site.physicalStateProvince}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createsite_label_industry')}" sortBy="#{site.industry}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{site.industry}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createsite_label_timezone')}" sortBy="#{site.timezone}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{site.timezone}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{superAdmins or siteBuilders}" styleClass="table-column-title-right-column-border-left-border">
                                <h:outputText id="sitePk" value="#{site.siteId}" style="display:none"/>
                                <p:commandLink id="siteEditId" action="#{configurationBean.updateItem(site)}" oncomplete="PF('defaultDlg').show()" styleClass="actions">
                                    <i class="fa fa-pencil-square-o" />
                                </p:commandLink>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="siteEditId" position="left" showDelay="500"/> 
                            </p:column>
                        </p:dataTable>

                        <p:dataTable id="areaDataTableId" var="area" value="#{configurationBean.areaVOList}" rowKey="#{area.areaName}" rendered="#{configurationBean.areaVOList.size() gt 0}" paginator="true" rows="25" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two" rowIndexVar="row" paginatorPosition="top">
                            <f:facet name="header">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_area')}"/>
                            </f:facet>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_area')}" sortBy="#{area.areaName}" style="width: 20%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <p:commandLink value="#{area.areaName}" action="#{configurationBean.updateSelection('area', area.areaName, area.areaId, null, null)}" oncomplete="updateTreeNodes()" styleClass="non-actions"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_description')}" style="width: 60%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{area.description == null ? '' : area.description.equals('null') ? '' : area.description}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_environment')}" sortBy="#{area.environment}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{area.environment}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_climate_controlled')}" sortBy="#{area.climateControlled}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{area.climateControlledValue}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{admin or configurator or user_plus or superAdmins or siteBuilders}" styleClass="table-column-title-right-column-border-left-border">
                                <h:outputText id="areaPk" value="#{area.siteId},#{area.areaId}" style="display:none"/>
                                <p:commandLink id="areaEditId" action="#{configurationBean.updateItem(area)}" oncomplete="PF('defaultDlg').show()" styleClass="actions">
                                    <i class="fa fa-pencil-square-o" />
                                </p:commandLink>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="areaEditId" position="left" showDelay="500"/> 
                            </p:column>
                        </p:dataTable>

                        <p:dataTable id="assetDataTableId" var="asset" value="#{configurationBean.assetVOList}" rowKey="#{asset.assetId}" rendered="#{configurationBean.assetVOList.size() gt 0}" paginator="true" rows="25" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two" rowIndexVar="row" paginatorPosition="top">
                            <f:facet name="header">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_asset')}"/>
                            </f:facet>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_asset')}" sortBy="#{asset.assetName}" style="width: 30%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <p:commandLink value="#{asset.assetName}" action="#{configurationBean.updateSelection('asset', asset.assetName, asset.assetId, null, null)}" oncomplete="updateTreeNodes()" styleClass="non-actions"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_description')}" style="width: 40%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{asset.description}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_asset_type')}" sortBy="#{asset.assetType}" style="width: 30%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{asset.assetType}"/>
                            </p:column>

                            <p:column style="width: 30%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <f:facet name="header">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sample_interval')}"/>
                                    <p:outputLabel id="sampleIntervalTooltipId">
                                        <i class="pi pi-info-circle" />
                                    </p:outputLabel>
                                    <p:tooltip value="#{userManageBean.getResourceBundleString('msg_sample_interval_tool_tip')}" for="sampleIntervalTooltipId" position="center" showDelay="250" style="width: 300px"/>
                                </f:facet> 
                                <p:outputLabel value="#{asset.sampleInterval}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders}" styleClass="table-column-title-right-column-border-left-border">
                                <h:outputText id="assetPk" value="#{asset.siteId},#{asset.areaId},#{asset.assetId}" style="display:none"/>
                                <p:commandLink id="assetEditId" action="#{configurationBean.updateItem(asset)}" oncomplete="PF('defaultDlg').show()" styleClass="actions">
                                    <i class="fa fa-pencil-square-o" />
                                </p:commandLink>  
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="assetEditId" position="left" showDelay="500"/>                         
                            </p:column>

                        </p:dataTable>

                        <p:dataTable id="pointLocationDataTableId" var="pointLocation" value="#{configurationBean.pointLocationVOList}" rowKey="#{pointLocation.pointLocationName}" rendered="#{configurationBean.pointLocationVOList.size() gt 0}" paginator="true" rows="25" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two" rowIndexVar="row" paginatorPosition="top">
                            <f:facet name="header">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_point_location')}"/>
                            </f:facet>

                            <p:ajax event="rowToggle" listener="#{configurationBean.pointLookupByRowToggle(pointLocation)}"/>

                            <p:column style="width: 30px;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <p:rowToggler/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" sortBy="#{pointLocation.pointLocationName}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:commandLink value="#{pointLocation.pointLocationName}" action="#{configurationBean.updateSelection('point_location', pointLocation.pointLocationName, pointLocation.pointLocationId, null, null)}" oncomplete="updateTreeNodes()" styleClass="non-actions"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_deviceSerialNumber')}" sortBy="#{pointLocation.deviceSerialNumber}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{pointLocation.deviceSerialNumber}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_description')}" style="width: 40%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{pointLocation.description}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_sample_interval')}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{pointLocation.sampleInterval}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders}" styleClass="table-column-title-right-column-border-left-border">
                                <h:outputText id="pointLocationId" value="#{pointLocation.siteId},#{pointLocation.areaId},#{pointLocation.assetId},#{pointLocation.pointLocationId}" style="display:none"/>

                                <p:commandLink id="pointLocationEditId"  action="#{configurationBean.updateItem(pointLocation)}" oncomplete="PF('defaultDlg').show()" styleClass="actions">
                                    <i class="fa fa-pencil-square-o" />
                                </p:commandLink>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="pointLocationEditId" position="left" showDelay="500"/>
                            </p:column>

                            <p:rowExpansion>
                                <div class="layout-configuration-content-expanded-div">
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_tachName')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">                                                    
                                                    <p:inputText value="#{pointLocation.tachName}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>
                                    <p:panel  styleClass="layout-configuration-content-inline-panel" rendered="#{pointLocation.tachId ne null and pointLocation.tachReferenceUnits ne null and pointLocation.tachReferenceUnits eq 'RPM'}">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel for="speed_ratio" value="#{userManageBean.getResourceBundleString('label_speedRatio')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText id="speed_ratio" value="#{pointLocation.speedRatio}" styleClass="min-width-one" disabled="true">
                                                    </p:inputText>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid>
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel" rendered="#{pointLocation.tachId ne null and pointLocation.tachReferenceUnits ne null and pointLocation.tachReferenceUnits eq 'FPM'}">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel for="roll_diameter" value="#{userManageBean.getResourceBundleString('label_rollDiameter')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputNumber id="roll_diameter" value="#{pointLocation.rollDiameter}" styleClass="min-width-one" disabled="true">
                                                    </p:inputNumber>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid>
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel" rendered="#{pointLocation.tachId ne null and pointLocation.tachReferenceUnits ne null and pointLocation.tachReferenceUnits eq 'FPM'}">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel for="roll_diameter_units" value="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">                                                   
                                                    <p:inputText id="roll_diameter_units" value="#{pointLocation.rollDiameterUnits}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid>
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText value="#{pointLocation.ffSetNames}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_pointlocations_base_station_port')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText value="#{pointLocation.basestationPortNum}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>

                                    <p:dataTable var="point" value="#{pointLocation.pointList}" rendered="#{pointLocation.pointList ne null and pointLocation.pointList.size() gt 0}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two top-margin bottom-margin" paginatorPosition="top">
                                        <f:facet name="header">
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_point')}"/>
                                        </f:facet>

                                        <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" sortBy="#{point.pointName}" style="width: 34%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                            <p:outputLabel value="#{point.pointName}"/>
                                        </p:column>

                                        <p:column headerText="#{userManageBean.getResourceBundleString('label_pointType')}" sortBy="#{point.pointType}" style="width: 33%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">                       
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_waveform')}" rendered="#{point.pointType.equalsIgnoreCase('AC')}" />
                                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_single_measurement')}" rendered="#{point.pointType.equalsIgnoreCase('DC')}" />
                                        </p:column>

                                        <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}" sortBy="#{point.apSetName}" style="width: 33%;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                            <p:outputLabel value="#{point.apSetName}"/>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:rowExpansion>
                        </p:dataTable>

                        <p:dataTable id="pointDataTableId" var="point" value="#{configurationBean.pointVOList}" rowKey="#{point.apSetName}" rendered="#{configurationBean.pointVOList.size() gt 0}" paginator="true" rows="25" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two" paginatorPosition="top">
                            <f:facet name="header">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_point')}"/>
                            </f:facet>

                            <p:column style="width: 30px;" styleClass="table-column-title-left-column-border-right-border">
                                <p:rowToggler/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" sortBy="#{point.pointName}" style="width: 34%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:commandLink  value="#{point.pointName}" action="#{configurationBean.updateSelection('point', point.pointName, point.pointId, null, null)}" oncomplete="updateTreeNodes()" styleClass="non-actions">
                                    <p:graphicImage name="images/tach.png" library="roma-layout" style="height: 15px;width: 35px;" rendered="#{point.sensorType eq 'Tachometer'}"/>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_pointType')}" sortBy="#{point.pointType}" style="width: 33%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_waveform')}" rendered="#{point.pointType.equalsIgnoreCase('AC')}" />
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_single_measurement')}" rendered="#{point.pointType.equalsIgnoreCase('DC')}" />
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}" sortBy="#{point.apSetName}" style="width: 33%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{point.apSetName}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" sortBy="#{point.apSetName}" style="width: 33%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{point.alarmEnabledValue}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders}" styleClass="table-column-title-right-column-border-left-border">
                                <p:commandLink id="pointEditId" action="#{configurationBean.updateItem(point)}"   oncomplete="PF('defaultDlg').show()" styleClass="actions">
                                    <i class="fa fa-pencil-square-o" />
                                </p:commandLink>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="pointEditId" position="left" showDelay="500"/>
                            </p:column>

                            <p:rowExpansion>
                                <div class="layout-configuration-content-expanded-div ">
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText value="#{point.alSetName}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorType')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText value="#{point.sensorType}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorOffset')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText value="#{point.sensorOffset}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorSensitivity')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText value="#{point.sensorSensitivity}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorUnits')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText value="#{point.sensorUnits}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>
                                    <p:panel styleClass="layout-configuration-content-inline-panel">
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_sensorChannelNum')}:"/>
                                                </p:column>
                                                <p:column styleClass="width-321">
                                                    <p:inputText value="#{point.sensorChannelNum}" readonly="true" disabled="true" styleClass="readonly-inputfield"/>
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid> 
                                    </p:panel>
                                </div>
                            </p:rowExpansion>
                        </p:dataTable>
                    </h:form>
                </div>
            </div>
        </div>
        <p:blockUI widgetVar="blockPageWidget" block="@(body)">
            <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
        </p:blockUI>   
    </ui:define>
</ui:composition>
