<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('label_device_management')}</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-device-management">
                    <h:form id="deviceManagementTopControlFormId">
                        <p:panelGrid id="topControlPanelGridId" styleClass="panelgrid-layout-one">
                            <p:row>
                                <p:column styleClass="width-150">
                                    <p:outputLabel for="serialNumberId" value="#{userManageBean.getResourceBundleString('label_serial_number')}:"/>
                                </p:column> 
                                <p:column styleClass="width-200">
                                    <p:inputText id="serialNumberId" value="#{deviceManagementBean.serialNumber}" maxlength="8">
                                        <p:ajax listener="#{deviceManagementBean.onSerialNumberChange()}" update="@this deviceManagementResultFormId"/>
                                    </p:inputText>
                                </p:column>
                                <p:column styleClass="width-100">
                                    <p:commandButton id="searchBtnId" action="#{deviceManagementBean.search()}" value="#{userManageBean.getResourceBundleString('btn_search')}" update="deviceManagementTopControlFormId deviceManagementResultFormId"/>
                                </p:column>
                                <p:column styleClass="no-padding">
                                    <div id="downloadDeviceLocationsDevId">
                                        <p:commandLink id="downloadDeviceLocations" rendered="#{deviceManagementBean.deviceVOList.size() gt 0 }">
                                            <i class="pi pi-download" />
                                            <p:fileDownload value="#{deviceManagementBean.downloadDeviceLocationCSV()}" />   
                                        </p:commandLink> 
                                    </div>
                                    <p:commandButton id="deviceLocationBtnId" action="#{deviceManagementBean.searchForDeviceLocations()}" value="#{userManageBean.getResourceBundleString('label_device_locations')}" update="deviceManagementResultFormId deviceManagementTopControlFormId"/>
                                    
                                    <p:tooltip value="#{userManageBean.getResourceBundleString('download_device_locations_csv')}" for="downloadDeviceLocations" position="bottom" showDelay="500"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                        
                    <h:form id="deviceManagementResultFormId">
                        <p:panel id="deviceManagementStatusPanelId" styleClass="device-status-panel" rendered="#{deviceManagementBean.channelVOList.size() gt 0 and deviceManagementBean.hwDisabled ne null}">
                            <p:outputLabel styleClass="device-enabled" value="#{userManageBean.getResourceBundleString('label_enabled')}" rendered="#{!deviceManagementBean.hwDisabled}"/>
                            <p:outputLabel styleClass="device-disabled" value="#{userManageBean.getResourceBundleString('label_disabled')}" rendered="#{deviceManagementBean.hwDisabled}"/>
                            <p:outputLabel value="#{userManageBean.getResourceBundleString('label_status')}:"/>
                        </p:panel>

                        <!--TS1 Device Managemtent Result Table-->
                        <p:dataTable id="deviceManagementTS1ResultTableId" var="channelVO" value="#{deviceManagementBean.channelVOList}" rendered="#{deviceManagementBean.channelVOList.size() gt 0 and deviceManagementBean.serialNumber ne null and deviceManagementBean.serialNumber.startsWith('001', 0)}" sortMode="single" styleClass="datatable-layout-two top-margin" rowIndexVar="row" sortBy="#{channelVO.pointType}">     
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_data_type')}" sortBy="#{channelVO.pointType}" style="width: 12%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <p:outputLabel value="#{(channelVO.pointType.equalsIgnoreCase('AC')) ? userManageBean.getResourceBundleString('label_waveform') : userManageBean.getResourceBundleString('label_single_measurement')}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_ts1_channel_num')}" sortBy="#{channelVO.sensorChannelNum}" style="width: 8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.pointType.equalsIgnoreCase('AC') ? deviceManagementBean.getTS1ACChannelNumberLabelByValue(channelVO.sensorChannelNum) : deviceManagementBean.getTS1DCChannelNumberLabelByValue(channelVO.sensorChannelNum)}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" sortBy="#{channelVO.sensorType}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.sensorType}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_area')}" sortBy="#{channelVO.areaName}" style="width: 11%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.areaName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_asset')}" sortBy="#{channelVO.assetName}" style="width: 11%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.assetName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" sortBy="#{channelVO.pointLocationName}" style="width: 12%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.pointLocationName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" sortBy="#{channelVO.pointName}" style="width: 12%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.pointName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_fmax')}" sortBy="#{channel.getfMax()}" style="width: 7%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{(channelVO.pointType.equalsIgnoreCase('AC')) ? channelVO.getfMax() : ''}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_resolution')}" sortBy="#{channel.resolution}" style="width: 8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{(channelVO.pointType.equalsIgnoreCase('AC')) ? channelVO.resolution : ''}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" sortBy="#{channelVO.alarmEnabled}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.alarmEnabledValue}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 51px;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                <p:commandLink id="info-alarm-button-icon" oncomplete="PF('defaultDlg').show(); hideTooltips();">
                                    <i class="pi pi-info-circle" />
                                    <p:ajax listener="#{deviceManagementBean.viewInfo(channelVO)}"/>   
                                </p:commandLink>

                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_info')}" for="info-alarm-button-icon" position="left" showDelay="500"/>
                            </p:column>
                        </p:dataTable>

                        <!--General Device Location Result Table-->  
                        <p:dataTable id="deviceLocationTableId" var="deviceVO" value="#{deviceManagementBean.deviceVOList}" rowKey="#{deviceVO.index}" rendered="#{deviceManagementBean.deviceVOList.size() gt 0 }" styleClass="datatable-layout-two datatable-layout-header-filters top-margin" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" rowIndexVar="row" paginatorPosition="top" sortBy="#{deviceVO.newDeviceId}" filteredValue="#{deviceManagementBean.filteredDevices}" filterBy="#{deviceManagementBean.filterBy}" emptyMessage="#{userManageBean.getResourceBundleString('label_no_devices_found_with_given_criteria')}">     
                             <f:facet name="header">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_device_locations')}"/>
                            </f:facet>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_serial_number')}" field="newDeviceId" style="width: 25%;" filterMatchMode="contains" styleClass="text-align-center table-column-title-left-column-border-right-border"/>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_area')}" field="areaName" style="width: 25%;" filterMatchMode="contains" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_asset')}" field="assetName" style="width: 25%;" filterMatchMode="contains" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"/>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" field="pointLocationName" sortBy="#{deviceVO.pointLocationName}" style="width: 25%;" filterMatchMode="contains" styleClass="text-align-center table-column-title-right-column-border-left-border"/>
                        </p:dataTable>
                        
                        <!--General Device Managemtent Result Table-->
                        <p:dataTable id="deviceManagementResultTableId" var="channelVO" value="#{deviceManagementBean.channelVOList}" rendered="#{deviceManagementBean.channelVOList.size() gt 0 and deviceManagementBean.serialNumber ne null and !deviceManagementBean.serialNumber.startsWith('001', 0)}" sortMode="single" styleClass="datatable-layout-two top-margin" rowIndexVar="row" sortBy="#{channelVO.pointType}">     
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_data_type')}" sortBy="#{channelVO.pointType}" style="width: 12%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <p:outputLabel value="#{(channelVO.pointType.equalsIgnoreCase('AC')) ? userManageBean.getResourceBundleString('label_waveform') : userManageBean.getResourceBundleString('label_single_measurement')}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" sortBy="#{channelVO.sensorType}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.sensorType}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_area')}" sortBy="#{channelVO.areaName}" style="width: 13%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.areaName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_asset')}" sortBy="#{channelVO.assetName}" style="width: 13%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.assetName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" sortBy="#{channelVO.pointLocationName}" style="width: 13%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.pointLocationName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" sortBy="#{channelVO.pointName}" style="width: 13%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{channelVO.pointName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_fmax')}" sortBy="#{channel.getfMax()}" style="width: 8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{(channelVO.pointType.equalsIgnoreCase('AC')) ? channelVO.getfMax() : ''}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_resolution')}" sortBy="#{channel.resolution}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{(channelVO.pointType.equalsIgnoreCase('AC')) ? channelVO.resolution : ''}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" sortBy="#{channelVO.alarmEnabled}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                 <p:outputLabel value="#{channelVO.alarmEnabledValue}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 51px;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                <p:commandLink id="info-alarm-button-icon" oncomplete="PF('defaultDlg').show(); hideTooltips();">
                                    <i class="pi pi-info-circle" />
                                    <p:ajax listener="#{deviceManagementBean.viewInfo(channelVO)}"/>   
                                </p:commandLink>

                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_info')}" for="info-alarm-button-icon" position="left" showDelay="500"/>
                            </p:column>
                        </p:dataTable>

                        <p:panel id="deviceManagementControlPanelId" styleClass="device-control-panel" rendered="#{deviceManagementBean.channelVOList.size() gt 0}">
                            <p:outputLabel value="#{deviceManagementBean.pointsInUseString}"/>
                            <p:commandButton id="enableBtnId" value="#{userManageBean.getResourceBundleString('label_enable_device')}" disabled="#{userManageBean.currentSite eq null}" rendered="#{(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders) and deviceManagementBean.isSupportedDevice('enable') and deviceManagementBean.hwDisabled ne null and deviceManagementBean.hwDisabled}" action="#{deviceManagementBean.enableDevice()}" update="@form nonAutoGrowlId" />
                            <p:commandButton id="disableBtnId" value="#{userManageBean.getResourceBundleString('label_disable_device')}" disabled="#{userManageBean.currentSite eq null}" rendered="#{(admin or user or configurator or user_plus or superAdmins or analysts or siteBuilders) and deviceManagementBean.isSupportedDevice('disable') and deviceManagementBean.hwDisabled ne null and !deviceManagementBean.hwDisabled}" action="#{deviceManagementBean.disableDevice()}" update="@form nonAutoGrowlId" />
                            <p:commandButton id="modifyBtnId" value="#{userManageBean.getResourceBundleString('label_modify_device')}" disabled="#{userManageBean.currentSite eq null}" rendered="#{(admin or configurator or user_plus or superAdmins or siteBuilders) and deviceManagementBean.isSupportedDevice('modify')}" action="#{deviceManagementBean.modifyDevice()}"/>
                            <p:commandButton id="removeBtnId" value="#{userManageBean.getResourceBundleString('label_remove_device')}" disabled="#{userManageBean.currentSite eq null}" rendered="#{deviceManagementBean.serialNumber.startsWith('BB', 0) and (admin or configurator or user_plus or superAdmins or siteBuilders) and deviceManagementBean.isSupportedDevice('remove')}" action="#{deviceManagementBean.removeDevice()}" update="@form nonAutoGrowlId" >
                                <p:confirm id="removeConfirmDialog" header="#{userManageBean.getResourceBundleString('label_remove_device')}" message="#{userManageBean.getResourceBundleString('label_confirm_remove_mist_device')}" icon="pi pi-exclamation-circle" />  
                            </p:commandButton>
                            <p:commandButton id="replaceBtnId" value="#{userManageBean.getResourceBundleString('label_replace_device')}" disabled="#{userManageBean.currentSite eq null}" rendered="#{false and (admin or configurator or user_plus or superAdmins or siteBuilders) and deviceManagementBean.isSupportedDevice('replace')}" action="#{deviceManagementBean.replaceDevice()}"/>
                            <p:commandButton id="cancelBtnId" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{deviceManagementBean.resetPage()}"/>
                        </p:panel>

                        <p:panel id="deviceManagementInUsePanelId" styleClass="device-in-use-panel" rendered="#{deviceManagementBean.serialNumberNotInUse ne null and !deviceManagementBean.serialNumberNotInUse}">
                            <p:outputLabel  value="#{userManageBean.getResourceBundleString('label_this_device_is_currently_in_use')}" styleClass="disclaimer"/>
                            <p:panelGrid rendered="#{userManageBean.globalGroups}">
                                <p:row>
                                    <p:column styleClass="width-125">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_customer')}:"/>
                                    </p:column> 
                                    <p:column>
                                        <p:outputLabel value="#{deviceManagementBean.customerName}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_region')}:"/>
                                    </p:column> 
                                    <p:column>
                                        <p:outputLabel value="#{deviceManagementBean.region}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_country')}:"/>
                                    </p:column> 
                                    <p:column>
                                        <p:outputLabel value="#{deviceManagementBean.country}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_site')}:"/>
                                    </p:column> 
                                    <p:column>
                                        <p:outputLabel value="#{deviceManagementBean.siteName}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>

                        <p:panel id="deviceManagementInstallPanelId" styleClass="install-device-panel" rendered="#{deviceManagementBean.serialNumberNotInUse ne null and deviceManagementBean.serialNumberNotInUse}">
                            <p:inputTextarea  value="#{userManageBean.getResourceBundleString('label_no_device_found_install')}" readonly="true"/>
                            <p:panel styleClass="install-device-control-panel">
                                <p:commandButton id="installBtnId" value="#{userManageBean.getResourceBundleString('label_install_device')}" action="#{deviceManagementBean.installDevice()}" disabled="#{userManageBean.currentSite eq null or !(admin or configurator or user_plus or superAdmins or siteBuilders)}"/>
                                <p:commandButton id="installCancelBtnId" value="#{userManageBean.getResourceBundleString('btn_cancel')}" action="#{deviceManagementBean.resetPage()}"/>
                            </p:panel>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
