<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_1')}</ui:define>

    <ui:define name="content">
        
        <!--No Site selected-->
        <p:panel styleClass="layout-home no-site-selected" rendered="#{!homeBean.siteSelected}">
            <div class="image-div">
                <p:outputLabel value="#{userManageBean.getResourceBundleString('application_welcome')}" />
            </div>
        </p:panel>
        
        <!-- Site selected-->
        <!-- Configuration Summary-->
        <p:panel styleClass="layout-home site-selected" rendered="#{homeBean.siteSelected}">
            <p:panel header="#{userManageBean.getResourceBundleString('label_configuration_summary')}" styleClass="configuration-summary-panel">
                <p:card styleClass="non-link-card">
                    <f:facet name="title">#{userManageBean.getResourceBundleString('label_areas')}</f:facet>
                    <div class="area-image-div"/>
                    <p:panelGrid>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_count')}:" styleClass="right-margin"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{homeBean.areaCount}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:card>

                <p:card styleClass="non-link-card">
                    <f:facet name="title">#{userManageBean.getResourceBundleString('label_assets')}</f:facet>
                    <div class="asset-image-div"/>
                    <p:panelGrid>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_count')}:" styleClass="right-margin"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{homeBean.assetCount}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:card>

                <p:card styleClass="non-link-card">
                    <f:facet name="title">#{userManageBean.getResourceBundleString('label_point_locations')}</f:facet>
                    <div class="point-locations-image-div"/>
                    <p:panelGrid>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_count')}:" styleClass="right-margin"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="#{homeBean.pointLocationCount}"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:card>
            </p:panel>

            <!-- Site selected-->
            <!-- System Overview-->
            <p:panel header="#{userManageBean.getResourceBundleString('label_system_overview')}" styleClass="system-overview-panel" rendered="#{homeBean.alarmCount gt 0 or homeBean.workOrderCount gt 0}">
                <p:commandLink action="#{navigationBean.updatePage('alarms')}" rendered="#{homeBean.alarmCount gt 0}" styleClass="link-card">
                    <p:card>
                        <f:facet name="title">#{userManageBean.getResourceBundleString('breadcrumb_2')}</f:facet>
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="top-alarms-panelgrid-cell">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_active_alarms')}:" styleClass="right-margin"/>
                                </p:column>
                                <p:column styleClass="top-alarms-panelgrid-cell">
                                    <p:outputLabel value="#{homeBean.alarmCount}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_active_alerts')}:" styleClass="right-margin"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{homeBean.alertCount}" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_active_faults')}:" styleClass="right-margin"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{homeBean.faultCount}" />
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <div class="alarms-image-div" />
                    </p:card>
                </p:commandLink>

                <p:commandLink action="#{navigationBean.updatePage('work-order')}" rendered="#{homeBean.workOrderCount gt 0}" styleClass="link-card">
                    <p:card>
                        <f:facet name="title">#{userManageBean.getResourceBundleString('breadcrumb_3')}</f:facet>
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="work-order-panelgrid-cell">
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_open_work_orders')}:" styleClass="right-margin"/>
                                </p:column>
                                <p:column styleClass="work-order-panelgrid-cell">
                                    <p:outputLabel value="#{homeBean.workOrderCount}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_work_order_priority_1')}:" styleClass="right-margin"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{homeBean.priority1Count}" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_work_order_priority_2')}:" styleClass="right-margin"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{homeBean.priority2Count}" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_work_order_priority_3')}:" styleClass="right-margin"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{homeBean.priority3Count}" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_work_order_priority_4')}:" styleClass="right-margin"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="#{homeBean.priority4Count}" />
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <div class="work-order-image-div" />
                    </p:card>
                </p:commandLink>
            </p:panel>
        </p:panel>
    </ui:define>

</ui:composition>
