<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_5')}</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-presets">
                    <p:tabView id="presetsTabViewId">
                        <p:ajax event="tabChange" listener="#{presetsBean.onTabChange}"/>

                        <p:tab id="faultFrequenciesTabId" title="#{userManageBean.getResourceBundleString('label_faultFrequencies')}">
                            <h:form id="faultFrequenciesFormId">
                                <p:panel styleClass="panel-layout-one">
                                    <p:commandLink value="#{userManageBean.getResourceBundleString('label_custom_sets')}" action="#{presetsBean.customSetsDialog()}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or user or user_plus or superAdmins or analysts}" styleClass="left-margin"/> 
                                    <p:commandLink value="#{userManageBean.getResourceBundleString('label_bearing_catalog')}" action="#{presetsBean.bearingCatalogDialog()}" oncomplete="PF('defaultDlg').show()" update="nonAutoGrowlId" rendered="#{admin or user or user_plus or superAdmins or analysts}">
                                        <i class="pi pi-book"/>
                                    </p:commandLink>
                                </p:panel>

                                <p:dataTable id="dt-sitePreferences" var="sitePreferences" widgetVar="sitePreferencesTable"
                                             emptyMessage="#{userManageBean.getResourceBundleString('fault_frequencies_sets_empty_message')}"
                                             value="#{presetsBean.distinctsiteFFSetFavorites}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" 
                                             styleClass="datatable-layout-two top-margin horizontal-margin-auto max-width-1000" paginatorPosition="top" resizableColumns="true">
                                    <f:facet name="header">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_site_preferences')}"/>
                                    </f:facet>
                                    <p:ajax event="rowToggle" listener="#{presetsBean.getSiteFaultFrequenciesByRowToggle(sitePreferences)}"/>
                                    <p:column style="width: 80px;" styleClass="table-column-title-left-column-border-right-border">
                                        <p:rowToggler/> 
                                    </p:column>
                                    <p:column rendered="#{!sitePreferences.global}" headerText="#{userManageBean.getResourceBundleString('label_ff_set_name')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <p:outputLabel value="#{sitePreferences.ffSetName}" />
                                        <p:commandButton type="button" icon="pi pi-book" styleClass="bearing-catalog-item-indicator-icon" rendered="#{sitePreferences.ffSetId eq null}"/>
                                    </p:column> 

                                    <p:column rendered="#{sitePreferences.global}" headerText="#{userManageBean.getResourceBundleString('label_ff_set_name')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <i class="right-padding fa fa-globe"/>
                                        <p:outputLabel value="#{sitePreferences.ffSetName}" />
                                        <p:commandButton type="button" icon="pi pi-book" styleClass="bearing-catalog-item-indicator-icon" rendered="#{sitePreferences.ffSetId eq null}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_description')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <p:outputLabel value="#{sitePreferences.ffSetDesc}" />
                                    </p:column>
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{admin or user or user_plus or superAdmins or analysts}" styleClass="table-column-title-right-column-border-left-border">
                                        <p:commandLink id ="cmdTrash" action="#{presetsBean.delete(sitePreferences, 'sitePreferences')}" update="@form nonAutoGrowlId" onstart="readPageSize('dt-sitePreferences_rppDD')" oncomplete="setPageSize('dt-sitePreferences_rppDD',10)">
                                            <i class="pi pi-trash" />
                                        </p:commandLink> 
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_remove_preferred')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                                    </p:column>
                                    <p:rowExpansion>    
                                        <p:dataTable id="dt-siteFaultFrequenciesId" var="siteFaultFrequencies" value="#{presetsBean.filteredSiteFaultFrequencyList}" rendered="#{presetsBean.filteredSiteFaultFrequencyList ne null and presetsBean.filteredSiteFaultFrequencyList.size() gt 0}"  sortMode="single" styleClass="datatable-layout-two top-margin bottom-margin">

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_ff_name')}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                                <p:outputLabel value="#{siteFaultFrequencies.ffName}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_ff_value')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <p:outputLabel value="#{siteFaultFrequencies.ffValue}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_units')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                                <p:outputLabel value="#{presetsBean.getParamUnitLabelByValue(siteFaultFrequencies.ffUnit)}" />
                                            </p:column>

                                        </p:dataTable>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </h:form>
                        </p:tab>

                        <p:tab id="analysisParametersTabId" title="#{userManageBean.getResourceBundleString('label_analysisParameters')}">
                            <h:form id="analysisParametersFormId">

                                <p:panelGrid styleClass="layout-presets-panelgrid">
                                    <p:row>
                                        <p:column style="width: 275px"/>
                                        <p:column>
                                            <p:commandLink value="#{userManageBean.getResourceBundleString('btn_add_preset')}" action="#{presetsBean.setApAlSetDialog(null, 0)}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or user or user_plus or superAdmins or analysts}"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>

                                <p:outputPanel>
                                    <h5>#{userManageBean.getResourceBundleString('label_waveform')}</h5>
                                    <p>#{userManageBean.getResourceBundleString('label_waveform_definition')}</p>
                                </p:outputPanel>

                                <p:dataTable id="acApSetTableId" var="apSet"  widgetVar="acApSetTable" emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}" value="#{presetsBean.acApSetList}" filteredValue="#{presetsBean.filteredAcApSetList}"  paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" styleClass="datatable-layout-two datatable-layout-header-filters top-margin"  paginatorPosition="top" resizableColumns="true">
                                    <p:ajax event="rowToggle" listener="#{presetsBean.apAlLookupByRowToggle(apSet, false)}"/>
                                    <p:ajax event="sort" listener="#{presetsBean.resetApAlSetMapForAc()}"/>

                                    <p:column style="width: 30px;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                        <p:rowToggler/>
                                    </p:column>

                                    <p:column field="apSetName" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" filterMatchMode="contains" style="width: 25%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <f:facet name="filter">
                                            <p:autoComplete scrollHeight="500" forceSelection="false" completeMethod="#{presetsBean.queryAcApSetNameList}" queryDelay="100" cache="true" onchange="PF('acApSetTable').filter()" styleClass="filters-width-one">
                                                <p:ajax event="itemSelect" listener="#{presetsBean.resetApAlSetMapForAc()}"/>
                                            </p:autoComplete>
                                        </f:facet>

                                        <!-- Conditional Rendering of Icon -->
                                        <h:panelGroup rendered="#{apSet.siteId eq null}">
                                            <i class="right-padding fa fa-globe"/>
                                        </h:panelGroup>

                                        <h:outputText value="#{apSet.apSetName}" />
                                    </p:column>

                                    <p:column field="sensorType" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" filterMatchMode="exact" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('acApSetTable').filter()" styleClass="filters-width-one">
                                                <f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItems value="#{presetsBean.acSensorTypeList}" />
                                                <p:ajax listener="#{presetsBean.resetApAlSetMapForAc()}"/>
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <h:outputText value="#{presetsBean.getACLabelByValue(apSet.sensorType)}" />
                                    </p:column>

                                    <p:column field="fmax" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_fmax')}" filterMatchMode="exact" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('acApSetTable').filter()" styleClass="filters-width-one">
                                                <f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItems value="#{presetsBean.fmaxList}" />
                                                <p:ajax listener="#{presetsBean.resetApAlSetMapForAc()}"/>
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <h:outputText value="#{apSet.fmax}" />
                                    </p:column>

                                    <!-- Note the class will need to be changed to table-column-title-center-column-border-horizontal-border once the 'Actions' are enabled again-->
                                    <p:column field="resolution" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_resolution')}" filterMatchMode="exact" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('acApSetTable').filter()" styleClass="filters-width-one">
                                                <f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItems value="#{presetsBean.resolutionList}" />
                                                <p:ajax listener="#{presetsBean.resetApAlSetMapForAc()}"/>
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <h:outputText value="#{apSet.resolution}" />
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_period')}" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <p:outputLabel value="#{apSet.period}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_sampleRate')}" style="width: 15%;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                        <p:outputLabel value="#{apSet.sampleRate}"/>
                                    </p:column>

                                    <!-- Not Rendered for V1.0 -->
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{false and (admin or user or user_plus or superAdmins or analysts)}" styleClass="table-column-title-right-column-border-left-border">
                                        <p:commandLink id="cmdCopy" action="#{presetsBean.setApAlSetDialog(apSet, 2)}" oncomplete="PF('defaultDlg').show()">
                                            <i class="pi pi-copy" />
                                        </p:commandLink>
                                        <p:commandLink id="cmdEdit" action="#{presetsBean.setApAlSetDialog(apSet, 1)}" oncomplete="PF('defaultDlg').show()" rendered="#{apSet.siteId ne null}">
                                            <i class="fa fa-pencil-square-o" />
                                        </p:commandLink>
                                        <p:commandLink id="cmdTrash" action="#{presetsBean.delete(apSet, 'analysisParameters')}" rendered="#{apSet.siteId ne null}">
                                            <i class="pi pi-trash" />
                                        </p:commandLink>
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                                    </p:column>

                                    <p:rowExpansion>
                                        <div id="acApAlSetDivId" class="left-float-div">
                                            <p:panel styleClass="layout-presets-inline-panel" rendered="#{false and presetsBean.getApAlSetList(apSet.apSetId) ne null and presetsBean.getApAlSetList(apSet.apSetId).size() gt 0}">
                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_demod')}:"/>
                                                <p:inputText value="#{presetsBean.getApAlSetList(apSet.apSetId).get(0).demod}" readonly="true"/>
                                            </p:panel>
                                            <p:panel styleClass="layout-presets-inline-panel" rendered="#{false and presetsBean.getApAlSetList(apSet.apSetId) ne null and presetsBean.getApAlSetList(apSet.apSetId).size() gt 0}">
                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_demodHighPass')}:"/>
                                                <p:inputText value="#{presetsBean.getApAlSetList(apSet.apSetId).get(0).demodHighPass}" readonly="true"/>
                                            </p:panel>
                                            <p:panel styleClass="layout-presets-inline-panel" rendered="#{false and presetsBean.getApAlSetList(apSet.apSetId) ne null and presetsBean.getApAlSetList(apSet.apSetId).size() gt 0}">
                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_demodLowPass')}:"/>
                                                <p:inputText value="#{presetsBean.getApAlSetList(apSet.apSetId).get(0).demodLowPass}" readonly="true"/>
                                            </p:panel>

                                            <p:dataTable id="acApAlSetTableId" var="apAlSet" value="#{presetsBean.getParamList(apSet.apSetId)}" rendered="#{presetsBean.getApAlSetList(apSet.apSetId) ne null and presetsBean.getApAlSetList(apSet.apSetId).size() gt 0}"  sortMode="single" styleClass="datatable-layout-two top-margin bottom-margin">
                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_param')}" style="width: 20%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                                    <p:outputLabel value="#{apAlSet.paramName}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_type')}" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.paramType}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_units')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{presetsBean.getParamUnitLabelByValue(apAlSet.paramUnits)}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_amp_factor')}" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.paramAmpFactor}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_frequency_units')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{presetsBean.getParamUnitLabelByValue(apAlSet.frequencyUnits)}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_minimum_frequency')}" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.minFrequency == -1 ? null : apAlSet.minFrequency}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_maximum_frequency')}" style="width: 15%;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                                    <p:outputLabel value="#{apAlSet.maxFrequency == -1 ? null : apAlSet.maxFrequency}"/>
                                                </p:column>
                                            </p:dataTable>

                                            <p:panelGrid>
                                                <p:row>
                                                    <p:column style="width: 139px">
                                                        <p:outputLabel for="acAlSetAutoCompleteId" id="acAlSetAutoCompleteLabelId" value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:autoComplete id="acAlSetAutoCompleteId" value="#{apSet.selectedAlSet}" scrollHeight="350" forceSelection="true" completeMethod="#{presetsBean.queryAcAlSetItemList}" converter="selectItemConverter" queryDelay="100" cache="true" dropdown="true" var="item" itemLabel="#{item.label}" itemValue="#{item}" >
                                                            <f:attribute name="apSetId" value="#{apSet.apSetId}" />
                                                            <p:ajax event="change" update="@(.acAl-table)"/>
                                                        </p:autoComplete>
                                                    </p:column>
                                                    <p:column style="width: 23px" rendered="#{presetsBean.renderAddAlSet(apSet.customerAccount) and (admin or user or user_plus or superAdmins or analysts)}">
                                                        <p:commandButton id="acAddAlSetBtnId" icon="pi pi-plus" styleClass="add-al-set-btn" action="#{presetsBean.addAlSet(apSet)}" oncomplete="PF('defaultDlg').show(); hideTooltips()"/>
                                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_add_al_set')}" for="acAddAlSetBtnId" position="right" showDelay="500"/>
                                                    </p:column>
                                                </p:row>
                                            </p:panelGrid>

                                            <p:dataTable id="acAlSetTableId" var="alSet" value="#{presetsBean.getAlSetList(apSet)}" emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}" rendered="#{presetsBean.getApAlSetList(apSet.apSetId) ne null and presetsBean.getApAlSetList(apSet.apSetId).size() gt 0}"  sortMode="single" styleClass="datatable-layout-two bottom-margin acAl-table">
                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_param')}" style="width: 19%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                                    <p:outputLabel value="#{alSet.paramName}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_dwell')}" style="width: 5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{alSet.dwell}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_lowFaultActive')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{alSet.lowFaultActiveValue}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_lowFault')}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{alSet.lowFault}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_lowAlertActive')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{alSet.lowAlertActiveValue}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_lowAlert')}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{alSet.lowAlert}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_highAlertActive')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{alSet.highAlertActiveValue}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_highAlert')}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{alSet.highAlert}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_highFaultActive')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{alSet.highFaultActiveValue}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_highFault')}" style="width: 9%;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                                    <p:outputLabel value="#{alSet.highFault}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </p:rowExpansion>
                                </p:dataTable>

                                <p:outputPanel>
                                    <h5>#{userManageBean.getResourceBundleString('label_single_measurement')}</h5>
                                    <p>#{userManageBean.getResourceBundleString('label_single_definition')}</p>
                                </p:outputPanel>

                                <p:dataTable id="dcApSetTableId" var="apSet" widgetVar="dcApSetTable" value="#{presetsBean.dcApSetList}" filteredValue="#{presetsBean.filteredDcApSetList}" emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" styleClass="datatable-layout-two datatable-layout-header-filters top-margin"  paginatorPosition="top" resizableColumns="true">
                                    <p:ajax event="rowToggle" listener="#{presetsBean.apAlLookupByRowToggle(apSet, true)}"/>
                                    <p:ajax event="sort" listener="#{presetsBean.resetApAlSetMapForDc()}"/>

                                    <p:column style="width: 30px;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                        <p:rowToggler/>
                                    </p:column>

                                    <p:column field="apSetName" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_apSetName')}" filterMatchMode="contains" style="width: 50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <f:facet name="filter">
                                            <p:autoComplete scrollHeight="500" forceSelection="false" completeMethod="#{presetsBean.queryDcApSetNameList}" queryDelay="100" cache="true" onchange="PF('dcApSetTable').filter()" styleClass="filters-width-one">
                                                <p:ajax event="itemSelect" listener="#{presetsBean.resetApAlSetMapForAc()}"/>
                                            </p:autoComplete>
                                        </f:facet>

                                        <!-- Conditional Rendering of Icon -->
                                        <h:panelGroup rendered="#{apSet.siteId eq null}">
                                            <i class="right-padding fa fa-globe"/>
                                        </h:panelGroup>

                                        <h:outputText value="#{apSet.apSetName}" />
                                    </p:column>

                                    <!-- Note the class will need to be changed to table-column-title-center-column-border-horizontal-border once the 'Actions' are enabled again-->
                                    <p:column field="sensorType" sortable="false" headerText="#{userManageBean.getResourceBundleString('label_sensorType')}" filterMatchMode="exact" style="width: 50%;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('dcApSetTable').filter()" styleClass="filters-width-one">
                                                <f:selectItem itemLabel="All" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItems value="#{presetsBean.dcSensorTypeList}" />
                                                <p:ajax listener="#{presetsBean.resetApAlSetMapForDc()}"/>
                                            </p:selectOneMenu>
                                        </f:facet>
                                        <h:outputText value="#{presetsBean.getDCLabelByValue(apSet.sensorType)}" />
                                    </p:column>

                                    <!-- Not Rendered for V1.0 -->
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{false and (admin or user or user_plus or superAdmins or analysts)}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                        <p:commandLink id="cmdCopy" action="#{presetsBean.setApAlSetDialog(apSet, 2)}" oncomplete="PF('defaultDlg').show()">
                                            <i class="pi pi-copy" />
                                        </p:commandLink>
                                        <p:commandLink id="cmdEdit" action="#{presetsBean.setApAlSetDialog(apSet, 1)}" oncomplete="PF('defaultDlg').show()" rendered="#{apSet.siteId ne null}">
                                            <i class="fa fa-pencil-square-o" />
                                        </p:commandLink>
                                        <p:commandLink id="cmdTrash" action="#{presetsBean.delete(apSet, 'analysisParameters')}" rendered="#{apSet.siteId ne null}">
                                            <i class="pi pi-trash" />
                                        </p:commandLink>
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                                    </p:column>

                                    <p:rowExpansion>
                                        <div id="dcApAlSetDivId" class="left-float-div">
                                            <p:panelGrid style="margin-top: 3px;">
                                                <p:row>
                                                    <p:column style="width: 139px">
                                                        <p:outputLabel for="dcUnitsId" value="#{userManageBean.getResourceBundleString('label_sensorUnits')}:"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:inputText id="dcUnitsId" value="#{presetsBean.getParamUnitLabelByValue(apSet.paramUnits)}" disabled="true"/>
                                                    </p:column>
                                                    <p:column style="width: 23px" rendered="#{presetsBean.renderAddAlSet(apSet.customerAccount) and (admin or user or user_plus or superAdmins or analysts)}"/>
                                                </p:row>
                                                <p:row>
                                                    <p:column>
                                                        <p:outputLabel for="dcAlSetAutoCompleteId" id="dcAlSetAutoCompleteLabelId" value="#{userManageBean.getResourceBundleString('label_alSetName')}:"/>
                                                    </p:column>
                                                    <p:column>
                                                        <p:autoComplete id="dcAlSetAutoCompleteId" value="#{apSet.selectedAlSet}" scrollHeight="350" forceSelection="true" completeMethod="#{presetsBean.queryDcAlSetItemList}" converter="selectItemConverter" queryDelay="100" cache="true" dropdown="true" var="item" itemLabel="#{item.label}" itemValue="#{item}" >
                                                            <f:attribute name="apSetId" value="#{apSet.apSetId}" />
                                                            <p:ajax event="change" update="@(.dcAl-table)"/>
                                                        </p:autoComplete>
                                                    </p:column>
                                                    <p:column rendered="#{presetsBean.renderAddAlSet(apSet.customerAccount) and (admin or user or user_plus or superAdmins or analysts)}">
                                                        <p:commandButton id="dcAddAlSetBtnId" icon="pi pi-plus" action="#{presetsBean.addAlSet(apSet)}" styleClass="add-al-set-btn" oncomplete="PF('defaultDlg').show(); hideTooltips()"/>
                                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_add_al_set')}" for="dcAddAlSetBtnId" position="right" showDelay="500"/>
                                                    </p:column>
                                                </p:row>
                                            </p:panelGrid>

                                            <p:dataTable id="dcAlSetTableId" var="apAlSet" rowKey="#{apSet.apSetId}" value="#{presetsBean.getAlSetList(apSet)}" rendered="#{presetsBean.getApAlSetList(apSet.apSetId) ne null and presetsBean.getApAlSetList(apSet.apSetId).size() gt 0}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two bottom-margin dcAl-table"  paginatorPosition="top">
                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_alSetName')}" sortBy="#{apAlSet.alSetName}" style="width: 19%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                                    <p:outputLabel value="#{apAlSet.alSetName}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_dwell')}" style="width: 5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.dwell}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_lowFaultActive')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.lowFaultActiveValue}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_lowFault')}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.lowFault}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_lowAlertActive')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.lowAlertActiveValue}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_lowAlert')}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.lowAlert}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_highAlertActive')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.highAlertActiveValue}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_highAlert')}" style="width: 9%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.highAlert}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_highFaultActive')}" style="width: 10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                    <p:outputLabel value="#{apAlSet.highFaultActiveValue}"/>
                                                </p:column>

                                                <p:column headerText="#{userManageBean.getResourceBundleString('label_highFault')}" style="width: 9%;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                                    <p:outputLabel value="#{apAlSet.highFault}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </h:form>
                        </p:tab>

                        <p:tab id="tachometersTabId" title="#{userManageBean.getResourceBundleString('label_tachometers')}">
                            <h:form id="tachometersFormId" enctype="multipart/form-data">

                                <!--Display when widow size is greater than 697px-->
                                <p:panelGrid id="tachometerTopPanelGridId" styleClass="layout-presets-panelgrid non-breakingpoint">
                                    <p:row>
                                        <p:column style="width: 275px"/>
                                        <p:column>
                                            <p:accordionPanel id="tachometerUploadAccordionId" widgetVar="tachometerBasicOne" styleClass="accordion-layout-one layout-presets-content-upload" activeIndex="-1" rendered="#{false and (admin or user or user_plus or superAdmins or analysts)}">
                                                <p:tab title="#{userManageBean.getResourceBundleString('label_itemUpload')}">
                                                    <div>
                                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_tachType')}:"/>
                                                        <p:selectOneMenu value="#{presetsBean.uploadType}">
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_tachType_constantSpeed')}" itemValue="Constant Speed"/>
                                                            <p:ajax update="tachometerUploadAccordionId:tachometerUploadBtnId presetsTabViewId:tachometersFormId:tachometerTopBeakingPointPanelGridId"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <p:fileUpload id="tachometerUploadBtnId" listener="#{presetsBean.tachometerUpload}" mode="advanced" dragDropSupport="false" auto="true" sizeLimit="100000" fileLimit="1" allowTypes="/(\.|\/)(csv)$/" validateContentType="true" accept=".csv" label="#{userManageBean.getResourceBundleString('btn_upload')}" disabled="#{presetsBean.uploadType eq null or presetsBean.uploadType.length() lt 1}"/>
                                                </p:tab>
                                            </p:accordionPanel>
                                        </p:column>
                                        <p:column style="width: 150px">
                                            <p:commandLink value="#{userManageBean.getResourceBundleString('btn_add_tachometer')}" action="#{presetsBean.setTachometerDialog(null, 0)}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or user or user_plus or superAdmins or analysts}"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>

                                <!--Display when widow size is less than or equal to 697px-->
                                <p:panelGrid id="tachometerTopBeakingPointPanelGridId" styleClass="layout-presets-panelgrid breakingpoint">
                                    <p:row>
                                        <p:column/>
                                        <p:column>
                                            <p:commandLink value="#{userManageBean.getResourceBundleString('btn_add_tachometer')}" action="#{presetsBean.setTachometerDialog(null, 0)}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or user or user_plus or superAdmins or analysts}"/>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="3">
                                            <p:accordionPanel id="tachometerUploadAccordionBeakingPointId" widgetVar="tachometerBasicTwo" styleClass="accordion-layout-one layout-presets-content-upload" activeIndex="-1"  rendered="#{false and (admin or user or user_plus or superAdmins or analysts)}">
                                                <p:tab title="#{userManageBean.getResourceBundleString('label_itemUpload')}">
                                                    <div>
                                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_tachType')}:"/>
                                                        <p:selectOneMenu value="#{presetsBean.uploadType}">
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('application_select_one')}" itemValue=""/>
                                                            <f:selectItem itemLabel="#{userManageBean.getResourceBundleString('label_tachType_constantSpeed')}" itemValue="Constant Speed"/>
                                                            <p:ajax update="tachometerUploadAccordionBeakingPointId:tachometerUploadBeakingPointBtnId presetsTabViewId:tachometersFormId:tachometerTopPanelGridId"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <p:fileUpload id="tachometerUploadBeakingPointBtnId" listener="#{presetsBean.tachometerUpload}" mode="advanced" dragDropSupport="false" auto="true" sizeLimit="100000" fileLimit="1" allowTypes="/(\.|\/)(csv)$/" validateContentType="true" accept=".csv" label="#{userManageBean.getResourceBundleString('btn_upload')}" disabled="#{presetsBean.uploadType eq null or presetsBean.uploadType.length() lt 1}"/>
                                                </p:tab>
                                            </p:accordionPanel>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>

                                <p:dataTable id="siteTachometersTableId" var="tachometer" value="#{presetsBean.tachometerList}" emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}" rendered="#{presetsBean.tachometerList ne null and presetsBean.tachometerList.size() gt 0}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two top-margin"  paginatorPosition="top">
                                    <p:column rendered="#{tachometer.siteId ne null}" headerText="#{userManageBean.getResourceBundleString('label_name')}" sortBy="#{tachometer.tachName}" style="width: 35%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                        <p:outputLabel value="#{tachometer.tachName}"/>
                                    </p:column>

                                    <p:column rendered="#{tachometer.siteId eq null}" headerText="#{userManageBean.getResourceBundleString('label_name')}" sortBy="#{tachometer.tachName}" style="width: 35%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                        <i class="right-padding fa fa-globe"/>
                                        <p:outputLabel value="#{tachometer.tachName}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_type')}" sortBy="#{tachometer.tachType}" style="width: 35%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <p:outputLabel value="#{tachometer.tachType}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_reference_speed')}" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <p:outputLabel value="#{tachometer.tachReferenceSpeed}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_speed_unit')}" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <p:outputLabel value="#{presetsBean.getTachReferenceUnitLabelByValue(tachometer.tachReferenceUnits)}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{admin or user or user_plus or superAdmins or analysts}" styleClass="table-column-title-right-column-border-left-border">
                                        <p:commandLink id="cmdCopy" action="#{presetsBean.setTachometerDialog(tachometer, 2)}" oncomplete="PF('defaultDlg').show()">
                                            <i class="pi pi-copy" />
                                        </p:commandLink>

                                        <!-- Not Rendered for V1.0 -->
                                        <p:commandLink id="cmdEdit" action="#{presetsBean.setTachometerDialog(tachometer, 1)}" oncomplete="PF('defaultDlg').show()" rendered="#{false and tachometer.siteId ne null}">
                                            <i class="fa fa-pencil-square-o" />
                                        </p:commandLink>

                                        <!-- Not Rendered for V1.0 -->
                                        <p:commandLink id="cmdTrash" action="#{presetsBean.delete(tachometer, 'tachometers')}" rendered="#{false and tachometer.siteId ne null}">
                                            <i class="pi pi-trash" />
                                        </p:commandLink>

                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </p:tab>

                        <p:tab id="devicesTabId" title="#{userManageBean.getResourceBundleString('label_devices')}">
                            <h:form id="devicesFormId">

                                <p:panelGrid styleClass="layout-presets-panelgrid">
                                    <p:row>
                                        <p:column/>
                                        <p:column style="width: 200px">
                                            <p:commandLink value="#{userManageBean.getResourceBundleString('btn_add_device_template')}" action="#{presetsBean.setDevicesDialog(null, 0)}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or user or user_plus or superAdmins or analysts}"/>
                                        </p:column>
                                    </p:row>                                    
                                </p:panelGrid>

                                <p:dataTable id="dt-devicePresetsId" var="siteDevicePresets" value="#{presetsBean.distinctDevicePresetList}" emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}" rendered="#{presetsBean.distinctDevicePresetList ne null and presetsBean.distinctDevicePresetList.size() gt 0}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two top-margin" paginatorPosition="top">
                                    <p:ajax event="rowToggle" listener="#{presetsBean.getDevicePresetsByRowToggle(siteDevicePresets)}"/>

                                    <p:column style="width: 30px;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                        <p:rowToggler/>
                                    </p:column>

                                    <p:column rendered="#{siteDevicePresets.siteId ne null}" headerText="#{userManageBean.getResourceBundleString('label_device_name')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <h:outputText value="#{siteDevicePresets.name}" />
                                    </p:column>  

                                    <p:column rendered="#{siteDevicePresets.siteId eq null}" headerText="#{userManageBean.getResourceBundleString('label_device_name')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <i class="right-padding fa fa-globe"/>
                                        <h:outputText value="#{siteDevicePresets.name}" />
                                    </p:column> 

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_device_type')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                        <h:outputText value="#{siteDevicePresets.deviceType}" />
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px;" rendered="#{admin or user or user_plus or superAdmins or analysts}" styleClass="table-column-title-right-column-border-left-border">
                                        <p:commandLink id ="cmdCopy" action="#{presetsBean.setDevicesDialog(siteDevicePresets, 2)}" oncomplete="PF('topbarAddMenuOverlay').hide(); PF('defaultDlg').show()" update="nonAutoGrowlId">
                                            <i class="pi pi-copy" />
                                        </p:commandLink>  
                                        <p:commandLink id ="cmdEdit" action="#{presetsBean.setDevicesDialog(siteDevicePresets, 1)}" oncomplete="PF('topbarAddMenuOverlay').hide(); PF('defaultDlg').show()" update="nonAutoGrowlId" rendered="#{siteDevicePresets.type ne null and siteDevicePresets.type.toString().equalsIgnoreCase('site')}">
                                            <i class="fa fa-pencil-square-o"/>
                                        </p:commandLink> 
                                        <p:commandLink id ="cmdTrash" action="#{presetsBean.delete(siteDevicePresets, 'devices')}" onstart="readPageSize('dt-devicePresetsId_rppDD')" oncomplete="setPageSize('dt-devicePresetsId_rppDD',10)" update="nonAutoGrowlId" rendered="#{siteDevicePresets.type ne null and siteDevicePresets.type.toString().equalsIgnoreCase('site')}">
                                            <i class="pi pi-trash" />
                                        </p:commandLink> 
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                                    </p:column>

                                    <p:rowExpansion>    
                                        <p:dataTable id="dt-siteDevicePresetsId" var="filteredDevicePresetVOs" value="#{presetsBean.filteredDevicePresetList}" rendered="#{presetsBean.filteredDevicePresetList ne null and presetsBean.filteredDevicePresetList.size() gt 0}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two top-margin bottom-margin"  paginatorPosition="top">

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_sensor_type')}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                                <h:outputText value="#{filteredDevicePresetVOs.sensorType}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_data_type')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <h:outputText value="#{userManageBean.getResourceBundleString('label_waveform')}" rendered="#{filteredDevicePresetVOs.channelType.equalsIgnoreCase('AC')}" />
                                                <h:outputText value="#{userManageBean.getResourceBundleString('label_single_measurement')}" rendered="#{filteredDevicePresetVOs.channelType.equalsIgnoreCase('DC')}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_channel_number')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <h:outputText value="#{filteredDevicePresetVOs.channelNumber}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_sensitivity')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <h:outputText value="#{filteredDevicePresetVOs.sensorSensitivity}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_sensitivity_units')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <h:outputText value="#{filteredDevicePresetVOs.sensorUnits}" />
                                            </p:column>   

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_offset')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <h:outputText value="#{filteredDevicePresetVOs.sensorOffset}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_ap_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <h:outputText value="#{filteredDevicePresetVOs.apSetName}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_al_set')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <h:outputText value="#{filteredDevicePresetVOs.alSetName}" />
                                            </p:column> 

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_auto_acknowledge')}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border"  rendered="#{false}">
                                                <h:outputText value="#{filteredDevicePresetVOs.autoAcknowledge}" />
                                            </p:column>

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_alarm_Enabled')}" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                                <h:outputText value="#{filteredDevicePresetVOs.alarmEnabledValue}" />
                                            </p:column>   
                                        </p:dataTable>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </h:form>
                        </p:tab>

                        <p:tab id="pointLocationNamesTabId" title="#{userManageBean.getResourceBundleString('label_point_location_names')}">
                            <h:form id="pointLocationNamesFormId" >

                                <p:panelGrid styleClass="layout-presets-panelgrid">
                                    <p:row>
                                        <p:column/>
                                        <p:column style="width: 200px">
                                            <p:commandLink value="#{userManageBean.getResourceBundleString('btn_add_point_location_name')}" action="#{presetsBean.setPointLocationNameDialog(null, 0)}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or superAdmins}"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>

                                <p:dataTable id="pointLocationNamesDatatableId" var="pointLocation" value="#{presetsBean.pointLocationNameList}" 
                                             emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}"
                                             paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  
                                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  editable="false" 
                                             sortMode="single" styleClass="datatable-layout-two top-margin" paginatorPosition="top" 
                                             rendered="#{presetsBean.pointLocationNameList ne null and presetsBean.pointLocationNameList.size() gt 0}">

                                    <p:column rendered="#{pointLocation.siteId ne null}" headerText="#{userManageBean.getResourceBundleString('label_point_locations_name')}" style="width:50%;" styleClass="text-align-center table-column-title-left-column-border-right-border">    
                                        <h:outputText value="#{pointLocation.pointLocationName}"/>
                                    </p:column>

                                    <p:column rendered="#{pointLocation.siteId eq null}" headerText="#{userManageBean.getResourceBundleString('label_point_locations_name')}" style="width:50%;" styleClass="text-align-center table-column-title-left-column-border-right-border">    
                                        <i class="right-padding fa fa-globe"/>
                                        <h:outputText value="#{pointLocation.pointLocationName}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_description')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">    
                                        <h:outputText value="#{pointLocation.description}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px; text-align: center" rendered="#{admin or superAdmins}" styleClass="table-column-title-right-column-border-left-border">
                                        <p:commandLink id ="cmdCopy" action="#{presetsBean.setPointLocationNameDialog(pointLocation, 2)}" onstart="" oncomplete="PF('defaultDlg').show()">
                                            <i class="pi pi-copy" />
                                        </p:commandLink> 

                                        <!-- Not Rendered for V1.0 -->
                                        <p:commandLink id="cmdEdit" action="#{presetsBean.setPointLocationNameDialog(pointLocation, 1)}" oncomplete="PF('defaultDlg').show()" rendered="#{false and pointLocation.siteId ne null}">
                                            <i class="fa fa-pencil-square-o" />
                                        </p:commandLink>

                                        <!-- Not Rendered for V1.0 -->
                                        <p:commandLink id ="cmdTrash" action="#{presetsBean.delete(pointLocation, 'pointLocationNames')}" update="nonAutoGrowlId" rendered="#{false and pointLocation.siteId ne null}">
                                            <i class="pi pi-trash" />
                                        </p:commandLink>

                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </p:tab>
                        
                        <p:tab id="assetsTabId" title="#{userManageBean.getResourceBundleString('label_assets')}">
                            <h:form id="assetsFormId" >

                                <p:panelGrid styleClass="layout-presets-panelgrid">
                                    <p:row>
                                        <p:column/>
                                        <p:column style="width: 200px">
                                            <p:commandLink value="#{userManageBean.getResourceBundleString('btn_add_asset_template')}" action="#{presetsBean.setAssetsDialog(null, 0)}" oncomplete="PF('defaultDlg').show()" rendered="#{admin or user or user_plus or superAdmins or analysts}"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                                
                                <p:dataTable id="assetsDatatableId" var="asset" value="#{presetsBean.distinctAssetPresetsList}" 
                                             emptyMessage="#{userManageBean.getResourceBundleString('no_records_found_message')}"
                                             paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  
                                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  editable="false" 
                                             sortMode="single" styleClass="datatable-layout-two top-margin" paginatorPosition="top" 
                                             rendered="#{presetsBean.distinctAssetPresetsList ne null and presetsBean.distinctAssetPresetsList.size() gt 0}">
                                    <p:ajax event="rowToggle" listener="#{presetsBean.getAssetPresetsByRowToggle(asset)}"/>
                                    
                                    <p:column style="width: 30px;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                        <p:rowToggler/>
                                    </p:column>
                                    <p:column rendered="#{asset.siteId ne null}" headerText="#{userManageBean.getResourceBundleString('label_asset_template')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">    
                                        <p:outputLabel value="#{asset.assetPresetName}"/>
                                    </p:column>
                                    
                                    <p:column rendered="#{asset.siteId eq null}" headerText="#{userManageBean.getResourceBundleString('label_asset_template')}" style="width:50%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">    
                                        <i class="right-padding fa fa-globe"/>
                                        <p:outputLabel value="#{asset.assetPresetName}"/>
                                    </p:column>
                                    
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_asset_type')}" style="width:25%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">    
                                        <p:outputLabel value="#{asset.assetTypeName}"/>
                                    </p:column>
                                    
                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_description')}" style="width:25%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">    
                                        <p:outputLabel value="#{asset.description}"/>
                                    </p:column>

                                    <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 71px;" rendered="#{admin or user or user_plus or superAdmins or analysts}" styleClass="table-column-title-right-column-border-left-border">
                                        <p:commandLink id ="cmdCopy" action="#{presetsBean.setAssetsDialog(asset, 2)}" onstart="" oncomplete="PF('defaultDlg').show()">
                                            <i class="pi pi-copy" />
                                        </p:commandLink>                                         
                                        <p:commandLink id="cmdEdit" action="#{presetsBean.setAssetsDialog(asset, 1)}" oncomplete="PF('defaultDlg').show()" rendered="#{asset.siteId ne null}">
                                            <i class="fa fa-pencil-square-o" />
                                        </p:commandLink>
                                        <p:commandLink id ="cmdTrash" action="#{presetsBean.delete(asset, 'assets')}" update="nonAutoGrowlId" rendered="#{asset.siteId ne null}">
                                            <i class="pi pi-trash" />
                                        </p:commandLink>
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_copy')}" for="cmdCopy" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="cmdEdit" position="left" showDelay="500" hideEvent="mouseleave click" />
                                        <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="cmdTrash" position="left" showDelay="500" hideEvent="mouseleave click" />
                                    </p:column>
                                    <p:rowExpansion>    
                                        <p:dataTable id="dt-assetId" var="filteredAsset" value="#{presetsBean.filteredAssetPresetsList}" rendered="#{presetsBean.filteredAssetPresetsList ne null and presetsBean.filteredAssetPresetsList.size() gt 0}"  sortMode="single" styleClass="datatable-layout-two">

                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" style="width:12.5%;" styleClass="text-align-center  table-column-title-left-column-border-right-border">
                                                <p:outputLabel value="#{filteredAsset.pointLocationName}"/>
                                            </p:column>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_tachName')}" style="width:12.5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <p:outputLabel value="#{filteredAsset.tachName}"/>
                                            </p:column>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_speedRatio')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <p:outputLabel value="#{presetsBean.convertNullToNA(filteredAsset.speedRatioText)}"/>
                                            </p:column>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_rollDiameter')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <p:outputLabel value="#{presetsBean.convertNullToNA(filteredAsset.rollDiameterText)}"/>
                                            </p:column>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_rollDiameter_units')}" style="width:10%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <p:outputLabel value="#{presetsBean.convertNullToNA(filteredAsset.rollDiameterUnits)}"/>
                                            </p:column>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_pointlocations_ff_set_names')}" style="width:28.5%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                <p:outputLabel value="#{filteredAsset.ffSetNames}"/>
                                            </p:column>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_device_type')}" style="width:8%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                                 <p:outputLabel value="#{filteredAsset.devicePresetType}"/>
                                            </p:column>
                                            <p:column headerText="#{userManageBean.getResourceBundleString('label_device_template')}" style="width:12.5%;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                                <p:outputLabel value="#{filteredAsset.devicePresetName}" />
                                            </p:column>
                                            
                                        </p:dataTable>
                                    </p:rowExpansion>
                                </p:dataTable>
                            </h:form>
                        </p:tab>
                    </p:tabView>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
