<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_6')}</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-reports">
                    <h4>#{userManageBean.getResourceBundleString('application_place_holder')}</h4>
                    <p>#{userManageBean.getResourceBundleString('application_place_holder')}</p>
                    <p:commandButton type="button" icon="pi pi-fw pi-chart-bar" value="#{userManageBean.getResourceBundleString('breadcrumb_6')}" />
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
