<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_11')}</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-subscriptions">
                    <h:form id="subscriptions">
                        <div class="top-div">
                            <p:commandButton id="add-subscription-button" value="#{userManageBean.getResourceBundleString('btn_add_subscription')}" oncomplete="PF('defaultDlg').show()" actionListener="#{subscriptionBean.addSubscription()}"/>
                        </div>
                        <p:dataTable id="dt-subscription" widgetVar="dtsubscriptions" var="subscription" value="#{subscriptionBean.subscriptionsVOs}" editable="false"
                                     rowIndexVar="rowId" rowKey="#{subscription.subscriptionType}" paginator="true" resizableColumns="true" 
                                     rows="10" rowSelectMode="add" paginatorPosition="top" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     emptyMessage="#{userManageBean.getResourceBundleString('label_no_subscription_found_with_given_criteria')}" styleClass="datatable-layout-two top-margin bottom-margin">
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_subscription_type')}" style="width: 15%;" sortBy="#{subscription.subscriptionType}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <h:outputText value="#{subscription.subscriptionType}" />
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_mq_protocol')}" style="width: 10%;" sortBy="#{subscription.mqProtocol}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <h:outputText value="#{subscription.mqProtocol}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_mq_connect_string')}" style="width: 22%;" sortBy="#{subscription.mqConnectString}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <h:outputText value="#{subscription.mqConnectString}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_mq_user')}" style="width: 8%;" sortBy="#{subscription.mqUser}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <h:outputText value="#{subscription.mqUser}"/>
                            </p:column>
<!--                            <p:column headerText="#{userManageBean.getResourceBundleString('label_mq_pwd')}" style="width: 8%;" sortBy="#{subscription.mqPwd}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <h:outputText value="#{subscription.mqPwd}"/>
                            </p:column>-->
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_mq_queue_name')}" style="width: 10%;" sortBy="#{subscription.mqQueueName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <h:outputText value="#{subscription.mqQueueName}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_mq_client_id')}" style="width: 15%;" sortBy="#{subscription.mqClientId}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <h:outputText value="#{subscription.mqClientId}"/>
                            </p:column>
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_internal')}" style="width: 8%;" sortBy="#{subscription.internal}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <h:outputText value="#{subscription.internal}"/>
                            </p:column>
<!--                            <p:column headerText="#{userManageBean.getResourceBundleString('label_webhook_url')}" style="width: 21%;" sortBy="#{subscription.webhookUrl}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <h:outputText value="#{subscription.webhookUrl}"/>
                            </p:column>-->
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 8%;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                <p:commandLink id="editSubscription" action="#{subscriptionBean.editSubscription(subscription)}" oncomplete="PF('defaultDlg').show()" styleClass="actions">
                                    <p:ajax listener="#{subscriptionBean.editSubscription(subscription)}" update="@form nonAutoGrowlId" />
                                    <i class="fa fa-pencil-square-o" />
                                </p:commandLink>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit')}" for="editSubscription" position="left" showDelay="500"/>
                                <p:commandLink id="delSubscription" actionListener="#{subscriptionBean.deleteSubscription(subscription)}" ajax="true" update="@form nonAutoGrowlId subscriptions:republishBtn subscriptions:cancelBtn" styleClass="actions">
                                    <p:confirm header="#{userManageBean.getResourceBundleString('label_delete_confirmation')}" message="#{userManageBean.getResourceBundleString('label_delete_alert')}" icon="pi pi-exclamation-triangle"/>
                                    <i class="pi pi-trash" />
                                </p:commandLink>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="delSubscription" position="left" showDelay="500"/>
                            </p:column>
                        </p:dataTable>
                        <div class="button-container">
                            <p:commandButton class="ui-button ui-button-text-only ui-button-text" id="republishBtn" disabled="#{empty subscriptionBean.subscriptionsVOs}" value="#{userManageBean.getResourceBundleString('btn_republish_subscription')}" ajax="true" actionListener="#{subscriptionBean.republishSubscriptions()}" update="subscriptions:dt-subscription subscriptions:republishBtn subscriptions:cancelBtn nonAutoGrowlId"/>
                            <p:commandButton class="ui-button ui-button-text-only ui-button-text" id="cancelBtn" disabled="#{empty subscriptionBean.subscriptionsVOs}" value="#{userManageBean.getResourceBundleString('btn_cancel_subscription')}" ajax="true" actionListener="#{subscriptionBean.cancleSubscriptions()}" update="subscriptions:dt-subscription subscriptions:republishBtn subscriptions:cancelBtn nonAutoGrowlId" >
                                <p:confirm header="#{userManageBean.getResourceBundleString('label_delete_confirmation')}" message="#{userManageBean.getResourceBundleString('label_cancle_alert')}" icon="pi pi-exclamation-triangle"/>
                            </p:commandButton>
                        </div>
                        </h:form>
                </div>
            </div>
        </div>
    </ui:define>
                        
</ui:composition>
