<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_10')}</ui:define>

    <ui:define name="content">
        <p:panel styleClass="layout-system-status">
            <p:card styleClass="donut-content">
                <f:facet name="title">#{userManageBean.getResourceBundleString('label_airbase_status')}</f:facet>
                <p:outputLabel value="#{systemStatusBean.airbasePersentOfGreenValues}" rendered="#{systemStatusBean.displayAirbasePersent}"/>
                <p:donutChart model="#{systemStatusBean.airbaseStatusDonutModel}" id="airbaseStatusId" style="width: 100%; height: 400px;">
                    <p:ajax event="itemSelect" listener="#{systemStatusBean.handleAirbaseDonutClick}" oncomplete="PF('defaultDlg').show()"/> 
                </p:donutChart> 
            </p:card>
            <p:card styleClass="donut-content">
                <f:facet name="title">#{userManageBean.getResourceBundleString('label_echobase_status')}</f:facet>
                <p:outputLabel value="#{systemStatusBean.echoPersentOfGreenValues}" rendered="#{systemStatusBean.displayEchoPersent}"/>
                <p:donutChart model="#{systemStatusBean.echobaseStatusDonutModel}" id="echobaseStatusId" style="width: 100%; height: 400px;">
                    <p:ajax event="itemSelect" listener="#{systemStatusBean.handleEchobaseDonutClick}" oncomplete="PF('defaultDlg').show()"/> 
                </p:donutChart> 
            </p:card>
            <p:card styleClass="donut-content info-icon">
                <f:facet name="title">
                    #{userManageBean.getResourceBundleString('label_device_status')}
                    <p:outputLabel id="deviceStatusInfoIconId">
                        <i class="pi pi-info-circle" />
                    </p:outputLabel>
                </f:facet>
                <p:outputLabel value="#{systemStatusBean.mistPersentOfGreenValues}" rendered="#{systemStatusBean.displayMistPersent}"/>
                <p:donutChart model="#{systemStatusBean.sensorStatusDonutModel}" id="sensorStatusId" style="width: 100%; height: 400px;">
                    <p:ajax event="itemSelect" listener="#{systemStatusBean.handleSensorStatusDonutClick}" oncomplete="PF('defaultDlg').show()"/> 
                </p:donutChart> 
                <p:tooltip value="#{userManageBean.getResourceBundleString('label_disabled_devices_info')}" for="deviceStatusInfoIconId" position="top" showDelay="500"/>
            </p:card>
            <p:card styleClass="single-btn-content">
                <f:facet name="title">#{userManageBean.getResourceBundleString('label_device_low_battery')}</f:facet>
                <p:commandButton id="disabledSensorr" value="#{userManageBean.getResourceBundleString('label_name_total_number')} : #{systemStatusBean.numberOfLowBatteries}"  action="#{systemStatusBean.handleLowBetteryClick()}" oncomplete="PF('defaultDlg').show()"/>
            </p:card>
            <p:card styleClass="single-btn-content">
                <f:facet name="title">#{userManageBean.getResourceBundleString('label_disabled_sensors')}</f:facet>
                <p:commandButton id="disabledSensor" value="#{userManageBean.getResourceBundleString('label_name_total_number')} : #{systemStatusBean.numberOfDisabledSensor}"  action="#{systemStatusBean.handleDisabledSensorClick()}" oncomplete="PF('defaultDlg').show()"/>
            </p:card>
        </p:panel>
    </ui:define>
</ui:composition>
