<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Test Page</title>
    </h:head>
    <h:body>
        Hello, <h:outputText value="#{testBean.username}" /><br />
        <p><b>Headers</b><br />
        <ui:repeat value="#{testBean.headers}" var="value">
            #{value} <br />
        </ui:repeat>
        </p>
        <p><b>Session</b><br />
        <ui:repeat value="#{testBean.sessionAttributs}" var="value">
            #{value} <br />
        </ui:repeat>
        </p>
        <p><b>Bean</b><br />
        <h:outputText value="#{userManageBean}" /> <br/>
        <h:outputText value="#{sessionScope.userManageBean}" />
        </p>
    </h:body>
</html>
