<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_8')}</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-users">
                    <h:form id="users-form">
                        <div class="top-div">
                            <p:commandButton id="add-user-button" value="#{userManageBean.getResourceBundleString('label_create_user')}" oncomplete="PF('defaultDlg').show()" actionListener="#{usersBean.onCreateUser()}"/>
                        </div>
                        <p:dataTable id="dt-users" widgetVar="dtUsers" stripedRows="true" size="small" var="user" value="#{usersBean.usersList}" editable="true"
                                     reflow="true" rowIndexVar="rowId" rowKey="#{user.userId}" paginator="true" resizableColumns="true"
                                     rows="10" rowSelectMode="add" paginatorPosition="bottom" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     emptyMessage="#{userManageBean.getResourceBundleString('label_no_users_found_with_given_criteria')}" styleClass="datatable-layout-two top-margin">

                            <p:ajax event="rowEdit" listener="#{usersBean.onUserRowEdit(user)}"/>
                            <p:ajax event="rowEditCancel" listener="#{usersBean.onCancel}" />
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_user_id')}" style="width: 40%;" sortBy="#{user.userId}" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <h:outputText value="#{user.userId}"/>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_first_name')}" style="width: 20%;" sortBy="#{user.firstName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{user.firstName}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{user.firstName}" style="width:100%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_last_name')}" style="width: 20%;" sortBy="#{user.lastName}" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                    <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{user.lastName}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{user.lastName}" style="width:100%"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('dialog_createcontact_label_role')}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <f:facet name="header" >
                                    <h:outputText value="#{userManageBean.getResourceBundleString('dialog_createcontact_label_role')}"/>
                                    <p:commandLink action="#{usersBean.viewRoleInformation()}" oncomplete="PF('defaultDlg').show()">
                                        <i class=" pi pi-info-circle" />
                                    </p:commandLink>
                                </f:facet>

                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{usersBean.rolesMap.get(user.siteRole)}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <h:selectOneMenu value="#{user.siteRole}"  style="width:100%">
                                            <f:selectItems value="#{usersBean.userRoles}"/>
                                        </h:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" class="container" style="width: 90px;" styleClass="text-align-center table-column-title-right-column-border-left-border">
                                <p:rowEditor id="cmdEdit" />
                                <p:commandLink id="delete-user-button-icon" action="#{usersBean.setSelectedSiteUsersVO(user)}" oncomplete="PF('userDeleteDlg').show()">
                                    <i class="pi pi-trash" />
                                </p:commandLink>
                                
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_delete')}" for="delete-user-button-icon" position="left" showDelay="500"/>
                                <p:tooltip value="#{userManageBean.getResourceBundleString('label_edit_row_actions')}" for="cmdEdit" position="left" showDelay="500"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
            </div>
        </div>
    <script type="text/javascript">
        function disableEdit() { 
            $('.ui-row-editor-pencil').attr('style','display: none;')
        }
        function enableEdit() {
            $('.ui-row-editor-pencil').attr('style','display: block;')
        }
        function addDisableFunctionality() {
             $('#users-form\\:dt-users_data').on('click', function(event){
                if(event.target.className &#38;&#38; event.target.className === 'ui-icon ui-icon-pencil') {
                    disableEdit()
                }
            });
        }
        $(document).ready(function() {
            $('#users-form\\:dt-users_data').on('click', function(event){
                if(event.target.className &#38;&#38; event.target.className === 'ui-icon ui-icon-pencil') {
                    disableEdit()
                }
            });
            $('.ui-row-editor-pencil').on('click', function(event){
                disableEdit();
            });
        });
    </script>
    </ui:define>
</ui:composition>
