<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/template.xhtml">

    <ui:define name="title">#{userManageBean.getResourceBundleString('application_header')} - #{userManageBean.getResourceBundleString('breadcrumb_3')}</ui:define>

    <ui:define name="content">
        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-work-order-filter">
                    <h:form id="workOrderFilterFormId">
                        <p:panel styleClass="layout-work-order-filter-panel">
                            <p:outputLabel for="workOrderFilterRegionId" value="#{userManageBean.getResourceBundleString('label_region')}:" styleClass="block-label" />
                            <p:autoComplete id="workOrderFilterRegionId" value="#{workOrderBean.selectedFilters.region}" scrollHeight="500" forceSelection="true"
                                            completeMethod="#{workOrderBean.queryRegionList}" queryDelay="100" cache="true" disabled="#{workOrderBean.regionListCheck()}">
                                <p:ajax event="itemSelect" listener="#{workOrderBean.onRegionChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-work-order-filter-panel">
                            <p:outputLabel for="workOrderFilterCountryId" value="#{userManageBean.getResourceBundleString('label_country')}:" styleClass="block-label"/>
                            <p:autoComplete id="workOrderFilterCountryId" value="#{workOrderBean.selectedFilters.country}" scrollHeight="500" forceSelection="true"
                                            completeMethod="#{workOrderBean.queryCountryList}" queryDelay="100" cache="true" disabled="#{workOrderBean.countryListCheck()}">
                                <p:ajax event="itemSelect" listener="#{workOrderBean.onCountryChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-work-order-filter-panel">
                            <p:outputLabel for="workOrderFilterSiteId" value="#{userManageBean.getResourceBundleString('label_site')}:" styleClass="block-label"/>
                            <p:autoComplete id="workOrderFilterSiteId" value="#{workOrderBean.selectedFilters.site}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{workOrderBean.querySiteNameList}" queryDelay="100" cache="true" disabled="#{workOrderBean.siteListCheck()}">
                                <p:ajax event="itemSelect" listener="#{workOrderBean.onSiteChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-work-order-filter-panel">
                            <p:outputLabel for="workOrderFilterAreaId" value="#{userManageBean.getResourceBundleString('label_area')}:" styleClass="block-label"/>
                            <p:autoComplete id="workOrderFilterAreaId" value="#{workOrderBean.selectedFilters.area}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{workOrderBean.queryAreaNameList}" queryDelay="100" cache="true" disabled="#{workOrderBean.areaListCheck()}">
                                <p:ajax event="itemSelect" listener="#{workOrderBean.onAreaChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                        <p:panel styleClass="layout-work-order-filter-panel">
                            <p:outputLabel for="workOrderFilterAssetId" value="#{userManageBean.getResourceBundleString('label_asset')}:" styleClass="block-label"/>
                            <p:autoComplete id="workOrderFilterAssetId" value="#{workOrderBean.selectedFilters.asset}" scrollHeight="500" forceSelection="true" var="selectItem" itemLabel="#{selectItem.label}" itemValue="#{selectItem}"
                                            converter="selectItemConverter" completeMethod="#{workOrderBean.queryAssetNameList}" queryDelay="100" cache="true" disabled="#{workOrderBean.assetListCheck()}">
                                <p:ajax event="itemSelect" listener="#{workOrderBean.onAssetChange(true)}" oncomplete="updateTreeNodes()"/>
                            </p:autoComplete>
                        </p:panel>
                    </h:form>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col">
                <div class="card layout-work-order-content">
                    <h:form id="workOrderResultFormId"> 
                        
                        <div class="top-div">
                            <div class="inside-div">
                                <p:commandButton id="create-workorder-button" value="#{userManageBean.getResourceBundleString('label_create_workorder')}" rendered="#{workOrderBean.selectedFilters.area ne null and (admin or user or user_plus or superAdmins or analysts)}" actionListener="#{workOrderBean.openWorkOrderPage()}" oncomplete="PF('defaultDlg').show()"/>
                                <p:commandButton id="view-closed-workorder-button" value="#{userManageBean.getResourceBundleString('label_view_closed_workorders')}" rendered="#{workOrderBean.selectedFilters.area ne null and (admin or user or user_plus or superAdmins or analysts)}" actionListener="#{workOrderBean.viewClosedWorkOrderPage()}" oncomplete="PF('defaultDlg').show()"/>                           
                                <p:commandLink id="downloadOpenWorkOrders" ajax="false" >
                                    <i class="pi pi-download" />
                                    <p:fileDownload value="#{workOrderBean.downloadOpenOrderCSV()}" />
                                </p:commandLink> 
                                
                                <p:tooltip value="#{userManageBean.getResourceBundleString('download_open_work_orders_csv')}" for="downloadOpenWorkOrders" position="bottom" showDelay="500"/>
                            </div>
                        </div> 
                        
                        <!--Used to show where Work Orders are located, but not the Work Orders themselves-->
                        <p:dataView var="workOrder" value="#{workOrderBean.areaTileList}" rows="12" paginator="true" paginatorPosition="top" rowsPerPageTemplate="6,12,18,32,{ShowAll|'All'}"   
                                    paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    layout="grid" rendered="#{workOrderBean.areaTileList.size() gt 0}" styleClass="dataview-layout-one top-margin">
                             
                            <f:facet name="header">
                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_areas_with_work_orders')}"/>
                            </f:facet>

                            <p:dataViewGridItem columns="6">
                                <p:commandLink action="#{workOrderBean.onAreaTileSelect(workOrder)}">
                                    <div class="card">
                                        <div class="viewGridItem-header">
                                            <p:outputLabel value="#{workOrder.areaName}" />
                                        </div>
                                        <p:panelGrid>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_work_order_priority_1')}:"/>
                                                </p:column>
                                                <p:column>
                                                    <p:outputLabel value="#{workOrder.priority1}" />
                                                </p:column>
                                            </p:row>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_work_order_priority_2')}:"/>
                                                </p:column>
                                                <p:column>
                                                    <p:outputLabel value="#{workOrder.priority2}" />
                                                </p:column>
                                            </p:row>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_work_order_priority_3')}:"/>
                                                </p:column>
                                                <p:column>
                                                    <p:outputLabel value="#{workOrder.priority3}" />
                                                </p:column>
                                            </p:row>
                                            <p:row>
                                                <p:column>
                                                    <p:outputLabel value="#{userManageBean.getResourceBundleString('label_work_order_priority_4')}:"/>
                                                </p:column>
                                                <p:column>
                                                    <p:outputLabel value="#{workOrder.priority4}" />
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid>
                                    </div>
                                </p:commandLink>
                            </p:dataViewGridItem>
                        </p:dataView>

                        <p:dataTable id="workOrderResultTableId" var="workOrder" value="#{workOrderBean.openWorkOrdersList}" rendered="#{workOrderBean.openWorkOrdersList.size() gt 0}" paginator="true" rows="25" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}" 
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two top-margin" rowIndexVar="row"  paginatorPosition="top" sortBy="#{workOrder.priority}">     
                            <p:ajax event="rowToggle" listener="#{workOrderBean.onRowToggle(workOrder)}"/>

                            <f:facet name="header">
                                <p:outputLabel value="#{workOrderBean.selectedFilters.area.label} - #{userManageBean.getResourceBundleString('label_open_work_orders')}"/>
                            </f:facet>

                            <p:column exportable="false" style="width: 30px;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                <p:rowToggler/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_priority')}" visible="false" >
                                <p:commandLink value="#{workOrder.priority}"  />
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_area_name')}" visible="false" >
                                <p:commandLink value="#{workOrder.areaName}"  />
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_asset')}" sortBy="#{workOrder.assetName}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{workOrder.assetName}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_asset_component')}" visible="false" >
                                <p:commandLink value="#{workOrder.assetComponent}"  />
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_issue')}" sortBy="#{workOrder.issue}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{workOrderBean.getIssueLabelByValue(workOrder.issue)}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" sortBy="#{workOrder.action}" style="width: 20%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{workOrderBean.getActionLabelByValue(workOrder.action)}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_description')}" style="width: 25%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:outputLabel value="#{workOrder.description}"/>
                            </p:column>

                            <p:column headerText="#{userManageBean.getResourceBundleString('label_notes')}" visible="false" >
                                <p:commandLink value="#{workOrder.notes}"  />
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_user')}" visible="false" >
                                <p:commandLink value="#{workOrder.user}"  />
                            </p:column>
                            
                            <p:column headerText="#{userManageBean.getResourceBundleString('label_date_created')}" visible="false" >
                                <p:commandLink value="#{userManageBean.getTzOffsetString(workOrder.createdDate, 1)}"  />
                            </p:column>

                            <p:column exportable="false" headerText="#{userManageBean.getResourceBundleString('label_priority')}" sortBy="#{workOrder.priority}" style="width: 15%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                <p:commandLink value="#{workOrder.priority}" style="#{workOrderBean.getPriorityStyle(workOrder.priority)}" styleClass="non-cmd-link"/>
                            </p:column>

                            <p:column exportable="false"  headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 51px; text-align: center" rendered="#{admin or user or user_plus or superAdmins or analysts}" styleClass="table-column-title-right-column-border-left-border">
                                <p:commandLink id ="cmdClose" action="#{workOrderBean.close(workOrder)}" oncomplete="updateTreeNodes()">
                                    <i class="pi pi-check-square" />
                                    <p:confirm header="#{userManageBean.getResourceBundleString('label_close_confirmation')}" message="#{userManageBean.getResourceBundleString('label_close_this_work_order')}" icon="pi pi-exclamation-triangle"/>
                                </p:commandLink>                                        
                                <p:commandLink id ="cmdEdit" action="#{workOrderBean.edit(workOrder)}">
                                    <i class="fa fa-pencil-square-o"/>
                                </p:commandLink>
                                <p:tooltip for="cmdClose" value="#{userManageBean.getResourceBundleString('label_close_work_order')}" position="left" showDelay="500"/>
                                <p:tooltip for="cmdEdit" value="#{userManageBean.getResourceBundleString('dialog_edit_work_order_header')}" position="left" showDelay="500"/>
                            </p:column>

                            <p:rowExpansion>
                                <div id="workOrderDivId">
                                    <p:panel styleClass="layout-work-order-inline-panel">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_created_by')}:"/>
                                        <p:inputText value="#{workOrder.user}" readonly="true"/>
                                    </p:panel>
                                    
                                    <p:panel styleClass="layout-work-order-inline-panel">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_date_created')}:"/>
                                        <p:calendar value="#{userManageBean.getTzOffsetString(workOrder.createdDate, 1)}" disabled="true"/>
                                    </p:panel>
                                    
                                    <p:panel styleClass="layout-work-order-inline-panel">
                                        <p:outputLabel value="#{userManageBean.getResourceBundleString('label_asset_component')}:"/>
                                        <p:calendar value="#{workOrder.assetComponent}" disabled="true"/>
                                    </p:panel>
                                    
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column style="width: 141.5px;">
                                                <p:outputLabel value="#{userManageBean.getResourceBundleString('label_notes')}:"/>
                                            </p:column>
                                            <p:column>
                                                <p:inputTextarea rows="3" readonly="true" disabled="true" value="#{workOrder.notes}"/>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                    
                                    <p:dataTable id="trendTableId" var="trend" value="#{workOrderBean.getWorkOrderTrendsList(workOrder)}" rendered="#{workOrderBean.getWorkOrderTrendsList(workOrder) ne null and workOrderBean.getWorkOrderTrendsList(workOrder).size() gt 0}" paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,{ShowAll|'All'}"  paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" sortMode="single" styleClass="datatable-layout-two top-margin bottom-margin"  paginatorPosition="top" sortBy="#{trend.channelType}">
                                        
                                        <f:facet name="header">
                                           <p:outputLabel value="#{userManageBean.getResourceBundleString('label_trends')}"/>
                                        </f:facet>
                                        
                                        <p:column headerText="#{userManageBean.getResourceBundleString('label_point_location')}" sortBy="#{trend.paramName}" style="width: 34%;" styleClass="text-align-center table-column-title-left-column-border-right-border">
                                            <p:outputLabel value="#{trend.pointLocationName}"/>
                                        </p:column>
                                        
                                        <p:column headerText="#{userManageBean.getResourceBundleString('label_point')}" sortBy="#{trend.paramName}" style="width: 33%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                            <p:outputLabel value="#{trend.pointName}"/>
                                        </p:column>
                                        
                                        <p:column headerText="#{userManageBean.getResourceBundleString('label_param_name')}" sortBy="#{trend.paramName}" style="width: 33%;" styleClass="text-align-center table-column-title-center-column-border-horizontal-border">
                                            <p:outputLabel value="#{trend.paramName}"/>
                                        </p:column>
                                        
                                        <p:column headerText="#{userManageBean.getResourceBundleString('label_action')}" style="width: 51px; text-align: center" styleClass="table-column-title-right-column-border-left-border">
                                            <p:commandLink id ="cmdViewTrendGraph" action="#{workOrderBean.viewTrendGraph(trend)}">
                                                <i class="pi pi-chart-line" />
                                            </p:commandLink>  
                                            <p:tooltip for="cmdViewTrendGraph" value="#{userManageBean.getResourceBundleString('label_view_trend')}" position="top" showDelay="500"/>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </p:rowExpansion>
                        </p:dataTable>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
