.layout-add-al-set {
    .ui-scrollpanel {
        height: 350px !important;
        padding: 0;
        border: none;
        margin: 0px;
        width: 1300px;
    }
    
    .width-176-5 {
        width: 176.5px;
    }
    
    .ui-panelgrid {
        &.panelgrid-layout-one {
            .min-width-one {
                min-width: 260px !important;
            }
        }
    }
      
    .ui-panel {
        &[id$=":msgPanel"] {
            .ui-panel-content {
                padding: 0;
                border: none;
                text-align: center;
            }
        }
    }
    
    .ui-datatable {
        &.datatable-layout-one {
            .ui-datatable-tablewrapper {
                table {
                    thead {
                        th {
                            padding: 0;
                            text-align: center;
                            background-color: $tableColumnTitleBgColor;
                            border: $tableColumnTitleColumnBorder;
                            color: $tableColumnTitleTextColor;
                            margin: 0;
                            box-shadow: none !important;

                            .ui-column-title {
                                display: inline-block;
                                height: 19px;
                                line-height: 19px;
                                vertical-align: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

