.layout-add-channel {
    .ui-scrollpanel {
        height: 350px !important;
        padding: 0;
        border: none;
        margin: 0px;
        width: 1300px;
    }
    
    .width-176-5 {
        width: 176.5px;
    }
    
    .width-321 {
        width: 321px;
    }
    
    .ui-message {
        padding: 0;
        margin: 0 !important;
        display: block;
        border-radius: 4px;
        float: right;

        .ui-message-error-icon {
            display: none !important;
        }

        .ui-message-error-detail {
            display: inline-block;
            line-height: 23px;
            padding: 0 5px 0 0;
        }
    }
    
    .ui-panel {
        &[id$=":msgPanel"] {
            .ui-panel-content {
                border: none;
                padding: 0;
                text-align: center;
            }
        }
    }
}

