.layout-alarms-filter { 
    .layout-alarms-filter-panel {
        display: inline-block;
        padding: 0;
        
        .ui-panel-content {
            border: none;
            border-radius: 0;
            padding: 1px 5px 1px 0;
            text-align: right;
            
            .ui-outputlabel {
                display: inline-block;
                width: 127px;
                float: left;
                height: 23px;
                line-height: 23px;
                margin-right: 5px;
            }

            .ui-autocomplete {
                .ui-inputfield {
                    width: 200px;
                    height: 23px;
                }
            }
        }
    } 
}

.layout-alarms-content {
    .ui-toolbar {
        border: none;
        color: unset;
        background: unset;
        padding: 0;
        border-radius: unset;
    }
    
    .ui-datatable {
        &.datatable-layout-three {
            .ui-datatable-header {
                text-align: center;
                padding: 0px;
                background-color: $tableHeadBgColor;
                border: 1px solid $tableHeadBorderColor;
                color: $tableHeadTextColor;
                border-radius: 0 !important;

                .ui-outputlabel {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                }
            }

            thead {
                th {
                    padding: 0;
                    text-align: center;
                    background-color: $tableColumnTitleBgColor;
                    border: $tableColumnTitleColumnBorder;
                    color: $tableColumnTitleTextColor;
                    margin: 0;
                    box-shadow: none !important;

                    .ui-column-title {
                        display: inline-block;
                        height: 19px;
                        line-height: 19px;
                        vertical-align: unset;
                    }
                }
            }
        
            .ui-paginator {
                padding: 0;
            
                &.ui-paginator-top {
                    .ui-paginator-rpp-options {
                        margin: 0 1px 1px 1px;
                    }
                }

                &.ui-paginator-bottom {
                    .ui-paginator-rpp-options {
                        margin: 1px;
                    }
                }

                select {
                    border: 1px solid #ced4da;
                    border-radius: 4px;
                    color: #495057;
                    outline: none;
                }

                .ui-paginator-first {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-prev {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-pages {
                    .ui-paginator-page {
                        border: none;
                        line-height: 21px;
                        min-width: 21px;
                        height: 21px;
                        margin: 1px;
                    }
                }

                .ui-paginator-next {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-last {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-rpp-options {
                    height: 21px;
                    vertical-align: unset;
                }
            }
            
            .ui-datatable-data {
                & > tr {
                    & > td {
                        padding: 2px 5px;
                        border: 1px solid rgba(0, 0, 0, 0.08);
                        border-width: 1px;

                        &.ui-selection-column {
                            text-align: center;
                            
                            .ui-chkbox {
                                margin: 0;
                                width: auto;
                                height: 21px;

                                .ui-chkbox-box {
                                    width: 17px;
                                    height: 17px;
                                    margin: 2px 0;
                                }
                            }
                            
                            &.acknowledged {
                                .ui-chkbox {
                                    display: none;
                                }
                            }
                        }
                        
                        .ui-commandlink {
                            height: 23px;
                            border-radius: 0;
                            min-width: unset;
                            width: 20px;
                            line-height: 23px;
                            margin: 0;
                            text-decoration: none;
                            padding: 0;
                            display: inline-block;
                            text-align: center;

                            &:hover {
                                background-color: $linksBgHoverColor;
                                color: $linksTextHoverColor;
                            }
                                        
                            i {
                                font-size: 14px;
                            }
                        }
                    }

                    .ui-row-toggler {
                        width: 18px;
                    }
                    
                    &.ui-state-highlight {
                        & > td {
                            .ui-commandlink {
                                background-color: $linksHighLightBgColor;
                                color: $linksHighLightTextColor;

                                &:hover {
                                    background-color: $linksHighLightBgHoverColor;
                                    color: $linksHighLightTextHoverColor;
                                }
                            }
                        }
                    }
                    
                    &:not(.ui-state-highlight) {
                        &:not(.ui-state-hover) {
                            &.row-temperature-fault {
                                background-color: $faultBgColor;
                                color: $faultTextColor;
                                
                                & > td {
                                    .ui-commandlink {
                                        background-color: $faultBgColor;
                                        color: $faultTextColor;
                                    }
                                }
                            }

                            &.row-temperature-alert {
                                background-color: $alertBgColor;
                                color: $alertTextColor;
                                
                                & > td {
                                    .ui-commandlink {
                                        background-color: $alertBgColor;
                                        color: $alertTextColor;
                                    }
                                }
                            }
                        }
                    }
                }

                .ui-datatable-tablewrapper {
                    overflow: inherit;
                }
            }
        
            .table-column-title-left-column-border-right-border {
                border-right: $tableColumnTitleLeftColumnBorderRightBorder;
            }

            .table-column-title-center-column-border-horizontal-border {
                border-right: $tableColumnTitleCenterColumnBorderHorizontalBorder;
                border-left: $tableColumnTitleCenterColumnBorderHorizontalBorder;
            }

            .table-column-title-right-column-border-left-border {
                border-left: $tableColumnTitleRightColumnBorderLeftBorder;
            }
        }
    }
    
    .ui-dataview {
        &.dataview-layout-one {
            .ui-dataview-content {
                .ui-dataview-row {
                    .ui-dataview-column {
                        .non-link-card {
                            .ui-panelgrid {
                                tbody {
                                    tr {
                                        td {
                                            .ui-commandlink {
                                                text-align: center;
                                                padding: 0px 5px;

                                                &.fault-link {
                                                    background-color: $tileFaultBgColor;
                                                    color: $tileFaultTextColor;

                                                    &:hover {
                                                        background-color: $tileFaultBgHoverColor;
                                                        color: $tileFaultTextHoverColor;
                                                    }
                                                }

                                                &.alert-link {
                                                    background-color: $tileAlertBgColor;
                                                    color: $tileAlertTextColor;

                                                    &:hover {
                                                        background-color: $tileAlertBgHoverColor;
                                                        color: $tileAlertTextHoverColor;
                                                    }
                                                }

                                                &.active-alarm-link {
                                                    background-color: $tileActiveAlarmsBgColor;
                                                    color: $tileActiveAlarmsTextColor;

                                                    &:hover {
                                                        background-color: $tileActiveAlarmsBgHoverColor;
                                                        color: $tileActiveAlarmsTextHoverColor;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.top-margin {
            margin-top: 10px !important;
        }
    }

    .ui-selectcheckboxmenu {
        min-height: 23px;
        height: fit-content;

        .ui-selectcheckboxmenu-multiple-container {
            height: fit-content !important;
            min-height: 21px;

            &.ui-inputfield {
                padding: 0.2rem 0.2rem;
                width: 280px;
            }

            .ui-selectcheckboxmenu-token {
                height: 21px;
                line-height: 19px;
                background-color: $secondaryLightColor;
                border: 1px solid $primaryColor;
                color: $primaryTextColor;

                .ui-selectcheckboxmenu-token-label {
                    padding: 0 18px 0 5px;
                }

                .ui-selectcheckboxmenu-token-icon {
                    font-size: 10px;
                    margin-top: -9px;
                    line-height: 20px;
                    margin-right: 2px;
                }
            }
        }

        .ui-selectcheckboxmenu-trigger {
            border-left: 1px solid #dee2e6;
            width: 1.5rem;
            background-color: white;
        }
    }
    
    .ui-panelgrid {
        &.layout-alarms-panelgrid {
            margin: 10px 0;
            width: -webkit-fill-available;
            padding: 0;

            tbody {
                tr {
                    .ui-panelgrid-cell {
                        border: none;
                        padding: 0;

                        .ui-outputlabel {
                            display: block;
                            width: max-content;
                            height: 23px;
                            line-height: 23px;
                            margin-right: 10px;
                        }

                        .ui-button {
                            margin: 0px !important;
                            float: left;
                        }
                                    
                        .ui-inputswitch {
                            margin: 4.5px 0 1.5px 0;

                            .ui-inputswitch-handle {
                                top: -2px;
                                width: 18px !important;
                                height: 18px !important;
                                box-shadow: none !important;
                            }
                        }
                        
                        .ui-panel {
                            &.timeline-legend-block {
                                display: block;
                                width: fit-content;
                                margin: 0 auto;
                                padding: 0;

                                .ui-panel-titlebar {
                                    display: none;
                                }

                                .ui-panel-content {
                                    border: none;
                                    padding: 0;
                                    margin: 0;
                                    text-align: center;
                                    
                                    div {
                                        &.timeline-legend-block-div {
                                            width: max-content;
                                            display: inline-block;
                                            margin: 0 10px;
                                            padding: 0;
                                            vertical-align: middle;
                                            
                                            span {
                                                &.legend-color-block {
                                                    display: inline-block;
                                                    height: 23px;
                                                    width: 23px;
                                                    float: left;
                                                }

                                                &.alert-color-block {
                                                    background-color: $alertBgColor;
                                                }

                                                &.fault-color-block {
                                                    background-color: $faultBgColor;
                                                }

                                                &.right-margin {
                                                    margin-right: 5px;
                                                }
                                            }

                                            .ui-outputlabel {
                                                display: inline-block;
                                                margin: 0;
                                                float: left;
                                            }
                                        }
                                    }
                                }
                            }
                            
                            &.no-alarm-disclaimer-panel {
                                display: block;
                                width: fit-content;
                                margin: 0 auto;
                                padding: 0;
                                
                                .ui-panel-content {
                                    border: none;
                                    padding: 0;
                                    margin: 0;
                                    text-align: center;
                                
                                    .ui-outputlabel {
                                        display: block;
                                        width: unset;
                                        height: unset;
                                        line-height: unset;
                                        margin-right: unset;
                                        color: $disclaimerTextColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    div {
        &.timeline-layout-one {
            .vis-timeline {
                .vis-center {
                    .vis-content {
                        .vis-itemset {
                            .vis-foreground {
                                .vis-group {
                                    .vis-item {
                                        &.highfault {
                                            background: $faultBgColor none !important;

                                            .vis-item-overflow {
                                                .vis-item-content {
                                                    color: $faultTextColor !important;
                                                }
                                            }
                                        }

                                        &.highalert {
                                            background: $alertBgColor none !important;

                                            .vis-item-overflow {
                                                .vis-item-content {
                                                    color: $alertTextColor !important;
                                                }
                                            }
                                        }

                                        &.lowalert {
                                            background: $alertBgColor none !important;

                                            .vis-item-overflow {
                                                .vis-item-content {
                                                    color: $alertTextColor !important;
                                                }
                                            }
                                        }

                                        &.lowfault {
                                            background: $faultBgColor none !important;

                                            .vis-item-overflow {
                                                .vis-item-content {
                                                    color: $faultTextColor !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: $uiBreakpointTwo) {
    .layout-wrapper {
        .layout-alarms-content {
            .ui-panelgrid {
                &.layout-alarms-panelgrid {
                    tbody {
                        tr {
                            .ui-panelgrid-cell {
                                .ui-panel {
                                    &.timeline-legend-block {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .ui-datatable {
                &.datatable-layout-header-filters {
                    .ui-column-filter {
                        display: none;
                    }
                    
                    .ui-column-customfilter {
                        display: none;
                    }
                }
            }
        }
    }
}

