.layout-alarm-details {
    .ui-tabs { 
        width: fit-content;
        
        .ui-tabs-panels {
            .ui-tabs-panel {
                padding: 10px 0;
                
                div {
                    &.highcharts-container {
                        svg {
                            &.highcharts-root {
                                g {
                                    &.highcharts-label {
                                        transform: translate(23px, 356px) !important;
                                        
                                        text {
                                            font-size: 11px !important;
                                        }
                                        
                                        &.highcharts-tooltip {
                                            transform: translate(348px, 356px) !important;
                                            
                                            path {
                                                &.highcharts-label-box {
                                                    fill: rgba(0, 0, 0, 0) !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                .panel-layout-one {
                    width: -webkit-fill-available;
                }

                .ui-panelgrid {
                    &.panelgrid-layout-one {
                        width: -webkit-fill-available;
                
                        &.side-margin {
                            margin: 0 17 0 0;
                        }
                    
                        tbody {
                            tr {
                                .ui-panelgrid-cell {
                                    &.text-align-center {
                                        text-align: center;
                                    }
                
                                    .ui-selectbooleancheckbox {
                                        .ui-chkbox-label {
                                            margin: 0 0 0 5px;
                                            vertical-align: unset;
                                        }
                                    }
                                    
                                    .ui-commandlink {
                                        &#toolTip111 {
                                            margin: 0 5 0 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
        
    .disclaimer {
        color: $disclaimerTextColor;
    }
}

