.layout-asset-analysis { 
    .ui-panelgrid{
        &[id="assetAnalysisPanelGridId"] {
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        vertical-align: top;
                    }
                }
            }
        }
    }
    
    .ui-panel {
        &[id="assetAnalysisPanelId"] {
            .ui-panel-content {
                border: none;
                padding: 0;
                border-radius: 0 !important;
            }
        }
        
        &[id="assetInfoPanelId"] {
            max-width: 400px;
            min-width: 314px;
            
            .ui-panel-titlebar {
                .ui-panel-title {
                    font-size: unset;
                }
            }
            
            .ui-panel-content {
                border: 1px solid #dee2e6 !important;
                
                .ui-panelgrid {
                    &.panelgrid-layout-one {
                        tbody {
                            tr {
                                .ui-panelgrid-cell {
                                    padding: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    [id="assetAnalysisFormId"] {
        .ui-panelgrid {
            &.panelgrid-layout-one {
                tbody {
                    tr {
                        .ui-panelgrid-cell {
                            padding: 5px;
                            
                            .ui-button {
                                width: 147px;
                            }
                        }
                    }
                }
            }
        }
    }
}

