body {
    overflow: hidden;
    
    .ui-selectonemenu-panel {
        .ui-selectonemenu-items {
            padding: 0;
            margin: 5px 0;
            
            .ui-selectonemenu-item {
                border: none !important;
                
                &.ui-selectonemenu-row {
                    > td {
                        border: none !important;
                        padding: 6.5px !important;
                        
                        i {
                            margin-right: 5px
                        }
                    }
                }
            }
        }
    }
}

.layout-asset-analysis-window-topbar {
    position: absolute;
    height: 81px;
    width: 100%;
    
    .title-bar {
        height: 57px;
        background-color: $topBarBGColor !important;
        color: $topBarTextColor !important;
        width: inherit;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        
        .title-bar-content {
            .ui-outputlabel {
                font-size: 16px;
            }
        }
    }
    
    .action-bar {
        height: 24px;
        background-color: $topBarActionBGColor !important;
        color: $topBarActionTextColor !important;
        width: inherit;
        padding: 3px 19px;
        display: flow-root;

        .ui-commandlink {
            height: 18px;
            border-radius: 0;
            min-width: unset;
            width: 18px;
            line-height: 18px;
            margin: 0;
            text-decoration: none;
            padding: 0;
            display: inline-block !important;
            float: right !important;
            text-align: center;
            color: $topBarActionTextColor !important;
            margin-left: 15px;
            box-shadow: none !important;
            outline: none !important;

            &:hover {
                color: $topBarActionTextHoverColor !important;
            }

            i {
                font-size: 18px;
            }
        }
    }
}

.layout-asset-analysis-window {
    padding-top: 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    .layout-asset-analysis-window-content {
        overflow-y: scroll;
        padding: 5px 10px 10px 10px;
        flex: 1 1 0;
        
        div {
            &.right-click-menu {
                visibility: visible;
                left: 5px;
                top: 0px;
                z-index: 1013;
                height: fit-content;
                width: max-content;
                border: 1px solid #dee2e6;
                box-shadow: rgb(136, 136, 136) 3px 3px 10px;

                ul {
                    padding: 0;
                    margin: 0;

                    a {
                        display: block;
                        padding: 5px 10px;
                        color: #495057;
                        background-color: white;

                        &:hover {
                            color: $primaryTextColor;
                            background-color: $primaryColor;
                        }

                        &:focus {
                            color: $primaryTextColor;
                            background-color: $primaryDarkColor;
                        }
                    }
                }
            }

            &.waveform-and-spectrum {
                width: 100%;

                .waveform-and-spectrum-content {
                    width: 100%; 
                    height: 100%;

                    .ui-panel {
                        &.panel-layout-one {
                            width: -webkit-fill-available;
                            margin: 0;
                            
                            .ui-panel-titlebar {
                                .ui-panel-title {
                                    background-color: $topGraphBarBGColor;
                                    color: $topGraphBarTextColor;
                                    border: 1px solid $topGraphBarBorderColor;
                                    height: 25px;
                                    line-height: 23px;
                                }
                            }

                            .ui-panel-content {
                                padding: 0px 10px 0px 10px;
                                position: relative;
                                
                                form {
                                    overflow: auto;
                                    
                                    .ui-panelgrid {
                                        &.panelgrid-layout-one {
                                            border: none;
                                            margin: 0 auto;
                                            
                                            tbody {
                                                tr {
                                                    .ui-panelgrid-cell{
                                                        .ui-selectoneradio {
                                                            tbody {
                                                                tr {
                                                                    td {
                                                                        .ui-radiobutton {
                                                                            .ui-radiobutton-box {
                                                                                box-shadow: none !important;
                                                                            }
                                                                        }
                                                                        
                                                                        label {
                                                                            margin: 0 2px 0 2px;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        .ui-commandlink {
                                                            height: 16px;
                                                            border-radius: 0;
                                                            min-width: unset;
                                                            width: 16px;
                                                            margin: 3.5px 0 3.5px 5px;
                                                            text-decoration: none;
                                                            padding: 0;
                                                            display: inline-block !important;
                                                            text-align: center;
                                                            color: $primaryColor !important;
                                                            float: right;

                                                            &:hover {
                                                                color: $primaryDarkColor !important;
                                                            }

                                                            i {
                                                                font-size: 16px;
                                                            }
                                                        }
                                                        
                                                        .ui-spinner {
                                                            box-shadow: none !important;
                                                            width: 100px;
                                                            
                                                            .ui-spinner-input {
                                                                box-shadow: none !important;
                                                                text-align: left !important;
                                                            }
                                                            
                                                            .ui-spinner-button {
                                                                &.ui-button {
                                                                    width: 1.5rem;
                                                                }
                                                            }
                                                        }
                                                        [id$=":amplId"] {
                                                            box-shadow: none !important;
                                                            width: 75px !important;
                                                        }                                               
                                                        [id$=":deltaIdSpec"],
                                                        [id$=":deltaIdWave"] {
                                                            box-shadow: none !important;
                                                            width: 57px !important;
                                                        }
                                                        [id$=":rmsId"] {
                                                            box-shadow: none !important;
                                                            width: 100px !important;
                                                        }
                                                          [id$=":ffSetId"] {
                                                            box-shadow: none !important;
                                                            width: 135px !important;
                                                        }
                                                        
                                                        [id$=":ffIdCheckboxSpec"] {
                                                            box-shadow: none !important;
                                                            min-width: 147px !important;
                                                        }
                                                        
                                                        [id$=":ffSetIdWave"],
                                                        [id$=":ffIdCheckboxWave"] {
                                                            box-shadow: none !important;
                                                            min-width: 200px !important;
                                                        }
                                                        
                                                        [id$=":startHarmonicIN"],
                                                        [id$=":endHarmonicIN"] {
                                                            box-shadow: none !important;
                                                            min-width: 70px !important;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ui-panel {
            &.panel-layout-one {
                &#addNewPannel {
                    width: -webkit-fill-available;
                    margin: 0;
                    
                    .ui-panel-titlebar {
                        .ui-panel-title {
                            background-color: $topGraphBarBGColor;
                            color: $topGraphBarTextColor;
                            border: 1px solid $topGraphBarBorderColor;
                            height: 25px;
                            line-height: 23px;
                            
                            form {
                                height: 23px !important;
                                
                                .ui-panelgrid {
                                    margin: 0 auto;

                                    tbody {
                                        tr {
                                            .ui-panelgrid-cell{
                                                color: inherit;
                                                border: none;
                                                padding: 0 5px 0px 5px;
                                                background: inherit;

                                                .ui-selectonemenu {
                                                    height: 23px;
                                                    display: inline-block;
                                                    min-width: 100px !important;
                                                    box-shadow: none !important;

                                                    .ui-selectonemenu-label {
                                                        padding: 0 24px 0 5px;
                                                        min-height: unset;
                                                        height: 21px;
                                                        line-height: 21px;
                                                        text-align: center;
                                                    }

                                                    .ui-selectonemenu-trigger {
                                                        border-left: 1px solid #dee2e6;
                                                        width: 1.5rem;
                                                        background-color: white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
        
                    .ui-panel-content {
                        padding: 0;
                        position: relative;
                        border: none;

                        .action-bar {
                            height: 22px;
                            background-color: $topGraphBarActionBGColor !important;
                            color: $topGraphBarActionTextColor !important;
                            width: inherit;
                            padding: 1px 25px;
                            display: flow-root;
                            margin: 0;
                            border: none;

                            .ui-commandlink {
                                height: 18px;
                                border-radius: 0;
                                min-width: unset;
                                width: 18px;
                                line-height: 18px;
                                margin: 0;
                                text-decoration: none;
                                padding: 0;
                                display: inline-block !important;
                                float: right !important;
                                text-align: center;
                                color: $topGraphBarActionTextColor !important;
                                margin-left: 15px;

                                &:hover {
                                    color: $topGraphBarActionTextHoverColor !important;
                                }

                                i {
                                    font-size: 18px;
                                }
                            }
                        }
                        
                        div {
                            &.trend-content {
                                border: 1px solid #dee2e6;
                                border-top: none;

                                div {
                                    &.trendGraph {
                                        margin: 0 10px;
                                    }
                                }
                            }
                        }
                    }
                }

                &#editAlarmLimitPanel {
                    width: -webkit-fill-available;
                    margin: 0 10px 10px 10px;
        
                    .ui-panel-titlebar {
                        .ui-panel-title {
                            background-color: $topGraphBarBGColor;
                            color: $topGraphBarTextColor;
                            border: 1px solid $topGraphBarBorderColor;
                            height: 25px;
                            line-height: 23px;
                        }
                    }

                    .ui-panel-content {
                        padding: 5px 10px 10px 10px;
                        border: 1px solid #dee2e6;
                        border-top: none;

                        form {
                            overflow: auto;

                            .ui-panelgrid {
                                &.panelgrid-layout-one {
                                    text-align: left;
                                    margin: 0 auto;
                                    border: none;

                                    tbody {
                                        tr {
                                            .ui-panelgrid-cell{
                                                .ui-outputlabel {
                                                    margin-right: 5px;
                                                    display: inline-block;
                                                    height: 23px;
                                                    line-height: 23px;
                                                }

                                                .ui-selectbooleancheckbox {
                                                    float: right;
                                                }
                                                
                                                .ui-outputlabel {
                                                    &.error-outputlabel {
                                                        max-width: 435px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &#createWorkorderPanel {
                    width: -webkit-fill-available;
                    margin: 0;
        
                    .ui-panel-titlebar {
                        .ui-panel-title {
                            background-color: $topGraphBarBGColor;
                            color: $topGraphBarTextColor;
                            border: 1px solid $topGraphBarBorderColor;
                            height: 25px;
                            line-height: 23px;
                        }
                    }

                    .ui-panel-content {
                        padding: 5px 10px 10px 10px;

                        form {
                            overflow: auto;

                            .ui-panelgrid {
                                &.panelgrid-layout-one {
                                    text-align: left;
                                    margin: 0 auto;
                                    border: none;

                                    tbody {
                                        tr {
                                            .ui-panelgrid-cell{
                                                .ui-inputtextarea {
                                                    &.ui-inputfield {
                                                        height: 65px !important;
                                                        max-height: 65px !important;
                                                        line-height: 21px;
                                                        resize: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .ui-overlaypanel {
            &#infoOverlayPanelId {
                border: 5px solid $secondaryColor;
                
                .ui-overlaypanel-content {
                    padding: 0;
                    
                    .ui-panel {
                        &.panel-layout-one {
                            margin: 0px;
                            
                            .ui-panel-content {
                                border: none;
                                
                                .ui-panelgrid {
                                    &.panelgrid-layout-one {
                                        tbody {
                                            tr {
                                                .ui-panelgrid-cell{
                                                }

                                                &.inner-header {
                                                    .ui-panelgrid-cell{
                                                        background-color: $primaryDarkerColor;
                                                        color: $primaryTextColor;
                                                        text-align: center;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
        
        .disclaimer {
            color: $disclaimerTextColor;
        }
    }
}

