.layout-closed-work-order {
    .yearDivId {
        width: 1365px;
        margin-bottom: 10px;
        
        .ui-panelgrid {
            margin: 0;
            
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        border: none;
                        padding: 0;

                        .ui-outputlabel {
                            margin: 0 5px 0 0 !important;
                        }

                        .ui-inputfield {
                            padding: 0px;
                            height: 30px;
                            line-height: 30px;
                            width: 100px;
                            border-radius: 0;
                            box-shadow: none;
                            text-align: center;
                        }
                        
                        button {
                            &.ui-button-icon-only {
                                height: 30px;
                                width: 30px;
                                
                                &.right-button {
                                    border-radius: 0 5px 5px 0;
                                }
                                
                                &.left-button {
                                    border-radius: 5px 0 0 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .ui-scrollpanel {
        height: 500px !important;
        padding: 0;
        border: none;
        margin: 0px;
        width: 1365px;
    }
    
    .ui-datatable {
        &.datatable-layout-header-filters {
            .ui-datatable-tablewrapper {
                table {
                    thead {
                        tr {
                            th {
                                .ui-column-customfilter {
                                    height: 23px;
                                    margin: 2px !important;
                                    
                                    .ui-selectonemenu {
                                        width: -webkit-fill-available;
                                        min-width: unset !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &.datatable-layout-three {
            .ui-datatable-header {
                text-align: center;
                padding: 0px;
                background-color: $tableHeadBgColor;
                border: 1px solid $tableHeadBorderColor;
                color: $tableHeadTextColor;
                border-radius: 0 !important;

                .ui-outputlabel {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                }
            }

            thead {
                th {
                    padding: 0;
                    text-align: center;
                    background-color: $tableColumnTitleBgColor;
                    border: $tableColumnTitleColumnBorder;
                    color: $tableColumnTitleTextColor;
                    margin: 0;
                    box-shadow: none !important;

                    .ui-column-title {
                        display: inline-block;
                        height: 19px;
                        line-height: 19px;
                        vertical-align: unset;
                    }
                }
            }
        
            .ui-paginator {
                padding: 0;
            
                &.ui-paginator-top {
                    .ui-paginator-rpp-options {
                        margin: 0 1px 1px 1px;
                    }
                }

                &.ui-paginator-bottom {
                    .ui-paginator-rpp-options {
                        margin: 1px;
                    }
                }

                select {
                    border: 1px solid #ced4da;
                    border-radius: 4px;
                    color: #495057;
                    outline: none;
                }

                .ui-paginator-first {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-prev {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-pages {
                    .ui-paginator-page {
                        border: none;
                        line-height: 21px;
                        min-width: 21px;
                        height: 21px;
                        margin: 1px;
                    }
                }

                .ui-paginator-next {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-last {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-rpp-options {
                    height: 21px;
                    vertical-align: unset;
                }
            }
            
            .ui-datatable-data {
                & > tr {
                    & > td {
                        padding: 2px 5px;
                        border: 1px solid rgba(0, 0, 0, 0.08);
                        border-width: 1px;
                    }

                    &.ui-datatable-headerrow {
                        font-weight: 400;

                        .ui-rowgroup-toggler {
                            height: 23px;
                            line-height: 23px;
                        }
                    }
                    
                    &.ui-expanded-row-content {
                        & > td {
                            .ui-panelgrid {
                                tbody {
                                    tr {
                                        .ui-panelgrid-cell {
                                            border: none;
                                            padding: 0;
                                            padding-right: 5px;

                                            .ui-inputtextarea {
                                                width: -webkit-fill-available;
                                            }
                                        }
                                    }
                                    
                                    .width-100 {
                                        width: 100px
                                    }
                                }
                            }
                        }
                    }
                }

                .ui-datatable-tablewrapper {
                    overflow: inherit;
                }
            }
        
            .table-column-title-left-column-border-right-border {
                border-right: $tableColumnTitleLeftColumnBorderRightBorder;
            }

            .table-column-title-center-column-border-horizontal-border {
                border-right: $tableColumnTitleCenterColumnBorderHorizontalBorder;
                border-left: $tableColumnTitleCenterColumnBorderHorizontalBorder;
            }

            .table-column-title-right-column-border-left-border {
                border-left: $tableColumnTitleRightColumnBorderLeftBorder;
            }
        }
    }
}

