.layout-configuration-filter {
    .layout-configuration-filter-panel {
        display: inline-block;
        padding: 0;

        .ui-panel-content {
            border: none;
            border-radius: 0;
            padding: 1px 5px 1px 0;
            text-align: right;

            .ui-outputlabel {
                display: inline-block;
                width: 127px;
                float: left;
                height: 23px;
                line-height: 23px;
                margin-right: 5px;
            }

            .ui-autocomplete {
                .ui-inputfield {
                    width: 200px;
                    height: 23px;
                }
            }
        }
    }
}

.layout-configuration-content {
    .ui-panel {
        &[id$=":msgPanel"] {
            .ui-panel-content {
                border: none;
                padding: 0;
                text-align: center;
            }
        }
        
        &[id$=":disclaimerPanelId"] {
            .ui-panel-content {
                border: none;
                padding: 0;
                text-align: center;
                margin-top: 5px;
            }
        }
        
        &[id$=":configurationAssetEditControlPanelId"] {
            width: -webkit-fill-available;
            
            .ui-panel-content {
                padding: 0;
                border: none;
                display: flow-root;
                
                .ui-button {
                    float: right;
                }
            }
        }
        
        &[id$=":configurationPointLocationEditControlPanelId"] {
            width: -webkit-fill-available;
            
            .ui-panel-content {
                padding: 0;
                border: none;
                display: flow-root;
                
                .ui-button {
                    float: right;
                }
            }
        }
        
        &.layout-configuration-content-control {
            margin: 10px 0 0 0 !important;
            
            .ui-panel-content {
                border: none;
                padding: 0px;

                .ui-button {
                    margin-right: 10px !important;;
                }
                .right-align {
                    float: right;
                }
            }
            
        }

        &.layout-configuration-content-selected {
            max-width: 947px;
            width: unset;
            margin: 10px 0 0 0 !important;

            .ui-panel-content {
                padding: 5px 7.5px;
            }
            
            &[id$=":selectedPointVOPanelId"] {
                max-width: unset !important;
                width: -webkit-fill-available !important;
            }
            
            &[id$=":analysisParmPnl"] {
                max-width: unset !important;
                width: -webkit-fill-available !important;
            }
            
            &[id$=":customLimitsPnl"] {
                max-width: unset !important;
                width: -webkit-fill-available !important;
            }
        }

        &.layout-configuration-content-inline-panel {
            display: inline-block;
            padding: 0;
            width: 465px;
            
            .ui-inputtextarea {
                height: fit-content ;
                width: -webkit-fill-available;
                padding: 0 !important;
                border: none;
                line-height: 23px !important;
                cursor: default;
                box-shadow: none !important;
                color: $disclaimerTextColor;
            }
            
            .ui-panel-content {
                border: none;
                border-radius: 0;
                padding: 1px 2.5px;
                text-align: left;
                
                .ui-panelgrid {
                    width: -webkit-fill-available;
                    
                    tbody {
                        tr {
                            .ui-panelgrid-cell {
                                padding: 0px;
                                border: none;

                                [id$=":assetUpdateId"],[id$=":pointLocationUpdateId"] {
                                    text-align: center;
                                    display: block;
                                    margin-left: auto;
                                    margin-right: 0px;
                                }

                                .ui-inputfield {
                                    width: 321px !important;
                                    padding: 0 0 0 5px;
                                    height: 23px;
                                    line-height: 23px;
                                }

                                .ui-selectcheckboxmenu {
                                    min-height: 23px;
                                    height: fit-content;

                                    .ui-selectcheckboxmenu-multiple-container {
                                        height: fit-content !important;
                                        min-height: 21px;

                                        &.ui-inputfield {
                                            padding: 0 0 0 5px;
                                            width: 319px !important;
                                        }

                                        .ui-selectcheckboxmenu-token {
                                            height: 21px;
                                            line-height: 19px;
                                            background-color: $secondaryLightColor;
                                            border: 1px solid $primaryColor;
                                            color: $primaryTextColor;

                                            .ui-selectcheckboxmenu-token-label {
                                                padding: 0 18px 0 5px;
                                            }

                                            .ui-selectcheckboxmenu-token-icon {
                                                font-size: 10px;
                                                margin-top: -9px;
                                                line-height: 20px;
                                                margin-right: 2px;
                                            }
                                        }
                                    }

                                    .ui-selectcheckboxmenu-trigger {
                                        border-left: 1px solid #dee2e6;
                                        width: 1.5rem;
                                        background-color: white;
                                    }
                                }

                                .ui-selectonemenu {
                                    height: 23px;
                                    width: 321px !important;
                                    min-width: unset !important;

                                    .ui-selectonemenu-label {
                                        padding: 0 0 0 5px;
                                        min-height: unset;
                                        height: 21px;
                                        line-height: 21px;
                                    }

                                    .ui-selectonemenu-trigger {
                                        border-left: 1px solid #dee2e6;
                                        width: 1.5rem;
                                        background-color: white;
                                    }
                                }
                                
                                .ui-message {
                                    padding: 0;
                                    margin: 0 !important;
                                    display: block;
                                    border-radius: 4px;

                                    .ui-message-error-icon {
                                        display: none !important;
                                    }

                                    .ui-message-error-detail {
                                        display: inline-block;
                                        line-height: 23px;
                                        padding: 0 5px 0 0;
                                    }
                                }
                                
                                .ui-inputswitch {
                                    margin: 4.5px 0 1.5px 5px;

                                    .ui-inputswitch-handle {
                                        top: -2px;
                                        width: 18px !important;
                                        height: 18px !important;
                                        box-shadow: none !important;
                                    }
                                }
                            }
                        }
                    }
                
                    .width-321 {
                        width: 321px;
                    }
                }
            }
        }
    }

    .ui-datatable {
        &.datatable-layout-one {
            &.modified {
                .ui-datatable-tablewrapper {
                    table {
                        thead {
                            th {
                                padding: 0;
                                text-align: center;
                                background-color: $tableColumnTitleBgColor;
                                border: $tableColumnTitleColumnBorder;
                                color: $tableColumnTitleTextColor;
                                margin: 0;
                                box-shadow: none !important;

                                .ui-column-title {
                                    display: inline-block;
                                    height: 19px;
                                    line-height: 19px;
                                    vertical-align: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &.datatable-layout-two {
            margin-top: 10px;

            .ui-datatable-data {
                > tr {
                    > td {
                        .ui-commandlink {
                            &.non-actions {
                                height: 23px;
                                border-radius: 0;
                                min-width: 0;
                                width: -webkit-fill-available;
                                line-height: 23px;
                                text-align: center;
                                margin: 0;
                                text-decoration: none;
                                padding: 0 0 0 5px;
                            }
                            
                            &.actions {
                                height: 23px;
                                border-radius: 0;
                                min-width: unset;
                                width: 20px;
                                line-height: 23px;
                                margin: 0;
                                text-decoration: none;
                                padding: 0;
                                display: inline-block;
                                text-align: center;

                                i {
                                    font-size: 14px;
                                }
                            }

                            &:hover {
                                background-color: $linksBgHoverColor;
                                color: $linksTextHoverColor;
                            }
                        }
                    }

                    &.ui-expanded-row-content {
                        > td {
                            div {
                                &.layout-configuration-content-expanded-div {
                                    width: -webkit-fill-available;
                                    margin: 0;
                                    padding: 10px 2.5px;
                                }
                            }
                        }
                    }
                    
                    .ui-row-toggler {
                        height: 23px;
                        line-height: 23px;
                    }
                }
            }
            
            &.modified {
                .ui-datatable-tablewrapper {
                    table {
                        thead {
                            tr {
                                th {
                                    &.ui-selection-column {
                                        width: 65px !important;
                                    }
                                }
                            }
                        }

                        .ui-datatable-data {
                            & > tr {
                                & > td {
                                    padding: 2px 5px !important;

                                    &.ui-selection-column {
                                        text-align: center;

                                        .ui-radiobutton {
                                            margin: 0;
                                            width: auto;
                                            height: 21px;

                                            .ui-radiobutton-box {
                                                box-shadow: none !important;

                                                &.ui-state-active {
                                                    .ui-icon-bullet {
                                                        background: inherit !important;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .ui-commandlink {
                                        height: 23px;
                                        border-radius: 0;
                                        min-width: unset;
                                        width: 20px;
                                        line-height: 23px;
                                        margin: 0;
                                        text-decoration: none;
                                        padding: 0;
                                        display: inline-block;
                                        text-align: center;

                                        &:hover {
                                            background-color: $linksBgHoverColor;
                                            color: $linksTextHoverColor;
                                        }

                                        i {
                                            font-size: 14px;
                                        }
                                    }
                                }  

                                .ui-row-toggler {
                                    height: 23px;
                                    line-height: 23px;
                                    color: #495057;
                                }

                                &.ui-state-highlight {
                                    background: $highlightRowBGColor;
                                    color: $highlightRowTextColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ui-inputfield {
        &.readonly-inputfield {
            cursor: default;

            &.ui-state-hover {
                border: 1px solid #ced4da;
                box-shadow: none;
            }

            &.ui-state-focus {
                border: 1px solid #ced4da;
                box-shadow: none;
            }
        }
    }

    .ui-accordion {
        &.layout-configuration-content-upload {
            width: 361px;

            div {
                .ui-outputlabel {
                    display: inline-block;
                    width: 139px;
                    float: left;
                }

                .ui-selectonemenu {
                    height: 23px;
                    width: 200px !important;

                    .ui-selectonemenu-label {
                        padding: 0 0 0 5px;
                        min-height: unset;
                        height: 21px;
                        line-height: 21px;
                        width: 198px !important;
                    }

                    .ui-selectonemenu-trigger {
                        border-left: 1px solid #dee2e6;
                        width: 1.5rem;
                        background-color: white;
                    }
                }

                .ui-fileupload {
                    .ui-fileupload-buttonbar {
                        border: none;
                        background: transparent;
                        color: #495057;
                        padding: 5px 0;
                    }

                    .ui-fileupload-content {
                        border: none;
                        padding: 0;

                        .ui-fileupload-files {
                            margin: 0;

                            .ui-fileupload-row {
                                > div {
                                    display: none;
                                    padding: 0;
                                }

                                .ui-fileupload-filename {
                                    display: block !important;
                                    width: 339px;
                                }

                                .ui-fileupload-progress {
                                    display: block !important;

                                    .ui-progressbar {
                                        display: block !important;
                                        width: 339px;
                                        top: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 561px) {
}

@media screen and (max-width: 537px) {
}

@media screen and (max-width: 554px) {
    .layout-configuration-content {
        .ui-panel {
            &.layout-configuration-content-inline-panel {
                width: -webkit-fill-available;
            }
        }
    }
}