.layout-copy-edit-fault-frequencies {
    .ui-scrollpanel {
        height: 375px;
        padding: 0;
        border: none;
        margin: 0 0 0 17px;
        width: 1017px;
        
        .ui-datatable {
            &.datatable-layout-one {
                width: 1000px;
                
                .ui-datatable-tablewrapper {
                    table {
                        .ui-datatable-data {
                            > tr {
                                > td {
                                    padding: 5px 2.5px 0 2.5px;
                                    
                                    .ui-commandlink {
                                        height: 23px;
                                        border-radius: 0;
                                        min-width: unset;
                                        width: 20px;
                                        line-height: 23px;
                                        margin: 0;
                                        text-decoration: none;
                                        padding: 0;
                                        display: inline-block;
                                        text-align: center;
                                        color: #495057;

                                        &:hover {
                                            background-color: $linksBgHoverColor;
                                            color: $linksTextHoverColor;
                                        }
                                        
                                        i {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
}

