.layout-copy-edit-preset-point-location {
    .ui-scrollpanel {
        height: 200px !important;
        padding: 0;
        border: none;
        margin: 0px;
        margin-top: 10px;
        width: 1200px;
    }
}
