.layout-create-custom-fault-frequency-sets {
    .ui-scrollpanel {
        height: 390px;
        padding: 0;
        border: none;
        margin: 0px;
        width: 1000px;
    }
    
    .top-margin {
        margin-top: 10px;
    }     
    
    .left-margin {
        margin-left: 10px;
    }
    
    
    .ui-panel {
        &.panel-layout-one {
            width: -webkit-fill-available;
            
            .ui-panel-content {
                display: flow-root;
                padding: 0;
                border: none;
                
                .ui-commandlink {
                    display: inline-block;
                    float: right;
                    padding: 0.5rem 1rem;
                    background: $primaryColor;
                    color: $primaryTextColor;
                    border: 1px solid $primaryColor;
                    border-radius: 4px;
                    text-decoration: none;
                    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

                    &:hover {
                        background-color: $primaryDarkColor;
                        border: 1px solid $primaryDarkColor;
                    }

                    &:focus {
                        box-shadow: 0 0 0 0.2em $primaryLightColor;
                    }

                }

                .ui-fileupload {
                    display: inline-block;
                    float: right;

                    .ui-fileupload-buttonbar {
                        border: none;
                        background: transparent;
                        color: #495057;
                        padding: 0;

                        .ui-button {
                            margin-right: 0;
                            float: none;
                        }
                    }

                    .ui-fileupload-content {
                        display: none;
                    }
                }
                
                .left-margin {
                    margin-left: 10px;
                }
            }
        }
            
        &[id$=":customFaultFrequenciesSavePanelId"] {
            .ui-panel-content {
                border: none;
                padding: 0;
            }
        }
    }
      
    .ui-datatable {
        &.datatable-layout-two {
            .ui-selection-column {
                .ui-chkbox-all {
                    margin: 0 0 1px 0;
                    height: 23px;
                    
                    .ui-chkbox-box {
                        height: 17px;
                        width: 17px;
                        margin: 3px 0;
                    }
                }
            }
            
            .ui-datatable-data {
                & > tr {
                    & > td {
                        padding: 2px 5px;
                        border: 1px solid rgba(0, 0, 0, 0.08);
                        border-width: 1px;

                        &.ui-selection-column {
                            text-align: center;
                            
                            .ui-chkbox {
                                margin: 0;
                                width: auto;
                                height: 21px;

                                .ui-chkbox-box {
                                    width: 17px;
                                    height: 17px;
                                    margin: 2px 0;
                                }
                            }
                            
                            &.acknowledged {
                                .ui-chkbox {
                                    display: none;
                                }
                            }
                        }
                        
                        .ui-commandlink {
                            height: 23px;
                            border-radius: 0;
                            min-width: unset;
                            width: 20px;
                            line-height: 23px;
                            margin: 0;
                            text-decoration: none;
                            padding: 0;
                            display: inline-block;
                            text-align: center;

                            &:hover {
                                background-color: $linksBgHoverColor;
                                color: $linksTextHoverColor;
                            }
                                        
                            i {
                                font-size: 14px;
                            }
                        }
                    }

                    &.ui-datatable-headerrow {
                        font-weight: 400;

                        .ui-rowgroup-toggler {
                            height: 23px;
                            line-height: 23px;
                        }
                    }   

                    &.ui-expanded-row-content {
                        > td {
                            background-color: $dataTableExpandDiv;
                        }
                    }
                    
                    .ui-row-toggler {
                        height: 23px;
                        line-height: 23px;
                        color: #495057;
                    }
                    
                    &.ui-state-highlight {
                        background: $highlightRowBGColor;
                        color: $highlightRowTextColor;
                    }
                }
            }
        }
    }
}

