.layout-create-site {
    .ui-scrollpanel {
        height: 645px;
        padding: 0;
        border: none;
        margin: 0 0 0 17px;
        width: 1017px;
    
        .ui-message {
            padding: 0;
            margin: 0 !important;
            display: block;
            border-radius: 4px;
            float: right;

            .ui-message-error-icon {
                display: none !important;
            }

            .ui-message-error-detail {
                display: inline-block;
                line-height: 23px;
                padding: 0 5px 0 0;
            }
        }
        
        .panel-layout-one {
            &.ui-panel {
                width: 1000px !important;
                
                .ui-panel-content {
                    padding: 5px 7.5px 0px 7.5px;
                }
            }
            
            .bottom-margin {
                margin-bottom: 5px;
            }
        }
        
        .panelgrid-layout-one {
            &.ui-panelgrid {
                width: 983px !important;

                tbody {
                    tr {
                        .ui-panelgrid-cell {
                            padding: 0 2.5px 5px 2.5px;

                            .ui-inputfield {
                                width: -webkit-fill-available;
                            }

                            .ui-selectonemenu {
                                width: -webkit-fill-available;
                            }
                        }
                    }
                }
                
                &.include-margins {
                    margin: 5px 8.5px 0px 8.5px;
                }
                
                
                .width-170 {
                    width: 170px;
                }
                
                .width-321-5 {
                    width: 321.5px;
                }
            }
        }
        
        .ui-datatable {
            &.datatable-layout-one {
                .ui-datatable-tablewrapper {
                    table {
                        .ui-datatable-data {
                            > tr {
                                > td {
                                    padding: 5px 2.5px 0 2.5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

