.layout-create-point {
    .ui-scrollpanel {
        height: 180px !important;
        padding: 0;
        border: none;
        margin: 0px;
        width: 1300px;
        overflow: auto;
        
        &.scrollpanel-height-300 {
            height: 300px !important;
        }
    }

    .width-165-7 {
        width: 165.7px;
    }

    .width-176-5 {
        width: 176.5px;
    }

    .width-265 {
        width: 265px;
    }

    .width-fill-available {
        width: -webkit-fill-available !important;
    }

    .float-right {
        float: right;
    }

    .ui-panel {
        &[id$=":sensorTypePnl"] {
            .ui-panel-content {
                border: none;
                padding: 0;
            }
        }
        
        &[id$=":fromTemplatePanel"] {
            .ui-panel-content {
                border: none;
                padding: 0;
            }
        }
    }

    .ui-panelgrid {
        &.panelgrid-layout-one {
            .min-width-one {
                min-width: 260px !important;
            }
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        padding: 0 2.5px 5px 2.5px;

                    }
                }
            }
        }
        .width-174 {
            width: 174px;
        }

        .width-326 {
            width: 326px;
        }
    }

    .ui-datatable {
        &.datatable-layout-one {
            .ui-datatable-tablewrapper {
                table {
                    thead {
                        th {
                            padding: 0;
                            text-align: center;
                            border: $tableColumnTitleColumnBorder;
                            margin: 0;
                            box-shadow: none !important;

                            .ui-column-title {
                                display: inline-block;
                                height: 19px;
                                line-height: 19px;
                                vertical-align: unset;
                            }
                        }
                    }
                }
            }
        }

        &.datatable-layout-two {
            .ui-datatable-tablewrapper {
                table {
                    thead {
                        tr {
                            th {
                                &.ui-selection-column {
                                    width: 65px !important
                                }
                            }
                        }
                    }

                    .ui-datatable-data {
                        & > tr {
                            & > td {
                                padding: 2px 5px !important;

                                &.ui-selection-column {
                                    text-align: center;

                                    .ui-radiobutton {
                                        margin: 0;
                                        width: auto;
                                        height: 21px;

                                        .ui-radiobutton-box {
                                            box-shadow: none !important;

                                            &.ui-state-active {
                                                .ui-icon-bullet {
                                                    background: inherit !important;
                                                }
                                            }
                                        }
                                    }
                                }

                                .ui-commandlink {
                                    height: 23px;
                                    border-radius: 0;
                                    min-width: unset;
                                    width: 20px;
                                    line-height: 23px;
                                    margin: 0;
                                    text-decoration: none;
                                    padding: 0;
                                    display: inline-block;
                                    text-align: center;

                                    &:hover {
                                        background-color: $linksBgHoverColor;
                                        color: $linksTextHoverColor;
                                    }

                                    i {
                                        font-size: 14px;
                                    }
                                }
                            }

                            .ui-row-toggler {
                                height: 23px;
                                line-height: 23px;
                                color: #495057;
                            }

                            &.ui-state-highlight {
                                background: $highlightRowBGColor;
                                color: $highlightRowTextColor;
                            }
                        }
                    }
                }
            }
        }
    }
}

