.layout-create-ap-al-set {
    .ui-scrollpanel {
        height: 645px;
        padding: 0;
        border: none;
        margin: 0 0 0 17px;
        width: 1508.5px;

        .ui-message {
            padding: 0;
            margin: 0 !important;
            display: block;
            border-radius: 4px;
            float: right;

            .ui-message-error-icon {
                display: none !important;
            }

            .ui-message-error-detail {
                display: inline-block;
                line-height: 23px;
                padding: 0 5px 0 0;
            }
        }

        .panel-layout-one {
            &.ui-panel {
                width: 1491.5px !important;

                .ui-panel-content {
                    padding: 5px 7.5px;
                }
            }

            .bottom-margin {
                margin-bottom: 5px;
            }
        }

        .ui-panel {
            &[id$=":msgPanel"] {
                .ui-panel-content {
                    padding: 0;
                    border: none;
                    text-align: center;
                }
            }
        }

        .panelgrid-layout-one {
            &.ui-panelgrid {
                width: 1474.5px !important;



                tbody {
                    tr {
                        .ui-panelgrid-cell {
                            padding: 0 2.5px 5px 2.5px;



                            .ui-inputfield {
                                width: -webkit-fill-available;
                            }



                            .ui-selectonemenu {
                                width: -webkit-fill-available;
                            }
                        }
                    }
                }

                &.include-margins {
                    margin: 5px 8.5px 0px 8.5px;
                }

                .width-170 {
                    width: 170px;
                }

                .width-321-5 {
                    width: 321.5px;
                }

                &.inner-one {
                    width: 1458px !important;

                    .width-168 {
                        width: 168px;
                    }



                    .width-318 {
                        width: 318px;
                    }

                    tbody {
                        tr {
                            .ui-panelgrid-cell {
                                .ui-commandlink {
                                    height: 23px;
                                    border-radius: 0;
                                    min-width: unset;
                                    width: 20px;
                                    line-height: 23px;
                                    margin: 0;
                                    text-decoration: none;
                                    padding: 0;
                                    display: inline-block;
                                    text-align: center;
                                    float: right;
                                    color: #495057;



                                    &:hover {
                                        background-color: $secondaryColor;
                                        color: $primaryTextColor;
                                    }



                                    i {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ui-datascroller {
            .ui-datascroller-header {
                text-align: center;
                padding: 0px;
                background-color: $tableHeadBgColor;
                border: 1px solid $tableHeadBorderColor;
                color: $tableHeadTextColor;
                border-radius: 0 !important;



                .ui-outputlabel {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                }
            }

            .ui-datascroller-content {
                padding: 5px 7.25px 0 7.25px;
            }
        }

        .ui-datatable {
            &.datatable-layout-two {
                margin-bottom: 5px;

                .ui-datatable-tablewrapper {
                    table {
                        .ui-datatable-data {
                            > tr {
                                > td {
                                    padding: 5px 2.5px 0 2.5px;
                                    border: none;
                                    text-align: center;



                                    .ui-message {
                                        padding: 0;
                                        margin: 0 !important;
                                        display: block;
                                        border-radius: 4px;

                                        .ui-message-error-icon {
                                            display: none !important;
                                        }

                                        .ui-message-error-detail {
                                            display: inline-block;
                                            line-height: 23px;
                                            padding: 0 5px 0 0;
                                        }
                                    }



                                    .ui-inputfield {
                                        box-shadow: none;
                                        padding: 0 0 0 5px;
                                        height: 23px;
                                        line-height: 23px;
                                        width: 100%;
                                    }



                                    .ui-selectonemenu {
                                        height: 23px;
                                        width: 100%;
                                        min-width: unset !important;



                                        .ui-selectonemenu-label {
                                            padding: 0 0 0 5px;
                                            min-height: unset;
                                            height: 21px;
                                            line-height: 21px;
                                        }



                                        .ui-selectonemenu-trigger {
                                            border-left: 1px solid #dee2e6;
                                            width: 1.5rem;
                                            background-color: white;
                                        }
                                    }

                                    .ui-commandlink {
                                        height: 23px;
                                        border-radius: 0;
                                        min-width: unset;
                                        width: 20px;
                                        line-height: 23px;
                                        margin: 0;
                                        text-decoration: none;
                                        padding: 0;
                                        display: inline-block;
                                        text-align: center;



                                        &:hover {
                                            background-color: $linksBgHoverColor;
                                            color: $linksTextHoverColor;
                                        }

                                        i {
                                            font-size: 14px;
                                        }
                                    }

                                    .ui-inputswitch {
                                        margin: 4.5px 0 1.5px 0;



                                        .ui-inputswitch-handle {
                                            top: -2px;
                                            width: 18px !important;
                                            height: 18px !important;
                                            box-shadow: none !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}