.layout-create-asset-to-point {
    .ui-scrollpanel {
        height: 645px !important;
        padding: 0;
        border: none;
        margin: 0 0 0 17px;
        width: 1017px;
    }
    
    .ui-message {
        padding: 0;
        margin: 0 !important;
        display: block;
        border-radius: 4px;
        float: right;

        .ui-message-error-icon {
            display: none !important;
        }

        .ui-message-error-detail {
            display: inline-block;
            line-height: 23px;
            padding: 0 5px 0 0;
        }
    }

    .ui-accordion {
        &.accordion-layout-one {
            width: 1000px;
            
            .ui-accordion-header {
                text-align: center;
            }
        }
    }
    
    .ui-panelgrid {
        &.top-panelgrid {
            width: 978px;
            
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        min-width: 166px;

                        .ui-inputfield {
                            float: right;
                        }

                        .ui-selectonemenu {
                            float: right;
                        }

                        &.left-padding {
                            padding-left: 2.5px;
                        }

                        &.right-padding {
                            padding-right: 2.5px;
                        }
                    }
                }
            }
        }
    }
    
    .ui-datatable {
        &.outer-table {
            width: 1000px;
            
            .ui-datatable-tablewrapper {
                border: 1px solid #dee2e6;
                border-top: none;
                
                .width-284 {
                    width: 284px;
                }
                
                .width-188 {
                    width: 188px;
                }
                
                .width-27 {
                    width: 27px;
                }
                
                .toggle-column {
                    width: 27px; 
                    text-align: center;
                }
            }
        }
        
        &.inner-table {
            .ui-datatable-tablewrapper {
                .width-253-5 {
                    width: 253.5px;
                }
            }
        }
        
        &.datatable-layout-two {
            .ui-paginator {
                display: none;
            }

            .ui-datatable-tablewrapper {
                table {
                    
                    thead {
                        th {
                            border: none !important;

                            .ui-column-title {
                                display: none;
                            }
                        }
                    }
                    
                    .ui-datatable-data {
                        & > tr {
                            & > td {
                                border: none;
                                padding: 5px 2.5px 0 2.5px;
                                border-width: unset;
                                vertical-align: top;
                            
                                .ui-message {
                                    padding: 0;
                                    margin: 0 !important;
                                    display: block;
                                    border-radius: 4px;

                                    .ui-message-error-icon {
                                        height: 23px !important;
                                        width: 23px !important;
                                        line-height: 23px;
                                        text-align: center;
                                    }

                                    .ui-message-error-detail {
                                        display: inline-block;
                                        height: 23px;
                                        line-height: 23px;
                                        padding: 0 5px 0 0;
                                    }
                                }

                                .ui-inputfield {
                                    width: -webkit-fill-available;
                                    padding: 0 0 0 5px;
                                    height: 23px;
                                    line-height: 23px;
                                }

                                .ui-selectonemenu {
                                    width: -webkit-fill-available;
                                    height: 23px;

                                    .ui-selectonemenu-label {
                                        padding: 0 0 0 5px;
                                        min-height: unset;
                                        height: 21px;
                                        line-height: 21px;
                                    }

                                    .ui-selectonemenu-trigger {
                                        border-left: 1px solid #dee2e6;
                                        width: 1.5rem;
                                        background-color: white;
                                    }
                                }

                                .ui-commandlink {
                                    height: 23px;
                                    border-radius: 0;
                                    min-width: 0;
                                    width: -webkit-fill-available;
                                    line-height: 23px;
                                    text-align: left;
                                    margin: 0;
                                    text-decoration: none;
                                    padding: 0 0 0 5px;

                                    &:hover {
                                        background-color: $linksBgHoverColor;
                                        color: $linksTextHoverColor;
                                    }
                                }
                            }
                               
                            &.ui-expanded-row-content {
                                > td {
                                    .panelgrid-layout-one {
                                        &.ui-panelgrid {
                                            margin: 0px 24.5px 0 24.5px;
                                            border: none;
        
                                            tbody {
                                                tr {
                                                    .ui-panelgrid-cell {
                                                        border: none;
                                                        padding: 0 2.5px 5px 2.5px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .ui-selectonebutton {
        max-width: 248.6px !important;
    }
}

