.layout-create-work-order {
    #createWorkOrderFormId {
        .ui-scrollpanel {
            height: 269px !important;
            padding: 0;
            border: none;
            margin: 0 0 0 17px;
            width: 1017px;
        }
        
        .ui-panelgrid {
            &.panelgrid-layout-one {
                width: 1000px !important;
                margin: 0 17px !important;

                tbody {
                    tr {
                        .ui-panelgrid-cell {
                            .ui-inputtextarea {
                                &.ui-inputfield {
                                    height: 65px !important;
                                    max-height: 65px !important;
                                    line-height: 21px;
                                    resize: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .ui-datatable {
            &.datatable-layout-two {
                .ui-datatable-data {
                    > tr {
                        > td {
                            .ui-commandlink {
                                height: 23px;
                                border-radius: 0;
                                min-width: unset;
                                width: 20px;
                                line-height: 23px;
                                margin: 0;
                                text-decoration: none;
                                padding: 0;
                                display: inline-block;
                                text-align: center;

                                &:hover {
                                    background-color: $linksBgHoverColor;
                                    color: $linksTextHoverColor;
                                }

                                i {
                                    font-size: 14px;
                                }
                            }
                        }  
                    }
                } 
            } 
        }
        
        .top-margin {
            margin-top: 5px;
        }

        .bottom-margin {
            margin-bottom: 5px;
        }

        .width-179 {
            width: 179px;
        }

        .width-321 {
            width: 321px;
        }
    }
}

