.layout-create-bearing-catalog {
    .ui-scrollpanel {
        height: 390px;
        padding: 0;
        border: none;
        margin: 0px;
        width: 1000px;
    }
    
    .top-margin {
        margin-top: 10px;
    } 
    
    .ui-panel {
        &[id$=":bearingCatalogSavePanelId"] {
            .ui-panel-content {
                border: none;
                padding: 0;
            }
        }
    }
    
    .ui-datatable {
        &.datatable-layout-three {
            .ui-datatable-header {
                text-align: center;
                padding: 0px;
                background-color: $tableHeadBgColor;
                border: 1px solid $tableHeadBorderColor;
                color: $tableHeadTextColor;
                border-radius: 0 !important;

                .ui-outputlabel {
                    display: block;
                    height: 30px;
                    line-height: 30px;
                }
            }

            thead {
                th {
                    padding: 0;
                    text-align: center;
                    background-color: $tableColumnTitleBgColor;
                    border: $tableColumnTitleColumnBorder;
                    color: $tableColumnTitleTextColor;
                    margin: 0;
                    box-shadow: none !important;

                    .ui-column-title {
                        display: inline-block;
                        height: 19px;
                        line-height: 19px;
                        vertical-align: unset;
                    }
                }
            }
        
            .ui-paginator {
                padding: 0;
            
                &.ui-paginator-top {
                    .ui-paginator-rpp-options {
                        margin: 0 1px 1px 1px;
                    }
                }

                &.ui-paginator-bottom {
                    .ui-paginator-rpp-options {
                        margin: 1px;
                    }
                }

                select {
                    border: 1px solid #ced4da;
                    border-radius: 4px;
                    color: #495057;
                    outline: none;
                }

                .ui-paginator-first {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-prev {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-pages {
                    .ui-paginator-page {
                        border: none;
                        line-height: 21px;
                        min-width: 21px;
                        height: 21px;
                        margin: 1px;
                    }
                }

                .ui-paginator-next {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-last {
                    border: none;
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    margin: 0 1px
                }

                .ui-paginator-rpp-options {
                    height: 21px;
                    vertical-align: unset;
                }
            }
            
            .ui-datatable-data {
                & > tr {
                    & > td {
                        padding: 2px 5px;
                        border: 1px solid rgba(0, 0, 0, 0.08);
                        border-width: 1px;

                        &.ui-selection-column {
                            text-align: center;
                            
                            .ui-chkbox {
                                margin: 0;
                                width: auto;
                                height: 21px;

                                .ui-chkbox-box {
                                    width: 17px;
                                    height: 17px;
                                    margin: 2px 0;
                                }
                            }
                            
                            &.acknowledged {
                                .ui-chkbox {
                                    display: none;
                                }
                            }
                        }
                        
                        .ui-commandlink {
                            height: 23px;
                            border-radius: 0;
                            min-width: unset;
                            width: 20px;
                            line-height: 23px;
                            margin: 0;
                            text-decoration: none;
                            padding: 0;
                            display: inline-block;
                            text-align: center;

                            &:hover {
                                background-color: $linksBgHoverColor;
                                color: $linksTextHoverColor;
                            }
                                        
                            i {
                                font-size: 14px;
                            }
                        }
                    }

                    .ui-row-toggler {
                        width: 18px;
                    }
                    
                    &.ui-state-highlight {
                        background: $highlightRowBGColor;
                        color: $highlightRowTextColor;
                    }
                }

                .ui-datatable-tablewrapper {
                    overflow: inherit;
                }
            }
        
            .table-column-title-left-column-border-right-border {
                border-right: $tableColumnTitleLeftColumnBorderRightBorder;
            }

            .table-column-title-center-column-border-horizontal-border {
                border-right: $tableColumnTitleCenterColumnBorderHorizontalBorder;
                border-left: $tableColumnTitleCenterColumnBorderHorizontalBorder;
            }

            .table-column-title-right-column-border-left-border {
                border-left: $tableColumnTitleRightColumnBorderLeftBorder;
            }
        }
    }
}

