.layout-create-presets-asset {    
    .ui-scrollpanel {
        height: 300px !important;
        padding: 0;
        border: none;
        margin: 0px;
        margin-top: 10px;
        width: 1319px;
    }
    
    .width-176-5 {
        width: 176.5px;
    }
            
    .ui-panelgrid {
        &.panelgrid-layout-one {
            .min-width-one {
                min-width: 260px !important;

                &.ui-inputnumber {
                    .ui-inputfield {
                        min-width: 260px !important;
                    }
                }
            }
        }
    }
        
    .ui-datatable {
        &.datatable-layout-two {
            .ui-datatable-data {
                > tr {
                    > td {
                        .ui-commandlink {
                            height: 23px;
                            border-radius: 0;
                            min-width: unset;
                            width: 20px;
                            line-height: 23px;
                            margin: 0;
                            text-decoration: none;
                            padding: 0;
                            display: inline-block;
                            text-align: center;

                            &:hover {
                                background-color: $linksBgHoverColor;
                                color: $linksTextHoverColor;
                            }

                            i {
                                font-size: 14px;
                            }
                        }
                    }  
                }
            } 
        } 
    }
}

