.layout-create-ts1{
    .ui-scrollpanel {
        height: 500px !important;
        padding: 0;
        border: none;
        margin: 0px;
        width: 1365px;
    }
    
    .ui-panelgrid{
        &.panelgrid-layout-one {
            width: -webkit-fill-available !important;
            margin: 0;

            tbody {
                tr {
                    .ui-panelgrid-cell {
                        padding: 0;

                        .ui-inputfield {
                            width: -webkit-fill-available;
                        }
                        
                        .ui-button {
                            float: right;
                        }
                    }
                }
            }

            .width-180 {
                width: 180px;
            }

            .width-200 {
                width: 200px !important;

                &.ui-inputnumber {
                    .ui-inputfield {
                        width: 200px !important;
                    }
                }
            }

            .width-321 {
                width: 321px;
            }
            
            .font-weight {
                font-weight: bold
            }

            .bottom-padding-4 {
                padding-bottom: 4px !important;
            }

            .bottom-padding-35 {
                padding-bottom: 35px !important;
            }
        }
    }
    
    .ui-datatable {
        &.datatable-layout-two {
            .ui-datatable-data {
                & > tr {
                    & > td {
                        .ui-commandlink {
                            height: 23px;
                            border-radius: 0;
                            min-width: unset;
                            width: 20px;
                            line-height: 23px;
                            margin: 0;
                            text-decoration: none;
                            padding: 0;
                            display: inline-block;
                            text-align: center;

                            &:hover {
                                background-color: $linksBgHoverColor;
                                color: $linksTextHoverColor;
                            }
                                        
                            i {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .ui-panel {
        &.center-btn-panel {
            .ui-panel-content {
                width: fit-content;
                height: fit-content;
                margin: 5px auto 0 auto;
                padding: 0px;
                border: none;
        
                .left-btn {
                    margin-right: 25px
                }
            }
        }
    }
}

