.layout-create-tachometer {
    .ui-panelgrid {
        &.panelgrid-layout-one {
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        .ui-message {
                            width: 321px;
                        }
                        
                        .ui-button {
                            &.ui-button-icon-only {
                                height: 23px;
                                width: 23px;
                                border: 1px solid $primaryColor;
                                background: $primaryColor;
                                
                                &.ui-state-focus {
                                    background: $secondaryColor;
                                    box-shadow: 0 0 0 0.2em $secondaryLightColor;
                                    border: 1px solid $secondaryColor;
                                }
                                
                                .ui-button-text {
                                    padding: 0px;
                                    height: 0px;
                                    width: 0px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

