.layout-create-presets-device {
    .ui-scrollpanel {
        height: 375px;
        padding: 0;
        border: none;
        margin: 0 0 0 17px;
        width: 1217px;
        
        .ui-datatable {
            &.datatable-layout-one {
                width: 1200px;
            }
        }
    }
}

.dropdown-icon-fix{
   width: 100% !important
}


