.layout-device-management {
    .ui-panel {
        &.device-status-panel {
            width: -webkit-fill-available;
            margin: 0;
            margin-top: 10px;

            .ui-panel-content {
                padding: 0;
                border-radius: 0 !important;
                border: none !important;
                display: flow-root;
                
                .ui-outputlabel {
                    float: right;
                    display: inline-block;
                    height: 23px;
                    line-height: 23px;
                    padding: 0 10px 0 0;
                    
                    &.device-enabled {
                        background-color: green;
                        color: white;   
                        padding: 0 10px;
                        border-radius: 10px;
                    }
                    
                    &.device-disabled {
                        background-color: red;
                        color: white;
                        padding: 0 10px;
                        border-radius: 10px;
                    }
                }
            }
        }
        
        &.device-control-panel {
            width: -webkit-fill-available;
            margin: 30px 0 0 0;

            .ui-panel-content {
                padding: 0;
                border-radius: 0 !important;
                border: none !important;
                
                .ui-outputlabel {
                    display: block;
                }
                
                .ui-button {
                    display: inline-block;
                    margin: 30px 10px 0 0;
                }
            }
        }
        
        &.device-in-use-panel {
            width: -webkit-fill-available;
            margin: 30px 0;

            .ui-panel-content {
                padding: 0;
                border-radius: 0 !important;
                border: none !important;
                                
                .ui-outputlabel {
                    &.disclaimer {
                        display: block;
                        line-height: 23px;
                        color: $disclaimerTextColor;
                        margin-bottom: 10px
                    }
                }
                
                .ui-panelgrid {
                    tbody {
                        tr {
                            .ui-panelgrid-cell {
                                border: none;
                                padding: 0;
                                line-height: 23px;
                            }
                        }
                    }

                    .width-125 {
                        width: 125px;
                    }
                }
            }
        }
        
        &.install-device-panel {
            width: -webkit-fill-available;
            margin: 30px 0 0 0;

            .ui-panel-content {
                padding: 0;
                border-radius: 0 !important;
                border: none !important;
                
                .ui-inputtextarea {
                    height: fit-content !important;
                    width: -webkit-fill-available;
                    padding: 0 !important;
                    border: none;
                    line-height: 23px !important;
                    cursor: default;
                    box-shadow: none !important;
                }
                
                .ui-panel {
                    &.install-device-control-panel {
                        width: -webkit-fill-available;
                        margin: 0;

                        .ui-panel-content {
                            padding: 0;
                            border-radius: 0 !important;
                            border: none !important;

                            .ui-button {
                                display: inline-block;
                                margin: 0 10px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .ui-panelgrid{
        &.panelgrid-layout-one {
            width: -webkit-fill-available !important;
            margin: 0;

            tbody {
                tr {
                    .ui-panelgrid-cell {
                        padding: 0 5px 0 0;

                        .ui-inputfield {
                            width: -webkit-fill-available;
                        }
                        
                        .ui-button {
                            &[id$=":deviceLocationBtnId"] {
                                float: right;
                            }
                        }
                        
                        .ui-commandlink {
                            &[id$=":downloadDeviceLocations"] {
                                text-decoration: none;
                                margin: 0;
                                margin-left: 10px;
                                float: right;

                                i {
                                    font-size: 20px;
                                    padding: 4.271px;
                                    border-radius: 4px;
                                    border: 1.111px solid $primaryColor;
                                    background-color: $primaryColor;
                                    color: $primaryTextColor;
                                }

                                &:hover {
                                    i {
                                        border: 1.111px solid $primaryDarkColor;
                                        background-color: $primaryDarkColor;
                                        color: $primaryTextColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .width-150 {
                width: 150px;
            }

            .width-200 {
                width: 200px;
            }
            
            .width-100 {
                width: 100px;
            }
            
            .no-padding {
                padding: 0px !important;
            }
        }
    }
    
    .ui-datatable {
        &.datatable-layout-two {
            .ui-datatable-data {
                & > tr {
                    & > td {
                        padding: 2px 5px;
                        border: 1px solid rgba(0, 0, 0, 0.08);
                        border-width: 1px;
                        line-height: 23px;
                         
                        .ui-commandlink {
                            height: 23px;
                            border-radius: 0;
                            min-width: unset;
                            width: 20px;
                            line-height: 23px;
                            margin: 0;
                            text-decoration: none;
                            padding: 0;
                            display: inline-block;
                            text-align: center;

                            &:hover {
                                background-color: $linksBgHoverColor;
                                color: $linksTextHoverColor;
                            }
                                        
                            i {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

