.layout-device-management-info-row {
    .ui-panel {
        &.panel-layout-one {
            width: max-content;
            margin: 0;

            .ui-panel-content {
                padding: 0;
                border-radius: 0 !important;
                border: none !important;
            }
        }
    }
    
    .ui-scrollpanel {
        height: 350px !important;
        padding: 0;
        border: none;
        margin: 0px;
        width: 1000px;
    }
}

