.layout-dialog {
    &.ui-dialog {
        width: fit-content !important;
        margin-left: auto;
        margin-right: auto;

        &.distance-from-top-100 {
            top: 100px !important;
        }
        
        &.distance-from-top-50 {
            top: 50px !important;
        }
        
        &.vertical-center-align {
            top: 50% !important;
            transform: translateY(-50%);
            max-height: 95%;
            overflow: auto;
            max-width: 100%;
        }
    }
}

.layout-confirm-dialog {
    &.ui-confirm-dialog {
        &.plus-disclaimer {
            .ui-dialog-content {
                .ui-outputlabel {
                    display: block;
                    height: 23px;
                    line-height: 23px;
                }

                .ui-inputtextarea {
                    height: fit-content !important;
                    width: 530px;
                    padding: 0 !important;
                    border: none;
                    line-height: 23px !important;
                    cursor: default;
                    box-shadow: none !important;
                    color: $disclaimerTextColor;
                    margin-top: 10px;
                }
            }
        }
        
        &.only-disclaimer {
            .ui-dialog-content {
                .ui-outputlabel {
                    display: block;
                    line-height: 23px;
                    color: $disclaimerTextColor;
                    width: 530px;
                }
            }
        }

        .ui-fileupload {
            .ui-fileupload-buttonbar {
                border: none;
                background: transparent;
                color: #495057;
                padding: 5px 0;
            }

            .ui-fileupload-content {
                border: none;
                padding: 0;

                .ui-fileupload-files {
                    width: -webkit-fill-available;
                    margin: 0;

                    .ui-fileupload-row {
                        > div {
                            padding: 10px 5px;
                            
                            .ui-fileupload-cancel {
                                &.ui-button.ui-button-icon-only {
                                    position: relative;
                                    margin: 0;

                                    &:hover::before {
                                        content: attr(language);
                                        position: absolute;
                                        right:120%;
                                        padding: 3px 10px;
                                        border-radius: 5px;
                                        min-width: fit-content;
                                        border: 1px solid $tooltipBorderArrowColor;
                                        background-color: $tooltipBgColor;
                                        color: $tooltipTextColor;
                                        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0,0,0,.12);
                                        animation: fadeIn ease .5s;
                                    }
                                }
                            }
                        }
                        
                        .ui-fileupload-preview {
                            display: none;
                        }
                    }
                }
            }
        }
        
        .ui-dialog-footer {
            text-align: center;

            .ui-button {
                min-width: 60px;
                border: none !important;

                &.ui-confirmdialog-yes {
                    background-color: $primaryColor;
                    color: $primaryTextColor;
                    margin: 0 2.5px 0 0 !important;
                    box-shadow: none;

                    &.ui-state-hover {
                        background-color: $primaryDarkColor;

                        &.ui-state-focus {
                            box-shadow: 0 0 0 0.2em $primaryLightColor
                        }
                    }
                }
                
                &[id$="btnYesUserDelete"] {
                    background-color: $primaryColor;
                    color: $primaryTextColor;
                    margin: 0 2.5px 0 0 !important;
                    box-shadow: none;

                    &.ui-state-hover {
                        background-color: $primaryDarkColor;

                        &.ui-state-focus {
                            box-shadow: 0 0 0 0.2em $primaryLightColor
                        }
                    }
                }

                &.ui-confirmdialog-no {
                    background-color: $secondaryColor;
                    color: $primaryTextColor;
                    margin: 0 0 0 2.5px !important;
                    box-shadow: none;

                    &.ui-state-hover {
                        background-color: $secondaryDarkColor;
                        
                        &.ui-state-focus {
                            box-shadow: 0 0 0 0.2em $secondaryLightColor
                        }
                    }
                }
                
                &[id$="btnNoUserDelete"] {
                    background-color: $secondaryColor;
                    color: $primaryTextColor;
                    margin: 0 0 0 2.5px !important;
                    box-shadow: none;

                    &.ui-state-hover {
                        background-color: $secondaryDarkColor;

                        &.ui-state-focus {
                            box-shadow: 0 0 0 0.2em $secondaryLightColor
                        }
                    }
                }
            }
        }
    }
}
