.layout-edit-installdevice-presets {
    .ui-inputtextarea {
        height: fit-content !important;
        width: -webkit-fill-available;
        padding: 0 !important;
        border: none;
        line-height: 23px !important;
        cursor: default;
        box-shadow: none !important;
        color: $disclaimerTextColor;
    }
}

