.layout-edit-area {
    .ui-scrollpanel {
        height: 300px;
        padding: 0 0 0 10px;
        border: none;
        margin: 0;
    }
    
    .panel-layout-one {
        &.ui-panel {
            .ui-panel-content {
                padding: 5px 0 0 0;
                border-bottom: none;
                width: 478px !important;
                
                .panelgrid-layout-one {
                    &.ui-panelgrid {
                        tbody {
                            tr {
                                .ui-panelgrid-cell {
                                    .header-label {
                                        display: block;
                                        text-align: center;
                                        height: 23px;
                                        line-height: 23px;
                                        background-color: $primaryColor;
                                        color: $primaryTextColor;
                                    }
                                }
                            }
                        }
                        
                        .min-width-one {
                            min-width: 303px !important;

                            &.ui-selectcheckboxmenu {
                                .ui-selectcheckboxmenu-multiple-container {
                                    width: 270px !important;
                                }
                            }
                        }
                    }
                }
            
                .ui-panel-footer {
                    border-top: none;
                    padding: 5px 10px;
                    border-radius: 0 !important;
                }
            }
        }
    }
    
    .width-146 {
        width: 146px;
    }
    
    .width-157 {
        width: 157px;
    }
}

