@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url("\#{resource['roma-layout:fonts/Inter-UI-Regular.otf']}") format('opentype'), /* IE6-IE8 */
    url("\#{resource['roma-layout:fonts/Inter-UI-Regular.woff2']}") format('woff2'), /* Super Modern Browsers */
    url("\#{resource['roma-layout:fonts/Inter-UI-Regular.woff']}") format('woff'), /* Modern Browsers */
    url("\#{resource['roma-layout:fonts/Inter-UI-Regular.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 500;
    src: url("\#{resource['roma-layout:fonts/Inter-UI-SemiBold.otf']}") format('opentype'), /* IE6-IE8 */
    url("\#{resource['roma-layout:fonts/Inter-UI-SemiBold.woff2']}") format('woff2'), /* Super Modern Browsers */
    url("\#{resource['roma-layout:fonts/Inter-UI-SemiBold.woff']}") format('woff'), /* Modern Browsers */
    url("\#{resource['roma-layout:fonts/Inter-UI-SemiBold.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url("\#{resource['roma-layout:fonts/Inter-UI-Bold.otf']}") format('opentype'), /* IE6-IE8 */
    url("\#{resource['roma-layout:fonts/Inter-UI-Bold.woff2']}") format('woff2'), /* Super Modern Browsers */
    url("\#{resource['roma-layout:fonts/Inter-UI-Bold.woff']}") format('woff'), /* Modern Browsers */
    url("\#{resource['roma-layout:fonts/Inter-UI-Bold.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url("\#{resource['roma-layout:fonts/Poppins-Thin.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 100;
    src: url("\#{resource['roma-layout:fonts/Poppins-ThinItalic.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("\#{resource['roma-layout:fonts/Poppins-Light.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url("\#{resource['roma-layout:fonts/Poppins-LightItalic.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("\#{resource['roma-layout:fonts/Poppins-Regular.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url("\#{resource['roma-layout:fonts/Poppins-Italic.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url("\#{resource['roma-layout:fonts/Poppins-Medium.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url("\#{resource['roma-layout:fonts/Poppins-MediumItalic.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url("\#{resource['roma-layout:fonts/Poppins-SemiBold.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url("\#{resource['roma-layout:fonts/Poppins-SemiBoldItalic.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url("\#{resource['roma-layout:fonts/Poppins-Bold.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url("\#{resource['roma-layout:fonts/Poppins-BoldItalic.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url("\#{resource['roma-layout:fonts/Poppins-ExtraBold.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url("\#{resource['roma-layout:fonts/Poppins-ExtraBoldItalic.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url("\#{resource['roma-layout:fonts/Poppins-Black.ttf']}") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url("\#{resource['roma-layout:fonts/Poppins-BlackItalic.ttf']}") format('truetype'); /* Safari, Android, iOS */
}
