.highcharts-linechart {
    div {
        &.highcharts-container {
            svg {
                &.highcharts-root {
                    font-family: $fontFamily !important;

                    text {
                        &.highcharts-credits {
                            display: none !important;
                        }
                    }

                    g {
                        &.highcharts-label {
                            &:not(.highcharts-tooltip) {
                                transform: translate(46px, -2px) !important;
                            }

                            &.highcharts-tooltip {
                                path {
                                    &.highcharts-label-box {
                                        fill: rgba(0, 0, 0, 0) !important;
                                    }
                                }
                            }
                        }

                        &.highcharts-exporting-group {
                            g {
                                &.highcharts-button {
                                    &.highcharts-button-normal {
                                        rect {
                                            &.highcharts-button-box {
                                                fill: white !important;
                                            }
                                        }

                                        path {
                                            &.highcharts-button-symbol {
                                                stroke: $highchartMenuBtnIconColor !important;
                                            }
                                        }
                                    }

                                    &.highcharts-button-hover {
                                        rect {
                                            &.highcharts-button-box {
                                                fill: white !important;
                                            }
                                        }

                                        path {
                                            &.highcharts-button-symbol {
                                                stroke: $highchartMenuBtnIconHoverColor !important;
                                            }
                                        }
                                    }

                                    &.highcharts-button-pressed {
                                        rect {
                                            &.highcharts-button-box {
                                                fill: white !important;
                                            }
                                        }

                                        path {
                                            &.highcharts-button-symbol {
                                                stroke: $highchartMenuBtnIconHoverColor !important;
                                            }
                                        }
                                    }

                                    rect {
                                        &.highcharts-button-box {
                                            fill: white !important;
                                        }
                                    }

                                    path {
                                        &.highcharts-button-symbol {
                                            stroke: $highchartMenuBtnIconColor !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            div {
                &.highcharts-contextmenu {
                    border: 1px solid #dee2e6 !important;
                    box-shadow: rgb(136, 136, 136) 3px 3px 10px !important;
                    padding: 0px !important;
                    margin: 0px !important;
                    height: fit-content !important;
                    width: max-content !important;
                    right: 0px !important;
                    top: 10px !important;

                    ul {
                        padding: 0px !important;
                        margin: 0px !important;
                        border: none !important;
                        box-shadow: none !important;

                        li {
                            display: block !important;
                            padding: 5px 10px !important;
                            color: #495057 !important;
                            background-color: white !important;
                            font-size: 13px !important;

                            &:hover {
                                color: $primaryTextColor !important;
                                background-color: $primaryColor !important;
                            }

                            &:focus {
                                color: $primaryTextColor !important;
                                background-color: $primaryDarkColor !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.highcharts-heatmap {
    div {
        &.highcharts-container {
            svg {
                &.highcharts-root {
                    font-family: $fontFamily !important;

                    text {
                        &.highcharts-credits {
                            display: none !important;
                        }
                    }

                    g {
                        &.highcharts-series-group {
                            g {
                                &.highcharts-series {
                                    path {
                                        &.highcharts-point {
                                            stroke: #b3b3b3 !important;
                                        }
                                    }
                                }
                            }
                        }
                        
                        &.highcharts-exporting-group {
                            g {
                                &.highcharts-button {
                                    &.highcharts-button-normal {
                                        rect {
                                            &.highcharts-button-box {
                                                fill: white !important;
                                            }
                                        }

                                        path {
                                            &.highcharts-button-symbol {
                                                stroke: $highchartMenuBtnIconColor !important;
                                            }
                                        }
                                    }

                                    &.highcharts-button-hover {
                                        rect {
                                            &.highcharts-button-box {
                                                fill: white !important;
                                            }
                                        }

                                        path {
                                            &.highcharts-button-symbol {
                                                stroke: $highchartMenuBtnIconHoverColor !important;
                                            }
                                        }
                                    }

                                    &.highcharts-button-pressed {
                                        rect {
                                            &.highcharts-button-box {
                                                fill: white !important;
                                            }
                                        }

                                        path {
                                            &.highcharts-button-symbol {
                                                stroke: $highchartMenuBtnIconHoverColor !important;
                                            }
                                        }
                                    }

                                    rect {
                                        &.highcharts-button-box {
                                            fill: white !important;
                                        }
                                    }

                                    path {
                                        &.highcharts-button-symbol {
                                            stroke: $highchartMenuBtnIconColor !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            div {
                &.highcharts-contextmenu {
                    border: 1px solid #dee2e6 !important;
                    box-shadow: rgb(136, 136, 136) 3px 3px 10px !important;
                    padding: 0px !important;
                    margin: 0px !important;
                    height: fit-content !important;
                    width: max-content !important;
                    right: 0px !important;
                    top: 10px !important;

                    ul {
                        padding: 0px !important;
                        margin: 0px !important;
                        border: none !important;
                        box-shadow: none !important;

                        li {
                            display: block !important;
                            padding: 5px 10px !important;
                            color: #495057 !important;
                            background-color: white !important;
                            font-size: 13px !important;

                            &:hover {
                                color: $primaryTextColor !important;
                                background-color: $primaryColor !important;
                            }

                            &:focus {
                                color: $primaryTextColor !important;
                                background-color: $primaryDarkColor !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

