.layout-home {  
    &.ui-panel {
        display: block;
        margin: 0;
        padding: 0;
        
        &.no-site-selected {
            height: -webkit-fill-available;
            
            .ui-panel-content {
                height: -webkit-fill-available;
                border: none;
                background-color: transparent;
                padding: 0;
                
                .image-div {
                    background-image: url('/UpCastCM/resources/roma-layout/images/condition-monitoring-actionable-intelligence.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: white;
                    height: -webkit-fill-available;
                    display: block;
                    margin: 0;
                    padding: 0;
                    padding-top: 125px;

                    .ui-outputlabel {
                        display: block;
                        width: fit-content;
                        margin: 0 auto;
                        font-size: 68px;
                        color: white;
                        font-weight: 600;
                        /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
                        -webkit-text-stroke: 2px black;
                    }
                }
            }
        }

        &.site-selected {
            height: -webkit-fill-available;
            
            .ui-panel-content {
                height: fit-content;
                border: none;
                background-color: transparent;
                padding: 0;
                
                .ui-panel {
                    height: fit-content;
                    display: block;
                    margin: 0;
                    padding: 0;
            
                    &.configuration-summary-panel {
                        .ui-panel-titlebar {
                            margin-bottom: 5px;
                        }
                    }

                    &.system-overview-panel {
                        .ui-panel-titlebar {
                            margin: 5px 0;
                        }
                    }
        
                    .ui-panel-titlebar {
                        text-align: center;
                        padding: 0px;
                        background-color: $primaryColor;
                        border: 1px solid $primaryColor;
                        color: $primaryTextColor;
                        border-radius: 0 !important;

                        .ui-panel-title {
                            display: block;
                            height: 30px;
                            line-height: 30px;
                            font-size: 18px;
                        }
                    }

                    .ui-panel-content {
                        height: fit-content;
                        display: flow-root;
                        border: none;
                        background-color: transparent;
                        padding: 0;

                        .ui-commandlink {
                            &.link-card {
                                text-decoration: none;
                                display: block;
                                -webkit-user-drag: none;
                                margin: 5px;
                                float: left;

                                .ui-card {
                                    width: 350px;
                                    height: 224px;

                                    .ui-card-title {
                                        text-align: center;
                                        font-size: 18px;
                                        height: 22px;
                                        margin-bottom: 5px;
                                        line-height: 22px;
                                    }

                                    .ui-card-content {
                                        position: relative;
                                        height: 171px;
                                        padding: 0;
                                    
                                        div {
                                            position: absolute;
                                            background-repeat: no-repeat;
                                            background-color: white;
                                            height: 171px;
                                            opacity: .1;
                                            top: 0;
                                            
                                            &.alarms-image-div {
                                                //height: 171px;
                                                //margin: 0 76.5px;
                                                //background-image: url('/UpCastCM/resources/roma-layout/images/bell.svg');
                                                width: 150px;
                                                margin: 0 88px;
                                                background-image: url('/UpCastCM/resources/roma-layout/images/bell-regular.svg');
                                            }

                                            &.work-order-image-div {
                                                //height: 171px;
                                                //margin: 0 76.5px;
                                                //background-image: url('/UpCastCM/resources/roma-layout/images/tag.svg');
                                                width: 149px;
                                                margin: 0 87.5px;
                                                background-image: url('/UpCastCM/resources/roma-layout/images/tag-solid.svg');
                                            }
                                        }

                                        .ui-panelgrid {
                                            width: unset;
                                            margin: 0 auto;

                                            tbody {
                                                tr {
                                                    .ui-panelgrid-cell {
                                                        border: none;
                                                        background: transparent;
                                                        padding: 0;
                                                        padding-bottom: 5px;
                                                        
                                                        &.top-alarms-panelgrid-cell {
                                                            padding-top: 40px;
                                                        }
                                                        
                                                        &.work-order-panelgrid-cell {
                                                            padding-top: 19px;
                                                        }

                                                        .ui-outputlabel {
                                                            cursor: pointer;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .ui-card {
                            &.non-link-card {
                                width: 350px;
                                height: 224px;
                                margin: 5px;
                                float: left;

                                .ui-card-title {
                                    text-align: center;
                                    font-size: 18px;
                                    height: 22px;
                                    margin-bottom: 5px;
                                    line-height: 22px;
                                }

                                .ui-card-content {
                                    height: 171px;
                                    padding: 0;
                                    line-height: 21px;
                                    
                                    div {
                                        background-repeat: no-repeat;
                                        background-color: white;
                                        height: 145px;
                                        opacity: .25;
                                        
                                        &.area-image-div {
                                            width: 145px;
                                            margin: 0 89.5px;
                                            background-image: url('/UpCastCM/resources/roma-layout/images/compass-solid.svg');
                                        }
                                        
                                        &.asset-image-div {
                                            width: 163px;
                                            margin: 0 81.5px;
                                            background-image: url('/UpCastCM/resources/roma-layout/images/industry-solid.svg');
                                        }
                                        
                                        &.point-locations-image-div {
                                            width: 163px;
                                            margin: 0 81.5px;
                                            background-image: url('/UpCastCM/resources/roma-layout/images/map-location-dot-solid.svg');
                                        }
                                    }
                                    
                                    .ui-panelgrid {
                                        width: unset;
                                        margin: 10px auto 0 auto;

                                        tbody {
                                            tr {
                                                .ui-panelgrid-cell {
                                                    border: none;
                                                    background: transparent;
                                                    padding: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .right-margin {
        margin-right: 10px !important;
    }
}

