.layout-import-config {
    max-width: 500px;

    .width-fill-available {
        width: -webkit-fill-available !important;
    }

    .float-right {
        float: right;
    }
    
    .ui-fileupload-simple {
        margin: 20px 0;
    }

    .ui-panelgrid {
       margin: 0 0 0 auto;
       
        &.panelgrid-layout-one {
            .min-width-one {
                min-width: 260px !important;
            }
            
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        padding: 0 2.5px 5px 2.5px;
                        padding: 5px;
                        
                    }
                }
            }
        }
    }
}

