html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: 400;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: $bodyBgColor;
    
    .ui-autocomplete-panel {
        &[id^="topbarFilterFormId"] {
            .ui-autocomplete-items {
                .ui-autocomplete-item {
                    &.ui-state-highlight {
                        background: $topBarNavPanelHighlightBgColor;
                        color: $topBarNavPanelHighlightTextColor;
                    }
                }
            }
        }
    } 
}

a {
    text-decoration: none;
    color: $primaryColor;
}

.layout-ajax-loader-icon {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    font-size: 3rem;
    color: $ajaxLoaderIconColor;
    z-index: 100000;
}

.layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    animation-duration: $animationDuration;
    animation-timing-function: $animationTimingFunction;
    animation-fill-mode: forwards;
}
