.layout-wrapper {
    .layout-menu-container {
        position: fixed;
        height: 100%;
        top: 70px;
        overflow: auto;
        z-index: 999;

        .layout-profile {
            .layout-profile-button {
                padding: 3em 0;
                display: block;
                text-align: center;
                cursor: pointer;
                user-select: none;
                @include transition(background-color $transitionDuration);

                img {
                    width: 96px;
                    margin-bottom: 12px;
                    display: inline-block;
                }

                .layout-profile-userinfo {
                    .layout-profile-name {
                        display: inline-block;
                        font-weight: 500;
                    }

                    .layout-profile-role {
                        display: block;
                    }
                }
            }

            .layout-profile-menu {
                display: none;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;

                    &:first-child {
                        margin-top: .5em;
                    }

                    &:last-child {
                        margin-bottom: .5em;
                    }

                    a {
                        display: block;
                        padding: 0.75em 1em;
                        text-align: left;
                        @include border-radius($borderRadius);
                        @include border-radius($borderRadius);
                        @include transition(background-color $transitionDuration);

                        i {
                            margin-right: .5em;
                            vertical-align: middle;
                        }

                        span {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        .layout-menu {
            list-style-type: none;
            margin: .5em 0;
            padding: 0;

            > li {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
            }

            li {

                &.layout-root-menuitem {
                    > .layout-menuitem-root-text {
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 1.5rem 0 0.5rem 1.5rem;
                        color: #6c7276;
                    }

                    > a {
                        display: none;
                    }
                }

                a {
                    display: block;
                    padding: .75em 1em;
                    position: relative;
                    cursor: pointer;
                    outline: none;
                    @include border-radius($borderRadius);
                    @include transition(color $transitionDuration, background-color $transitionDuration, border-left-color $transitionDuration);

                    .layout-menuitem-text {
                        display: inline-block;
                        vertical-align: middle;
                        width: 91px;
                    }

                    .layout-menuitem-icon {
                        margin-right: .5em;
                        vertical-align: middle;
                    }

                    &.rotated-icon {
                        .layout-menuitem-icon {
                            transform: rotate(90deg);
                        }
                    }

                    .layout-submenu-toggler {
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        font-size: 16px;
                        margin-top: -8px;
                        @include transition(transform $transitionDuration);
                    }
                }

                &.active-menuitem {
                    > a {
                        .layout-submenu-toggler {
                            @include rotate(-180deg);
                        }
                    }
                }

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: none;

                    li {
                        a {
                            padding-left: 2em;
                        }

                        li {
                            a {
                                padding-left: 3em;
                            }

                            li {
                                a {
                                    padding-left: 4em;
                                }

                                li {
                                    a {
                                        padding-left: 5em;
                                    }

                                    li {
                                        a {
                                            padding-left: 6em;
                                        }

                                        li {
                                            a {
                                                padding-left: 7em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .layout-menu-tooltip {
                    display: none;
                }
            }
        }

        .menu-scroll-content {
            padding-bottom: 120px;
        }
    }

    &.layout-menu-color {
        .layout-menu-container {
            background-color: $menuBgColor;
            border: 1px solid $menuBorderColor;
            border-left: 0;
            border-top: 0;

            .layout-profile {
                border-bottom: 1px solid $menuitemSeparator;

                .layout-profile-button {
                    .layout-profile-name {
                        color: $menuitemTextColor;
                    }

                    .layout-profile-role {
                        color: $menuitemTextColor;
                    }

                    &:hover {
                        background-color: $menuitemHoverBgColor;
                    }
                }

                .layout-profile-menu {
                    background-color: $menuBgColor;
                    border-left: 0;

                    a {
                        span {
                            color: $menuitemTextColor;
                        }

                        i {
                            color: $menuitemIconColor;
                        }

                        &:hover {
                            background-color: $menuitemHoverBgColor;

                            span {
                                color: $menuitemTextHoverColor;
                            }

                            i {
                                color: $menuitemIconHoverColor;
                            }
                        }
                    }
                }
            }

            .layout-menu {
                ul {
                    background-color: $menuBgColor;
                }

                li {

                    &.layout-root-menuitem {
                        > .layout-menuitem-root-text {
                            color: $menuitemTextColor;
                        }
                    }

                    a {
                        .layout-menuitem-text {
                            color: $menuitemTextColor;
                        }

                        .layout-menuitem-icon, .layout-submenu-toggler {
                            color: $menuitemIconColor;
                        }

                        &:hover {
                            background-color: $menuitemHoverBgColor;

                            .layout-menuitem-text {
                                color: $menuitemTextHoverColor;
                            }

                            .layout-menuitem-icon, .layout-submenu-toggler {
                                color: $menuitemIconHoverColor;
                            }
                        }
                    }

                    &.active-menuitem {
                        > a {
                            background-color: $activeMenuitemBgColor;
                            
                            .layout-menuitem-text {
                                color: $activeMenuitemTextColor;
                            }

                            .layout-menuitem-icon, .layout-submenu-toggler {
                                color: $activeMenuitemIconColor;
                            }
                        } 
                    }
                }
                
                > li {
                    &.active-menuitem {
                        border-left-color: $activeMenuitemBarBgColor;
                    }
                }
            }
        }
    }

    .layout-main {
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;

        .layout-content {
            padding: 16px;
            flex: 1 1 0;
            overflow: auto;
        }
    }

    &.layout-static {
        .layout-menu-container .layout-menu li ul {
            display: block;
             li ul {
                 display: none;
             }
        }
    }
}

@media screen and (min-width: $leftTreePanelDoubleExpandLimit + 1) {
    .layout-wrapper {
        &.layout-static {
            .layout-left-tree-panel-expand-button {
                &.layout-left-tree-panel-active {
                    &.layout-left-tree-full-expand {
                        left: 726px !important;
                    }
                }
            }
            
            .layout-left-tree-panel-contract-button {
                &.layout-left-tree-panel-active {
                    &.layout-left-tree-full-expand {
                        left: 726px !important;
                    }
                }
            }
            
            .layout-left-tree-panel-collapse-button {
                &.layout-left-tree-panel-active {
                    &.layout-left-tree-full-expand {
                        left: 726px !important;
                    }
                }
            }
    
            .layout-main {
                &.layout-left-tree-panel-active {
                    &.layout-left-tree-full-expand {
                        margin-left: 726px !important;
                    }
                }
            }
        }
    
        &.layout-slim {
            .layout-left-tree-panel-expand-button {
                &.layout-left-tree-panel-active {
                    &.layout-left-tree-full-expand {
                        left: 633px !important;
                    }
                }
            }
            
            .layout-left-tree-panel-contract-button {
                &.layout-left-tree-panel-active {
                    &.layout-left-tree-full-expand {
                        left: 633px !important;
                    }
                }
            }
            
            .layout-left-tree-panel-collapse-button {
                &.layout-left-tree-panel-active {
                    &.layout-left-tree-full-expand {
                        left: 633px !important;
                    }
                }
            }
            
            .layout-main {
                &.layout-left-tree-panel-active {
                    &.layout-left-tree-full-expand {
                        margin-left: 633px !important;
                    }
                }
            }
        }   
    }
}

@media screen and (min-width: $mobileBreakpoint + 1) {
    .layout-wrapper {
        &.layout-static {
            .layout-menu-container {
                width: 150px;
                left: 0;
                @include transition(left $transitionDuration);
            }
            
            .layout-left-tree-panel {
                display: none;
                left: 150px;
                    
                &.layout-left-tree-panel-active {
                    display: block;
                }
            }
            
            .layout-left-tree-panel-expand-button {
                left: 150px;
                
                &.layout-left-tree-panel-active {
                    left: 438px;
                
                    &.layout-left-tree-full-expand {
                        left: 438px;
                    }
                }
            }
            
            .layout-left-tree-panel-contract-button {
                left: 150px;
                
                &.layout-left-tree-panel-active {
                    left: 438px;
                
                    &.layout-left-tree-full-expand {
                        left: 438px;
                    }
                }
            }
            
            .layout-left-tree-panel-collapse-button {
                left: 150px;
                
                &.layout-left-tree-panel-active {
                    left: 438px;
                
                    &.layout-left-tree-full-expand {
                        left: 438px;
                    }
                }
            }
    
            .layout-main {
                margin-left: 150px;
                    
                &.layout-left-tree-panel-active {
                    margin-left: 438px;
                
                    &.layout-left-tree-full-expand {
                        margin-left: 438px;
                    }
                }
            }

            &.layout-static-inactive {
                .layout-menu-container {
                    left: -150px;
                }
    
                .layout-main {
                    margin-left: 0;
                }
            }

            &.layout-static-inactive-restore {
                .layout-menu-container {
                    @include transition(none);
                }
            }
        }
    
        &.layout-slim {
            .layout-menu-container {
                width: 57px;
                overflow: visible;

                .layout-profile {
                    .layout-profile-button {
                        text-align: center;
                        padding: 11px 15px;

                        img {
                            width: 25px;
                            margin-bottom: 0;
                        }

                        .layout-profile-userinfo {
                            display: none;
                        }
                    }

                    .layout-profile-menu {
                        position: absolute;
                        overflow: auto;
                        top: 0;
                        left: 57px;
                        min-width: 250px;
                        @include border-radius($borderRadius);
                        @include shadow(0 3px 6px 0 rgba(0, 0, 0, 0.16));

                        li {
                            border-left: 0 none;
                            border-right: 0 none;

                            &:first-child {
                                margin: 0;
                            }

                            &:last-child {
                                margin: 0;
                            }

                            a {
                                @include transition(background-color $transitionDuration);
                            }
                        }
                    }

                    &.layout-profile-active {
                        .layout-profile-menu {
                            display: block;
                        }
                    }
                }
                
                .layout-menu {
                    > li {
                        position: relative;
    
                        &.layout-root-menuitem {
                            > .layout-menuitem-root-text {
                                display: none;
                            }

                            > a {
                                display: block;
                            }
                        }

                        > a {
                            display: block;
                            text-align: center;
                            padding: 1em 0;

                            .layout-menuitem-icon {
                                font-size: 18px;
                                margin-right: 0;
                            }
    
                            .layout-menuitem-text {
                                display: none;
                            }

                            &:hover + .layout-menu-tooltip {
                                display: block;
                            }
    
                            .layout-submenu-toggler {
                                display: none;
                            }
                        }
    
                        > ul {
                            position: absolute;
                            display: none;
                            top: 0;
                            left: 52px;
                            min-width: 200px;
                            @include border-radius($borderRadius);
                            @include shadow(0 0px 10px 0 rgba(0, 0, 0, 0.16));
                        }

                        &.active-menuitem {
                            > a {
                                &:hover + .layout-menu-tooltip {
                                    display: none;
                                }
                            }

                            > ul {
                                display: block;
                            }
                        }
                    }

                    .layout-menu-tooltip {
                        display: none;
                        padding: 0 5px;
                        position: absolute;
                        left: 57px;
                        top: 10px;
                        line-height: 1;
                        
                        .layout-menu-tooltip-text {
                            padding: 6px 8px;
                            font-weight: 700;
                            font-size: 13px;
                            background-color: $slimMenuTooltipBgColor;
                            color: $slimMenuTooltipTextColor;
                            min-width: 75px;
                            white-space: nowrap;
                            text-align: center;
                        }
                        
                        .layout-menu-tooltip-arrow {
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-color: transparent;
                            border-style: solid;
                            top: 50%;
                            left: 0;
                            margin-top: -5px;
                            border-width: 5px 5px 5px 0;
                            border-right-color: $slimMenuTooltipBgColor;
                        }
                    }
                }
            }
            
            .layout-left-tree-panel {
                display: none;
                left: 57px;
                
                &.layout-left-tree-panel-active {
                    display: block;
                }
            }
            
            .layout-left-tree-panel-expand-button {
                left: 57px;
                
                &.layout-left-tree-panel-active {
                    left: 345px;
                
                    &.layout-left-tree-full-expand {
                        left: 345px;
                    }
                }
            }
            
            .layout-left-tree-panel-contract-button {
                left: 57px;
                
                &.layout-left-tree-panel-active {
                    left: 345px;
                
                    &.layout-left-tree-full-expand {
                        left: 345px;
                    }
                }
            }
            
            .layout-left-tree-panel-collapse-button {
                left: 57px;
                
                &.layout-left-tree-panel-active {
                    left: 345px;
                
                    &.layout-left-tree-full-expand {
                        left: 345px;
                    }
                }
            }
            
            .layout-main {
                margin-left: 57px;
                
                &.layout-left-tree-panel-active {
                    margin-left: 345px;
                    
                    &.layout-left-tree-full-expand {
                        margin-left: 345px;
                    }
                }
            }
        }   

        &.layout-slim {
            .layout-menu-container {
                .menu-scroll-content {
                    width: 100%;
                    padding: 0;
                }
                
                .layout-menu {
                    ul {
                        li {
                            a {
                                padding-left: 16px;
                            }
    
                            li {
                                a {
                                    padding-left: 32px;
                                }
    
                                li {
                                    a {
                                        padding-left: 48px;
                                    }
    
                                    li {
                                        a {
                                            padding-left: 64px;
                                        }
    
                                        li {
                                            a {
                                                padding-left: 80px;
                                            }
    
                                            li {
                                                a {
                                                    padding-left: 96px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .layout-wrapper {
        &.layout-slim {
            .layout-menu-container {
                .menu-scroll-content {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    .layout-wrapper {
        .layout-topbar {
            #topbarLogoFormId {
                margin-left: 1em;
            }
        }

        .layout-menu-container {
            top: 115px;
            width: 150px;
            left: -150px;
            @include shadow(5px 0px 10px -5px rgba(0, 0, 0, 0.16));
            @include transition(left $transitionDuration);
        }

        .layout-main {
            margin-left: 0;
            padding-top: 70px;
            @include transition(margin-left $transitionDuration);
        }

        .layout-mask {
            display: none;
            background-color: #252529;
            position: fixed;
            top: 114px;
            left: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

        &.layout-mobile-active {
            .layout-menu-container {
                left: 0;
            }

            .layout-mask {
                display: block;
            }
        }
    }

    body.blocked-scroll {
        overflow: hidden;
    }
}
