.layout-modify-alarm-status {
    .ui-panelgrid {
        max-width: 455px;
        
        &.panelgrid-layout-one {
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        


                        .ui-selectoneradio {
                            tbody {
                                tr {
                                    td {
                                        .ui-radiobutton {
                                            .ui-radiobutton-box {
                                                box-shadow: none !important;
                                            }
                                        }

                                        label {
                                            margin: 0px 15px 0 2px;
                                            
                                        }
                                    }
                                }
                            }
                        }
                        
                        
                        .ui-selectcheckboxmenu {
                            min-height: 23px;
                            height: fit-content;
                            
                            .ui-selectcheckboxmenu-label-container {
                                height: 21px;
                                padding: 0px;

                                .ui-selectcheckboxmenu-label {
                                    padding: 0 18px 0 5px;
                                    height: 21px;
                                    line-height: 19px;
                                }
                            }
                        }
                        
                        &.bottom-padding {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    
    .center-btn-div {
        margin: 10px 0 0 auto;
    }
}
