.layout-presets {  
    .ui-tabs {
        .ui-tabs-nav {
            li {
                &.ui-tabs-header {
                    box-shadow: none !important;
                    
                    a {
                        cursor: pointer;
                    }
                }
            }
        }
        
        .ui-tabs-panels {
            .ui-tabs-panel {
                .ui-button {
                    &.bearing-catalog-item-indicator-icon {
                        width: 19px;
                        height: 19px;
                        margin-left: 10px;
                        pointer-events: none;
                        
                        .ui-button-text {
                            padding: 0;
                        }
                    }
                    
                    &.add-al-set-btn {
                         &.ui-button-icon-only {
                            width: 23px;
                            
                            .ui-button-text {
                                padding: 0;
                                height: 21px;
                            }
                        }
                    }
                }
                
                .ui-outputpanel {
                    margin-top: 20px;
                    
                    h5 {
                        margin: 0 0 5px 0;
                    }
                }
                
                .ui-panel {
                    &.panel-layout-one {
                        width: -webkit-fill-available;

                        .ui-panel-content {
                            display: flow-root;
                            padding: 0;
                            border: none;

                            .ui-commandlink {
                                display: inline-block;
                                float: right;
                                padding: 0.5rem 1rem;
                                background: $primaryColor;
                                color: $primaryTextColor;
                                border: 1px solid $primaryColor;
                                border-radius: 4px;
                                text-decoration: none;
                                transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

                                &:hover {
                                    background-color: $primaryDarkColor;
                                    border: 1px solid $primaryDarkColor;
                                }

                                &:focus {
                                    box-shadow: 0 0 0 0.2em $primaryLightColor;
                                }

                            }

                            .ui-fileupload {
                                display: inline-block;
                                float: right;

                                .ui-fileupload-buttonbar {
                                    border: none;
                                    background: transparent;
                                    color: #495057;
                                    padding: 0;

                                    .ui-button {
                                        margin-right: 0;
                                        float: none;
                                    }
                                }

                                .ui-fileupload-content {
                                    display: none;
                                }
                            }

                            .left-margin {
                                margin-left: 10px;
                            }
                        }
                    }
                }
                
                .ui-panelgrid {
                    &.layout-presets-panelgrid {
                        padding: 5px 0 0 0;
                        width: -webkit-fill-available;
                        
                        &.non-breakingpoint {
                            display: table;
                        }

                        &.breakingpoint {
                            display: none;
                        }
                        
                        tbody {
                            tr {
                                .ui-panelgrid-cell {
                                    border: none;
                                    padding: 0;

                                    .ui-outputlabel {
                                        display: inline-block;
                                        width: 50px;
                                        float: left;
                                        height: 23px;
                                        line-height: 23px;
                                        margin-right: 5px;
                                    }

                                    .ui-selectonemenu {
                                        height: 23px;
                                        width: 200px;

                                        .ui-selectonemenu-label {
                                            padding: 0 0 0 5px;
                                            min-height: unset;
                                            height: 21px;
                                            line-height: 21px;
                                        }
                                    }
                                    
                                    .ui-commandlink {
                                        float: right;
                                        padding: 0.5rem 1rem;
                                        background: $primaryColor;
                                        color: $primaryTextColor;
                                        border: 1px solid $primaryColor;
                                        border-radius: 4px;
                                        text-decoration: none;
                                        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
                                        
                                        &:hover {
                                            background-color: $primaryDarkColor;
                                            border: 1px solid $primaryDarkColor;
                                        }
                                        
                                        &:focus {
                                            box-shadow: 0 0 0 0.2em $primaryLightColor;
                                        }
                                        
                                    }
                                    
                                    .ui-button {
                                        float: right;
                                    }

                                    .ui-fileupload {
                                        float: right;
                                        
                                        .ui-fileupload-buttonbar {
                                            border: none;
                                            background: transparent;
                                            color: #495057;
                                            padding: 0;

                                            .ui-button {
                                                margin-right: 0;
                                                float: none;
                                            }
                                        }

                                        .ui-fileupload-content {
                                            display: none;
                                        }
                                    }
                                    
                                    .ui-accordion {
                                        &.layout-presets-content-upload {
                                            float: right;
                                            width: 361px;

                                            div {
                                                .ui-outputlabel {
                                                    display: inline-block;
                                                    width: 139px;
                                                    float: left;
                                                }

                                                .ui-selectonemenu {
                                                    height: 23px;
                                                    width: 195px !important;

                                                    .ui-selectonemenu-label {
                                                        padding: 0 0 0 5px;
                                                        min-height: unset;
                                                        height: 21px;
                                                        line-height: 21px;
                                                        width: 193px !important;
                                                    }

                                                    .ui-selectonemenu-trigger {
                                                        border-left: 1px solid #dee2e6;
                                                        width: 1.5rem;
                                                        background-color: white;
                                                    }
                                                }

                                                .ui-fileupload {
                                                    float: none;
                                                    
                                                    .ui-fileupload-buttonbar {
                                                        border: none;
                                                        background: transparent;
                                                        color: #495057;
                                                        padding: 5px 0;

                                                        .ui-button {
                                                            margin-right: 0.5rem;
                                                            float: none;
                                                        }
                                                    }

                                                    .ui-fileupload-content {
                                                        display: block;
                                                        border: none;
                                                        padding: 0;

                                                        .ui-fileupload-files {
                                                            margin: 0;

                                                            .ui-fileupload-row {
                                                                > div {
                                                                    display: none;
                                                                    padding: 0;
                                                                }

                                                                .ui-fileupload-filename {
                                                                    display: block !important;
                                                                    width: 339px;
                                                                }

                                                                .ui-fileupload-progress {
                                                                    display: block !important;

                                                                    .ui-progressbar {
                                                                        display: block !important;
                                                                        width: 339px;
                                                                        top: unset;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                .ui-datatable {
                    &.datatable-layout-two {
                        .ui-datatable-data {
                            > tr {
                                > td {
                                    .ui-commandlink {
                                        height: 23px;
                                        border-radius: 0;
                                        min-width: unset;
                                        width: 20px;
                                        line-height: 23px;
                                        margin: 0;
                                        text-decoration: none;
                                        padding: 0;
                                        display: inline-block;
                                        text-align: center;

                                        &:hover {
                                            background-color: $linksBgHoverColor;
                                            color: $linksTextHoverColor;
                                        }
                                        
                                        i {
                                            font-size: 14px;
                                        }
                                    }
                                    
                                    .info-point {
                                        &.ui-outputlabel {
                                            height: 14px;
                                            min-width: unset;
                                            width: 14px;
                                            margin: 3.5px 3px 5.5px 3px;
                                            text-decoration: none;
                                            padding: 0;
                                            display: inline-block;
                                            text-align: center;
                                            border-radius: 10px;
                                            float: left;
                                        }
                                        
                                        &:hover {
                                            box-shadow: 0px 0px 1px 1px $secondaryColor;
                                            background-color: $secondaryColor;
                                            color: $primaryTextColor;
                                        }
                                        
                                        i {
                                            font-size: 14px;
                                        }
                                    }
                                }

                                &.ui-datatable-headerrow {
                                    font-weight: 400;

                                    .ui-rowgroup-toggler {
                                        height: 23px;
                                        line-height: 23px;
                                    }
                                }   

                                &.ui-expanded-row-content {
                                    > td {
                                        background-color: $dataTableExpandDiv;
                                        
                                        div {
                                            background-color: $dataTableExpandDiv;
                                            
                                            &.left-float-div {
                                                float: left;

                                                .ui-panelgrid {
                                                    max-width: 395px;
                                                    width: -webkit-fill-available;
                                                    
                                                    tbody {
                                                        tr {
                                                            .ui-panelgrid-cell {
                                                                border: none !important;
                                                                padding: 0 0 5px 0 !important;
                                                                background: transparent !important;
                                                                
                                                                .ui-outputlabel {
                                                                    box-shadow: none !important;
                                                                    display: inline-block;
                                                                    height: 23px;
                                                                    line-height: 23px;
                                                                }

                                                                .ui-inputtext {
                                                                    width: 229.5px !important;
                                                                    padding: 0 0 0 5px;
                                                                    height: 23px;
                                                                    line-height: 23px;
                                                                    float: left;
                                                                    cursor: default;

                                                                    &.ui-state-hover {
                                                                        border: 1px solid #ced4da;
                                                                        box-shadow: none;
                                                                    }

                                                                    &.ui-state-focus {
                                                                        border: 1px solid #ced4da;
                                                                        box-shadow: none;
                                                                    }
                                                                }

                                                                .ui-autocomplete {
                                                                    margin: 0;

                                                                    .ui-inputfield {
                                                                        width: 210px !important;
                                                                        height: 23px !important;
                                                                        float: left !important;
                                                                        box-shadow: none !important;
                                                                    }

                                                                    .ui-autocomplete-dropdown {
                                                                        width: 19.5px;
                                                                        height: 23px;
                                                                        background-color: white;
                                                                        color: #495057;
                                                                        border: 1px solid #ced4da;
                                                                        border-left: none;
                                                                        box-shadow: none !important;

                                                                        .ui-button-text {
                                                                            padding: 0;
                                                                            height: 20px;
                                                                            line-height: 20px
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                                
                                                .ui-panel {
                                                    background-color: $dataTableExpandDiv;
                                                    
                                                    &.layout-presets-inline-panel {
                                                        display: inline-block;
                                                        padding: 0;
                                                        width: 329px;
                                                        float: inherit;

                                                        .ui-panel-content {
                                                            border: none;
                                                            border-radius: 0;
                                                            padding: 1px 2.5px;
                                                            text-align: left;
                                                            min-height: 24px;
                                                            display: flex;

                                                            .ui-outputlabel {
                                                                box-shadow: none !important;
                                                                display: inline-block;
                                                                width: 139px;
                                                                height: 23px;
                                                                line-height: 23px;
                                                            }

                                                            .ui-inputfield {
                                                                width: 185px !important;
                                                                padding: 0 0 0 5px;
                                                                height: 23px;
                                                                line-height: 23px;
                                                                float: right;
                                                                cursor: default;

                                                                &.ui-state-hover {
                                                                    border: 1px solid #ced4da;
                                                                    box-shadow: none;
                                                                }

                                                                &.ui-state-focus {
                                                                    border: 1px solid #ced4da;
                                                                    box-shadow: none;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .ui-datatable {
                                                    float: inherit;

                                                    .ui-paginator {
                                                        background-color: $dataTableExpandDiv;
                                                        
                                                        width: -webkit-fill-available;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                    
                                .ui-row-toggler {
                                    height: 23px;
                                    line-height: 23px;
                                }
                            }
                        } 
                    } 

                    &.top-margin {
                        margin-top: 10px !important;
                    }
                    &.bottom-margin {
                        margin-bottom: 10px !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $uiBreakpointOne) {
    .layout-presets {  
        .ui-tabs {
            .ui-tabs-panels {
                .ui-tabs-panel {
                    .ui-panelgrid {
                        &.layout-presets-panelgrid {
                            &.non-breakingpoint {
                                display: none;
                            }
                            
                            &.breakingpoint {
                                display: table;
                            
                                tbody {
                                    tr {
                                        .ui-panelgrid-cell {
                                            .ui-accordion {
                                                &.layout-presets-content-upload {
                                                    float: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

