.layout-replace-device {
    .ui-scrollpanel {
        height: 450px !important;
        padding: 0;
        border: none;
        margin: 0 0 0 17px;
        width: 1017px;

    }
    
    .panelgrid-layout-one {
        &.ui-panelgrid {
            width: 1000px !important;

            tbody {
                tr {
                    .ui-panelgrid-cell {
                        padding: 0 2.5px 5px 2.5px;

                        .ui-inputfield {
                            width: -webkit-fill-available;
                        }
                        
                        .ui-selectonemenu {
                            width: -webkit-fill-available;
                        }
                    }
                }
            }

            &.include-margins {
                margin: 5px 17px 0px 17px;
            }

            .width-174 {
                width: 174px;
            }

            .width-326 {
                width: 326px;
            }
        }
    }
    
    .ui-datatable {
        &.datatable-layout-one {
            width: 1000px;
            
            .ui-datatable-tablewrapper {
                table {
                    .ui-datatable-data {
                        > tr {
                            > td {
                                padding: 5px 2.5px 0 2.5px;
                                
                                .ui-selectonemenu {
                                    min-width: unset !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

