.layout-right-panel {
    width: 288px;
    right: -288px;
    background-color: #ffffff;
    border-left: solid 1px #ebebef;
    position: fixed;
    z-index: 999;
    top: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    @include transition(right $transitionDuration);
    @include shadow(0 0px 10px 0 rgba(0, 0, 0, 0.16));

    &.layout-right-panel-active {
        right: 0;
        display: block;
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    .layout-right-panel {
        top: 115px;
    } 
}