.layout-role-information {
    .panelgrid-layout-one {
        &.ui-panelgrid {
            width: 800px !important;

            tbody {
                tr {
                    .ui-panelgrid-cell {
                        vertical-align: baseline;
                        padding: 0 0 15px 0;
                    }
                }
            }
        }
    }
    
    .bold-font-weight {
        font-weight: bold
    }
}

