.layout-system-status-data {
    .ui-scrollpanel {
        height: 400px !important;
        padding: 0;
        border: none;
        margin: 0;
        width: 1000px;
        
        &.disabled-sensor-scrollpanel {
            width: 410px;
        }
        
        &.low-battery-scrollpanel {
            width: 1100px;
        }
    }
    
    .top-div {
        display: flow-root;
        margin-bottom: 10px;
        
        .inside-div {
            display: flow-root;
            float: right;
        }
        
        .ui-button {
            margin-left: 10px;
        }
        
        .ui-commandlink {
            text-decoration: none;
            margin-left: 10px;
            float: right;
            
            i {
                font-size: 20px;
                padding: 4.271px;
                border-radius: 4px;
                border: 1.111px solid $primaryColor;
                background-color: $primaryColor;
                color: $primaryTextColor;
            }
            
            &:hover {
                i {
                    border: 1.111px solid $primaryDarkColor;
                    background-color: $primaryDarkColor;
                    color: $primaryTextColor;
                }
            }
        }
    }
}

