.layout-system-status {  
    &.ui-panel {
        height: -webkit-fill-available;
        display: block;
        margin: 0;
        padding: 0;

        .ui-panel-content {
            border: none;
            background-color: transparent;
            padding: 0;
            height: fit-content;
            display: flow-root;
            
            .ui-card {
                width: 350px;
                height: fit-content;
                margin: 0 5px 10px 5px;
                min-height: 224px;
                float: left;
                
                .ui-card-title {
                    text-align: center;
                    font-size: 20px;
                    height: 22px;
                    margin-bottom: 0px;
                    line-height: 22px;
                }
                
                &.info-icon {
                    .ui-card-title {
                        padding-left: 20.4px;
                        
                        .ui-outputlabel {
                            /*float: right;*/
                            cursor: pointer;
                            color: gray;
                            font-size: inherit;
                        }
                    }
                }
                
                &.donut-content {
                    .ui-card-content {
                        position: relative;
                        padding: 10px 0 0 0;
                        
                        .ui-outputlabel {
                            position: absolute;
                            top: 145px;
                            left: 82px;
                            width: 162px;
                            height: 162px;
                            line-height: 162px;
                            font-size: 34px;
                            font-weight: 500;
                            color: rgb(41, 171, 135);
                            text-align: center;
                        }
                    }
                }
                
                &.single-btn-content {
                    .ui-card-content {
                        padding: 30px 0 0 0;
                        text-align: center;
                        
                        .ui-button {
                            width: 300px;
                            height: 115px;
                            background-color: $singleBtnBgColor;
                            color: $singleBtnTextColor;
                            border-color:$singleBtnBorderColor; 
                            
                            .ui-button-text {
                                font-size: 20px;
                                font-weight: 500;
                                padding: 0;
                            }
                            
                            &.ui-state-hover {
                                background-color: $singleBtnHoverBgColor;
                                color: $singleBtnHoverTextColor;
                                border-color:$singleBtnHoverBorderColor; 
                            }
                            
                            &.ui-state-active {
                                background-color: $singleBtnHoverBgColor;
                                color: $singleBtnHoverTextColor;
                                border-color:$singleBtnHoverBorderColor; 
                            }
                        }
                    }
                }
            }
        }
    }
}

