.layout-wrapper {
    #topbarFilterDiv {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 0;
        
        #topbarFilterFormId {
            display: block;
            width: fit-content;
            margin: 0 auto;
            height: 70px;
            padding: 23px 0;
            
            .ui-autocomplete {
                margin: 0 1px;;
                
                .ui-inputfield {
                    box-shadow: none !important;
                    width: 155.5px;
                    height: 23px;
                    border-color:$topBarNavInputfieldBorderColor;
                    
                    &.ui-state-hover {
                        border-color:$topBarNavInputfieldBorderHoverColor;
                    }
                    
                    &.ui-state-focus {
                        border-color:$topBarNavInputfieldBorderFocusColor;
                    }
                }
                
                .ui-autocomplete-dropdown {
                    width: 19.5px;
                    height: 23px;
                    background-color: $topBarNavBtnBgColor;
                    color: $topBarNavBtnTextColor;
                    border: 1px solid $topBarNavBtnBorderColor;
                    border-left: none;
                    box-shadow: none !important;
                    
                    .ui-button-text {
                        padding: 0;
                        height: unset;
                        line-height: unset;
                    }
                    
                    &.ui-state-hover {
                        background-color: $topBarNavBtnBgHoverColor;
                        color: $topBarNavBtnTextHoverColor;
                        border: 1px solid $topBarNavBtnBorderHoverColor;
                        border-left: none;
                    }
                    
                    &.ui-state-focus {
                        background-color: $topBarNavBtnBgFocusColor;
                        color: $topBarNavBtnTextFocusColor;
                        border: 1px solid $topBarNavBtnBorderFocusColor;
                        border-left: none;
                    }
                    
                    &.ui-state-active {
                        background-color: $topBarNavBtnBgFocusColor;
                        color: $topBarNavBtnTextFocusColor;
                        border: 1px solid $topBarNavBtnBorderFocusColor;
                        border-left: none;
                    }
                }
                
                &[id$=":topbarFilterCustomerId"] {
                    display: inline-block !important;
                }
            }
        }
    }
    
    .layout-topbar {
        height: 70px;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 12px 20px;
        @include clearfix();
        @include shadow(0 1px 10px 0 rgba(0, 0, 0, 0.10));

        #topbarMenuChangeFormId {
            display: inline-block;
            
            .layout-menu-button {
                display: inline-block;
                vertical-align: middle;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                @include border-radius(50%);
                @include transition(background-color $transitionDuration);

                i {
                    @include transition(color $transitionDuration);
                    line-height: inherit;
                    font-size: 30px;
                }
            }
        }

        #topbarLogoFormId {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1.5em;
            
            .ui-commandlink {
                display: block;
                height: 45px;
                
                img {
                    height: 45px;
                }
            }
        }

        #topbarControlFormId {
            display: inline-block;
            float: right;
            
            .ui-commandlink {
                &.button-style-layout-control {
                    display: inline-block;
                    width: fit-content;
                    margin: 13px 5px 0 0;
                    text-decoration: none;
                    height: 23px;
                    line-height: 21px;
                    border-radius: 4px;
                    padding: 0 5px;
                }
                
                &.layout-control {
                    display: inline-block;
                    width: fit-content;
                    margin: 11px 0 0 5px;

                    i {
                        font-size: 2em;
                    }

                    &[id$=":topbarControlProfileBtnId"] {
                        @include transition(background-color $transitionDuration);
                        @include transition(color $transitionDuration);
                        text-decoration: none;
                        padding: 0 16px 0 0;
                        margin: 0px;
                        float: right;

                        .layout-profile-userinfo {
                            text-align: left;
                            display: inline-block;
                            margin: 0;
                            vertical-align: top;

                            .layout-profile-name {
                                margin-top: 0px;
                                font-size: 14px;
                                display: block;
                            }

                            .layout-profile-role {
                                font-size: 12px;
                                margin-top: 2px;
                                display: block;
                            }
                            
                            .layout-time-zone {
                                margin-top: 2px;
                                font-size: 12px;
                                display: block;
                            }
                        }

                        > i {
                            &.fa {
                                width: fit-content;
                                margin: 11px 1px 0 5px;
                            }
                        }
                    }
                }
            }
            
            .ui-overlaypanel {
                position: fixed;
                background: $menuBgColor;
                top: 70px !important;
                left: unset !important;
                width: 181px;
                border-radius: 0;
                @include shadow(0 0px 10px 0 rgba(0, 0, 0, 0.16));
                
                .ui-overlaypanel-content{
                    padding: 0;
                    
                    .ui-commandlink {
                        display: block;

                        i {
                            display: inline-block;
                            height: 36px;
                            line-height: 36px;
                            margin-left: 15px;
                        }

                        .ui-outputlabel {
                            display: inline-block;
                            height: 36px;
                            line-height: 36px;
                            margin-left: 10px;
                        }
                    }
                }
                
                &[id$=":topbarAddMenuOverlayId"] {
                    right: unset;
                }
                
                &[id$=":topbarProfileMenuOverlayId"] {
                    right: 0;
                }
            }
        }

        .layout-right-panel-button {
            float: right;
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            @include border-radius(50%);
            @include transition(background-color $transitionDuration);
            
            i {
                @include transition(color $transitionDuration);
                font-size: 1.5em;
                vertical-align: middle;
            }
        }
    }
  
    &.layout-topbar-color {
        .layout-topbar {
            background-color: $topBarBGColor !important;

            .layout-topbar-icon {
                background-color: $topBarIconBGColor !important;
                color: $topBarIconTextColor !important;

                &:hover {
                    background-color: $topBarIconBGHoverColor !important;
                    color: $topBarIconTextHoverColor !important;
                }
            }
                
            .button-style-layout-control {
                border: 1px solid $topBarUserTextColor !important; 
                color: $topBarUserTextColor !important;

                &:hover {
                    border: 1px solid $topBarUserTextHoverColor !important; 
                    color: $topBarUserTextHoverColor !important;
                }
            }
                
            .layout-control {
                color: $topBarUserTextColor !important;

                &:hover {
                    color: $topBarUserTextHoverColor !important;
                }
            }

            .user-profile {
                .layout-profile-name, .layout-profile-role, .fa {
                    color: $topBarUserTextColor !important;
                }

                a:hover {
                    .layout-profile-name, .layout-profile-role, .fa {
                        color: $topBarUserTextHoverColor !important;
                    }
                }
            }
            
            .topbar-menu-element {
                i {
                    color: $menuitemIconColor;
                }

                .ui-outputlabel {
                    color: $menuitemTextColor;
                }

                &:hover {
                    background-color: $menuitemHoverBgColor;

                    i {
                        color: $menuitemIconHoverColor;
                    }

                    .ui-outputlabel {
                        color: $menuitemTextHoverColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $topbarFilterBreakOne) {
    .layout-wrapper {
        #topbarFilterDiv {
            #topbarFilterFormId {
                width: 354px;
                padding: 12px 0;
                
                .ui-autocomplete {
                    &[id$=":topbarFilterCustomerId"] {
                        display: inline-block !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $topbarFilterBreakTwo) {
    .layout-wrapper {
        #topbarFilterDiv {
            #topbarFilterFormId {
                width: 177px;
                padding: 1px 0;
                
                .ui-autocomplete {
                    &[id$=":topbarFilterCustomerId"] {
                        display: none !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $topbarLogoBreak) {
    .layout-wrapper {
        .layout-topbar {
            #topbarLogoFormId {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    .layout-wrapper {
        .layout-topbar {
            height: 70px;
            
            #topbarControlFormId {
                .ui-commandlink {
                    &.layout-control {
                        &[id$=":topbarControlProfileBtnId"] {
                            padding: 0;

                            .layout-profile-userinfo {
                                display: none;
                            }

                            i {
                                &.fa {
                                    margin: 11px 5px 0 5px;
                                }
                            }
                        }
                    }
                }
                .ui-overlaypanel {
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: $uiBreakpointTwo) {
    .layout-wrapper {
        .layout-topbar {
            #topbarControlFormId {
                .ui-commandlink {
                    &.button-style-layout-control {
                        margin: 0;
                    }
                    
                    &.layout-control {
                        margin: 0 0 0 5px;
                        
                        &[id$=":topbarControlProfileBtnId"] {
                            i {
                                &.fa {
                                    margin: 0px 5px 0 5px;
                                }
                            }
                        }
                    }
                }
            }
            
            .layout-right-panel-button {
                width: 26px;
                height: 26px;
                line-height: 25px;
            }
        }
    }
}