.layout-users { 
    .top-div {
        position: relative;
        height: 31px;
        
        .ui-button {
            position: absolute;
            right: 0;
        }
    }
    
    .ui-datatable {
        &.datatable-layout-two {
            thead {
                th {
                    .ui-column-title {
                        .ui-commandlink {
                            text-decoration: none !important;
                        }
                    }
                }
            }
            .ui-datatable-data {
                > tr {
                    > td {
                        padding: 1.5px 5px;
                        
                        .ui-commandlink {
                            &:not(.non-cmd-link) {
                                height: 23px;
                                border-radius: 0;
                                min-width: unset;
                                width: 20px;
                                line-height: 23px;
                                margin: 0;
                                text-decoration: none;
                                padding: 0;
                                display: inline-block;
                                text-align: center;

                                &:hover {
                                    background-color: $linksBgHoverColor;
                                    color: $linksTextHoverColor;
                                }

                                i {
                                    font-size: 14px;
                                }
                            }
                        }
                        
                        .ui-row-editor {
                            display: inline-block;

                            .ui-row-editor-pencil{
                                height: 23px;
                                border-radius: 0;
                                min-width: unset;
                                width: 20px;
                                line-height: 23px;
                                margin: 0;
                                text-decoration: none;
                                padding: 0;
                                text-align: center;

                                &:hover {
                                    background-color: $linksBgHoverColor;
                                    color: $linksTextHoverColor;
                                }

                                i {
                                    font-size: 14px;
                                }
                            }

                            .ui-row-editor-check,
                            .ui-row-editor-close {
                                height: 23px;
                                border-radius: 0;
                                min-width: unset;
                                width: 20px;
                                line-height: 23px;
                                margin: 0;
                                text-decoration: none;
                                padding: 0;
                                text-align: center;
                                background-color: $linksHighLightBgColor;
                                color: $linksHighLightTextColor;

                                &:hover {
                                    background-color: $linksHighLightBgHoverColor;
                                    color: $linksHighLightTextHoverColor;
                                }

                                i {
                                    font-size: 14px;
                                }
                            }
                        }
                        
                        .ui-cell-editor-input {
                            select {
                                padding: 0 0 0 5px;
                                min-height: unset;
                                height: 23px;
                                line-height: 23px;
                                border-radius: 4px;
                                border: 1px solid white;
                                transition: border-color 0.2s;
                                
                                &:focus {
                                    outline: none;
                                    border: 1px solid $secondaryColor;
                                }
                                
                                &:hover {
                                    border: 1px solid $secondaryColor;
                                }
                            }
                            
                            .ui-inputfield {
                                padding: 0 0 0 5px;
                                height: 23px;
                                line-height: 23px;
                                border: 1px solid white;
                                
                                &.ui-state-hover {
                                    border: 1px solid $secondaryColor;
                                }
                                
                                &.ui-state-focus {
                                    border: 1px solid $secondaryColor;
                                }
                            }
                        }
                    }

                    &.ui-datatable-headerrow {
                        font-weight: 400;

                        .ui-rowgroup-toggler {
                            height: 23px;
                            line-height: 23px;
                        }
                    }
                    
                    &.ui-state-highlight {
                        & > td {
                            .ui-commandlink {
                                background-color: $linksHighLightBgColor;
                                color: $linksHighLightTextColor;

                                &:hover {
                                    background-color: $linksHighLightBgHoverColor;
                                    color: $linksHighLightTextHoverColor;
                                }
                            }
                        }
                    }
                }
            } 
        } 

        &.top-margin {
            margin-top: 5px;
        }
    }
}

