.layout-user-preferences {
    .ui-scrollpanel {
        height: 480px;
        padding: 0;
        border: none;
        margin: 0px;
        width: fit-content;
    }
    
    .ui-inputtextarea {
        height: fit-content !important;
        width: -webkit-fill-available;
        padding: 0 !important;
        border: none;
        line-height: 23px !important;
        cursor: default;
        box-shadow: none !important;
    }
    
    .ui-inputtextarea {
        height: fit-content !important;
        width: -webkit-fill-available;
        padding: 0 !important;
        border: none;
        line-height: 23px !important;
        cursor: default;
        box-shadow: none !important;
    }
    
    .ui-panelgrid {
        &.panelgrid-layout-one {
            width: max-content;

            .ui-panelgrid-cell {
                &.ui-widget-header {
                    border: 1px solid $tableHeadBorderColor;
                    padding: 0 5px;
                    height: 21px;
                    background-color: $tableHeadBgColor;
                    color: $tableHeadTextColor;
            
                    &.border-bottom {
                        border-bottom: $tableColumnTitleColumnBorder;
                    }
                    
                    &.second-header-option {
                        background-color: $tableColumnTitleBgColor;
                        border: $tableColumnTitleColumnBorder;
                        color: $tableColumnTitleTextColor;
                        
                        &.table-column-title-left-column-border-right-border {
                            border-right: $tableColumnTitleLeftColumnBorderRightBorder;
                        }

                        &.table-column-title-center-column-border-horizontal-border {
                            border-right: $tableColumnTitleCenterColumnBorderHorizontalBorder;
                            border-left: $tableColumnTitleCenterColumnBorderHorizontalBorder;
                        }

                        &.table-column-title-right-column-border-left-border {
                            border-left: $tableColumnTitleRightColumnBorderLeftBorder;
                        }
                    }
                }
            }
            
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        &.top-padding {
                            padding-top: 5px;
                        }
                    }
                }
            }
            
            .min-width-299 {
                min-width: 299px !important;
            }
        }
    }
    
    .width-fill-available {
        width: -webkit-fill-available !important;
    }
}

