/* Utils */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.card {
    background: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    @include shadow(0 2px 8px 0 rgba(0, 0, 0, 0.08));
    @include border-radius($borderRadius);

    .card-header {
        @include flex();
        @include flex-align-center();
        @include flex-justify-between();
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.card-w-title {
        padding-bottom: 1rem;
    }

    &.no-gutter {
        margin-bottom: 0;
    }
}


.ui-dataview {
    &.dataview-layout-one {
        .ui-dataview-header {
            padding: 0;
            background-color: $tableHeadBgColor;
            color: $tableHeadTextColor;
            text-align: center;
            border: 1px solid $tableHeadBorderColor;

            .ui-outputlabel {
                display: block;
                height: 30px;
                line-height: 30px;
            }

            .ui-dataview-layout-options {
                display: none;
            }
        }

        .ui-paginator {
            padding: 0;

            &.ui-paginator-top {
                .ui-paginator-rpp-options {
                    margin: 0 1px 1px 1px;
                }
            }

            &.ui-paginator-bottom {
                .ui-paginator-rpp-options {
                    margin: 1px;
                }
            }

            select {
                border: 1px solid #ced4da;
                border-radius: 4px;
                color: #495057;
                outline: none;
            }

            .ui-paginator-first {
                border: none;
                width: 23px;
                height: 23px;
                line-height: 23px;
                margin: 0 1px
            }

            .ui-paginator-prev {
                border: none;
                width: 23px;
                height: 23px;
                line-height: 23px;
                margin: 0 1px
            }

            .ui-paginator-pages {
                .ui-paginator-page {
                    border: none;
                    line-height: 21px;
                    min-width: 21px;
                    height: 21px;
                    margin: 1px;
                }
            }

            .ui-paginator-next {
                border: none;
                width: 23px;
                height: 23px;
                line-height: 23px;
                margin: 0 1px
            }

            .ui-paginator-last {
                border: none;
                width: 23px;
                height: 23px;
                line-height: 23px;
                margin: 0 1px
            }

            .ui-paginator-rpp-options {
                height: 21px;
                vertical-align: unset;
            }
        }

        .ui-dataview-content {
            .ui-dataview-row {
                margin: 0px;

                .ui-dataview-column {
                    padding: 5px 5px 5px 5px;

                    .ui-commandlink {
                        text-decoration: none;
                        display: block;
                        -webkit-user-drag: none;
                        max-width: 200px;
                        margin: 0 auto;

                        .card {
                            padding: 0 0 10px 0;

                            .viewGridItem-header {
                                overflow: hidden;

                                .ui-outputlabel {
                                    color: $topBarTextColor;
                                    background-color: $topBarBGColor;
                                    display: block;
                                    text-align: center;
                                    height: 23px;
                                    line-height: 23px;
                                    cursor: pointer;
                                    font-size: 16px;
                                }
                            }

                            img {
                                width: 100%;
                                -webkit-user-drag: none;
                            }

                            .ui-panelgrid {
                                margin: 10px auto 0 auto;

                                tbody {
                                    tr {
                                        td {
                                            padding: 0 2.5px;
                                            border: none;

                                            .ui-outputlabel {
                                                display: inline-block;
                                                height: 21px;
                                                line-height: 21px;
                                                cursor: pointer;
                                            }

                                            .ui-commandlink {
                                                height: 21px;
                                                line-height: 21px;
                                                max-width: unset;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .non-link-card {
                        @include shadow(0 2px 8px 0 rgba(0, 0, 0, 0.08));
                        box-sizing: border-box;
                        border-radius: 2px;
                        max-width: 200px;
                        padding: 0 0 10px 0;
                        margin: 0 auto;

                        .viewGridItem-header {
                            overflow: hidden;

                            .ui-outputlabel {
                                color: $topBarTextColor;
                                background-color: $topBarBGColor;
                                display: block;
                                text-align: center;
                                height: 23px;
                                line-height: 23px;
                                font-size: 16px;
                            }
                        }

                        img {
                            width: 100%;
                            -webkit-user-drag: none;
                        }

                        .ui-panelgrid {
                            margin: 10px auto 0 auto;

                            tbody {
                                tr {
                                    td {
                                        padding: 0 2.5px;
                                        border: none;

                                        .ui-outputlabel {
                                            display: inline-block;
                                            height: 21px;
                                            line-height: 21px;
                                            cursor: pointer;
                                        }

                                        .ui-commandlink {
                                            height: 21px;
                                            line-height: 21px;
                                            max-width: unset;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.top-margin {
        margin-top: 10px !important;
    }
}

.ui-panelgrid {
    &.panelgrid-layout-one {
        width: max-content;

        tbody {
            tr {
                .ui-panelgrid-cell {
                    border: none;
                    padding: 0 0 5px 0;

                    .ui-message {
                        padding: 0;
                        margin: 0 !important;
                        display: block;
                        border-radius: 4px;

                        .ui-message-error-icon {
                            display: none !important;
                        }

                        .ui-message-error-detail {
                            display: inline-block;
                            line-height: 23px;
                            padding: 0 5px 0 0;
                        }
                    }

                    .ui-outputlabel {
                        &.block-label {
                            display: block;
                            height: 23px;
                            line-height: 23px;
                        }
                    }

                    .ui-selectonemenu {
                        height: 23px;

                        .ui-selectonemenu-label {
                            padding: 0 0 0 5px;
                            min-height: unset;
                            height: 21px;
                            line-height: 21px;
                        }

                        .ui-selectonemenu-trigger {
                            border-left: 1px solid #dee2e6;
                            width: 1.5rem;
                            background-color: white;
                        }
                    }

                    .ui-inputfield {
                        padding: 0 0 0 5px;
                        height: 23px;
                        line-height: 23px;
                    }

                    .ui-selectmanymenu {
                        &.basic-layout {
                            padding: 1px;
                            height: unset;
                            line-height: unset;
                            overflow: hidden;

                            .ui-selectlistbox-listcontainer {
                                max-height: 92px;
                                padding: 0;

                                .ui-selectlistbox-list {
                                    .ui-selectlistbox-item {
                                        padding: 0 0 0 5px;
                                        height: 23px;
                                        line-height: 23px;
                                    }
                                } 
                            }
                        }

                        &.advanced-layout {
                            padding: 0;
                            height: unset;
                            line-height: unset;
                            overflow: hidden;

                            .ui-selectlistbox-filter-container {
                                padding: 0;
                                margin: 0;

                                .ui-icon {
                                    left: 8px;
                                }

                                .ui-selectlistbox-filter {
                                    height: 23px !important;
                                    line-height: 23px !important;
                                    padding: 0 0 0 29px !important;
                                    border-top: none;
                                    border-left: none;
                                    border-right: none;
                                    border-radius: 4px 4px 0 0;
                                }
                            }

                            .ui-selectlistbox-listcontainer {
                                max-height: 92px;
                                padding: 0;

                                .ui-selectlistbox-list {
                                    .ui-selectlistbox-item {
                                        padding: 0;
                                        height: 23px;
                                        line-height: 23px;

                                        &.ui-state-disabled {
                                            .ui-chkbox {
                                                .ui-chkbox-box {
                                                    display: none;
                                                }
                                            }
                                        }

                                        .ui-chkbox {
                                            vertical-align: middle;
                                            margin: 0.5px 5px 2px 5px;
                                            height: 19px;
                                            line-height: 13px;
                                            width: 19px;

                                            .ui-chkbox-box {
                                                height: 19px;
                                                width: 19px;
                                                margin: 0px;

                                                .ui-chkbox-icon {
                                                    width: 13px;
                                                    height: 13px;
                                                }
                                            }
                                        }
                                    }
                                } 
                            }
                        }
                    }

                    .ui-chkbox {
                        .ui-chkbox-box {
                            border-width: 1px;
                            height: 23px;
                            width: 23px;
                        }
                    }

                    .ui-selectcheckboxmenu {
                        min-height: 23px;
                        height: fit-content;

                        .ui-selectcheckboxmenu-multiple-container {
                            height: fit-content !important;
                            min-height: 21px;

                            .ui-selectcheckboxmenu-token {
                                height: 21px;
                                line-height: 19px;
                                background-color: $secondaryLightColor;
                                border: 1px solid $primaryColor;
                                color: $primaryTextColor;

                                .ui-selectcheckboxmenu-token-label {
                                    padding: 0 18px 0 5px;
                                }

                                .ui-selectcheckboxmenu-token-icon {
                                    font-size: 10px;
                                    margin-top: -9px;
                                    line-height: 20px;
                                    margin-right: 2px;
                                }
                            }
                        }

                        .ui-selectcheckboxmenu-trigger {
                            border-left: 1px solid #dee2e6;
                            width: 1.5rem;
                            background-color: white;
                        }
                    }

                    .ui-inputswitch {
                        margin: 4.5px 0 1.5px 0;

                        .ui-inputswitch-handle {
                            top: -2px;
                            width: 18px !important;
                            height: 18px !important;
                            box-shadow: none !important;
                        }
                    }

                    &.left-padding {
                        padding-left: 5px;
                    }

                    &.right-padding {
                        padding-right: 5px;
                    }

                    &.text-align-center {
                        text-align: center;
                    }
                }
            }
        }

        .min-width-one {
            min-width: 321px !important;

            &.ui-inputnumber {
                .ui-inputfield {
                    min-width: 321px !important;
                }
            }

            &.ui-autocomplete {
                .ui-autocomplete-input {
                    min-width: 321px !important;
                }
            }

            &.ui-selectcheckboxmenu {
                .ui-selectcheckboxmenu-multiple-container {
                    width: 298px !important;
                }
            }
        }
    }
}

.ui-panel {
    &.panel-layout-one {
        width: max-content;
        margin: 0 0 10px 0;

        .ui-panel-titlebar {
            text-align: center;
            padding: 0px;
            background-color: $primaryColor;
            border: 1px solid $primaryColor;
            color: $primaryTextColor;
            border-radius: 0 !important;

            .ui-panel-title {
                display: block;
                height: 30px;
                line-height: 30px;
            }
        }

        .ui-panel-content {
            padding: 5px 10px 0px 10px;
            border-radius: 0 !important;
        }
    }
}

.ui-accordion {
    &.accordion-layout-one {
        .ui-accordion-header {
            background-color: $primaryColor !important;
            border: 1px solid $primaryColor !important;
            color: $primaryTextColor !important;
            box-shadow: none !important;
            height: 30px;
            line-height: 30px;
            padding: 0 1rem;
            border-radius: 0 !important;

            > .ui-icon{
                &.ui-icon-triangle-1-s {
                    height: 28px;
                    line-height: 28px;
                }

                &.ui-icon-triangle-1-e {
                    height: 28px;
                    line-height: 28px;
                }
            }
        }

        .ui-accordion-content {
            border-radius: 0 !important;
            padding: 5px 10px;
        }
    }
}

.ui-datatable {
    &.datatable-layout-header-filters {
        .ui-datatable-tablewrapper {
            table {
                thead {
                    tr {
                        th {
                            .ui-column-filter {
                                width: -webkit-fill-available;
                                margin: 2px !important
                            }

                            .ui-column-customfilter {
                                height: 23px;
                                margin: 2px auto !important;
                            }

                            .ui-chkbox {
                                margin: 0 0 1px 0;
                                height: 23px;

                                .ui-chkbox-box {
                                    height: 17px;
                                    width: 17px;
                                    margin: 3px 0
                                }
                            }

                            .ui-inputfield {
                                padding: 0 0 0 5px;
                                height: 23px;
                                line-height: 23px;
                                box-shadow: none !important;
                            }

                            .ui-selectonemenu {
                                height: 23px;

                                .ui-selectonemenu-label {
                                    padding: 0 0 0 5px;
                                    min-height: unset;
                                    height: 21px;
                                    line-height: 21px;
                                }

                                .ui-selectonemenu-trigger {
                                    border-left: 1px solid #dee2e6;
                                    width: 1.5rem;
                                    background-color: white;
                                }
                            }

                            &.no-sortable-column-icon {
                                .ui-sortable-column-icon {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .filters-width-one {
            max-width: 200px !important;
            width: -webkit-fill-available !important;

            &.ui-autocomplete {
                .ui-autocomplete-input {
                    max-width: 200px !important;
                    width: -webkit-fill-available !important;
                }
            }
        }
    }

    &.datatable-layout-one {
        margin-bottom: 5px;

        .ui-datatable-tablewrapper {
            table {
                thead {
                    tr {
                        th {
                            padding: 0;
                            background-color: $tableHeadBgColor;
                            color: $tableHeadTextColor;
                            text-align: center;
                            height: 30px;
                            line-height: 30px;
                            border: 1px solid $tableHeadBorderColor;
                        }
                    }
                }

                .ui-datatable-data {
                    > tr {
                        > td {
                            border: none;
                            padding: 5px 5px 0 5px;
                            text-align: center;

                            .ui-message {
                                padding: 0;
                                margin: 0 !important;
                                display: block;
                                border-radius: 4px;

                                .ui-message-error-icon {
                                    height: 23px !important;
                                    width: 23px !important;
                                    line-height: 23px;
                                    text-align: center;
                                }

                                .ui-message-error-detail {
                                    display: inline-block;
                                    height: 23px;
                                    line-height: 23px;
                                }
                            }

                            .ui-message {
                                padding: 0;
                                margin: 0 !important;
                                display: block;
                                border-radius: 4px;

                                .ui-message-error-icon {
                                    display: none !important;
                                }

                                .ui-message-error-detail {
                                    display: inline-block;
                                    line-height: 23px;
                                    padding: 0 5px 0 0;
                                }
                            }

                            .ui-inputfield {
                                padding: 0 0 0 5px;
                                height: 23px;
                                line-height: 23px;
                                width: 100%;
                            }

                            .ui-selectonemenu {
                                height: 23px;
                                width: 100%;

                                .ui-selectonemenu-label {
                                    padding: 0 0 0 5px;
                                    min-height: unset;
                                    height: 21px;
                                    line-height: 21px;
                                }

                                .ui-selectonemenu-trigger {
                                    border-left: 1px solid #dee2e6;
                                    width: 1.5rem;
                                    background-color: white;
                                }
                            }

                            .ui-inputswitch {
                                margin: 4.5px 0 1.5px 0;

                                .ui-inputswitch-handle {
                                    top: -2px;
                                    width: 18px !important;
                                    height: 18px !important;
                                    box-shadow: none !important;
                                }
                            }

                            .ui-commandlink {
                                display: inline-block;
                                height: 23px;
                                line-height: 23px;
                            }
                        }
                    }
                }
            }
        }

        .table-column-title-left-column-border-right-border {
            border-right: $tableColumnTitleLeftColumnBorderRightBorder;
        }

        .table-column-title-center-column-border-horizontal-border {
            border-right: $tableColumnTitleCenterColumnBorderHorizontalBorder;
            border-left: $tableColumnTitleCenterColumnBorderHorizontalBorder;
        }

        .table-column-title-center-just-top-border {
            border-right: none !important;
            border-left: none !important;
            border-bottom: none !important;
        }

        .table-column-title-center-just-bottom-border {
            border-right: none !important;
            border-left: none !important;
            border-top: none !important;
        }

        .table-column-title-right-column-border-left-border {
            border-left: $tableColumnTitleRightColumnBorderLeftBorder;
        }

        .table-column-title-right-just-top-right-border {
            border-left: none !important;
            border-bottom: none !important;
        }

        .table-column-title-right-just-bottom-right-border {
            border-left: none !important;
            border-top: none !important;
        }
    }

    &.datatable-layout-two {
        .ui-datatable-header {
            text-align: center;
            padding: 0px;
            background-color: $tableHeadBgColor;
            border: 1px solid $tableHeadBorderColor;
            color: $tableHeadTextColor;
            border-radius: 0 !important;

            .ui-outputlabel {
                display: block;
                height: 30px;
                line-height: 30px;
            }
        }

        thead {
            th {
                padding: 0;
                text-align: center;
                background-color: $tableColumnTitleBgColor;
                border: $tableColumnTitleColumnBorder;
                color: $tableColumnTitleTextColor;
                margin: 0;
                box-shadow: none !important;

                .ui-column-title {
                    display: inline-block;
                    height: 19px;
                    line-height: 19px;
                    vertical-align: unset;
                }
            }
        }

        .ui-paginator {
            padding: 0;

            &.ui-paginator-top {
                .ui-paginator-rpp-options {
                    margin: 0 1px 1px 1px;
                }
            }

            &.ui-paginator-bottom {
                .ui-paginator-rpp-options {
                    margin: 1px;
                }
            }

            select {
                border: 1px solid #ced4da;
                border-radius: 4px;
                color: #495057;
                outline: none;
            }

            .ui-paginator-first {
                border: none;
                width: 23px;
                height: 23px;
                line-height: 23px;
                margin: 0 1px
            }

            .ui-paginator-prev {
                border: none;
                width: 23px;
                height: 23px;
                line-height: 23px;
                margin: 0 1px
            }

            .ui-paginator-pages {
                .ui-paginator-page {
                    border: none;
                    line-height: 21px;
                    min-width: 21px;
                    height: 21px;
                    margin: 1px;
                }
            }

            .ui-paginator-next {
                border: none;
                width: 23px;
                height: 23px;
                line-height: 23px;
                margin: 0 1px
            }

            .ui-paginator-last {
                border: none;
                width: 23px;
                height: 23px;
                line-height: 23px;
                margin: 0 1px
            }

            .ui-paginator-rpp-options {
                height: 21px;
                vertical-align: unset;
            }
        }

        .ui-datatable-data {
            & > tr {

                & > td {
                    padding: 2px 5px;
                    border: 1px solid rgba(0, 0, 0, 0.08);
                    border-width: 1px;

                    .ui-commandlink {
                        display: block;
                        height: 30px;
                        border-radius: 15px;
                        min-width: 75px;
                        width: fit-content;
                        line-height: 30px;
                        text-align: center;
                        color: #495057;
                        margin: 0 auto;
                        text-decoration: none;
                        padding: 0 9px;
                    }

                    .ui-link {
                        color: #495057;
                    }
                }

                .ui-row-toggler {
                    width: 18px;
                }
            }

            .ui-datatable-tablewrapper {
                overflow: inherit;
            }
        }

        .table-column-title-left-column-border-right-border {
            border-right: $tableColumnTitleLeftColumnBorderRightBorder;
        }

        .table-column-title-center-column-border-horizontal-border {
            border-right: $tableColumnTitleCenterColumnBorderHorizontalBorder;
            border-left: $tableColumnTitleCenterColumnBorderHorizontalBorder;
        }

        .table-column-title-right-column-border-left-border {
            border-left: $tableColumnTitleRightColumnBorderLeftBorder;
        }
    }

    .left-padding {
        padding-left: 5px;
    }

    .right-padding {
        padding-right: 5px;
    }

    .text-align-center {
        text-align: center;
    }

    &.top-margin {
        margin-top: 10px !important;
    }

    &.bottom-margin {
        margin-bottom: 10px !important;
    }
} 

.ui-fieldset {
    &.fieldset-layout-one {
        padding: 0 5px;
        margin: 5px 0 0 0 !important;
        border-radius: 0;

        .ui-fieldset-legend {
            padding: 0 10px;
            text-align: center;
            height: 30px;
            border: 1px solid $fieldSetHeaderBorder;
            line-height: 30px;
            color: $fieldSetHeaderTextColor;
            background-color: $fieldSetHeaderBgColor;
            width: -webkit-fill-available;
            box-shadow: none !important;

            .ui-fieldset-toggler {
                color: $fieldSetHeaderTextColor;
            }

            &.ui-state-hover {
                border: 1px solid $fieldSetHeaderHoverBorder;
                color: $fieldSetHeaderTextHoverColor;
                background-color: $fieldSetHeaderBgHoverColor;

                .ui-fieldset-toggler {
                    color: $fieldSetHeaderTextHoverColor;
                }
            }
        }

        .ui-fieldset-content {
            margin: 5px 0 0 0;
        }
    }
}

.ui-selectonemenu-panel {
    border-radius: 0px !important;

    .ui-selectonemenu-items {
        .ui-selectonemenu-item {
            padding: 0.5rem 0.5rem !important;
        }
    }
}

div {
    &.center-btn-div {
        width: fit-content;
        height: fit-content;
        margin: 5px auto 0 auto;
        padding: 0px;
        border: none;

        &.bottom-margin {
            margin-bottom: 5px;
        }

        &.no-top-margin {
            margin-top: 0px;
        }

        .left-btn {
            margin-right: 25px
        } 
    }
    
    &.center-disclaimer-div {
        width: fit-content;
        height: fit-content;
        margin: 5px auto 0 auto;
        padding: 0px;
        border: none;

        &.no-top-margin {
            margin-top: 0px;
        }

    }
}

div {
    &.timeline-layout-one {
        .timeline-menu {
            margin: 5px;

            .ui-button {
                opacity: .5;
                transition: opacity 0.25s;

                &.ui-button-icon-only {
                    width: 23px;
                    height: 23px;
                    margin-left: 2px;
                }

                &.ui-state-hover {
                    opacity: 1;
                }

                &.ui-state-focus {
                    opacity: 1;
                    box-shadow: 0 0 0 2px $secondaryLightColor;
                }
            }

        }

        .vis-timeline {
            .vis-top {
                background-color: $primaryColor;
                position: relative;

                .vis-time-axis {
                    .vis-text {
                        border-left: 1px solid $primaryTextColor; 
                        color: $primaryTextColor; 

                        &.vis-measure {
                            border-left: none; 
                        }
                    }
                }

                div {
                    &.timeline-topbar-cover {
                        position: absolute;
                        width: 1px;
                        height: -webkit-fill-available;
                        z-index: 5;
                        top: 0;
                        left: 0;
                        background-color: $primaryColor;
                    }
                }
            }

            .vis-center {
                border-left: 1px solid $primaryDarkColor; 

                .vis-content {
                    .vis-itemset {
                        .vis-background {
                            .vis-group {
                                height: 23px;
                            }
                        }

                        .vis-foreground {
                            .vis-group {
                                height: 23px;

                                .vis-item {
                                    border: none !important; 
                                    border-radius: 0 !important; 

                                    .vis-item-overflow {
                                        .vis-item-content {
                                            padding: 0 5px;
                                            display: block;
                                            height: 23px;
                                            line-height: 23px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .vis-left {
                .vis-content {
                    .vis-labelset {
                        .vis-label {
                            height: 23px;
                            color: $primaryTextColor;
                            border-bottom: 1px solid $primaryDarkColor;

                            &.vis-group-level-1 {
                                padding-left: 5px;
                                background-color: $primaryColor;
                            }

                            &.vis-group-level-2 {
                                padding-left: 20px;
                                background-color: $primaryLightColor;
                            }

                            .vis-inner {
                                padding: 0 10px;

                                span {
                                    display: block;
                                    height: 23px;
                                    line-height: 23px;
                                }
                            }
                        }
                    }
                }
            }

            .vis-tooltip {
                border: 1px solid $secondaryDarkerColor !important;
                background-color: $secondaryColor !important;
                color: $primaryTextColor !important;
                font-size: 13px !important;
                height: 21px !important;
                line-height: 21px !important;
                padding: 0 5px !important;
                box-shadow:0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0,0,0,.12) !important;
            }
        }
    }
}

div {
    &.timeline-topbar-cover {
        position: absolute;
        width: 1px;
        height: 44px;
        z-index: 5;
        top: 0;
        left: 122px;
        background-color: $primaryColor;
    }
}


.nopad {
    padding: 0;

    .ui-panel-content {
        padding: 0;
    }
}

.ui-tooltip {
    &.max-width-200 {
        max-width: 200px;
    }

    &.max-width-300 {
        max-width: 300px;
    } 

    &.max-width-900 {
        max-width: 900px;
    } 
}

.hide-component {
    display: none;
}

.full-window-height {
    height: 100vh;
}

.ui-outputlabel {
    &.error-outputlabel {
        line-height: 23px !important;
        height: unset !important;
        background: #FFCDD2;
        border: 1px solid #EF5350;
        border-width: 0 0 0 3px;
        color: #B71C1C;
        padding: 0 5px;
        margin: 0 !important;
        border-radius: 4px;
        text-align: left;
    }
}


.ui-inputtextarea {
    &.error-inputtextarea {
        height: fit-content !important;
        width: -webkit-fill-available;
        padding: 0 0 0 5px !important;
        line-height: 23px !important;
        cursor: default;
        box-shadow: none !important;
        background: #FFCDD2;
        border: 1px solid #EF5350;
        border-width: 0 0 0 3px;
        color: #B71C1C;
        border-radius: 4px;
        text-align: left;
    }
}

.ui-inputnumber {
    &.ui-state-error {
        .ui-inputfield {
            border-color: #f44336;
        }
    }
}

.horizontal-margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.max-width-1000 {
    max-width: 1000px;
}

.max-width-800 {
    max-width: 800px;
}

.disclaimer-test-color {
    color:$disclaimerTextColor;
}

.table-column-data-hover {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
    
.default-border {
    border: 1px solid #dee2e6;
}
