.layout-work-order-trend-popup { 
    #graphMainWO {
        div {
            &[id^="graphDialogId"] {
                min-width: 400px !important; 
                min-height: 200px !important; 
                resize: auto;
                background-color: white;
                display: flex !important;
                flex-direction: column;
                
                .ui-dialog-content {
                    padding: 10px !important; 
                    width: -webkit-fill-available !important; 
                    height: -webkit-fill-available !important; 
                    
                    div {
                        &[id^="TrendGraph"] {
                            width: -webkit-fill-available;
                            height: -webkit-fill-available;
                        }
                    }
                }
            }
        }
    }
}

.layout-work-order-filter {  
    .layout-work-order-filter-panel {
        display: inline-block;
        padding: 0;
        
        .ui-panel-content {
            border: none;
            border-radius: 0;
            padding: 1px 5px 1px 0;
            text-align: right;
            
            .ui-outputlabel {
                display: inline-block;
                width: 127px;
                float: left;
                height: 23px;
                line-height: 23px;
                margin-right: 5px;
            }

            .ui-autocomplete {
                .ui-inputfield {
                    width: 200px;
                    height: 23px;
                }
            }
                    
            .ui-selectonemenu {
                height: 23px;
                width: 200px;

                .ui-selectonemenu-label {
                    padding: 0 0 0 5px;
                    min-height: unset;
                    height: 21px;
                    line-height: 21px;
                }
            }
        }
    }
}

.layout-work-order-content { 
    .top-div {
        display: flow-root;
        
        .inside-div {
            display: flow-root;
            float: right;
        }
        
        .ui-button {
            margin-left: 10px;
        }
        
        .ui-commandlink {
            text-decoration: none;
            margin-left: 10px;
            float: right;
            
            i {
                font-size: 20px;
                padding: 4.271px;
                border-radius: 4px;
                border: 1.111px solid $primaryColor;
                background-color: $primaryColor;
                color: $primaryTextColor;
            }
            
            &:hover {
                i {
                    border: 1.111px solid $primaryDarkColor;
                    background-color: $primaryDarkColor;
                    color: $primaryTextColor;
                }
            }
        }
    }
    
    .ui-datatable {
        &.datatable-layout-two {
            .ui-datatable-data {
                > tr {
                    > td {
                        .ui-commandlink {
                            &:not(.non-cmd-link) {
                                height: 23px;
                                border-radius: 0;
                                min-width: unset;
                                width: 20px;
                                line-height: 23px;
                                margin: 0;
                                text-decoration: none;
                                padding: 0;
                                display: inline-block;
                                text-align: center;

                                &:hover {
                                    background-color: $linksBgHoverColor;
                                    color: $linksTextHoverColor;
                                }

                                i {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    &.ui-datatable-headerrow {
                        font-weight: 400;

                        .ui-rowgroup-toggler {
                            height: 23px;
                            line-height: 23px;
                        }
                    }
                }
            } 
        } 

    }
    
    .ui-panel {
        &.layout-work-order-inline-panel {
            display: inline-block;
            padding: 0;
            width: 329px;

            .ui-panel-content {
                border: none;
                border-radius: 0;
                padding: 1px 2.5px;
                text-align: left;
                min-height: 24px;
                display: flex;

                .ui-outputlabel {
                    display: inline-block;
                    width: 139px;
                }

                .ui-inputfield {
                    width: 185px !important;
                    padding: 0 0 0 5px;
                    height: 23px;
                    line-height: 23px;
                    float: right;
                    cursor: default;

                    &.ui-state-hover {
                        border: 1px solid #ced4da;
                        box-shadow: none;
                    }

                    &.ui-state-focus {
                        border: 1px solid #ced4da;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    
    #workOrderDivId {
        padding: 10px;
        
        .ui-panelgrid {
            tbody {
                tr {
                    .ui-panelgrid-cell {
                        border: none;
                        padding: 0;
                        position: relative;

                        .ui-outputlabel {
                            display: inline-block;
                            width: 139px;
                            position: absolute;
                            top: 0px;
                            left: 2.5px;
                        }

                        .ui-inputtextarea {
                            width: 342px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    .layout-work-order-content { 
        #workOrderDivId {
            .ui-panelgrid {
                tbody {
                    tr {
                        .ui-panelgrid-cell {
                            .ui-inputtextarea {
                                width: 514px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 731px) {
    .layout-work-order-content { 
        #workOrderDivId {
            .ui-panelgrid {
                tbody {
                    tr {
                        .ui-panelgrid-cell {
                            .ui-inputtextarea {
                                width: calc(100vw - 218px);
                            }
                        }
                    }
                }
            }
        }
    }
}

