<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/login-template.xhtml">

    <ui:define name="head">
        <title>UpCastCM - Login</title>
    </ui:define>

    <ui:define name="header">
    </ui:define>

    <ui:define name="content">
        <p:panel styleClass="login-center-content-wrapper bottom-margin-15">
            <p class="login-session-text no-margin">Sign into UpCastCM</p>
        </p:panel>
        
        <h:form id="login-form" styleClass="botton-float-root">
            <div>
                <p:inputText id="userId" value="#{loginBean.userVO.userId}" placeholder="User Id" required="true" validatorMessage="Please enter a valid User Id" requiredMessage="User Id is required" styleClass="login-text-box">
                    <f:validateRegex pattern="(([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?))?" />
                </p:inputText> 
            </div>
            <div>
                <p:password id="loginpwd" placeholder="Password" value="#{loginBean.userVO.userPassword}" required="true" requiredMessage="Password is required" autocomplete="off" styleClass="login-text-box bottom-margin-5"/>
                <p:link href="#{request.contextPath}/forgotPassword.xhtml" value="Forgot Password" styleClass="login-link"/>
            </div>
            <div>
                <p:messages id="loginMessages" showDetail="true" closable="true" showSummary="false" styleClass="login-message">
                    <p:autoUpdate />
                </p:messages>
                <p:commandButton action="#{loginBean.login()}" value="Login" styleClass="login-button"/>
            </div>
        </h:form>
    </ui:define>

</ui:composition>

