<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/login-template.xhtml">

    <ui:define name="head">
        <title>UpCastCM - Password Reset</title>
        <style>
            body {
                background-image: url('/UpCastCM/resources/login/images/condition-monitoring-reactive-maintenancejpg.jpg');
            }
        </style>
    </ui:define>

    <ui:define name="header">
    </ui:define>

    <ui:define name="content">
        <p:panel styleClass="login-center-content-wrapper bottom-margin-15" rendered="#{!forgotPasswordBean.emailSent}">
            <p class="login-content-title">Reset Account Password</p>
            <h:graphicImage styleClass="content-image" name="login/images/reset-password.jpg" />
            <p class="login-session-text no-margin">To reset the password, enter your User Id.</p>
        </p:panel>
        
        <h:form id="login-form" rendered="#{!forgotPasswordBean.emailSent}" styleClass="botton-float-root">
            <div>
                <p:inputText id="userId" value="#{forgotPasswordBean.email}" placeholder="User Id" required="true" validatorMessage="Please enter a valid User Id" requiredMessage="User Id is required" styleClass="login-text-box">
                    <f:validateRegex pattern="(([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?))?" />
                </p:inputText> 
            </div>
            <div>
                <p:messages id="loginMessages" showDetail="true" closable="true" showSummary="false" styleClass="login-message">
                    <p:autoUpdate />
                </p:messages>
                <p:commandButton action="#{forgotPasswordBean.createPasswordToken()}" value="Continue" ajax="false" styleClass="login-button"/>
            </div>
        </h:form>
        
        <p:panel styleClass="login-center-content-wrapper" rendered="#{forgotPasswordBean.emailSent}">
            <p class="login-content-title">Password Reset Request Sent</p>
            <h:graphicImage styleClass="content-image" name="login/images/reset-password.jpg" />
            <p class="login-session-text">An email with instructions to reset your password was sent to your email address.</p>
        </p:panel>
    </ui:define>
</ui:composition>

