<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

<ui:include src="./basicHeader.xhtml" />
    <h3 style="text-align: center; padding-top: 50px " >
        <p:outputLabel value="The user id or password is incorrect. Please click "/> 
        <p:link href="https://openam-dev.corp.uptime-solutions.us:8443/sso/UI/Login"  value="Login"/>
        <p:outputLabel value="Try again or if you have forgotten your password, please click the link below to reset your password."/>  
        <br />
        <br />
        <p:link href="/passwordReset.xhtml" value="Reset Password" >   </p:link> 
    </h3>
</ui:composition>


