<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/login-template.xhtml">

    <ui:define name="head">
        <title>UpCastCM </title>
        
    </ui:define>

    <ui:define name="content">
        <script type="text/javascript">
            function closeWindow() {
                alert("#{userManageBean.getResourceBundleString('warn_session_message')}");
                window.close();
            }
            closeWindow();
        </script>
    </ui:define>
</ui:composition>

