<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
    xmlns:p="http://primefaces.org/ui" 
    xmlns:po="http://primefaces.org/roma"
    template="/WEB-INF/login-template.xhtml">

    <ui:define name="head">
        <title>UpCastCM - Password Reset</title>
        <style>
            body {
                background-image: url('/UpCastCM/resources/login/images/condition-monitoring-reactive-maintenancejpg.jpg');
            }
        </style>
    </ui:define>

    <ui:define name="header">
    </ui:define>

    <ui:define name="content">
        <p:panel styleClass="login-center-content-wrapper bottom-margin-15" rendered="#{resetPasswordBean.tokenVerified}">
            <p class="login-content-title">Reset Account Password</p>
            <h:graphicImage styleClass="content-image no-margin" name="login/images/reset-password.jpg" />
        </p:panel>
        
        <h:form id="login-form" rendered="#{resetPasswordBean.tokenVerified}" styleClass="botton-float-root">
            <div>
                <p:password id="newpassword" placeholder="New password" match="confirmpassword" validatorMessage="**The passwords aren't matching." maxlength="20" required="true" requiredMessage="Required" styleClass="login-text-box"/>
                <p:messages for="newpassword" showDetail="true" showSummary="false" styleClass="login-message no-top-margin">
                    <p:autoUpdate/>
                </p:messages>
            </div>
            <div>
                <p:password id="confirmpassword" placeholder="Confirm new password" maxlength="20" value="#{resetPasswordBean.ldapUserVO.userPassword}" required="true" validatorMessage="Password must be at least 8 characters long." requiredMessage="Required" styleClass="login-text-box"/>
                <p:messages for="confirmpassword" showDetail="true" showSummary="false" styleClass="login-message no-top-margin">
                    <p:autoUpdate/>
                </p:messages>
            </div>
            <div>
                <p:commandButton action="#{resetPasswordBean.savePassword()}" styleClass="login-button" value="Reset"/>
            </div>
        </h:form>
        
        <p:panel styleClass="login-center-content-wrapper" rendered="#{resetPasswordBean.tokenExpired}"> 
            <p class="login-session-text">Link expired. You can reset your password again by clicking the link below.</p>
            <p:link href="/UpCastCM/forgotPassword.xhtml" value="Reset Account Password" styleClass="login-link"/>
        </p:panel>

        <p:panel styleClass="login-center-content-wrapper" rendered="#{resetPasswordBean.passwordUpdated}">
            <p class="login-content-title">Password Updated!</p>
            <h:graphicImage styleClass="content-image" name="login/images/password-updated.png" />
            <p class="login-session-text">Your password has been updated successfully. Use your new password to login.</p>
            <p:link href="#{resetPasswordBean.link}" value="Continue to Login" styleClass="login-link"/>
        </p:panel>

        <p:panel styleClass="login-center-content-wrapper" rendered="#{resetPasswordBean.errorOccured}"> 
            <p class="login-session-text">An unexpected error occurred while updating the account password. Please contact the IT Help Desk.</p>
        </p:panel>
    </ui:define>
</ui:composition>

